_site
.sass-cache
.jekyll-metadata
.jekyll-cache
.DS_Store
_data/abi.json
_data/cobadgeServices.json
_data/enti-servizi.json
assets/json/enti-list-searchable.json
assets/json/enti-list-webview.json
assets/entijson/*.json
assets/json/enti-list-searchable.json
