<section
  class="container mb-5 d-flex{% if page.narrow %} mw-60{% endif %}"
  id="introduzione"
>
  <div class="row px-3 px-md-0">
    <div class="col-md-6 text-primary order-2 order-md-1">
      <h1>{{ page.title }}</h1>
      <p class="my-4">{{ page.description }}</p>
      <div class="d-flex flex-column mb-3">
        {%- if page.intro_primary_link -%}
        <div class="py-2">
          <a
            href="{{ page.intro_primary_link }}"
            class="btn btn-primary btn-sm text-uppercase"
            target="_blank"
            >{{ page.intro_primary_text }}</a
          >
        </div>
        {%- endif %}
        {%- if page.intro_secondary_link -%}
        <div class="py-2">
          {%- if page.intro_secondary_disable_icon != true %}
          <svg class="icon icon-sm icon-primary align-bottom">
            <use xlink:href="/assets/svg/sprite.svg#it-mail"></use>
          </svg>
          {%- endif %}
          <a
            href="{{ page.intro_secondary_link }}"
            class="small"
            target="_blank"
          >
            {{ page.intro_secondary_text }}
          </a>
          {%- if page.intro_ter_link -%}
            <svg class="icon icon-sm icon-primary align-bottom ml-4">
              <use xlink:href="/assets/svg/sprite.svg#it-mail"></use>
            </svg>
            <a
              href="{{ page.intro_ter_link }}"
              class="small"
              target="_blank"
            >
              {{ page.intro_ter_text }}
            </a>
          {%- endif %}
        </div>
        {%- endif %}
        
      </div>
    </div>
    {%- if page.intro_image -%}
    <div class="col-md-5 offset-md-1 order-1 order-md-2 d-flex align-items-center justify-content-center mb-2 mb-md-0">
      <img
        class="img-fluid"
        src="{{ page.intro_image | relative_url }}"
        alt="Messaggi"
      />
    </div>
    {%- endif -%}
  </div>
</section>
