            <a href="/cittadini/" title="Cittadini" class="item mb-4 mb-md-0 mt-4 mt-md-4 mt-lg-0 d-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center ">
                    <img class="img-fluid my-4 mx-auto" src="/assets/img/intro-cittadini.svg" alt="Cittadini">
                    <h6 class="text-uppercase text-primary mt-2">cittadini</h6>
                    <h5 class="card-title text-primary">
                     Tutta la PA a <br class="d-none d-md-inline">portata di mano
                    </h5>
                    <p class="card-small-text px-2">IO permette di interagire facilmente con diverse Pubbliche Amministrazioni, locali o nazionali</p>
                  </div>
                </div>
            </a><!--/item-->
            <a  href="/pubbliche-amministrazioni/" title="PA" class="item mb-4 mb-md-0 mt-4 mt-md-4 mt-lg-0 d-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center ">
                    <img class="img-fluid my-4 mx-auto" src="/assets/img/intro-pa.svg" alt="Pubblica Amministrazione">
                    <h6 class="text-uppercase text-primary mt-2">Pubbliche Amministrazioni</h6>
                    <h5 class="card-title text-primary ">
                      Un’opportunità <br class="d-none d-md-inline">per le PA
                    </h5>
                    <p class="card-small-text px-2">IO permette a tutti gli enti locali e nazionali di interfacciarsi in modo semplice e sicuro con i cittadini.</p>
                  </div>
                </div>
            </a><!--/item-->
            <a href="/sviluppatori/" title="Sviluppatori" class="item  mb-4 mb-md-0  mt-4 mt-md-4 mt-lg-0 d-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center ">
                    <img class="img-fluid my-4 mx-auto" src="/assets/img/intro-sviluppatori.svg" alt="Sviluppatori">
                    <h6 class="text-uppercase text-primary mt-2">sviluppatori</h6>
                    <h5 class="card-title text-primary">
                      Integrarsi è <br class="d-none d-md-inline">semplice
                    </h5>
                    <p class="card-small-text px-2">IO è una piattaforma di componenti riutilizzabili in grado di rendere i servizi digitali più efficaci.</p>
                  </div>
                </div>
            </a><!--/item-->
            <a href="/giornalisti/" title="Giornalisti"  class="item mb-4 mb-md-0  mt-4 mt-md-4 mt-lg-0 d-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center ">
                    <img class="img-fluid my-4 mx-auto" src="/assets/img/intro-giornalisti.svg" alt="Giornalisti">
                    <h6 class="text-uppercase text-primary mt-2">giornalisti</h6>
                    <h5 class="card-title text-primary">
                      Una novit&agrave; da <br class="d-none d-md-inline">raccontare
                    </h5>
                    <p class="card-small-text px-2"> Informazioni, comunicati e risorse multimediali per avere contenuti aggiornati.</p>
                  </div>
                </div>
            </a><!--/item-->