<div class="section section-firma section--wpointers">
  <div class="container">
    <div class="row py-5 px-3 px-md-0">
      <div class="col-lg-6 align-self-center order-1 order-md-0">
        <div>
          <span class="badge new text-uppercase text-black">novità</span>
          <h2 class="mt-4 text-white">La firma elettronica qualificata su IO</h2>
          <p class="mt-4 text-white">Firma con IO è la funzionalità integrata nell’app IO che consente ai tuoi utenti di firmare digitalmente i documenti della Pubblica Amministrazione in modo facile, veloce e sicuro. Tutto, senza uscire dall’app.</p>
          <a
            href="https://firma.io.italia.it/"
            title="Visita il sito web"
            target="_blank"
            class="btn btn-sm btn-white text-primary text-uppercase">scopri di più</a>
        </div>
      </div>
      <div class="col-lg-6">
        <img
          class="img-fluid"
          src="{{site.imagesurl}}/assets/img/firma-con-io.png"
          alt="Firma con IO" />
      </div>
    </div>
  </div>
</div>