

<div class="section section-muted section--wpointers">
  <img src="/assets/img/icon-appstore.svg" class="d-none">
  <img src="/assets/img/icon-playstore.svg" class="d-none">
    <div class="container py-4 px-4 px-md-0">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 py-0 py-lg-4">
            <div class="text-center">
              <span class="badge badge-white text-uppercase text-primary">Anteprima Cashback</span>
            </div>
            <h2 class="my-4 text-primary text-center">
              Cos’è il Cashback e come si aderisce con l'app IO
            </h2>
                <p class="text-primary text-center">
                  In questa pagina, trovi una <b>sintesi dei requisiti e delle modalità di partecipazione al programma</b>,
                  insieme a un’anteprima dei principali passaggi che dovrai compiere sull’app IO.</p>
            </div>
        </div><!--/row-->
    </div><!--/container-->
    <div class="container container--mid px-3 px-md-auto">

      <div class="row">
        <div class="col-md-5 pr-0 pr-md-5">
          <h2 class="h3 text-primary h2 mb-3">Come funziona il Cashback?</h2>
          <p>Se hai compiuto i 18 anni e risiedi in Italia, puoi ottenere <b>un rimborso per</b> acquisti effettuati a titolo privato (cioè non per uso professionale) sul territorio nazionale con <b>carte e app di pagamento</b> in negozi, bar, ristoranti, supermercati e grande distribuzione o per artigiani e professionisti. <b>Non concorrono gli acquisti online</b>. 
          </p><p>
            Il programma si articola in quattro periodi, <i>ciascuno indipendente dagli altri</i>:
            <ul class="pl-4">
              <li>il primo <b>periodo sperimentale</b> detto <b>“Extra Cashback di Natale”</b>, inizia l’8dicembre 2020 e termina il 31 dicembre 2020</li>
              <li class="mt-2">i tre periodi successivi durano sei mesi:
                <ul class="list-unstyled">
                <li><b>1° Semestre</b> dal 1/1/2021 al 30/6/2021</li>
                <li><b>2° Semestre</b> dal 1/7/2021 al 31/12/2021</li>
                <li><b>3° Semestre</b> dal 1/1/2022 al 30/6/2022</li>
                </ul>
            </li>
            </ul>
          </p>
          <p>Prima di iniziare gli acquisti per il Cashback, <a href="/metodi-pagamento/" title="Verifica la lista dei metodi di pagamento attualmente attivabili">verifica che la tua carta o app di pagamento sia tra quelle già attivabili</a>.</p>
        </div><!--/col-md-4-->
        <div class="col-md-7 mt-4 mt-md-0">
          <div class="row">
            <div class="col-lg-6">
              <div class="p-4 bg-white rounded-lg shadow mx-2">
              <h3 class="decoration-underline h4 text-primary">Cashback ed Extra Cashback di Natale</h3>
              <p class="font-size-normal text-primary">
                10% sul tuo acquisto, se raggiungi il numero minimo di transazioni</p>

                <p class="font-size-normal">Per ogni periodo del programma, puoi ottenere un rimborso massimo di € 150, pari a <b>€300 annui</b>. <b>Non c’è un importo minimo di spesa</b>. Ogni acquisto effettuato con carte e app di pagamento registrate ai fini del Cashback, ti fa accumulare il <b>10% dell’importo speso</b>, fino a un <b>massimo di €15 per singola transazione</b>. Otterrai il cashback accumulato solo se alla fine del periodo avrai raggiunto il <b>numero minimo di transazioni</b> valide:
                <ul class="font-size-normal pl-4">
                <li>nel <b>periodo sperimentale</b>, detto <b>“Extra Cashback di Natale”</b>, il numero minimo è di <b>10 transazioni</b>;</li>
                <li>per <b>ciascuno dei tre semestri</b> successivi, il numero minimo è di <b>50 transazioni</b>.</li>
                </ul>
                </p>
                <a href="#" class="read-more">Continua</a>
                <p style="display:none;" class="font-size-normal read-more-target">
                  <b>Dal 1° di gennaio 2021</b>, se superi la soglia massima di rimborso di € 150,  le tue transazioni continueranno a essere comunque conteggiate fino al termine del periodo di riferimento, ma solo ai fini della partecipazione al <b>“Super Cashback”</b>.<br>
Al termine di ciascun periodo, si conclude il calcolo delle transazioni che ti consentono di ottenere i relativi rimborsi e <b>si riparte da zero all’avvio del periodo successivo</b>.
                </p>
                <a href="#" class="read-more" style="display: none;">Vedi meno</a>
               
              </div>
            </div>
            <div class="col-lg-6 mt-4 mt-lg-0">
              <div class="p-4 bg-white rounded-lg shadow mx-2">
                <h3 class="decoration-underline h4 text-primary">Super Cashback</h3>
              <p class="font-size-normal text-primary">€ 1500 a semestre ai 100mila partecipanti con più transazioni</p>
              <p class="font-size-normal">
                Oltre al Cashback, <b>a partire dal 1° gennaio 2021  i primi 100mila partecipanti</b> che, nel singolo semestre di riferimento, abbiano <b>totalizzato il maggior numero di transazioni con carte e app di pagamento</b> registrati ai fini del Programma, ricevono un <b>Super Cashback di €1500</b>. Anche in questo caso, non c’è un importo minimo di spesa. 
              </p>
            
            </div>
            </div>
          </div><!--/row-->
        </div><!--/col-md-7-->
      </div><!--/row-->
    </div><!--/container-->
    <div class="py-2 py-md-5"></div>
</div>
<div class="section  section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
        <img alt="accesso a io app cashback" class="img-fluid rounded screenshot"
          srcset="
            /assets/img/cashback/schermata-app-accesso-cashback-2x.png 2x,
            /assets/img/cashback/schermata-app-accesso-cashback.png 1x
          "
          src="/assets/img/cashback/schermata-app-accesso-cashback.png"
          >
        </div>
        <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
            <h3 class="h2 text-primary pb-4 pt-lg-4">
            <span class="d-block font-weight-normal">01</span>Accedi all'app in sicurezza con SPID o CIE
            </h3>
          <p>
            Dopo avere installato l'app IO, puoi accedere con la <b>tua identità digitale SPID</b> o, in alternativa, con la tua <b>Carta d’Identità Elettronica (CIE 3.0) 
            abbinata al PIN</b> che hai ricevuto al momento del rilascio della nuova carta. In seguito alla prima registrazione, potrai accedere all’app digitando il <b>codice di sblocco di 6 cifre</b> scelto da te o tramite <b>riconoscimento biometrico</b> 
            (impronta digitale o riconoscimento del volto).</p><p>
            <b>Se hai già un account attivo su IO, ricordati di aggiornare l’app all’ultima versione disponibile all’avvio del Programma Cashback.</b>
          </p>
          <p class="font-size-normal"><a href="/faq/#n5" title="Perché SPID o CIE?">Perché devo per forza avere SPID o CIE per usare l’app?</a></p>
          <div class="my-3 my-md-5">
            <p><b class="font-size-normal text-primary">Guarda i video:</b></p>
            <a class="btn btn-sm btn-outline-primary text-uppercase play-button bg-white playvideo mr-0 mr-lg-2" 
               target="_blank" data-url="https://www.youtube.com/embed/70nZa1SlFPw?rel=0" href="#">
            Accedi con SPID
            </a>
            <a class="btn btn-sm btn-outline-primary text-uppercase play-button bg-white playvideo mt-2 mt-lg-0" 
               target="_blank" data-url="https://www.youtube.com/embed/du8ouWLIOY4?rel=0" href="#">
            Accedi con CIE
            </a>

            {% include videoplayer.html %}
          </div>
          <div class="">
            <span class="text-primary text-uppercase font-weight-bold">Non hai SPID?</span>
            <p><a href="https://www.spid.gov.it/richiedi-spid" target="_blank" class="font-size-normal" title="Identity provider">Consulta la lista degli identity provider e registra la tua identità digitale.</a></p>
          </div>
        
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section section-muted section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">

          <img alt="registrazione bonus cashback" class="img-fluid rounded screenshot"
          srcset="
          /assets/img/cashback/schermata-app-iscrizione-cashback-2x.png 2x,
            /assets/img/cashback/schermata-app-iscrizione-cashback.png 1x
          "
          src="/assets/img/cashback/schermata-app-iscrizione-cashback.png"
          >
        </div>
        <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5 ">
            <h3 class="h2 text-primary pb-4 pt-lg-4">
            <span class="d-block font-weight-normal">02</span>Partecipa al Cashback
            </h3>
          <p>
            Per registrarti, una volta che il servizio sarà presente in app, entra nella sezione <b>“Portafoglio”</b> dell’app IO e  premi sul <b>pulsante in evidenza “Cashback”</b>. 
            Prima di procedere, leggi come funziona l’iniziativa e <a href="./privacy-policy/" title="Informativa privacy">l’informativa privacy</a> del servizio: premendo sul pulsante <b>“Attiva il Cashback”</b> confermi di avere compreso e accettato tutti i Termini e le Condizioni. 
            In seguito, <b>dichiara di avere tutti i requisiti</b> per partecipare e premi <b>“Continua”</b>: da questo momento, risulti iscritto al programma. 
          </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section  section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">

          <img alt="inserimento iban rimborsi cashback" class="img-fluid rounded screenshot "
          srcset="
          /assets/img/cashback/schermata-iban-rimborsi-cashback-2x.png 2x,
          /assets/img/cashback/schermata-iban-rimborsi-cashback.png 1x
          "
          src="/assets/img/cashback/schermata-iban-rimborsi-cashback.png"
          >
        </div>
        <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
            <h3 class="h2 text-primary pb-4 pt-lg-4">
            <span class="d-block font-weight-normal">03</span>Inserisci l’IBAN per l’accredito dei rimborsi
            </h3>
          <p>Indica il <b>codice IBAN</b> del conto su cui vorrai ricevere il bonifico per l’<b>erogazione degli eventuali rimborsi</b> che avrai maturato al termine di ciascun periodo. 
            Potrai inserire l'IBAN anche in un momento successivo, ma ti consigliamo di farlo subito prima di continuare.</p>
        
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section section-muted section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
        <img alt="bancomat e carte di credito per cashback" class="img-fluid rounded screenshot "
        srcset="
        /assets/img/cashback/schermata-metodi-di-pagamento-cashback-2x.png 2x,
        /assets/img/cashback/schermata-metodi-di-pagamento-cashback.png 1x
        "
        src="/assets/img/cashback/schermata-metodi-di-pagamento-cashback.png"
        >
      </div>
        <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5 ">
            <h3 class="h2 text-primary pb-4 pt-lg-4">
            <span class="d-block font-weight-normal">04</span>Attiva il Cashback sui tuoi metodi di pagamento
            </h3>
          <p>Dopo avere salvato i tuoi metodi di pagamento elettronico su IO (carte e app), scegli quali attivare per partecipare al Cashback. Puoi farlo anche in seguito e, per tutta la durata dell’iniziativa, potrai in ogni momento aggiungerne altri oppure disattivarne alcuni.</p>
            <p>Ricorda:  verranno riconosciuti <b>SOLO gli acquisti presso punti vendita fisici,</b> effettuati tramite uno strumento di pagamento elettronico su cui hai esplicitamente attivato il Cashback. </p>
            <p>All’avvio del programma, <b>alcuni metodi di pagamento elettronico che utilizzi potrebbero NON essere registrabili da subito</b>; questo dipende dai tempi tecnici necessari per renderli operativi ai fini del Cashback.
              <b>Prima di iniziare gli acquisti per il Cashback, verifica che la tua carta o app di pagamento sia tra quelle già attivabili.</b>
          </p>
          <p>
            <a href="/metodi-pagamento/" class="font-size-normal">Verifica quali metodi di pagamento puoi già attivare</a>
          </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section  section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
        <img alt="verifica rimborso cashback governo" class="img-fluid rounded screenshot "
        srcset="
        /assets/img/cashback/schermata-rimborsi-cashback-2x.png 2x,
        /assets/img/cashback/schermata-rimborsi-cashback.png 1x
        "
        src="/assets/img/cashback/schermata-rimborsi-cashback.png"
        >
      </div>
        <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
            <h3 class="h2 text-primary pb-4 pt-lg-4">
            <span class="d-block font-weight-normal">05</span>Visualizza lo status del tuo Cashback
            </h3>
          <p>Dalla sezione “<b>Portafoglio</b>” puoi accedere alla <b>schermata di dettaglio</b> del Cashback per un aggiornamento sulla tua partecipazione al programma 
            in base alle transazioni effettuate. Nel corso di ciascun periodo, <b>giorno dopo giorno</b>, l’app IO ti mostrerà lo <b>storico delle attività</b> relative all’iniziativa, il <b>dettaglio delle transazioni</b> conteggiate ai fini del Cashback 
            e il <b>riepilogo dei rimborsi</b> a cui hai diritto.
          </p>
        
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section section-muted section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
        <img alt="classifica super cashback" class="img-fluid rounded screenshot "
        srcset="
        /assets/img/cashback/schermata-classifica-super-cashback-2x.png 2x,
        /assets/img/cashback/schermata-classifica-super-cashback.png 1x
        "
        src="/assets/img/cashback/schermata-classifica-super-cashback.png"
        >
      </div>
        <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5 ">
            <h3 class="h2 text-primary pb-4 pt-lg-4">
            <span class="d-block font-weight-normal">06</span>Controlla la classifica per ottenere il Super Cashback
            </h3>
            <p>La classifica si basa sul numero <b>complessivo</b> di transazioni effettuate con i metodi di pagamento elettronico attivati ai fini del Cashback. <b>Giorno dopo giorno, l'app IO ti mostrerà</b> quante transazioni hanno effettuato il
               <b>1° e il 100millesimo utente</b> in classifica, <b>così da permetterti di visualizzare</b> il numero di transazioni richieste per entrare <b>nella graduatoria</b> e quanto ti manca per riuscire a scalarla.</p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
        <img alt="informazioni app cashback" class="img-fluid rounded screenshot "
        srcset="
        /assets/img/cashback/schermata-informazioni-app-cashback-2x.png 2x,
        /assets/img/cashback/schermata-informazioni-app-cashback.png 1x
        "
        src="/assets/img/cashback/schermata-informazioni-app-cashback.png"
        >
      </div>
        <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
            <h3 class="h2 text-primary pb-4 pt-lg-4">
            <span class="d-block font-weight-normal">07</span>Hai bisogno di aiuto?
            </h3>
          <p>Se hai domande relative all'uso di IO, puoi contattarci rimanendo dentro l’app:
            <ul class="pl-4">
            <li>se hai dubbi rispetto alla schermata in cui ti trovi, puoi consultare maggiori informazioni <p>premendo sul punto di domanda (?)</p> che trovi sempre in alto a destra 
            </li>
            <li class="mt-2">se riscontri un <b>problema tecnico</b>, puoi segnalarlo direttamente nell’app tramite la funzione “<b>Scrivi al team di IO</b>”. Solo così potremo darti assistenza in maniera specifica per quel tipo di problema</li>
          </ul>
        </p>
        <p><b class="font-size-normal text-primary">Guarda il video:</b></p>
        <a class="btn btn-sm btn-outline-primary text-uppercase play-button bg-white playvideo" 
               target="_blank" data-url="https://www.youtube.com/embed/6M4i6a97auY?rel=0" href="#">
            Come chiedere assistenza su IO
            </a>

            
        
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section section-muted section--wpointers">
  <div class="container py-2 py-md-4">
    <a class="d-block text-decoration-none text-primary text-center m-0 h4" href="./issuer/" title="Come aderire al Cashback da altri canali">Come aderire al Cashback da altri canali</a>
    <p class="m-0 mt-2 text-center">Non hai ancora l’app IO? <a href="./issuer/" title="Scopri qui come fare">Scopri qui come fare</a></p>
  </div>
</div>
<div class="section section--wpointers dubbi-domande">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 pl-3 pt-3 py-md-5 px-md-5 ">
            <h2 class="pb-4 pt-lg-4 text-white text-center mb-2">Cashback, dall'8 dicembre 2020<br>
              Dubbi o domande?
            </h2>
            
            <p class="text-center my-2 my-md-4">
                <a href="./faq/" class="btn btn-sm btn-white text-uppercase text-primary" title="Leggi le FAQ">Leggi le FAQ</a>
            </p>
            <p class="text-center p-2 mx-3 mx-md-0 font-size-normal text-white">
              Hai altri dubbi sull’iniziativa? Leggi la <a href="./guida/" target="_blank" class="font-size-normal text-white" title="Guida completa al Cashback">Guida completa al Cashback</a>
            </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->

