
<div class="section section-muted section--wpointers">
    <div class="container py-4 px-4 px-md-0">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 py-0 py-lg-4">
            <div class="text-center">
              <span class="badge badge-white text-uppercase text-primary">Anteprima Bonus Cashback</span>
            </div>
            <h2 class="my-4 text-primary text-center">
              Cos’è e come si aderisce tramite IO
            </h2>
                <p class="text-primary text-center">
                  In questa pagina, trovi una sintesi di come funziona l’iniziativa e un’anteprima dei principali passaggi che dovrai compiere su IO per partecipare.</p>
    
            </div>
        </div><!--/row-->
    </div><!--/container-->
    <div class="container container--mid px-3 px-md-auto">

      <div class="row">
        <div class="col-md-5 pr-0 pr-md-5">
          <h3 class="text-primary h2 mb-3">Requisiti, periodi e rimborsi</h3>
          <p>Se hai compiuto i 18 anni e risiedi in Italia, puoi ottenere un <b>rimborso in denaro</b> a fronte di acquisti effettuati a titolo privato 
            (cioè non per uso professionale) con <b>strumenti di pagamento elettronici</b> presso <b>punti vendita fisici</b> (non online) situati sul territorio nazionale.
          </p><p>
            Il programma si articola in quattro periodi, ciascuno indipendente dagli altri:
            <ul class="pl-4">
              <li>il primo periodo sperimentale dura un mese, dall’1 al 31 dicembre 2020</li>
              <li class="mt-2">i tre periodi successivi durano sei mesi:
                <ul class="list-unstyled">
                <li><b>1° Semestre</b> dal 1/1/2021 al 30/6/2021</li>
                <li><b>2° Semestre</b> dal 1/7/2021 al 31/12/2021</li>
                <li><b>3° Semestre</b> dal 1/1/2022 al 30/6/2022</li>
                </ul>
            </li>
            </ul>
          </p>
        </div><!--/col-md-4-->
        <div class="col-md-7 mt-4 mt-md-0">
          <div class="row">
            <div class="col-lg-6">
              <div class="p-4 bg-white rounded-lg shadow mx-2">
              <h4 class="decoration-underline"><u>Cashback</u></h4>
              <p class="font-size-normal">
                10% sul tuo acquisto, se raggiungi il numero minimo di transazioni</p>

                <p class="font-size-normal">Valido per tutta la durata del programma, si tratta di <b>un rimborso pari al 10% dell’importo dell’acquisto</b> eseguito con uno strumento di pagamento elettronico <b>registrato</b> ai fini dell’iniziativa. Non è previsto un importo minimo di spesa, ma potrai iniziare ad accumulare il Cashback solo dopo aver effettuato un numero minimo di transazioni:
                <ul class="font-size-normal pl-4">
                <li>nel <b>Periodo Sperimentale</b>, il numero minimo è di <b>10 transazioni</b>;</li>
                <li>per <b>ciascuno dei tre Semestri</b> successivi, il numero minimo è di <b>50 transazioni</b>.</li>
                </ul>
                </p>
                <p style="display: none" class="font-size-normal">
                  <b>Il rimborso massimo che potrai ottenere in ciascun periodo è di € 150</b>. Superata questa soglia, fino al termine del periodo di riferimento, le tue transazioni continueranno a essere conteggiate ma solo ai fini della partecipazione al “<b>Super Cashback</b>” <i>(leggi a fianco)</i>.  Al termine di ciascun periodo, infatti, 
                  si conclude il calcolo delle transazioni che ti consentono di ottenere i relativi rimborsi e <b>si riparte da zero all’avvio del Periodo successivo</b>.<br>
Il <b>valore massimo</b> di ogni transazione considerato per il calcolo del rimborso è € 150, quindi per ogni transazione non potrai ricevere un rimborso superiore a € 15 (10%).
                </p>
                <a href="#" class="read-more">
                  <span class="read-more-expand">Leggi di più</span><span class="read-more-collapse">Vedi meno</span>
                </a>
               
              </div>
            </div>
            <div class="col-lg-6 mt-4 mt-lg-0">
              <div class="p-4 bg-white rounded-lg shadow mx-2">
                <h4 class="decoration-underline"><u>Super Cashback</u></h4>
              <p class="font-size-normal">€ 1500 a semestre ai 100mila partecipanti con più transazioni</p>
              <p class="font-size-normal">
                Oltre al Cashback, <b>a partire dal 1° gennaio 2021</b> (ad eccezione, quindi, del Periodo sperimentale) è previsto un <b>rimborso forfettario pari a € 1500 per i primi 100mila partecipanti</b> che, nel singolo periodo di riferimento, abbiano <b>totalizzato il maggior numero di transazioni con gli Strumenti di Pagamento elettronico</b> registrati ai fini dell’iniziativa. Anche in questo caso, non è previsto un importo minimo di spesa.
              </p>
            
            </div>
            </div>
          </div><!--/row-->
        </div><!--/col-md-7-->
      </div><!--/row-->
    </div><!--/container-->
    <div class="py-2 py-md-5"></div>
</div>
<div class="section  section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
        <img class="img-fluid rounded shadow screenshot"  src="/assets/img/bonus-vacanze/screenshot-01.png" alt="Screenshot Login">
        </div>
        <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
            <h3 class="h2 text-primary pb-4 pt-lg-4">
            <span class="d-block font-weight-normal">01</span>Accedi con SPID o CIE
            </h3>
          <p>
            Dopo avere installato l'app IO, puoi accedere con la <b>tua identità digitale SPID</b> o, in alternativa, con la tua <b>Carta d’Identità Elettronica (CIE 3.0) 
            abbinata al PIN</b> che hai ricevuto al momento del rilascio della nuova carta. In seguito alla prima registrazione, potrai accedere all’app digitando il <b>codice di sblocco di 6 cifre</b> scelto da te o tramite <b>riconoscimento biometrico</b> 
            (impronta digitale o riconoscimento del volto). 
          </p>
          <p class="font-size-normal"><a href="#" title="Perchè SPID o CIE?">Perchè devo per forza avere SPID o CIE per usare l’app?</a></p>
          <div class="my-3 my-md-5">
            <p><b class="font-size-normal text-primary">Guarda i video:</b></p>
            <a class="btn btn-sm btn-outline-primary text-uppercase play-button bg-white playvideo" 
               target="_blank" data-url="https://www.youtube.com/embed/70nZa1SlFPw?rel=0" href="#">
            Accedi con SPID
            </a>

            {% include videoplayer.html %}
          </div>
          <div class="">
            <span class="text-primary text-uppercase font-weight-bold">Non hai SPID?</span>
            <p><a href="https://www.spid.gov.it/richiedi-spid" target="_blank" class="font-size-normal" title="Identity provider">Consulta la lista degli identity provider e registra la tua identità digitale.</a></p>
          </div>
        
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section section-muted section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">

          <img  class="img-fluid rounded  screenshot "  src="/assets/img/cashback/screenshot-02.png" alt="Screenshot Partecipa">
              
        </div>
        <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5 ">
            <h3 class="h2 text-primary pb-4 pt-lg-4">
            <span class="d-block font-weight-normal">02</span>Partecipa al Cashback
            </h3>
          <p>
            Per registrarti, entra nella sezione “<b>Portafoglio</b>” dell’app IO e<br>
            - a partire dal 1° dicembre 2020, una volta attivato il servizio<br>
            - clicca sul <b>pulsante in evidenza “Bonus Cashback”</b>. 
            Prima di procedere, leggi come funziona l’iniziativa e l’informativa privacy del servizio: cliccando sul pulsante “<b>Attiva il Cashback</b>” confermi di avere compreso e accettato tutti i Termini e le Condizioni.  In seguito, dichiara di avere tutti i requisiti per partecipare e clicca su “Continua”: da questo momento, risulti iscritto al programma. 
          </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section  section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">

          <img  class="img-fluid rounded  screenshot playusevideoplaceholder"  src="/assets/img/cashback/screenshot-03.png" alt="Screenshot Inserisci IBAN">
        </div>
        <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
            <h3 class="h2 text-primary pb-4 pt-lg-4">
            <span class="d-block font-weight-normal">03</span>Inserisci l’IBAN per l’accredito dei rimborsi
            </h3>
          <p>Indica il <b>codice IBAN</b> del conto su cui vorrai ricevere il bonifico per l’<b>erogazione degli eventuali rimborsi</b> che avrai maturato al termine di ciascun periodo. 
            Potrai inserire il tuo IBAN anche in un momento successivo, ma ti consigliamo di farlo subito prima di continuare.</p>
        
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section section-muted section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
        <img class="img-fluid rounded  screenshot"  src="/assets/img/cashback/screenshot-04.png" alt="Screenshot Attiva cashback">
        </div>
        <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5 ">
            <h3 class="h2 text-primary pb-4 pt-lg-4">
            <span class="d-block font-weight-normal">04</span>Attiva il Cashback sui tuoi metodi di pagamento
            </h3>
          <p>Dopo avere salvato uno o più strumenti di pagamento elettronico su IO, scegli quali attivare per partecipare al Bonus Cashback. Puoi farlo anche in seguito e, per tutta la durata dell’iniziativa, 
            potrai in ogni momento aggiungerne altri oppure disattivarne alcuni.<br>
            Ricorda: <b>SOLO gli acquisti effettuati ai POS fisici</b> tramite uno strumento di pagamento elettronico su cui hai esplicitamente attivato il Bonus Cashback ti permetteranno di partecipare. 
            All’avvio del programma, <b>alcuni metodi di pagamento elettronico che utilizzi potrebbero NON essere registrabili da subito</b>; questo potrebbe dipendere dai tempi tecnici necessari per renderli operativi ai fini del Bonus Cashback.
          </p>
          <p>
            <a href="#" class="font-size-normal">Consulta la lista dei metodi di pagamento elettronici già utilizzabili </a>
          </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section  section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
        <img class="img-fluid rounded  screenshot"  src="/assets/img/cashback/screenshot-05.png" alt="Screenshot Visualizza stato">
        </div>
        <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
            <h3 class="h2 text-primary pb-4 pt-lg-4">
            <span class="d-block font-weight-normal">05</span>Visualizza lo status del tuo Bonus Cashback
            </h3>
          <p>Dalla sezione “Portafoglio” puoi accedere alla <b>schermata di dettaglio</b> del Bonus Cashback per un aggiornamento sulla tua partecipazione all’iniziativa, 
            in base alle transazioni effettuate. Nel corso di ciascun periodo, <b>giorno dopo giorno</b>, l’app IO ti mostrerà lo <b>storico delle attività</b> relative all’iniziativa, il <b>dettaglio delle transazioni</b> conteggiate ai fini del Bonus Cashback 
            e il <b>riepilogo dei rimborsi</b> a cui hai diritto.
          </p>
        
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section section-muted section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
        <img class="img-fluid rounded  screenshot"  src="/assets/img/cashback/screenshot-06.png" alt="Screenshot Classifica">
        </div>
        <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5 ">
            <h3 class="h2 text-primary pb-4 pt-lg-4">
            <span class="d-block font-weight-normal">06</span>Controlla la classifica per ottenere il Super Cashback
            </h3>
          <p><b>Dal 1° gennaio 2021</b>, e dopo che hai raggiunto la soglia minima di transazioni, l’app ti dirà come cambia <b>la tua posizione in classifica per concorrere al Super Cashback</b> di €1500.<br>
            La classifica si basa sul numero di transazioni effettuate con i metodi di pagamento elettronico attivati ai fini del Cashback, per questo l’app ti mostrerà <b>il numero di transazioni 
            effettuate dal primo e dal 100millesimo in classifica</b>, in modo da permetterti di conoscere il numero di transazioni richieste per entrare in classifica e quanto ti manca per riuscire a scalarla.<br> 
            Attenzione: <b>la classifica può cambiare molto velocemente!</b></p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
        <img class="img-fluid rounded  screenshot"  src="/assets/img/cashback/screenshot-07.png" alt="Screenshot Help">
        </div>
        <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
            <h3 class="h2 text-primary pb-4 pt-lg-4">
            <span class="d-block font-weight-normal">07</span>Hai bisogno di aiuto?
            </h3>
          <p>Se hai domande relative all’utilizzo dell’app IO:
            <ul class="pl-4">
            <li>mentre usi IO, puoi consultare <b>maggiori informazioni</b> cliccando sull’<b>help</b>: il punto di domanda (<b>?</b>) che trovi in alto a destra in ogni schermata dell’app</li>
            <li class="mt-2">se riscontri un <b>problema tecnico</b>, puoi segnalarlo direttamente nell’app tramite la funzione “<b>Segnala un bug</b>”. Solo così potremo darti assistenza in maniera specifica per quel tipo di problema</li>
          </ul>
        </p>
        
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section section--wpointers dubbi-domande">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 pl-3 pt-3 py-md-5 px-md-5 ">
            <h2 class="pb-4 pt-lg-4 text-white text-center mb-2">Bonus Cashback, dal 1 dicembre 2020<br>
              Dubbi o domande?
            </h2>
            
            <p class="text-center my-2 my-md-4">
                <a href="./faq/" class="btn btn-sm btn-white text-uppercase text-primary" title="Leggi le FAQ">Leggi le FAQ</a>
            </p>
            <p class="text-center p-2 mx-3 mx-md-0 font-size-normal text-white">
              Hai altri dubbi sull’iniziativa? Leggi la <a href="#" target="_blank" class="font-size-normal text-white" title="Guida completa al Cashback">Guida completa al Cashback</a>
            </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->

