
<div class="section section--wpointers esercente border-0">
    <div class="container pt-3 pt-md-0 pb-3 pb-md-2">
      <div class="row">
        <div class="col-12 col-lg-7 offset-lg-1 pl-3 pt-3 py-md-3 px-md-5">
            <h2 class="text-white text-center text-lg-left">Sei un esercente?
            </h2>
            <p class="text-white text-center text-lg-left">
                Per aderire al programma di Carta della Cultura,<br>
                accedi al portale e segui le istruzioni
            </p>
        </div>
        <div class="col-12 col-lg-3 d-lg-flex justify-content-center flex-column pl-3 pl-lg-0  px-md-5 mb-5 mb-lg-0 text-center text-lg-left">
            <a href="#" class="btn btn-sm btn-white text-uppercase text-primary px-5" title="Link al portale Esercenti">Accedi al portale</a>
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section section-muted section--wpointers">
    <img src="{{site.imagesurl}}/assets/img/icon-appstore.svg" class="d-none">
    <img src="{{site.imagesurl}}/assets/img/icon-playstore.svg" class="d-none">
      <div class="container py-4 px-4 px-md-0">
          <div class="row">
              <div class="offset-lg-2 col-lg-8 py-0 py-lg-4">
              <h2 class="my-4 text-primary text-center">
                Come richiedere e utilizzare la Carta della Cultura
              </h2>
                  <p class="text-primary text-center px-lg-5">
                    In questa pagina, trovi le informazioni utili a richiedere la tua Carta della Cultura e alcune indicazioni su come utilizzarla.
                  </p>
              </div>
          </div><!--/row-->
      </div><!--/container-->
      <div class="container container--mid px-3 px-md-auto">
  
        <div class="row">
          <div class="col-md-5 pr-0 pr-md-5">
            <h2 class="h3 text-primary h2 mb-3">Cos’è la Carta della Cultura?</h2>
            <p>La <b>Carta della Cultura</b> è un’iniziativa promossa dal Ministero della Cultura. <br>Si rivolge ai cittadini residenti in Italia, ed è un incentivo <b>per supportare le famiglie nell’acquisto di libri</b>, sia in formato cartaceo che digitale. 
            </p>
          </div><!--/col-md-4-->
          <div class="col-md-7 mt-4 mt-md-0">
            <div class="row">
              <div class="col-lg-6">
                <div class="p-4 bg-white rounded-lg shadow mx-2">
                <p class="text-decoration-underline font-weight-bold mt-0 mb-2 h-100">Chi può richiederla?</p>
                <p class="font-size-normal">
                    Tutti i cittadini residenti in Italia con un ISEE in corso di validità non superiore a 15.000 €.</p>
                <p class="font-size-normal">
                    Oltre che per l’anno in corso e solo per il 2022, puoi richiedere la Carta anche per gli anni 2020 e il 2021. 
                    Per gli anni precedenti l’ISEE di riferimento sarà quello valido al 31/12 dell’anno di richiesta.</p>
                <p class="font-size-normal">
                    Si può ottenere una Carta della Cultura per nucleo familiare, se in possesso dei requisiti e nei limiti delle risorse disponibili.
                </p>
                </div>
              </div>
              <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="p-4 bg-white rounded-lg shadow mx-2">
                  <p class="text-decoration-underline font-weight-bold mt-0 mb-2">Cosa offre?</p>
                <p class="font-size-normal">
                    Un credito annuo di 100 €, da utilizzare per l’acquisto di libri, muniti di codice ISBN, in formato cartaceo o digitale.
                </p>
                <p class="font-size-normal">Il credito può essere speso entro un anno dal rilascio della Carta da ciascun componente del nucleo familiare, utilizzando l’app IO.
                </p>
              
              </div>
              </div>
            </div><!--/row-->
          </div><!--/col-md-7-->
        </div><!--/row-->
      </div><!--/container-->
      <div class="py-2 py-md-5"></div>
  </div>
  <div class="section  section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img alt="accesso a io app" class="img-fluid rounded screenshot"
            srcset="
            {{site.imagesurl}}/assets/img/carta-della-cultura/accedi-cdc-2x.png 2x,
            {{site.imagesurl}}/assets/img/carta-della-cultura/accedi-cdc.png 1x
            "
            src="{{site.imagesurl}}/assets/img/carta-della-cultura/accedi-cdc.png"
            >
          </div>
          <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4">
              <span class="d-block font-weight-normal">01</span>Accedi con SPID o CIE
              </h3>
            <p>
              Se non hai ancora installato l'app IO, puoi scaricarla dagli store e accedere con la tua identità digitale <a href="https://innovazione.gov.it/it/progetti/spid/" title="SPID">SPID</a> o, in alternativa, con la tua <a href="https://www.cartaidentita.interno.gov.it/identificazione-digitale/entra-con-cie/" title="CIE">Carta d’Identità Elettronica (CIE 3.0*)</a>. Dopo il primo accesso, potrai accedere digitando il PIN scelto da te o tramite riconoscimento biometrico (impronta digitale o riconoscimento del volto). 
            </p>
            <small>**su dispositivi Android (versione 6.0 e superiori) dotati di tecnologia NFC e iPhone (dal modello 7 in su) con sistema operativo iOS 13 (o superiore)</small>

            <div class="my-3 my-md-5">
              <p><b class="font-size-normal text-primary">Guarda i video:</b></p>
              <a class="btn btn-sm btn-outline-primary text-uppercase play-button bg-white playvideo mr-0 mr-lg-2" 
                 target="_blank" data-url="https://www.youtube-nocookie.com/embed/70nZa1SlFPw?rel=0" href="#">
              Entra con SPID
              </a>
              <a class="btn btn-sm btn-outline-primary text-uppercase play-button bg-white playvideo mt-2 mt-lg-0" 
                 target="_blank" data-url="https://www.youtube-nocookie.com/embed/du8ouWLIOY4?rel=0" href="#">
              Entra con CIE
              </a>
  
              {% include videoplayer.html %}
            </div>
            <div class="pr-0 pr-lg-5">
              <span class="text-primary text-uppercase font-weight-bold">Non hai SPID?</span>
              <p class="pr-0 pr-lg-5"><a href="https://www.spid.gov.it/richiedi-spid" target="_blank" class="font-size-normal" title="Identity provider">Consulta la lista degli identity provider e registra la tua identità digitale.</a></p>
            </div>
          
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section section-muted section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
  
            <img alt="richiedi la carta della cultura" class="img-fluid rounded screenshot"
            srcset="
            {{site.imagesurl}}/assets/img/carta-della-cultura/richiedi-buono-cdc-2x.png 2x,
            {{site.imagesurl}}/assets/img/carta-della-cultura/richiedi-buono-cdc.png 1x
            "
            src="{{site.imagesurl}}/assets/img/carta-della-cultura/richiedi-buono-cdc.png"
            >
          </div>
          <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4">
              <span class="d-block font-weight-normal">02</span>Come richiedere Carta della Cultura
              </h3>
            <p>
              Per richiedere la Carta, vai alla sezione Portafoglio di IO, premi “Aggiungi” e seleziona "Sconti, bonus e altre iniziative". Scegli "Carta della Cultura" e completa i passaggi.<br>
Se hai i requisiti richiesti, al termine della definizione della graduatoria, riceverai un messaggio di attivazione. Potrai a questo punto visualizzare la Carta nel Portafoglio. 
            </p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section  section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
  
            <img alt="genera i buoni cdc" class="img-fluid rounded screenshot "
            srcset="
            {{site.imagesurl}}/assets/img/carta-della-cultura/genera-buono-cdc-2x.png 2x,
            {{site.imagesurl}}/assets/img/carta-della-cultura/genera-buono-cdc.png 1x
            "
            src="{{site.imagesurl}}/assets/img/carta-della-cultura/genera-buono-cdc.png"
            >
          </div>
          <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4">
              <span class="d-block font-weight-normal">03</span>Come generare i buoni
              </h3>
            <p>Per ogni Carta attivata, puoi generare uno o più buoni, pari al credito utile al tuo acquisto, direttamente in app IO.<br>
              Scegli “Carta della Cultura” nella sezione Portafoglio, premi “Genera Buono” e segui i passaggi richiesti.<br>
              Una volta concluso l’acquisto, potrai visualizzare direttamente in app il credito residuo disponibile.</p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section section-muted section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img alt="il buono cdc" class="img-fluid rounded screenshot "
          srcset="
          {{site.imagesurl}}/assets/img/carta-della-cultura/buono-cdc-2x.png 2x,
          {{site.imagesurl}}/assets/img/carta-della-cultura/buono-cdc.png 1x
          "
          src="{{site.imagesurl}}/assets/img/carta-della-cultura/buono-cdc.png"
          >
        </div>
          <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4">
              <span class="d-block font-weight-normal">04</span>Come utilizzare i buoni
              </h3>
            <p>Una volta generato il buono, potrai utilizzarlo per acquistare presso un negozio fisico o online.<br>
              Se effettui l’acquisto in un negozio fisico,  presenta il Codice QR o il Codice a Barre all’esercente.<br>
              Per gli acquisti online, invece, ti verrà richiesto l’inserimento del codice univoco, presente nel buono, nell’apposito campo sul sito dell’esercente.
            </p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section  section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img alt="Lista degli operatori cdc" class="img-fluid rounded screenshot "
          srcset="
          {{site.imagesurl}}/assets/img/carta-della-cultura/operatori-cdc-2x.png 2x,
          {{site.imagesurl}}/assets/img/carta-della-cultura/operatori-cdc.png 1x
          "
          src="{{site.imagesurl}}/assets/img/carta-della-cultura/operatori-cdc.png"
          >
        </div>
          <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4 pr-0 pr-md-5">
              <span class="d-block font-weight-normal">05</span>Trova gli operatori che aderiscono all’iniziativa
              </h3>
            <p>Dal dettaglio della tua Carta della Cultura, visibile nel Portafoglio, potrai accedere alla lista di tutti gli esercenti che aderiscono all'iniziativa.<br> Gli esercenti possono operare sul piano fisico, online o entrambi.
            </p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section section-muted section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img alt="informazioni app " class="img-fluid rounded screenshot "
          srcset="
          {{site.imagesurl}}/assets/img/carta-della-cultura/help-cdc-2x.png 2x,
          {{site.imagesurl}}/assets/img/carta-della-cultura/help-cdc.png 1x
          "
          src="{{site.imagesurl}}/assets/img/carta-della-cultura/help-cdc.png"
          >
      </div>
        <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5">
            <h3 class="h2 text-primary pb-4 pt-lg-4 ">
            <span class="d-block font-weight-normal">06</span>Hai bisogno di aiuto?
            </h3>
            <p>Se hai domande o ti servono maggiori informazioni, puoi consultare in ogni momento le domande frequenti. Per farlo, premi sul punto di domanda (?) che trovi in in alto a destra in ogni schermata dell'app.
            </p><p>
              Se hai un problema, inviaci una richiesta di assistenza in app premendo su "Scrivici".
          </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
  <div class="section section--wpointers dubbi-domande border-0">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 pl-3 pt-3 py-md-5 px-md-5 ">
              <h2 class="pb-4 text-white text-center mb-2">Carta della Cultura<br>
                Dubbi o domande?
              </h2>
              <p class="text-center my-2 ">
                <a href="./faq/" class="btn btn-sm btn-white text-uppercase text-primary px-5" title="Leggi le FAQ">Leggi le FAQ</a>
              </p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->

  
  