

<div class="section section-muted section--wpointers">
    <img src="{{site.imagesurl}}/assets/img/icon-appstore.svg" class="d-none">
    <img src="{{site.imagesurl}}/assets/img/icon-playstore.svg" class="d-none">
      <div class="container py-4 px-4 px-md-0">
          <div class="row">
              <div class="offset-lg-2 col-lg-8 py-0 py-lg-4">
              <div class="text-center">
                <span class="badge badge-white text-uppercase text-primary">Anteprima CGN</span>
              </div>
              <h2 class="my-4 text-primary text-center">
                Come attivare e utilizzare la Carta Giovani Nazionale
              </h2>
                  <p class="text-primary text-center">
                    In questa pagina, trovi una sintesi dei requisiti e delle modalità di partecipazione al programma, insieme a un’anteprima dei principali passaggi che dovrai compiere sull’app IO.
                  </p>
              </div>
          </div><!--/row-->
      </div><!--/container-->
      <div class="container container--mid px-3 px-md-auto">
  
        <div class="row">
          <div class="col-md-5 pr-0 pr-md-5">
            <h2 class="h3 text-primary h2 mb-3">Cos’è la Carta Giovani Nazionale?</h2>
            <p>La <b>Carta Giovani Nazionale</b> è una iniziativa promossa dalla Presidenza del Consiglio dei Ministri - Dipartimento per le Politiche Giovanili e il Servizio Civile Universale che si rivolge ai cittadini italiani ed europei residenti in Italia di <b>età compresa tra 18 e 35 anni compiuti</b>. 
            </p>
          </div><!--/col-md-4-->
          <div class="col-md-7 mt-4 mt-md-0">
            <div class="row">
              <div class="col-lg-6">
                <div class="p-4 bg-white rounded-lg shadow mx-2">
                <p class="text-decoration-underline font-weight-bold mt-0 mb-2 h-100">Carta Giovani Nazionale</p>
                <p class="font-size-normal">
                  La Carta Giovani Nazionale consente di ottenere agevolazioni per accedere a beni e servizi di carattere culturale, sportivo e legato al benessere.
                </p><p class="font-size-normal">
                  E’ valida online e su tutto il territorio nazionale. Puoi scaricare la carta virtuale direttamente su IO.
                </p>
                </div>
              </div>
              <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="p-4 bg-white rounded-lg shadow mx-2 h-100">
                  <p class="text-decoration-underline font-weight-bold mt-0 mb-2">Circuito EYCA</p>
                <p class="font-size-normal">
                  Se hai meno di 30 anni, la tua Carta Giovani Nazionale aderisce al circuito <b>EYCA (European Youth Card Association)</b>. 
                </p>
                <p class="font-size-normal">Potrai ottenere sconti e agevolazioni su attività culturali, negozi, trasporti, ristorazione e alloggio anche nei paesi europei aderenti al circuito. 
                </p>
              
              </div>
              </div>
            </div><!--/row-->
          </div><!--/col-md-7-->
        </div><!--/row-->
      </div><!--/container-->
      <div class="py-2 py-md-5"></div>
  </div>
  <div class="section  section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img alt="accesso a io app" class="img-fluid rounded screenshot"
            srcset="
            {{site.imagesurl}}/assets/img/carta-giovani-nazionale/accedi-cgn-2x.png 2x,
            {{site.imagesurl}}/assets/img/carta-giovani-nazionale/accedi-cgn.png 1x
            "
            src="{{site.imagesurl}}/assets/img/carta-giovani-nazionale/accedi-cgn.png"
            >
          </div>
          <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4">
              <span class="d-block font-weight-normal">01</span>Accedi con SPID o CIE
              </h3>
            <p>
              Se non hai ancora installato l'app IO, puoi scaricarla dagli store e accedere con la tua identità digitale <a href="https://innovazione.gov.it/it/progetti/spid/" title="SPID">SPID</a> o, in alternativa, con la tua <a href="https://www.cartaidentita.interno.gov.it/identificazione-digitale/entra-con-cie/" title="CIE">Carta d’Identità Elettronica (CIE 3.0*)</a>. Dopo il primo accesso, potrai accedere digitando il PIN scelto da te o tramite riconoscimento biometrico (impronta digitale o riconoscimento del volto). 
            </p>
            <small>**su dispositivi Android (versione 6.0 e superiori) dotati di tecnologia NFC e iPhone (dal modello 7 in su) con sistema operativo iOS 13 (o superiore)</small>

            <div class="my-3 my-md-5">
              <p><b class="font-size-normal text-primary">Guarda i video:</b></p>
              <a class="btn btn-sm btn-outline-primary text-uppercase play-button bg-white playvideo mr-0 mr-lg-2" 
                 target="_blank" data-url="https://www.youtube-nocookie.com/embed/70nZa1SlFPw?rel=0" href="#">
              Entra con SPID
              </a>
              <a class="btn btn-sm btn-outline-primary text-uppercase play-button bg-white playvideo mt-2 mt-lg-0" 
                 target="_blank" data-url="https://www.youtube-nocookie.com/embed/du8ouWLIOY4?rel=0" href="#">
              Entra con CIE
              </a>
  
              {% include videoplayer.html %}
            </div>
            <div class="pr-0 pr-lg-5">
              <span class="text-primary text-uppercase font-weight-bold">Non hai SPID?</span>
              <p class="pr-0 pr-lg-5"><a href="https://www.spid.gov.it/richiedi-spid" target="_blank" class="font-size-normal" title="Identity provider">Consulta la lista degli identity provider e registra la tua identità digitale.</a></p>
            </div>
          
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section section-muted section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
  
            <img alt="attiva carta cgn" class="img-fluid rounded screenshot"
            srcset="
            {{site.imagesurl}}/assets/img/carta-giovani-nazionale/attiva-cgn-2x.png 2x,
            {{site.imagesurl}}/assets/img/carta-giovani-nazionale/attiva-cgn.png 1x
            "
            src="{{site.imagesurl}}/assets/img/carta-giovani-nazionale/attiva-cgn.png"
            >
          </div>
          <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4">
              <span class="d-block font-weight-normal">02</span>Attiva la Carta Giovani Nazionale
              </h3>
            <p>
              Per richiedere la Carta, vai al Portafoglio di IO, premi “Aggiungi” e seleziona "Sconti, bonus e altre iniziative". Poi, scegli "Carta Giovani Nazionale" e completa i passaggi. Se hai tra i 18 e i 35 anni compiuti, la Carta si attiverà e potrai visualizzarla nel Portafoglio. 
            </p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section  section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
  
            <img alt="trova esercenti convenzionati cgn" class="img-fluid rounded screenshot "
            srcset="
            {{site.imagesurl}}/assets/img/carta-giovani-nazionale/esercenti-cgn-2x.png 2x,
            {{site.imagesurl}}/assets/img/carta-giovani-nazionale/esercenti-cgn.png 1x
            "
            src="{{site.imagesurl}}/assets/img/carta-giovani-nazionale/esercenti-cgn.png"
            >
          </div>
          <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4">
              <span class="d-block font-weight-normal">03</span>Trova gli esercenti che aderiscono all’iniziativa
              </h3>
            <p>Dal dettaglio della tua Carta Giovani Nazionale, sempre visibile nel Portafoglio, potrai accedere alla lista degli esercenti e delle istituzioni che aderiscono all'iniziativa.Gli esercenti possono operare sul piano fisico, online o entrambi. Le schede sono sempre aggiornate con i dettagli delle agevolazioni attive per ciascun esercente.</p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section section-muted section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img alt="carta cgn offline" class="img-fluid rounded screenshot "
          srcset="
          {{site.imagesurl}}/assets/img/carta-giovani-nazionale/carta-cgn-2x.png 2x,
          {{site.imagesurl}}/assets/img/carta-giovani-nazionale/carta-cgn.png 1x
          "
          src="{{site.imagesurl}}/assets/img/carta-giovani-nazionale/carta-cgn.png"
          >
        </div>
          <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4">
              <span class="d-block font-weight-normal">04</span>Quando fai acquisti offline, mostra la tua Carta
              </h3>
            <p>Quando acquisti presso strutture fisiche, apri app IO e mostra la Carta Giovani Nazionale in cassa per ottenere lo sconto.
              Una volta riconosciuta la Carta, lo sconto previsto verrà applicato al tuo acquisto.
            </p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section  section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img alt="genera codice scono acquisti online" class="img-fluid rounded screenshot "
          srcset="
          {{site.imagesurl}}/assets/img/carta-giovani-nazionale/genera-codice-cgn-2x.png 2x,
          {{site.imagesurl}}/assets/img/carta-giovani-nazionale/genera-codice-cgn.png 1x
          "
          src="{{site.imagesurl}}/assets/img/carta-giovani-nazionale/genera-codice-cgn.png"
          >
        </div>
          <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4 pr-0 pr-md-5">
              <span class="d-block font-weight-normal">05</span>Quando fai acquisti online, usa il codice sconto
              </h3>
            <p>Quando acquisti online, apri il dettaglio dell’agevolazione di tuo interesse e visualizza il codice. Poi, copialo e incollalo nel campo sconto del sito dell'esercente. Alcuni codici hanno una durata limitata e devono essere utilizzati entro 10 minuti. 
            </p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section section-muted section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img alt="codice statico cgn" class="img-fluid rounded screenshot "
          srcset="
          {{site.imagesurl}}/assets/img/carta-giovani-nazionale/offerta-cgn-2x.png 2x,
          {{site.imagesurl}}/assets/img/carta-giovani-nazionale/offerta-cgn.png 1x
          "
          src="{{site.imagesurl}}/assets/img/carta-giovani-nazionale/offerta-cgn.png"
          >
        </div>
          <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5">
              <h3 class="h2 text-primary pb-4 pt-lg-4 pr-0 pr-md-5">
              <span class="d-block font-weight-normal">06</span>Acquisti online senza codice
              </h3>
              <p>Alcuni esercenti online non richiedono l'uso di codici. In questo caso, IO ti indirizza direttamente alla pagina da cui puoi accedere all'agevolazione. </p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img alt="circuito eyca" class="img-fluid rounded screenshot "
          srcset="
          {{site.imagesurl}}/assets/img/carta-giovani-nazionale/dettaglio-eyca-cgn-2x.png 2x,
          {{site.imagesurl}}/assets/img/carta-giovani-nazionale/dettaglio-eyca-cgn.png 1x
          "
          src="{{site.imagesurl}}/assets/img/carta-giovani-nazionale/dettaglio-eyca-cgn.png"
          >
        </div>
          <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4">
              <span class="d-block font-weight-normal">07</span>Il Circuito EYCA
              </h3>
            <p>Se hai dai 18 ai 30 anni, puoi usare la tua Carta Giovani Nazionale anche presso gli esercenti aderenti al circuito EYCA.
              Quando acquisti presso strutture fisiche, apri app IO e mostra la tua Carta in cassa. Quando acquisti online, verifica la modalità di accesso sul sito EYCA.<br>
              L'adesione ad EYCA scade automaticamente il giorno in cui compi 31 anni.
          </p>
          <p class="my-2 my-md-5">
          <a class="btn btn-sm btn-outline-primary text-uppercase bg-white" 
                 target="_blank" href="#">
                 SCOPRI DI PIU’ SU EYCA
              </a>
          </p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section section-muted section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img alt="informazioni app cgn" class="img-fluid rounded screenshot "
          srcset="
          {{site.imagesurl}}/assets/img/carta-giovani-nazionale/help-cgn-2x.png 2x,
          {{site.imagesurl}}/assets/img/carta-giovani-nazionale/help-cgn.png 1x
          "
          src="{{site.imagesurl}}/assets/img/carta-giovani-nazionale/help-cgn.png"
          >
      </div>
        <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5">
            <h3 class="h2 text-primary pb-4 pt-lg-4 ">
            <span class="d-block font-weight-normal">08</span>Hai bisogno di aiuto?
            </h3>
            <p>Se hai domande o ti servono maggiori informazioni, puoi consultare in ogni momento le domande frequenti. Per farlo, premi sul punto di domanda (?) che trovi in in alto a destra in ogni schermata dell'app. 
            </p><p>
              Se hai un problema, inviaci una richiesta di assistenza in app premendo su "Scrivici".
          </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
  <div class="section section--wpointers dubbi-domande border-0">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 pl-3 pt-3 py-md-5 px-md-5 ">
              <h2 class="pb-4 text-white text-center mb-2">European Youth Card.<br>
                Do more. Be more.
              </h2>
              <p class="text-center my-2 ">
                  <a href="https://www.eyca.org/" class="btn btn-sm btn-white text-uppercase text-primary px-5" title="Visita il sito EYC">Visita il sito</a>
              </p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section section--wpointers scopri-bonus">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-12  pl-3 pt-3 py-md-5 px-md-5 ">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <h2 class="pb-4  text-white text-center mb-2">Dubbi o domande?</h2>
                    <p class="text-center">
                      <a href="./faq/" class="btn btn-sm btn-white text-uppercase text-primary px-5" title="Leggi le FAQ">Leggi le FAQ</a>
                  </p>
                </div>
            </div><!--/row-->
        </div>
       </div><!--/row-->
    </div><!--/container-->
  </div><!--/section-->
  
  