

<div class="section section-muted section--wpointers">
    <img src="{{site.imagesurl}}/assets/img/icon-appstore.svg" class="d-none">
    <img src="{{site.imagesurl}}/assets/img/icon-playstore.svg" class="d-none">
      <div class="container py-4 px-4 px-md-0">
          <div class="row">
              <div class="offset-lg-2 col-lg-8 py-0 py-lg-4">
              <div class="text-center">
                <span class="badge badge-white text-uppercase text-primary">Anteprima CGN</span>
              </div>
              <h2 class="my-4 text-primary text-center">
                Come attivare e utilizzare la Carta Giovani Nazionale
              </h2>
                  <p class="text-primary text-center">
                    In questa pagina, trovi una sintesi dei requisiti e delle modalità di partecipazione al programma, insieme a un’anteprima dei principali passaggi che dovrai compiere sull’app IO.
                  </p>
              </div>
          </div><!--/row-->
      </div><!--/container-->
      <div class="container container--mid px-3 px-md-auto">
  
        <div class="row">
          <div class="col-md-5 pr-0 pr-md-5">
            <h2 class="h3 text-primary h2 mb-3">Cos’è la Carta Giovani Nazionale?</h2>
            <p>La <b>Carta Giovani Nazionale</b> è una iniziativa promossa dalla Presidenza del Consiglio dei Ministri - Dipartimento per le Politiche Giovanili e il Servizio Civile Universale che si rivolge ai cittadini italiani ed europei residenti in Italia di <b>età compresa tra 18 e 35 anni compiuti</b>. 
            </p>
          </div><!--/col-md-4-->
          <div class="col-md-7 mt-4 mt-md-0">
            <div class="row">
              <div class="col-lg-6">
                <div class="p-4 bg-white rounded-lg shadow mx-2">
                <p class="text-decoration-underline font-weight-bold mt-0 mb-2">Carta Giovani Nazionale</p>
                <p class="font-size-normal">
                  La Carta Giovani Nazionale consente ai beneficiari di ottenere agevolazioni per accedere a beni e servizi di carattere culturale, sportivo e legato al benessere. 
                  E’ valida online e su tutto il territorio nazionale e potrai scaricare la carta virtuale direttamente dall’App IO.
                  </p>
                </div>
              </div>
              <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="p-4 bg-white rounded-lg shadow mx-2">
                  <p class="text-decoration-underline font-weight-bold mt-0 mb-2">Convenzione EYCA</p>
                <p class="font-size-normal">
                  Se hai meno di 30 anni, la tua Carta Giovani Nazionale aderisce al circuito <b>EYCA (European Youth Card Association)</b>. 
                  Potrai ottenere sconti e agevolazioni su attività culturali, negozi, trasporti, ristorazione e alloggio anche nei 38 paesi europei aderenti al circuito.
                </p>
              
              </div>
              </div>
            </div><!--/row-->
          </div><!--/col-md-7-->
        </div><!--/row-->
      </div><!--/container-->
      <div class="py-2 py-md-5"></div>
  </div>
  <div class="section  section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img alt="accesso a io app" class="img-fluid rounded screenshot"
            srcset="
            {{site.imagesurl}}/assets/img/carta-giovani-nazionale/schermata-app-accesso-cashback-2x.png 2x,
            {{site.imagesurl}}/assets/img/carta-giovani-nazionale/schermata-app-accesso-cashback.png 1x
            "
            src="{{site.imagesurl}}/assets/img/carta-giovani-nazionale/schermata-app-accesso-cashback.png"
            >
          </div>
          <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4">
              <span class="d-block font-weight-normal">01</span>Accedi con SPID o CIE
              </h3>
            <p>
              Se non hai ancora installato l'app IO, puoi scaricarla dagli store e accedere con la tua identità digitale <a href="https://innovazione.gov.it/it/progetti/spid/" title="SPID">SPID</a> o, in alternativa, con la tua <a href="https://www.cartaidentita.interno.gov.it/identificazione-digitale/entra-con-cie/" title="CIE">Carta d’Identità Elettronica (CIE 3.0*)</a>. In seguito alla prima registrazione, potrai accedere più facilmente digitando il PIN scelto da te o tramite riconoscimento biometrico (impronta digitale o riconoscimento del volto).
            </p>
            <small>**su dispositivi Android (versione 6.0 e superiori) dotati di tecnologia NFC e iPhone (dal modello 7 in su) con sistema operativo iOS 13 (o superiore)</small>

            <div class="my-3 my-md-5">
              <p><b class="font-size-normal text-primary">Guarda i video:</b></p>
              <a class="btn btn-sm btn-outline-primary text-uppercase play-button bg-white playvideo mr-0 mr-lg-2" 
                 target="_blank" data-url="https://www.youtube.com/embed/70nZa1SlFPw?rel=0" href="#">
              Accedi con SPID
              </a>
              <a class="btn btn-sm btn-outline-primary text-uppercase play-button bg-white playvideo mt-2 mt-lg-0" 
                 target="_blank" data-url="https://www.youtube.com/embed/du8ouWLIOY4?rel=0" href="#">
              Accedi con CIE
              </a>
  
              {% include videoplayer.html %}
            </div>
            <div class="pr-0 pr-lg-5">
              <span class="text-primary text-uppercase font-weight-bold">Non hai SPID?</span>
              <p class="pr-0 pr-lg-5"><a href="https://www.spid.gov.it/richiedi-spid" target="_blank" class="font-size-normal" title="Identity provider">Consulta la lista degli identity provider e registra la tua identità digitale.</a></p>
            </div>
          
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section section-muted section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
  
            <img alt="attiva carta cgn" class="img-fluid rounded screenshot"
            srcset="
            {{site.imagesurl}}/assets/img/cashback/schermata-app-iscrizione-cashback-2x.png 2x,
            {{site.imagesurl}}/assets/img/cashback/schermata-app-iscrizione-cashback.png 1x
            "
            src="{{site.imagesurl}}/assets/img/cashback/schermata-app-iscrizione-cashback.png"
            >
          </div>
          <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4">
              <span class="d-block font-weight-normal">02</span>Attiva la Carta Giovani Nazionale
              </h3>
            <p>
              Per procedere alla richiesta della CGN è necessario avere un’età compresa tra 18 e 35 anni compiuti. 
              Nella sezione Portafoglio, premi Aggiungi un nuovo Bonus/Sconto e scegli “Carta Giovani Nazionale” dalla lista di quelli disponibili. Basterà seguire i passaggi per completare la richiesta e attivare la carta virtuale.
            </p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section  section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
  
            <img alt="trova esercenti convenzionati cgn" class="img-fluid rounded screenshot "
            srcset="
            {{site.imagesurl}}/assets/img/cashback/schermata-iban-rimborsi-cashback-2x.png 2x,
            {{site.imagesurl}}/assets/img/cashback/schermata-iban-rimborsi-cashback.png 1x
            "
            src="{{site.imagesurl}}/assets/img/cashback/schermata-iban-rimborsi-cashback.png"
            >
          </div>
          <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4">
              <span class="d-block font-weight-normal">03</span>Trova gli esercenti che aderiscono all’iniziativa
              </h3>
            <p>Dal dettaglio della tua Carta Giovani Nazionale, sempre visibile nella sezione portafoglio, potrai accedere alla lista degli esercenti che aderiscono all'iniziativa.Gli esercenti possono operare sul piano fisico, online o entrambi. Le schede degli esercenti sono sempre aggiornate con i dettagli delle agevolazioni attive per ciascun esercente.</p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section section-muted section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img alt="carta cgn offline" class="img-fluid rounded screenshot "
          srcset="
          {{site.imagesurl}}/assets/img/cashback/schermata-metodi-di-pagamento-cashback-2x.png 2x,
          {{site.imagesurl}}/assets/img/cashback/schermata-metodi-di-pagamento-cashback.png 1x
          "
          src="{{site.imagesurl}}/assets/img/cashback/schermata-metodi-di-pagamento-cashback.png"
          >
        </div>
          <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4">
              <span class="d-block font-weight-normal">04</span>Acquisto offline: mostra la tua Carta
              </h3>
            <p>Per gli acquisti presso punti vendita fisici, ti basterà aprire il dettaglio della tua Carta Giovani Nazionale dalla sezione Portafoglio dell'App IO e mostrarla all'operatore alla cassa.
              Una volta riconosciuta la carta alla cassa, lo sconto previsto verrà applicato al tuo acquisto.
            </p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section  section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img alt="genera codice scono acquisti online" class="img-fluid rounded screenshot "
          srcset="
          {{site.imagesurl}}/assets/img/cashback/schermata-rimborsi-cashback-2x.png 2x,
          {{site.imagesurl}}/assets/img/cashback/schermata-rimborsi-cashback.png 1x
          "
          src="{{site.imagesurl}}/assets/img/cashback/schermata-rimborsi-cashback.png"
          >
        </div>
          <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4 pr-0 pr-md-5">
              <span class="d-block font-weight-normal">05</span>Acquisto online: genera il codice sconto
              </h3>
            <p>Se vuoi effettuare l’acquisto su un portale online, apri il dettaglio della tua Carta Giovani Nazionale e premi il pulsante Genera codice. Il codice ha una durata di 10 minuti, entro i quali dovrà essere inserito nell'apposito campo sconto sul portale dell'esercente in fase di checkout.
            </p>
            <p><span class="font-size-normal ">Guarda il video:</span></p>
          <a class="btn btn-sm btn-outline-primary text-uppercase play-button bg-white playvideo" 
                 target="_blank" data-url="https://www.youtube.com/embed/3qy8ZAPgdf4?rel=0" href="#">
              Come funziona il Cashback
              </a>
  
          
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section section-muted section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img alt="codice statico cgn" class="img-fluid rounded screenshot "
          srcset="
          {{site.imagesurl}}/assets/img/cashback/schermata-classifica-super-cashback-2x.png 2x,
          {{site.imagesurl}}/assets/img/cashback/schermata-classifica-super-cashback.png 1x
          "
          src="{{site.imagesurl}}/assets/img/cashback/schermata-classifica-super-cashback.png"
          >
        </div>
          <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5">
              <h3 class="h2 text-primary pb-4 pt-lg-4 pr-0 pr-md-5">
              <span class="d-block font-weight-normal">06</span>Acquisti online: il codice statico
              </h3>
              <p>Alcuni esercenti online, richiedono l'utilizzo di codici statici. Seleziona l'esercente di tuo interesse dalla lista e cerca il codice statico da inserire sul portale. 
                Una volta riconosciuto il codice, lo sconto previsto verrà applicato al tuo acquisto.</p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img alt="circuito eyca" class="img-fluid rounded screenshot "
          srcset="
          {{site.imagesurl}}/assets/img/cashback/schermata-informazioni-app-cashback-2x.png 2x,
          {{site.imagesurl}}/assets/img/cashback/schermata-informazioni-app-cashback.png 1x
          "
          src="{{site.imagesurl}}/assets/img/cashback/schermata-informazioni-app-cashback.png"
          >
        </div>
          <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4">
              <span class="d-block font-weight-normal">07</span>Il Circuito EYCA
              </h3>
            <p>Se hai dai 18 ai 30 anni, potrai usare la tua Carta Giovani Nazionale anche presso gli esercenti aderenti al circuito EYCA.
              Per gli esercenti online, inserisci direttamente il numero carta EYCA riportato nel dettaglio della tua Carta Giovani Nazionale per ottenere lo sconto. Per gli esercenti fisici, è sufficiente mostrare la carta su cui è riportato il logo del circuito EYCA.
              L’adesione ad EYCA scadrà naturalmente al 31esimo compleanno del beneficiario.
          </p>
          <p class="my-2 my-md-5">
          <a class="btn btn-sm btn-outline-primary text-uppercase bg-white" 
                 target="_blank" href="#">
                 SCOPRI DI PIU’ SU EYCA
              </a>
          </p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section section-muted section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img alt="informazioni app cgn" class="img-fluid rounded screenshot "
          srcset="
          {{site.imagesurl}}/assets/img/carta-giovani-nazionale/schermata-informazioni-app-cashback-2x.png 2x,
          {{site.imagesurl}}/assets/img/carta-giovani-nazionale/schermata-informazioni-app-cashback.png 1x
          "
          src="{{site.imagesurl}}/assets/img/carta-giovani-nazionale/schermata-informazioni-app-cashback.png"
          >
      </div>
        <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5">
            <h3 class="h2 text-primary pb-4 pt-lg-4 ">
            <span class="d-block font-weight-normal">08</span>Hai bisogno di aiuto?
            </h3>
            <p>Se hai domande relative all'uso di IO, puoi contattarci rimanendo dentro l’app:
              <ul class="pl-4">
              <li>se hai dubbi rispetto alla schermata in cui ti trovi, puoi consultare maggiori informazioni <p>premendo sul punto di domanda (?)</p> che trovi sempre in alto a destra 
              </li>
              <li class="mt-2">se riscontri un <b>problema tecnico</b>, puoi segnalarlo direttamente nell’app tramite la funzione “<b>Scrivi al team di IO</b>”. Solo così potremo darti assistenza in maniera specifica per quel tipo di problema</li>
            </ul>
          </p>
          <p><b class="font-size-normal text-primary">Guarda il video:</b></p>
          <a class="btn btn-sm btn-outline-primary text-uppercase play-button bg-white playvideo" 
                 target="_blank" data-url="https://www.youtube.com/embed/6M4i6a97auY?rel=0" href="#">
              Come chiedere assistenza su IO
              </a>
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section section--wpointers scopri-bonus">
  <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
    <div class="row">
      <div class="col-12  pl-3 pt-3 py-md-5 px-md-5 ">
          <div class="row">
              <div class="col-12 col-md-8 offset-md-2">
                  <h2 class="pb-4 pt-lg-4 text-white text-center mb-2">Guarda il tutorial sulla Carta Giovani Nazionale</h2>
                  <p class="text-white text-center mx-2 mx-md-5 px-2 px-md-5 mb-2 mb-md-5">Realizzato dal Ministero per i Beni e le Attività Culturali e per il Turismo</p>
              </div>
              <div class="col-12 text-center ">
              <div class="videoWrapperExt">
               <div class="videoWrapper">
                <iframe width="1000" height="562" src="https://www.youtube.com/embed/FdPXYBUXqXA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
              
              </div>
          </div><!--/row-->
      </div>
     </div><!--/row-->
  </div><!--/container-->
</div><!--/section-->
  <div class="section section--wpointers dubbi-domande border-0">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 pl-3 pt-3 py-md-5 px-md-5 ">
              <h2 class="pb-4 text-white text-center mb-2">European Youth Card.<br>
                Do more. Be more.
              </h2>
              <p class="text-center my-2 ">
                  <a href="#" class="btn btn-sm btn-white text-uppercase text-primary px-5" title="Visita il sito EYC">Visita il sito</a>
              </p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section section--wpointers scopri-bonus">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-12  pl-3 pt-3 py-md-5 px-md-5 ">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <h2 class="pb-4  text-white text-center mb-2">Dubbi o domande?</h2>
                    <p class="text-center">
                      <a href="./faq/" class="btn btn-sm btn-white text-uppercase text-primary px-5" title="Leggi le FAQ">Leggi le FAQ</a>
                  </p>
                </div>
                <div class="col-12">
                  <p class="text-center text-white py-4 px-2 font-size-normal">
                    Hai altri dubbi sull'iniziativa? Leggi la <a href="#" target="_blank" class=" text-white" title="guida completa alla CGN">Guida completa alla Carta Giovani Nazionale</a>
                </p>
                </div>
            </div><!--/row-->
        </div>
       </div><!--/row-->
    </div><!--/container-->
  </div><!--/section-->
  
  