<div class="page-cittadini">
    <div class="section section-muted section-inset-shadow section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5">
      <div class="row">
        <div class="col-md-5 order-md-2 pl-3 pt-3 py-md-5 px-md-5 my-md-5 text-center">
        <img
            class="img-fluid"
            src="/assets/img/codice_fiscale.svg"
            alt="Codice Fiscale"
          />
        </div>
        <div class="col-md-5 offset-md-1 order-md-1 pl-3 pt-3 py-md-5 px-md-5 my-md-5">
            <h2 class="text-primary pb-4">
           Registrazione sicura con SPID o CIE
          </h2>
          <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
    </div><!--/section-->


</div>
