{% assign current_lang = page.lang | default: site.lang | default: 'it' %}
{% assign t = site.data.t[current_lang] %}
<div class="page-cittadini">
    <div class="section section-muted section-inset-shadow section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-md-4 order-md-2 pl-3 pt-3 py-md-5 px-md-5 my-md-5 text-center">
        <img
            class="img-fluid"
            src="/assets/img/cittadini/screenshot-1.png"
            alt="Screenshot"
          />
        </div>
        <div class="col-md-6 offset-md-1 order-md-1 pl-3 pt-3 py-md-5 px-md-5 my-md-5">
            <h2 class="text-primary pb-4 pt-lg-4">
           Registrazione sicura con SPID o CIE
          </h2>
          <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
    </div><!--/section-->
    <div class="section section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="offset-md-1 col-md-4  pl-3 pt-3 py-md-5 px-md-5 my-md-5 text-center">
        <img
            class="img-fluid"
            src="/assets/img/cittadini/screenshot-2.png"
            alt="Screenshot"
          />
        </div>
        <div class="col-md-6 pl-3 pt-3 py-md-5 px-md-5 my-md-5">
            <h2 class="text-primary pb-4 pt-lg-4">
           Tutte le comunicazioni in un unico punto, sul tuo telefono
          </h2>
          <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
    </div><!--/section-->
    <div class="section section-muted section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-md-4 order-md-2 pl-3 pt-3 py-md-5 px-md-5 my-md-5 text-center">
        <img
            class="img-fluid"
            src="/assets/img/cittadini/screenshot-4.png"
            alt="Screenshot"
          />
        </div>
        <div class="col-md-6 offset-md-1 order-md-1 pl-3 pt-3 py-md-5 px-md-5 my-md-5">
            <h2 class="text-primary pb-4 pt-lg-4">
           Attivare e disattivare i servizi in base alle proprie preferenze
          </h2>
          <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
    </div><!--/section-->
    <div class="section section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="offset-md-1 col-md-4  pl-3 pt-3 py-md-5 px-md-5 my-md-5 text-center">
        <img
            class="img-fluid"
            src="/assets/img/cittadini/screenshot-3.png"
            alt="Screenshot"
          />
        </div>
        <div class="col-md-6 pl-3 pt-3 py-md-5 px-md-5 my-md-5">
            <h2 class="text-primary pb-4 pt-lg-4">
           Pagamenti sicuri verso tutte le Pubbliche Amministrazioni
          </h2>
          <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
    </div><!--/section-->

    <div class="section section-muted section-qr section--wpointers">
        <div class="container py-5 px-4 px-md-0">
            <div class="row">
                <div class="offset-lg-1 col-lg-5 py-0 py-lg-4">
                <h2 class="pb-4 pt-lg-4 text-white">
                Paga con una semplice scansione
                </h2>
                 <p class="text-white">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        
                </div>
            </div>
        </div>
    </div><!--/section-->

    <div class="section section--wpointers">
    <div class="container py-5 py-md-0 ">
      <div class="row">
        <div class="col">
          <h2 class="text-primary text-center pb-2 pt-lg-4">
           Quali servizi
          </h2>
          <p class="text-primary text-center">Diverse tipologie di servizi a disposizione del cittadino.</p>
        </div><!--/col-->
       </div><!--/row-->
       <div class="row py-2 advantage-cards mt-md-4">
        <div class="col-12 col-lg-10 offset-lg-1">
          <div class="d-md-flex flex-wrap justify-content-md-between">
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center px-4">
                     <svg class="icon mt-4 mb-2">
                      <use
                        xlink:href="/assets/svg/cittadini.svg#scadenze"
                      ></use>
                    </svg>
                    <h5 class="card-title text-primary mt-2">
                      Scadenze
                    </h5>
                    <p class="px-lg-2">Carta d'identità<br>
                    Pass ZTL<br>
                    Domande di iscrizioni all'asilo<br>
                    …</p>
                  </div>
                </div>
            </div>
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center px-4">
                  <svg class="icon mt-4 mb-2">
                      <use
                        xlink:href="/assets/svg/cittadini.svg#pagamenti"
                      ></use>
                    </svg>
                    <h5 class="card-title text-primary mt-2">
                      Pagamenti
                    </h5>
                    <p class="px-lg-2">TARI<br>
                    Multe<br>
                    Servizi scolastici<br>
                    …</p>
                  </div>
                </div>
            </div>
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center px-4">
                  <svg class="icon mt-4 mb-2">
                      <use
                        xlink:href="/assets/svg/cittadini.svg#notifiche"
                      ></use>
                    </svg>
                    <h5 class="card-title text-primary mt-2">
                      Notifiche
                    </h5>
                    <p class="px-lg-2">Allerta dalla Protezione Civile<br>
                    Passaggio in zona ZTL<br>
                    Nuovi documenti disponibili<br>…
                    </p>
                  </div>
                </div>
            </div>
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center px-4">
                    <svg class="icon mt-4">
                      <use
                        xlink:href="/assets/svg/cittadini.svg#documenti"
                      ></use>
                    </svg>
                    <h5 class="card-title text-muted mt-2">
                      Documenti
                    </h5>
                    <p class="px-lg-2 text-muted">Certificati<br>Ricevute<br>Pratiche amministrative<br>
                    <span class="badge badge-light  font-weight-light small">In arrivo</span>
                    </p>
                  </div>
                </div>
            </div>
          </div>
         </div>
      </div><!--/row-->
      <div class="row py-2 py-md-5">
        <div class="col ">
        <div class="text-center mt-2 mt-md-4">
            <svg class="ico-commenti">
                <use xlink:href="/assets/svg/cittadini.svg#commenti" ></use>
            </svg>
        </div>
          <h2 class="text-primary text-center pb-2 mt-2 mt-md-4">
           Consiglia un servizio
          </h2>
          <p class="text-center">Hai in mente un servizio che ti sembra interessante da aggiungere su IO?<br> Proponilo nell’apposita sezione del forum. </p>
          <div class="py-2 mb-md-4 text-center">
          <a href="#" class="btn btn-primary btn-sm text-uppercase" target="_blank">Vai al forum</a>
          </div>
        </div><!--/col-->
       </div><!--/row-->
    </div><!--/container-->
    </div><!--/section-->
    {%- include home/section-8.html -%}


</div>
