{% assign current_lang = page.lang | default: site.lang | default: 'it' %}
{% assign t = site.data.t[current_lang] %}
<div class="page-cittadini">
    <div class="section section-muted section-inset-shadow section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-md-4 order-md-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
        <img
            class="img-fluid rounded shadow screenshot" 
            src="/assets/img/cittadini/screenshot-1.png"
            alt="Screenshot"
          />
        </div>
        <div class="col-md-6 offset-md-1 order-md-1 pl-3 pt-3 py-md-5 px-md-5 ">
            <h2 class="text-primary pb-4 pt-lg-4">
           Accedi in tutta sicurezza con SPID o CIE
          </h2>
          <p>
          Per iniziare a utilizzare IO, devi registrarti con le tue <strong>credenziali <a href="https://innovazione.gov.it/it/progetti/spid/" title="SPID">SPID</a></strong> o, in alternativa, con la tua <strong>Carta d’Identità Elettronica (<a href="https://innovazione.gov.it/it/progetti/cie/" title="CIE">CIE</a>)</strong>. In seguito alla prima registrazione, potrai accedere più facilmente digitando il <strong>PIN scelto da te</strong> o tramite <strong>riconoscimento biometrico</strong> (impronta digitale o riconoscimento del volto). 
Questo rende <strong>IO un canale sicuro</strong>: autenticarsi all’app tramite un'identità digitale forte (SPID o CIE) significa garantire <strong>la tua identità certa e inequivocabile</strong> agli Enti che erogano i servizi di tuo interesse. Inoltre, il PIN e i dati biometrici che usi per accedere all’app vengono conservati <strong>criptati</strong> solo nel tuo telefono. In caso di furto, potrai impedire l’utilizzo dell’app IO accedendo con SPID da qualunque computer connesso a Internet. 
          </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
    </div><!--/section-->
    <div class="section section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="offset-md-1 col-md-4  pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
        <img
            class="img-fluid rounded shadow screenshot"
            src="/assets/img/cittadini/screenshot-2.png"
            alt="Screenshot"
          />
        </div>
        <div class="col-md-6 pl-3 pt-3 py-md-5 px-md-5 ">
            <h2 class="text-primary pb-4 pt-lg-4">
           Tutte le comunicazioni in un unico punto, sul tuo telefono
          </h2>
          <p>
          Con IO, ricevi <strong>messaggi, avvisi, comunicazioni, da qualunque Ente</strong> pubblico, tutto dentro <strong>un’unica app</strong>. Grazie agli avvisi in <strong>prossimità di una sccon nza</strong>, resti sempre aggiornato e puoi aggiungere un <strong>promemoria</strong> direttamente sul calendario personale del tuo smartphone. 
<br>Per i messaggi relativi al <strong>pagamento di servizi o tributi</strong>, puoi completare l’operazione <strong>direttamente dal messaggio</strong>, senza lasciare l’app. Se hai necessità di approfondire il contenuto di un messaggio, ogni comunicazione porta i riferimenti dell’Ente e la possibilità di accedere rapidamente ai suoi specifici canali di contatto. 
          </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
    </div><!--/section-->
    <div class="section section-muted section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-md-4 order-md-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
        <img
            class="img-fluid rounded shadow screenshot"
            src="/assets/img/cittadini/screenshot-3.png"
            alt="Screenshot"
          />
        </div>
        <div class="col-md-6 offset-md-1 order-md-1 pl-3 pt-3 py-md-5 px-md-5 ">
            <h2 class="text-primary pb-4 pt-lg-4">
           Attiva e disattiva i servizi in base alle tue preferenze
          </h2>
          <p>
          Grazie a IO, non dovrai più comunicare i tuoi recapiti a ogni singolo Ente né ripetere la registrazione con gli stessi dati a ogni singolo sito della Pubblica Amministrazione. 
          Impostando le tue preferenze nell’app, puoi scegliere tu <strong>quali messaggi</strong> ricevere, e <strong>come</strong> riceverli (via mail, dentro l’app o tramite le notifiche push del telefono). 
          <br>In futuro, potrai anche eleggere il tuo <strong>domicilio digitale</strong> direttamente dall’app, per ricevere le raccomandate a valore legale presso un <strong>indirizzo pec</strong>. 
          </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
    </div><!--/section-->
    <div class="section section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="offset-md-1 col-md-4  pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
        <img
            class="img-fluid rounded shadow screenshot"
            src="/assets/img/cittadini/screenshot-4.png"
            alt="Screenshot"
          />
        </div>
        <div class="col-md-6 pl-3 pt-3 py-md-5 px-md-5 ">
            <h2 class="text-primary pb-4 pt-lg-4">
          I tuoi pagamenti verso la PA, in pochi secondi
          </h2>
          <p>
          Con IO, puoi gestire <strong>in modo rapido e sicuro</strong> i pagamenti verso tutti gli Enti della Pubblica Amministrazione, grazie alla piattaforma <strong><a href="https://www.pagopa.gov.it" title="pagoPA">pagoPA</a></strong> integrata nell’app.
          <br>Associa a IO i tuoi <strong>metodi di pagamento preferiti</strong> (per ora carte di credito e, prossimamente, anche Bancomat, Paypal, Satispay, ecc.) e usali tutte le volte che vuoi. Lo storico delle tue operazioni e le relative ricevute di pagamento rimarranno disponibili nell’app, sempre a portata di mano.
          </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
    </div><!--/section-->

    <div class="section section-muted section-qr section--wpointers">
        <div class="container py-5 px-4 px-md-0">
            <div class="row">
                <div class="offset-lg-1 col-lg-5 py-0 py-lg-4">
                <h2 class="pb-4 pt-lg-4 text-white">
                Paga con una semplice scansione
                </h2>
                 <p class="text-white">
                 Con IO, puoi pagare <strong>qualunque avviso cartaceo</strong> emesso nel circuito <a class="text-italia-green" href="https://www.pagopa.gov.it" title="pagoPA">pagoPA</a>, inquadrando semplicemente il <strong>codice QR</strong> riportato sul bollettino o inserendo manualmente il codice identificativo (IUV) associato all’avviso di pagamento.
                 </p>
        
                </div>
            </div>
        </div>
    </div><!--/section-->

    <div class="section section--wpointers">
    <div class="container py-5 py-md-0 ">
      <div class="row">
        <div class="col">
          <h2 class="text-primary text-center pb-2 pt-lg-4">
           Quali servizi
          </h2>
          <p class="text-primary text-center">Diverse tipologie di servizi a tua disposizione.</p>
        </div><!--/col-->
       </div><!--/row-->
       <div class="row py-2 advantage-cards mt-md-4">
        <div class="col-12 col-lg-10 offset-lg-1">
          <div class="d-md-flex flex-wrap justify-content-md-between">
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center px-4">
                     <svg class="icon mt-4 mb-2">
                      <use
                        xlink:href="/assets/svg/cittadini.svg#scadenze"
                      ></use>
                    </svg>
                    <h5 class="card-title text-primary mt-2">
                      Scadenze
                    </h5>
                    <p class="px-lg-2">Carta d'identità<br>
                    Pass ZTL<br>
                    Domande di iscrizioni all'asilo<br>
                    …</p>
                  </div>
                </div>
            </div>
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center px-4">
                  <svg class="icon mt-4 mb-2">
                      <use
                        xlink:href="/assets/svg/cittadini.svg#pagamenti"
                      ></use>
                    </svg>
                    <h5 class="card-title text-primary mt-2">
                      Pagamenti
                    </h5>
                    <p class="px-lg-2">TARI<br>
                    Multe<br>
                    Servizi scolastici<br>
                    …</p>
                  </div>
                </div>
            </div>
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center px-4">
                  <svg class="icon mt-4 mb-2">
                      <use
                        xlink:href="/assets/svg/cittadini.svg#notifiche"
                      ></use>
                    </svg>
                    <h5 class="card-title text-primary mt-2">
                      Notifiche
                    </h5>
                    <p class="px-lg-2">Allerta dalla Protezione Civile<br>
                    Passaggio in zona ZTL<br>
                    Nuovi documenti disponibili<br>…
                    </p>
                  </div>
                </div>
            </div>
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center px-4">
                    <svg class="icon mt-4">
                      <use
                        xlink:href="/assets/svg/cittadini.svg#documenti"
                      ></use>
                    </svg>
                    <h5 class="card-title text-muted mt-2">
                      Documenti
                    </h5>
                    <p class="px-lg-2 text-muted">Certificati<br>Ricevute<br>Pratiche amministrative<br>
                    <span class="badge badge-light  font-weight-light small">In arrivo</span>
                    </p>
                  </div>
                </div>
            </div>
          </div>
         </div>
      </div><!--/row-->
      <div class="row py-2 py-md-5">
        <div class="col ">
        <div class="text-center mt-2 mt-md-4">
            <svg class="ico-commenti">
                <use xlink:href="/assets/svg/cittadini.svg#commenti" ></use>
            </svg>
        </div>
          <h2 class="text-primary text-center pb-2 mt-2 mt-md-4">
           Consiglia un servizio
          </h2>
          <p class="text-center">Hai in mente un servizio che ti sembra interessante da aggiungere su IO?<br> Proponilo nell’apposita sezione del forum. </p>
          <div class="py-2 mb-md-4 text-center">
          <a href="https://forum.italia.it/c/progetto-io" title="Vai al forum" class="btn btn-primary btn-sm text-uppercase" target="_blank">Vai al forum</a>
          </div>
        </div><!--/col-->
       </div><!--/row-->
    </div><!--/container-->
    </div><!--/section-->
    {%- include home/section-8.html -%}

    {% comment %}
    <div class="section section-muted section-download section--wpointers">
    <div class="container pb-5">
      <div class="row">
        <div class="col text-center mt-5 pt-5">
          <img
            class="img-fluid"
            src="/assets/img/icon-entra.svg"
            alt="Inizia ad utilizzare IO"
          />
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 px-3 px-md-0 text-center text-white"
        >
          <h2 class="pb-4">
            Inizia ad utilizzare IO
          </h2>
          <p class="px-md-5">
           Utilizzare IO è davvero semplice. Scarica l’app e fai l’accesso<br class="d-none d-md-inline"> tramite <strong>SPID</strong> o <strong>CIE</strong> per iniziare ad utilizzare tutte le<br class="d-none d-md-inline"> funzionalità e i servizi.
          </p>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col px-3 mt-4 text-center">
          <a
            href="#"
            target="_blank"
            class="btn btn-white text-primary text-uppercase col-12 col-md-5 col-lg-3"
            >Scarica l'App</a>
        </div>
      </div>
    </div>
  </div><!--/section-->
    {% endcomment %}


</div>
