<div class="cookiebar p-4 hide align-items-center" aria-hidden="true">
  <p class="text-white mb-3 mb-md-0">{{t.cookies_disclaimer}}&nbsp;
    {% include internal-link.html target='privacy-policy' class='font-weight-bold text-white' string='Privacy Policy' %}
  </p>
  <p class="d-flex m-0 align-items-center justify-content-start justify-content-md-end">
    <button class="btn btn-outline-white mr-1 cookiebar__close">{{t.cookies_disclaimer_close}}</button>
    <button data-accept="cookiebar" class="btn btn-white text-primary ml-1">{{t.cookies_disclaimer_accept}}</button>
  </p>
</div>
