<div class="section section--wpointers">
    <div class="container py-4 px-4 px-md-0 mt-md-4">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 py-0 py-lg-4">
            <h2 class="my-4 text-primary text-center">
                Il certificato COVID a portata di mano
            </h2>
                <p class="text-primary text-center px-md-5">
                    Questo certificato digitale (e cartaceo) ha l'obiettivo di favorire la circolazione sicura dei cittadini in Italia e in Europa e attesta che una persona è vaccinata, negativa al test o guarita dal COVID-19. 
                    Anche se hai già fatto la vaccinazione o un tampone in passato, installa comunque app IO per ricevere tutti i certificati ancora in corso di validità                    
                </p>
    
            </div>
        </div>
    </div>
</div>
<div class="section section-muted section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
        <img class="img-fluid screenshot" alt="Screenshot Certificato verde"
        srcset="
          {{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/schermata-app-certificato-verde-2x.png 2x,
          {{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/schermata-app-certificato-verde.png 1x
          "
          src="{{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/schermata-app-certificato-verde.png">
        </div>
        <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 my-md-5">
            <h3 class="h2 text-primary pb-4 pt-lg-4">
                Con IO non devi fare nulla! :)
            </h3>
          <p>Su IO <strong>riceverai un messaggio</strong> ogni volta che sarà disponibile un certificato intestato a te.<br>
            <strong>Non dovrai richiederlo, né inserire codici</strong> o altri dati: è 
            sufficiente aver fatto almeno una volta l’<strong>accesso all’app con SPID o CIE</strong>.<br>
            Non appena aprirai il messaggio, IO scaricherà dalla piattaforma nazionale il QR code e i dati del tuo certificato, che potrai mostrare <strong>direttamente dal tuo dispositivo</strong>.</p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
            <img  class="img-fluid screenshot "  
            srcset="
            {{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/schermata-app-certificato-verde-salvataggio-2x.png 2x,
            {{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/schermata-app-certificato-verde-salvataggio.png 1x
            "
            src="{{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/schermata-app-certificato-verde-salvataggio.png" alt="Screenshot Salva Certificato verde"> 

        </div>
        <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5 my-md-5">
            <h3 class="h2 text-primary pb-4 pt-lg-4">
                Salva il certificato sul tuo dispositivo
            </h3>
            <p>
                Puoi <strong>salvare il QR code</strong> del certificato nella <strong>galleria fotografica</strong> del tuo dispositivo, <strong>come una qualsiasi altra immagine</strong>, così da poterlo mostrare facilmente anche <strong>se non hai a disposizione una connessione ad Internet</strong>.<br>
                In futuro, sui dispositivi compatibili, sarà possibile anche salvare il certificato in Apple Wallet o in altri wallet personali.
              </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section section-muted section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
            <img  class="img-fluid screenshot "
            srcset="
            {{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/schermata-app-certificato-verde-dettagli-2x.png 2x,
            {{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/schermata-app-certificato-verde-dettagli.png 1x
            "
            src="{{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/schermata-app-certificato-verde-dettagli.png" 
            alt="Screenshot di dettaglio Certificato verde"> </div>
        <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 my-md-5">
            <h3 class="h2 text-primary pb-4 pt-lg-4">
                Tutti i dettagli a portata di mano
            </h3>
            <p>Clicca sul pulsante “dettagli” per leggere il contenuto del certificato e i relativi <strong>dati sanitari</strong>. 
                Le informazioni, le stesse contenute nel QR Code, vengono inviate ad IO in <strong>assoluta sicurezza</strong> direttamente dalla Piattaforma del Ministero della Salute e vengono <strong>verificate ogni volta</strong> che visualizzi il certificato.</p>
            
        
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section section--wpointers py-5 px-3 px-md-5 covid-pass-processo">
    <div class="container container--mid">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
        <h2 class="text-white text-center">Come funziona?
        </h2>
        <p class="text-white text-center px-md-5">
            Ecco una rappresentazione sintetica di come avviene il passaggio di informazioni tra i diversi sistemi coinvolti
        </p>
        </div>
    </div><!--/row-->
    <div class="row my-md-4">
        <div class="col-md-3">
            <div class="covid-pass-processo-item px-3">
                <div class="covid-pass-processo-item-number">01</div>
                <div class="d-flex d-md-block">
                    <div class="mr-3 mr-md-auto d-flex flex-column flex-md-row covid-pass-processo-item-img">
                        <img src="{{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/covid-pass-process-1.svg" alt="1 - Servizio Sanitario Nazionale">
                        <img class="d-none d-md-block align-self-center ml-md-auto" src="{{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/arrow.svg" alt="Segue...">
                    </div>
                    <div class="">
                        <div class="covid-pass-processo-item-title">Servizio Sanitario Nazionale</div>
                        <div class="covid-pass-processo-item-text">I <strong>dati relativi a guarigioni, tamponi o vaccini</strong> vengono passati dal SSN alla Piattaforma Nazionale di generazione dei Certificati.</div>
                    </div>
                </div>
            </div><!--/item-->
        </div><!--/col-md-3-->
        <div class="col-md-3">
            <div class="covid-pass-processo-item px-3">
                <div class="covid-pass-processo-item-number">02</div>
                <div class="d-flex d-md-block">
                    <div class="mr-3 mr-md-auto d-flex flex-column flex-md-row covid-pass-processo-item-img">
                        <img src="{{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/covid-pass-process-2.svg" alt="2 - Piattaforma Nazionale DGC">
                        <img class="d-none d-md-block align-self-center ml-md-auto" src="{{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/arrow.svg" alt="Segue...">
                    </div>
                    <div class="">
                        <div class="covid-pass-processo-item-title">Piattaforma Nazionale DGC</div>
                        <div class="covid-pass-processo-item-text">Quando vengono ricevuti dalla Piattaforma Nazionale dei Certificati Digitali COVID-19, questa <strong>genera un certificato</strong> associato al cittadino.</div>
                    </div>
                </div>
            </div><!--/item-->
        </div><!--/col-md-3-->
        <div class="col-md-3">
            <div class="covid-pass-processo-item px-3">
                <div class="covid-pass-processo-item-number">03</div>
                <div class="d-flex d-md-block">
                    <div class="mr-3 mr-md-auto d-flex flex-column flex-md-row covid-pass-processo-item-img">
                    <img src="{{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/covid-pass-process-3.svg" alt="3 - IO, l’app dei servizi pubblici">
                    <img class="d-none d-md-block align-self-center ml-md-auto" src="{{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/arrow.svg" alt="Segue...">
                </div>
                    <div class="">
                        <div class="covid-pass-processo-item-title">IO, l’app dei servizi pubblici</div>
                        <div class="covid-pass-processo-item-text">Se il cittadino è un utente dell’app, la Piattaforma Nazionale invia tramite IO <strong>un messaggio</strong> contenente il certificato. Info sugli  altri canali su <a href="https://www.dgc.gov.it" target="_blank" title="Sito del Ministero della Salute" class="text-white border-bottom-white">www.dgc.gov.it</a>. </div>
                    </div>
                </div>
            </div><!--/item-->
        </div><!--/col-md-3-->
        <div class="col-md-3">
            <div class="covid-pass-processo-item px-3">
                <div class="covid-pass-processo-item-number">04</div>
                <div class="d-flex d-md-block">
                    <div class="mr-3 mr-md-auto d-flex flex-column flex-md-row covid-pass-processo-item-img">
                    <img src="{{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/covid-pass-process-4.svg" alt="4 - Personale addetto alla verifica">
                    </div>
                    <div class="">
                        <div class="covid-pass-processo-item-title">Personale addetto alla verifica</div>
                        <div class="covid-pass-processo-item-text">Gli operatori preposti al controllo della validità dei Certificati inquadreranno il QR code attraverso un’app dedicata.</div>
                    </div>
                </div>
            </div><!--/item-->
        </div><!--/col-md-3-->
    </div>
    </div><!--/container-->
</div><!--/section-->
<div class="section section--wpointers py-4 ">
    <div class="container container--mid">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
            <h3 class="text-primary text-center px-3">Come scaricare la Certificazione da altri canali
            </h3>
            <p class="text-center px-md-5">
                Non hai ancora app IO? <a href="#" title="Scopri gli altri canali">Scopri gli altri canali</a>
            </p>
            </div>
        </div><!--/row-->
    </div>
</div>
<div class="section section--wpointers dubbi-domande">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 pl-3 pt-3 py-md-5 px-md-5 ">
            <h2 class="pb-4 pt-lg-4 text-white text-center mb-2">Dubbi o domande?
            </h2>
            
            <p class="text-center my-2 my-md-4">
                <a href="/certificato-verde-green-pass-covid/faq/" class="btn btn-sm btn-white text-uppercase text-primary" title="Leggi le FAQ">Leggi le FAQ</a>
            </p>
            <p class="text-center p-2 mx-3 mx-md-0 text-white">
                Vuoi capire meglio come funziona la Certificazione Verde COVID-19? <a class="text-white text-decoration-none border-bottom border-white" href="https://www.dgc.gov.it" target="_blank">Visita il sito dedicato www.dgc.gov.it</a>
            </p>
        </div>
       </div><!--/row-->
    </div><!--/container-->
</div><!--/section-->
<div class="section section--wpointers ">
    <div class="container container--mid">
        <div class="d-block d-md-flex text-center justify-content-between align-items-center py-2 py-md-4">
        <a class="d-block d-md-inlin my-3 my-md-auto  text-decoration-none" href="https://www.salute.gov.it/" title="Sito del Ministero della Salute" target="_blank" >
            <img width="193" height="46" src="{{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/logo-minsalute.png" alt="Ministero della Salute">
        </a>
        <a class="d-block d-md-inline my-3 my-md-auto  text-decoration-none " href="https://innovazione.gov.it/" title="Sito del Ministero per l'innovazione tecnologica e la transizione digitale" target="_blank">
            <img width="221" height="41" src="{{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/logo-mid.png" alt="Ministero per l'innovazione tecnologica e la transizione digitale">
        </a>
        <a class="d-block d-md-inline my-3 my-md-auto  text-decoration-none" href="https://www.mef.gov.it/index.html" title="Sito del Ministero dell'Economia e delle Finanze" target="_blank">
            <img width="166" height="57" src="{{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/logo-mef.png" alt="Ministero dell'Economia e delle Finanze">
        </a>
        <a class="d-block d-md-inline my-3 my-md-auto text-decoration-none " href="https://www.governo.it/" title="Sito della Presidenza del Consiglio dei Ministri" target="_blank">
            <img width="228" height="91" src="{{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/logo-presidenza.png" alt="Presidenza del Consiglio dei Ministri">
        </a>
        </div>
    </div>
</div>
