<div id="__nuxt">
  <!---->
  <div id="__layout">
    <div class="text-muted">
      <section class="mb-5" data-v-160a8978>
        <div class="bg-primary py-5" data-v-160a8978>
          <div class="container py-5">
            <div class="d-none d-md-block text-right text-white small">
              Ultimo aggiornamento:
              <!---->
            </div>
          </div>
          <header class="container mb-5 pb-5 mt-0 mt-md-3">
            <div class="row mb-5 pb-5">
              <div class="col-lg-7 order-2 order-md-1">
                <h1 class="mb-4 text-white">I numeri dell'app IO</h1>
                <p class="mb-0 text-white">
                  In questa pagina trovi le statistiche relative all'utilizzo dell'app
                  IO, aggiornate quotidianamente.
                </p>
              </div>
            </div>
          </header>
        </div>
        <div class="container top-overlay" data-v-160a8978>
          <div class="row" data-v-160a8978>
            <div class="col-lg-6" data-v-160a8978>
              <div class="card-wrapper card-space" data-v-160a8978>
                <div class="card card-bg no-after">
                  <div class="card-body"><img src="/assets/img/icon-dashboard-downloads.svg" alt="Downloads"
                      data-v-160a8978>
                    <h2 class="mt-2 mb-0 font-weight-semibold" data-v-160a8978><span data-v-160a8978>#</span></h2>
                    <div data-v-160a8978>
                      Download
                      <span tabindex="0" data-toggle="tooltip" data-placement="right"
                        data-original-title="Quante persone hanno scaricato l'app IO" data-v-160a8978><svg
                          class="icon icon-xs icon-muted" data-v-160a8978>
                          <use href="/assets/js/dashboard/app/img/sprite.55c17b0.svg#it-info-circle" data-v-160a8978>
                          </use>
                        </svg></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6" data-v-160a8978>
              <div class="card-wrapper card-space" data-v-160a8978>
                <div class="card card-bg no-after">
                  <div class="card-body">
                    <div class="row h-100" data-v-160a8978>
                      <div class="col-6" data-v-160a8978>
                        <h4 data-v-160a8978>Download</h4>
                        <div data-v-160a8978>Proporzione dispositivi Android/iOS</div>
                      </div>
                      <div class="col-6" data-v-160a8978>
                        <div id="download-os" class="w-100 h-100" data-v-160a8978></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-wrapper card-space" data-v-160a8978>
            <div class="card card-bg no-after">
              <div class="card-body">
                <h4 data-v-160a8978>Download</h4>
                <p data-v-160a8978>
                  Andamento
                  <select class="form-select" data-v-160a8978>
                    <option selected value="true" data-v-160a8978>cumulato</option>
                    <option data-v-160a8978>giornaliero</option>
                  </select>
                  dei download da quando IO è disponibile negli store
                </p>
                <div id="download" class="w-100" data-v-0ec2db4d data-v-160a8978></div>
              </div>
            </div>
          </div>
          <div class="row" data-v-160a8978>
            <div class="col-lg-6" data-v-160a8978>
              <div class="card-wrapper card-space" data-v-160a8978>
                <div class="card card-bg no-after">
                  <div class="card-body">
                    <div class="card-body position-absolute w-100" data-v-160a8978>
                      <div class="row no-gutters" data-v-160a8978>
                        <div class="col" data-v-160a8978>
                          <h4 class="text-truncate" data-v-160a8978>SPID e CIE</h4>
                          <p class="pr-3 small font-weight-light" data-v-160a8978>
                            Login all'app IO con i diversi sistemi di autenticazione
                          </p>
                        </div>
                        <div class="col chart-placeholder" data-v-160a8978></div>
                      </div>
                    </div>
                    <div id="login" class="w-100 text-right" data-v-160a8978></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6" data-v-160a8978>
              <div class="card-wrapper card-space" data-v-160a8978>
                <div class="card card-bg no-after">
                  <div class="card-body">
                    <div class="card-body position-absolute w-100" data-v-160a8978>
                      <div class="row no-gutters" data-v-160a8978>
                        <div class="col" data-v-160a8978>
                          <h4 class="text-truncate" data-v-160a8978>Identity Provider</h4>
                          <p class="pr-3 small font-weight-light" data-v-160a8978>
                            Percentuale di utilizzo dei diversi Identity Provider SPID
                          </p>
                        </div>
                        <div class="col chart-placeholder" data-v-160a8978></div>
                      </div>
                    </div>
                    <div id="idps" class="w-100 text-right" data-v-160a8978></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="dgc" class="lightgrey-bg-a3 py-5" data-v-7455bcb2>
        <div class="container" data-v-7455bcb2>
          <h2 class="primary-color mb-2 mb-md-4" data-v-7455bcb2>
            I numeri della Certificazione Verde COVID-19 (Green Pass)
          </h2>
          <div class="mb-3" data-v-7455bcb2>Dal 17 Giugno 2021 ad oggi</div>
          <div class="row" data-v-7455bcb2>
            <div class="col-lg-6" data-v-7455bcb2>
              <div class="card-wrapper card-space" data-v-7455bcb2>
                <div class="card card-bg no-after bg-primary text-white">
                  <div class="card-body"><img src="/assets/js/dashboard/app/img/dgc-acquired.f54a1b8.svg"
                      alt="Certificati inviati agli utenti IO" class="icon icon-lg" data-v-7455bcb2>
                    <h2 class="mt-2 mb-0 font-weight-semibold" data-v-7455bcb2><span data-v-7455bcb2>#</span></h2>
                    <div data-v-7455bcb2>Certificati inviati agli utenti IO</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6" data-v-7455bcb2>
              <div class="card-wrapper card-space" data-v-7455bcb2>
                <div class="card card-bg no-after">
                  <div class="card-body"><img src="/assets/js/dashboard/app/img/dgc-viewed.19e3893.svg"
                      alt="Visualizzazioni certificati in app" class="icon icon-lg" data-v-7455bcb2>
                    <h2 class="mt-2 mb-0 font-weight-semibold" data-v-7455bcb2><span data-v-7455bcb2>#</span></h2>
                    <div data-v-7455bcb2>Visualizzazioni in app</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-wrapper card-space" data-v-7455bcb2>
            <div class="card card-bg no-after">
              <div class="card-body">
                <h4 data-v-7455bcb2>Certificati inviati agli utenti IO</h4>
                <p data-v-7455bcb2>
                  Andamento
                  <select class="form-select" data-v-7455bcb2>
                    <option selected value="true" data-v-7455bcb2>cumulato</option>
                    <option data-v-7455bcb2>giornaliero</option>
                  </select>
                  degli invii del green pass tramite messaggio in app
                </p>
                <div class="chart-wrapper" data-v-7455bcb2>
                  <div class="w-100 h-100" data-v-7455bcb2></div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-wrapper card-space" data-v-7455bcb2>
            <div class="card card-bg no-after">
              <div class="card-body">
                <h4 data-v-7455bcb2>Visualizzazione dei certificati in app</h4>
                <p data-v-7455bcb2>
                  Andamento
                  <select class="form-select" data-v-7455bcb2>
                    <option value="true" data-v-7455bcb2>cumulato</option>
                    <option data-v-7455bcb2>giornaliero</option>
                  </select>
                  delle visualizzazioni dei certificati in app
                </p>
                <div class="chart-wrapper" data-v-7455bcb2>
                  <div class="w-100 h-100" data-v-7455bcb2></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="bonusvacanze" class="neutral-2-bg-b1 py-5" data-v-37b89669>
        <div class="container" data-v-37b89669>
          <h2 class="primary-color mb-2 mb-md-4" data-v-37b89669>I numeri del Bonus Vacanze</h2>
          <div class="row" data-v-37b89669>
            <div class="col-lg-4" data-v-37b89669>
              <div class="card-wrapper card-space" data-v-37b89669>
                <div class="card card-bg no-after bg-primary text-white">
                  <div class="card-body"><img src="/assets/img/bonus-vacanze/logo-bonus-vacanze.svg"
                      alt="Bonus Vacanze generati" class="img-fluid my-3 my-md-0" data-v-37b89669>
                    <h2 class="mt-2 mb-0 font-weight-semibold" data-v-37b89669><span data-v-37b89669>#</span></h2>
                    <div data-v-37b89669>
                      Bonus Vacanze generati
                      <span tabindex="0" data-toggle="tooltip" data-placement="right"
                        data-original-title="Numero di codici sconto generati attraverso l'app IO" data-v-37b89669><svg
                          class="icon icon-xs icon-white" data-v-37b89669>
                          <use href="/assets/js/dashboard/app/img/sprite.55c17b0.svg#it-info-circle" data-v-37b89669>
                          </use>
                        </svg></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4" data-v-37b89669>
              <div class="card-wrapper card-space" data-v-37b89669>
                <div class="card card-bg no-after">
                  <div class="card-body"><img src="/assets/img/icon-money--gray.svg" alt="Bonus Vacanze generati"
                      class="img-fluid my-3 my-md-0" data-v-37b89669>
                    <h2 class="mt-2 mb-0 font-weight-semibold" data-v-37b89669><span data-v-37b89669>#</span></h2>
                    <div data-v-37b89669>
                      Controvalore economico
                      <span tabindex="0" data-toggle="tooltip" data-placement="right"
                        data-original-title="Importo massimo spendibile" data-v-37b89669><svg
                          class="icon icon-xs icon-muted" data-v-37b89669>
                          <use href="/assets/js/dashboard/app/img/sprite.55c17b0.svg#it-info-circle" data-v-37b89669>
                          </use>
                        </svg></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4" data-v-37b89669>
              <div class="card-wrapper card-space" data-v-37b89669>
                <div class="card card-bg no-after bg-primary text-white">
                  <div class="card-body"><img src="/assets/img/icon-bonusutilizzati.svg" alt="Bonus Vacanze utilizzati"
                      class="img-fluid my-3 my-md-0" data-v-37b89669>
                    <h2 class="mt-2 mb-0 font-weight-semibold" data-v-37b89669><span data-v-37b89669>#</span></h2>
                    <div data-v-37b89669>
                      Bonus Vacanze utilizzati
                      <span tabindex="0" data-toggle="tooltip" data-placement="right"
                        data-original-title="Numero di Bonus Vacanze già spesi presso le strutture ricettive"
                        data-v-37b89669><svg class="icon icon-xs icon-white" data-v-37b89669>
                          <use href="/assets/js/dashboard/app/img/sprite.55c17b0.svg#it-info-circle" data-v-37b89669>
                          </use>
                        </svg></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="cashback" class="my-5 pt-5" data-v-a1dc3d9a>
        <div class="container" data-v-a1dc3d9a>
          <section data-v-a93caaac data-v-a1dc3d9a>
            <div class="row no-gutters" data-v-a93caaac>
              <div class="col" data-v-a93caaac>
                <h2 class="primary-color mb-2 mb-md-4" data-v-a93caaac>I numeri del Cashback</h2>
                <div class="mb-3" data-v-a93caaac>Dall'inizio del programma ad oggi</div>
              </div>
              <div data-v-a93caaac><img src="/assets/img/cashback/logo-cashback-hp.svg" alt="Logo Cashback"
                  class="heading-logo img-fluid" data-v-a93caaac></div>
            </div>
            <div class="row" data-v-a93caaac>
              <div class="col-lg-4" data-v-a93caaac>
                <div class="card-wrapper card-space" data-v-a93caaac>
                  <div class="card card-bg no-after bg-primary text-white">
                    <div class="card-body"><img src="/assets/img/icon-people.svg" alt="Nuovi Bonus Cashback attivati"
                        class="mt-3 mt-md-0" data-v-a93caaac>
                      <h2 class="mt-2 mb-0 font-weight-semibold" data-v-a93caaac><span data-v-a93caaac>#</span></h2>
                      <div data-v-a93caaac>Cittadini aderenti al cashback</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" data-v-a93caaac>
                <div class="card-wrapper card-space" data-v-a93caaac>
                  <div class="card card-bg no-after">
                    <div class="card-body"><img src="/assets/img/icon-transaction.svg" alt="Bonus cashback attivati"
                        class="mt-3 mt-md-0" data-v-a93caaac>
                      <h2 class="mt-2 mb-0 font-weight-semibold" data-v-a93caaac><span data-v-a93caaac>#</span></h2>
                      <div data-v-a93caaac>Totale transazioni elaborate</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" data-v-a93caaac>
                <div class="card-wrapper card-space" data-v-a93caaac>
                  <div class="card card-bg no-after">
                    <div class="card-body"><img src="/assets/img/icon-cards.svg" alt="Bonus Vacanze generati"
                        class="mt-3 mt-md-0" data-v-a93caaac>
                      <h2 class="mt-2 mb-0 font-weight-semibold" data-v-a93caaac><span data-v-a93caaac>#</span></h2>
                      <div data-v-a93caaac>Strumenti di pagamento attivati</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="affix-top pt-3 bg-white" data-v-a1dc3d9a>
          <nav class="container" data-v-35a3d89f data-v-a1dc3d9a>
            <ul class="nav nav-tabs mb-3" data-v-35a3d89f>
              <li class="nav-item" data-v-35a3d89f><a role="tab" href="javascript:void(0)" class="nav-link"
                  data-v-35a3d89f>Extra Cashback di Natale</a></li>
              <li class="nav-item" data-v-35a3d89f><a role="tab" href="javascript:void(0)" class="nav-link active"
                  data-v-35a3d89f>1° Semestre 2021</a></li>
            </ul>
          </nav>
        </div>
        <div class="container" data-v-a1dc3d9a>
          <div class="row" data-v-a1dc3d9a>
            <div class="col-lg-6" data-v-a1dc3d9a>
              <div class="card-wrapper card-space" data-v-a1dc3d9a>
                <div class="card card-bg no-after">
                  <div class="card-body">
                    <div class="d-flex h-100 flex-column justify-content-end align-items-start" data-v-a1dc3d9a><img
                        src="/assets/img/icon-transaction.svg" alt="Bonus Vacanze generati" class="mt-md-0"
                        data-v-a1dc3d9a>
                      <h2 class="mt-2 mb-0 font-weight-semibold" data-v-a1dc3d9a><span data-v-a1dc3d9a>#</span></h2>
                      <div data-v-a1dc3d9a>Numero di transazioni elaborate</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6" data-v-a1dc3d9a>
              <div class="card-wrapper card-space" data-v-a1dc3d9a>
                <div class="card card-bg no-after bg-primary text-white">
                  <div class="card-body">
                    <div class="row h-100 align-items-end" data-v-a1dc3d9a>
                      <div class="col-7" data-v-a1dc3d9a><img src="/assets/img/icon-bonusutilizzati.svg" width="55"
                          alt="Bonus cashback attivati" class="img-fluid my-3 my-md-0" data-v-a1dc3d9a>
                        <h2 class="mt-2 mb-0 font-weight-semibold" data-v-a1dc3d9a><span data-v-a1dc3d9a>#</span></h2>
                        <div data-v-a1dc3d9a>
                          Utenti con transazioni valide
                          <span tabindex="0" data-toggle="tooltip" data-placement="right"
                            data-original-title="Totale dei partecipanti che ha effettuato almeno una transazione durante il periodo"
                            data-v-a1dc3d9a><svg class="icon icon-xs icon-white" data-v-a1dc3d9a>
                              <use href="/assets/js/dashboard/app/img/sprite.55c17b0.svg#it-info-circle"
                                data-v-a1dc3d9a></use>
                            </svg></span>
                        </div>
                      </div>
                      <div class="col-5 h-100" data-v-a1dc3d9a>
                        <div id="user-trx-threshold" class="w-100 h-100" data-v-a1dc3d9a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-wrapper card-space" data-v-a1dc3d9a>
            <div class="card card-bg no-after">
              <div class="card-body">
                <h4 data-v-a1dc3d9a>Utenti aderenti e strumenti registrati</h4>
                <p data-v-a1dc3d9a>
                  Andamento giornaliero degli utenti che hanno aderito al cashback e
                  degli strumenti registrati
                </p>
                <div id="onboard" class="w-100" data-v-43a3acdc data-v-a1dc3d9a></div>
              </div>
            </div>
          </div>
          <div class="card-wrapper card-space" data-v-a1dc3d9a>
            <div class="card card-bg no-after">
              <div class="card-body">
                <h4 data-v-a1dc3d9a>
                  Transazioni al giorno
                  <span tabindex="0" data-toggle="tooltip" data-placement="right"
                    data-original-title="La rendicontazione dei flussi può richiedere alcuni giorni lavorativi"
                    data-v-a1dc3d9a><svg class="icon icon-xs icon-muted" data-v-a1dc3d9a>
                      <use href="/assets/js/dashboard/app/img/sprite.55c17b0.svg#it-info-circle" data-v-a1dc3d9a></use>
                    </svg></span>
                </h4>
                <p data-v-a1dc3d9a>Andamento delle transazioni gestite per il cashback</p>
                <div id="trx-series" class="w-100" data-v-6d041b80 data-v-a1dc3d9a></div>
              </div>
            </div>
          </div>
          <div class="card-wrapper card-space" data-v-a1dc3d9a>
            <div class="card card-bg no-after">
              <div class="card-body">
                <h4 data-v-a1dc3d9a>Transazioni per importo</h4>
                <p data-v-a1dc3d9a>Distribuzione delle transazioni per importo delle stesse</p>
                <div id="trx-amount" class="w-100" data-v-376f2ac8 data-v-a1dc3d9a></div>
              </div>
            </div>
          </div>
          <div class="card-wrapper card-space" data-v-a1dc3d9a>
            <div class="card card-bg no-after">
              <div class="card-body">
                <h4 data-v-a1dc3d9a>Utenti per numero di transazioni</h4>
                <p data-v-a1dc3d9a>Distribuzione degli utenti per numero di transazioni</p>
                <div id="user-trx" class="w-100" data-v-080368a7 data-v-a1dc3d9a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<script defer src="/assets/js/dashboard/app/static/timestamp/dashboard/state.js"></script>
