<div id="__next">
  <div class="text-muted">
    <section class="mb-5">
      <div class="bg-primary py-5">
        <div class="container py-5">
          <div class="d-none d-md-block text-right text-white small">
            Ultimo aggiornamento: <span>#</span>
          </div>
        </div>
        <header class="container mb-5 pb-5 mt-0 mt-md-3">
          <div class="row mb-5 pb-5">
            <div class="col-lg-7 order-2 order-md-1">
              <h1 class="mb-4 text-white">I numeri dell&#x27;app IO</h1>
              <p class="mb-0 text-white">
                In questa pagina trovi alcuni dati sulla diffusione e
                sull&#x27;utilizzo dell&#x27;app.
              </p>
            </div>
          </div>
        </header>
      </div>
      <div class="container IOSection_topOverlay__EJJOt">
        <div class="row">
          <div class="col-lg-6">
            <div class="card-wrapper card-space">
              <div class="card card-bg no-after undefined">
                <div class="card-body">
                  <img
                    alt="Downloads"
                    loading="lazy"
                    width="50"
                    height="50"
                    decoding="async"
                    data-nimg="1"
                    style="color: transparent"
                    src="https://io.italia.it/assets/img/icon-dashboard-downloads.svg"
                  />
                  <h2 class="mt-2 mb-0 font-weight-semibold">
                    <span>#</span>
                  </h2>
                  <div>I download dell&#x27;app</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card-wrapper card-space">
              <div class="card card-bg no-after undefined">
                <div class="card-body">
                  <div class="row h-100">
                    <div class="col-6">
                      <h4>iOS o Android?</h4>
                      <div>Il sistema operativo usato dagli utenti</div>
                    </div>
                    <div class="col-6">
                      <div class="w-100 h-100" id="download-os"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-wrapper card-space">
          <div class="card card-bg no-after undefined">
            <div class="card-body">
              <h4>Andamento dei download</h4>
              <div class="mb-3">
                Andamento
                <div style="display: inline-block" class="mx-2">
                  <select class="border border-dark font-weight-semibold">
                    <option value="1">cumulato</option>
                    <option value="2">giornaliero</option>
                  </select>
                </div>
                dei download
                <div style="display: inline-block" class="mx-2">
                  <select class="border border-dark font-weight-semibold">
                    <option value="1">complessivi</option>
                    <option value="2">2024</option>
                    <option value="3">2023</option>
                    <option value="4">2022</option>
                  </select>
                </div>
                da quando IO è disponibile negli store
              </div>
              <div style="height: 22rem">
                <div class="w-100 h-100" id="download"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="card-wrapper card-space">
              <div class="card card-bg no-after undefined">
                <div class="card-body">
                  <div
                    class="card-body position-absolute w-100"
                    style="top: 0; left: 0"
                  >
                    <div class="row no-gutters">
                      <div class="col">
                        <h4 class="text-truncate">SPID o CIE?</h4>
                        <p class="pr-3 small font-weight-light">
                          La modalità scelta dagli utenti per accedere
                        </p>
                      </div>
                      <div class="col IOSection_chartPlaceholder__2WqNx"></div>
                    </div>
                  </div>
                  <div class="w-100 text-right" id="login"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card-wrapper card-space">
              <div class="card card-bg no-after undefined">
                <div class="card-body">
                  <div
                    style="top: 0; left: 0"
                    class="card-body position-absolute w-100"
                  >
                    <div class="row no-gutters">
                      <div class="col">
                        <h4 class="text-truncate">Gestori di SPID</h4>
                        <p class="pr-3 small font-weight-light">
                          L&#x27;Identity Provider degli utenti che accedono con
                          questa modalità
                        </p>
                      </div>
                      <div class="col IOSection_chartPlaceholder__2WqNx"></div>
                    </div>
                  </div>
                  <div class="w-100 text-right" id="download-os"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="lightgrey-bg-a3 py-5">
      <div class="container">
        <h3 class="mb-2 mb-md-4">Enti e servizi</h3>
        <div class="row">
          <div class="col-lg-6">
            <div class="card-wrapper card-space">
              <div class="card card-bg no-after bg-primary text-white">
                <div class="card-body">
                  <img
                    alt="Enti"
                    loading="lazy"
                    width="50"
                    height="50"
                    decoding="async"
                    data-nimg="1"
                    style="color: transparent"
                    src="https://io.italia.it/assets/img/municipality.svg"
                  />
                  <h2 class="mt-2 mb-0 font-weight-semibold">
                    <span>#</span>
                  </h2>
                  <div>Enti attivi</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card-wrapper card-space">
              <div class="card card-bg no-after bg-primary text-white">
                <div class="card-body">
                  <img
                    alt="Servizi"
                    loading="lazy"
                    width="50"
                    height="50"
                    decoding="async"
                    data-nimg="1"
                    style="color: transparent"
                    src="https://io.italia.it/assets/img/services.svg"
                  />
                  <h2 class="mt-2 mb-0 font-weight-semibold">
                    <span>#</span>
                  </h2>
                  <div>Servizi disponibili</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container my-5">
        <h3 class="mb-2 mb-md-4">Messaggi e metodi di pagamento</h3>
        <div class="row">
          <div class="col-lg-6">
            <div class="card-wrapper card-space">
              <div class="card card-bg no-after undefined">
                <div class="card-body">
                  <img
                    alt="Messaggi"
                    loading="lazy"
                    width="50"
                    height="50"
                    decoding="async"
                    data-nimg="1"
                    class="MessagesSection_messagesIcon__IMVaj"
                    style="color: transparent"
                    src="https://io.italia.it/assets/img/icon-messages.svg"
                  />
                  <h2 class="mt-2 mb-0 font-weight-semibold">
                    <span>#</span>
                  </h2>
                  <div>Messaggi inviati dagli enti</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card-wrapper card-space">
              <div class="card card-bg no-after undefined">
                <div class="card-body">
                  <img
                    alt="Strumenti di pagamento"
                    loading="lazy"
                    width="50"
                    height="50"
                    decoding="async"
                    data-nimg="1"
                    class="mt-3 mt-md-0"
                    style="color: transparent"
                    src="https://io.italia.it/assets/img/icon-cards.svg"
                  />
                  <h2 class="mt-2 mb-0 font-weight-semibold">
                    <span>#</span>
                  </h2>
                  <div>Metodi di pagamento aggiunti dagli utenti</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-wrapper card-space">
          <div class="card card-bg no-after undefined">
            <div class="card-body">
              <h4>Andamento dei messaggi inviati</h4>
              <div class="mb-3">
                Andamento
                <div style="display: inline-block" class="mx-2">
                  <select class="border border-dark font-weight-semibold">
                    <option value="1">cumulato</option>
                    <option value="2">mensile</option>
                  </select>
                </div>
                dei messaggi inviati da quando IO è disponibile negli store
              </div>
              <div class="MessagesSection_chartWrapper__3PKMS">
                <div class="w-100 h-100" id="chart-content"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<script id="__NEXT_DATA__" type="application/json" crossorigin="">
  {
    "props": { "pageProps": {} },
    "page": "/",
    "query": {},
    "buildId": "fixed-build-id",
    "assetPrefix": "/assets/js/dashboard",
    "nextExport": true,
    "autoExport": true,
    "isFallback": false,
    "scriptLoader": []
  }
</script>
<script
  src="/assets/js/dashboard/_next/static/chunks/pages/index.js"
  defer=""
  crossorigin=""
></script>
