<div id="__nuxt">
  <!---->
  <div id="__layout">
    <div class="text-muted">
      <section class="mb-5" data-v-33068e0e>
        <div class="bg-primary py-5" data-v-33068e0e>
          <div class="container py-5">
            <div class="d-none d-md-block text-right text-white small">
              Ultimo aggiornamento:
              <!---->
            </div>
          </div>
          <header class="container mb-5 pb-5 mt-0 mt-md-3">
            <div class="row mb-5 pb-5">
              <div class="col-lg-7 order-2 order-md-1">
                <h1 class="mb-4 text-white">I numeri dell'app IO</h1>
                <p class="mb-0 text-white">
                  In questa pagina trovi alcuni dati sulla diffusione e sull'utilizzo dell'app.
                </p>
              </div>
            </div>
          </header>
        </div>
        <div class="container top-overlay" data-v-33068e0e>
          <div class="row" data-v-33068e0e>
            <div class="col-lg-6" data-v-33068e0e>
              <div class="card-wrapper card-space" data-v-33068e0e>
                <div class="card card-bg no-after">
                  <div class="card-body"><img src="/assets/img/icon-dashboard-downloads.svg" alt="Downloads"
                      data-v-33068e0e>
                    <h2 class="mt-2 mb-0 font-weight-semibold" data-v-33068e0e><span data-v-33068e0e>#</span></h2>
                    <div data-v-33068e0e>
                      I download dell'app
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6" data-v-33068e0e>
              <div class="card-wrapper card-space" data-v-33068e0e>
                <div class="card card-bg no-after">
                  <div class="card-body">
                    <div class="row h-100" data-v-33068e0e>
                      <div class="col-6" data-v-33068e0e>
                        <h4 data-v-33068e0e>iOS o Android?</h4>
                        <div data-v-33068e0e>Il sistema operativo usato dagli utenti</div>
                      </div>
                      <div class="col-6" data-v-33068e0e>
                        <div id="download-os" class="w-100 h-100" data-v-33068e0e></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-wrapper card-space" data-v-33068e0e>
            <div class="card card-bg no-after">
              <div class="card-body">
                <h4 data-v-33068e0e>Andamento dei download</h4>
                <p data-v-33068e0e>
                  Andamento
                  <select class="form-select" data-v-33068e0e>
                    <option selected value="true" data-v-33068e0e>cumulato</option>
                    <option data-v-33068e0e>giornaliero</option>
                  </select>
                  dei download da quando IO è disponibile negli store
                </p>
                <div id="download" class="w-100" data-v-0ec2db4d data-v-33068e0e></div>
              </div>
            </div>
          </div>
          <div class="row" data-v-33068e0e>
            <div class="col-lg-6" data-v-33068e0e>
              <div class="card-wrapper card-space" data-v-33068e0e>
                <div class="card card-bg no-after">
                  <div class="card-body">
                    <div class="card-body position-absolute w-100" data-v-33068e0e>
                      <div class="row no-gutters" data-v-33068e0e>
                        <div class="col" data-v-33068e0e>
                          <h4 class="text-truncate" data-v-33068e0e>SPID o CIE?</h4>
                          <p class="pr-3 small font-weight-light" data-v-33068e0e>
                            La modalità scelta dagli utenti per accedere
                          </p>
                        </div>
                        <div class="col chart-placeholder" data-v-33068e0e></div>
                      </div>
                    </div>
                    <div id="login" class="w-100 text-right" data-v-33068e0e></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6" data-v-33068e0e>
              <div class="card-wrapper card-space" data-v-33068e0e>
                <div class="card card-bg no-after">
                  <div class="card-body">
                    <div class="card-body position-absolute w-100" data-v-33068e0e>
                      <div class="row no-gutters" data-v-33068e0e>
                        <div class="col" data-v-33068e0e>
                          <h4 class="text-truncate" data-v-33068e0e>Gestori di SPID</h4>
                          <p class="pr-3 small font-weight-light" data-v-33068e0e>
                            L'Identity Provider degli utenti che accedono con questa modalità
                          </p>
                        </div>
                        <div class="col chart-placeholder" data-v-33068e0e></div>
                      </div>
                    </div>
                    <div id="idps" class="w-100 text-right" data-v-33068e0e></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="lightgrey-bg-a3 py-5">
        <div class="container">
          <h3 class="mb-2 mb-md-4">Enti e servizi</h3>
          <div class="row">
            <div class="col-lg-6">
              <div class="card-wrapper card-space">
                <div class="card card-bg no-after bg-primary text-white">
                  <div class="card-body"><img src="/assets/img/municipality.svg" alt="Enti">
                    <h2 class="mt-2 mb-0 font-weight-semibold"><span>#</span></h2>
                    <div>Enti attivi</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card-wrapper card-space">
                <div class="card card-bg no-after bg-primary text-white">
                  <div class="card-body"><img src="/assets/img/services.svg" alt="Servizi">
                    <h2 class="mt-2 mb-0 font-weight-semibold"><span>#</span></h2>
                    <div>Servizi disponibili</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="my-5" data-v-574c6f90>
        <div class="container" data-v-574c6f90>
          <h3 class="mb-2 mb-md-4" data-v-574c6f90>Messaggi e metodi di pagamento</h3>
          <div class="row" data-v-574c6f90>
            <div class="col-lg-6" data-v-574c6f90>
              <div class="card-wrapper card-space" data-v-574c6f90>
                <div class="card card-bg no-after">
                  <div class="card-body"><img src="/assets/img/icon-messages.svg" alt="Messaggi" class="messages-icon"
                      data-v-574c6f90>
                    <h2 class="mt-2 mb-0 font-weight-semibold" data-v-574c6f90><span data-v-574c6f90>#</span></h2>
                    <div data-v-574c6f90>
                      Messaggi inviati dagli enti
                      <span tabindex="0" data-toggle="tooltip" data-placement="right"
                        data-original-title="Quante volte è stata installata l'app IO" data-v-574c6f90><svg
                          class="icon icon-xs icon-muted" data-v-574c6f90>
                          <use href="/assets/img/icon-messages.svg" data-v-574c6f90></use>
                        </svg></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6" data-v-574c6f90>
              <div class="card-wrapper card-space" data-v-574c6f90>
                <div class="card card-bg no-after">
                  <div class="card-body"><img src="/assets/img/icon-cards.svg" alt="Strumenti di pagamento"
                      class="mt-3 mt-md-0" data-v-574c6f90>
                    <h2 class="mt-2 mb-0 font-weight-semibold" data-v-574c6f90><span data-v-574c6f90>#</span></h2>
                    <div data-v-574c6f90>Metodi di pagamento aggiunti dagli utenti</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-wrapper card-space" data-v-574c6f90>
            <div class="card card-bg no-after">
              <div class="card-body">
                <h4 data-v-574c6f90>Andamento dei messaggi inviati</h4>
                <p data-v-574c6f90>
                  Andamento
                  <select class="form-select" data-v-574c6f90>
                    <option value="true" data-v-574c6f90>cumulato</option>
                    <option data-v-574c6f90>mensile</option>
                  </select>
                  dei messaggi inviati da quando IO è disponibile negli store
                </p>
                <div class="chart-wrapper" data-v-574c6f90>
                  <div class="w-100 h-100" data-v-574c6f90></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<script defer src="/assets/js/dashboard/app/static/timestamp/dashboard/state.js"></script>
