<div class="section section--wpointers">
  <div class="container py-4 px-4 px-md-0 mt-md-4">
      <div class="row">
          <div class="offset-lg-2 col-lg-8 py-0 py-lg-4">
          <h2 class="my-4 text-primary text-center">
            Sempre con te nel Portafoglio dell’app
          </h2>
            <p class="text-primary text-center px-md-5">
              Aggiungi i tuoi documenti personali all'app IO: Patente, Tessera sanitaria, Carta Europea della Disabilità e presto altri sempre a portata di mano, dove e quando vuoi.                    
            </p>
          </div>
      </div>
  </div>
</div>
<div class="section section-muted section--wpointers">
  <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
    <div class="row">
      <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
      <img class="img-fluid screenshot" alt="Cosa aggiungere ai documenti" 
      src="{{site.imagesurl}}/assets/img/documenti-su-io/cosa_aggiungere.png"
      srcset="{{site.imagesurl}}/assets/img/documenti-su-io/cosa_aggiungere-2x.png 2x" />
      </div>
      <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 my-md-5 d-flex flex-column justify-content-center">
          <h3 class="h2 text-primary pb-4 pt-lg-4">
            I tuoi documenti in versione digitale, su IO
          </h3>
        <p>
          Scopri com’è facile aggiungere i tuoi documenti personali sull’app: in pochi passaggi ottieni le versioni digitali e le conservi in sicurezza sul tuo dispositivo.
        </p>
      </div>
     </div><!--/row-->
  </div><!--/container-->
</div><!--/section-->
<div class="section section--wpointers">
  <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
    <div class="row">
      <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img  class="img-fluid screenshot " alt="Al sicuro con SPID o CIE" 
          src="{{site.imagesurl}}/assets/img/documenti-su-io/al_sicuro.png"
          srcset="{{site.imagesurl}}/assets/img/documenti-su-io/al_sicuro-2x.png 2x" /> 

      </div>
      <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5 my-md-5 d-flex flex-column justify-content-center">
          <h3 class="h2 text-primary pb-4 pt-lg-4">
            Al sicuro con SPID o CIE
          </h3>
          <p>
            Attiva Documenti su IO in modo facile, veloce e sicuro grazie a SPID o CIE. In questo modo la tua identità è verificata e i tuoi documenti sempre al sicuro.     
          </p>
      </div>
     </div><!--/row-->
  </div><!--/container-->
</div><!--/section-->
<div class="section section-muted section--wpointers">
  <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
    <div class="row">
      <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img  class="img-fluid screenshot "
          alt="Al posto dei documenti fisici, presto anche onlinee"
          src="{{site.imagesurl}}/assets/img/documenti-su-io/al_posto_documenti_fisici.png"
          srcset="{{site.imagesurl}}/assets/img/documenti-su-io/al_posto_documenti_fisici-2x.png 2x" />
      </div>
      <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 my-md-5 d-flex flex-column justify-content-center">
          <h3 class="h2 text-primary pb-4 pt-lg-4">
            Al posto dei documenti fisici, presto anche online
          </h3>
          <p>
            I tuoi Documenti su IO hanno lo stesso valore legale dei documenti fisici che già possiedi: scopri come usarli facilmente in contesti di verifica reali, oppure presto anche online. 
          </p>
      </div>
     </div><!--/row-->
  </div><!--/container-->
</div><!--/section-->
<div class="section section--wpointers dubbi-domande">
  <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 pl-3 pt-3 py-md-5 px-md-5 ">
          <h2 class="pb-4 pt-lg-4 text-white text-center mb-2">
            Dubbi o domande?
          </h2>
          
          <p class="text-center my-2 my-md-4">
              <a href="/documenti-su-io/faq/" target="_blank" class="btn btn-sm btn-white text-uppercase text-primary" title="Leggi le FAQ">Leggi le FAQ</a>
          </p>
      </div>
     </div><!--/row-->
  </div><!--/container-->
</div><!--/section-->
