

<div class="section section-muted section--wpointers">
    <img src="{{site.imagesurl}}/assets/img/icon-appstore.svg" class="d-none">
    <img src="{{site.imagesurl}}/assets/img/icon-playstore.svg" class="d-none">
      <div class="container py-4 px-4 px-md-0">
          <div class="row">
              <div class="offset-lg-3 col-lg-6 py-0 py-lg-4">
              <h2 class="my-4 text-primary text-center">
                Perché questa iniziativa?
              </h2>
                  <p class="text-primary text-center">
                    Il conflitto in Ucraina riguarda tutti noi.<br />
                    Per questo, abbiamo deciso di offrire su IO la possibilità di raccogliere fondi a commissioni zero a favore delle organizzazioni umanitarie che assistono le vittime civili.
                  </p>
              </div>
          </div><!--/row-->
      </div><!--/container-->
  </div>
  <div class="section  section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row align-items-md-center">
          <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img alt="Schermata con il box azzurro per le donazioni" class="img-fluid rounded screenshot"
            srcset="
            {{site.imagesurl}}/assets/img/donazioni-ucraina/box-donation-home-2x.png 2x,
            {{site.imagesurl}}/assets/img/donazioni-ucraina/box-donation-home.png 1x
            "
            src="{{site.imagesurl}}/assets/img/donazioni-ucraina/box-donation-home.png"
            >
          </div>
          <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4">
              <span class="d-block font-weight-normal">01</span>Apri IO e premi sul box azzurro
              </h3>
            <p>
              Apri l’app IO ed entra con SPID o CIE. Poi, premi sul banner azzurro che trovi nella parte alta della schermata. Se non lo vedi, vai allo store del tuo dispositivo e verifica di avere scaricato l’ultima versione dell’app. 
            </p>
          
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section section-muted section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row align-items-md-center">
          <div class="offset-md-1 col-md-4 order-2 order-md-1 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
  
            <img alt="Schermata con la scelta dell'organizzazione umanitaria e degli importi a disposizione per la donazione" class="img-fluid rounded screenshot"
            srcset="
            {{site.imagesurl}}/assets/img/donazioni-ucraina/mockup-donation-2x.png 2x,
            {{site.imagesurl}}/assets/img/donazioni-ucraina/mockup-donation.png 1x
            "
            src="{{site.imagesurl}}/assets/img/donazioni-ucraina/mockup-donation.png"
            >
          </div>
          <div class="col-md-6 order-1 order-md-2 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4">
              <span class="d-block font-weight-normal">02</span>Scegli a chi donare
              </h3>
            <p>
              Scegli un’organizzazione umanitaria tra quelle che aderiscono all’iniziativa. Poi, seleziona l’importo che vuoi donare e premi “Continua”.
            </p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section  section--wpointers">
      <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
        <div class="row align-items-md-center">
          <div class="col-md-4 order-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
  
            <img alt="Schermata di riepilogo della donazione con importo, metodo di pagamento e costo della transazione (nullo)" class="img-fluid rounded screenshot "
            srcset="
            {{site.imagesurl}}/assets/img/donazioni-ucraina/donation-checkout-2x.png 2x,
            {{site.imagesurl}}/assets/img/donazioni-ucraina/donation-checkout.png 1x
            "
            src="{{site.imagesurl}}/assets/img/donazioni-ucraina/donation-checkout.png"
            >
          </div>
          <div class="col-md-6 offset-md-1 order-1 pl-3 pt-3 py-md-5 px-md-5 ">
              <h3 class="h2 text-primary pb-4 pt-lg-4">
              <span class="d-block font-weight-normal">03</span>Completa il pagamento
              </h3>
            <p>Usa la tua carta di credito, debito o prepagata preferita o selezionala dal Portafoglio. Infine, premi “Paga” per completare la donazione: l’organizzazione riceverà l’importo direttamente sul conto corrente. Conserva l’email che ti invieremo: contiene i dati utili ai fini della detrazione.</p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  <div class="section section--wpointers dubbi-domande border-0">
      <div class="container py-5 py-md-2">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 py-md-5 px-md-5">
              <h2 class="pb-4 mt-0 text-white text-center mb-2">Dubbi o domande?<br>
              </h2>
              <p class="text-center my-2 ">
                  <a href="./faq/" class="btn btn-sm btn-white text-uppercase text-primary px-5" title="Leggi le FAQ">Leggi le FAQ</a>
              </p>
          </div>
         </div><!--/row-->
      </div><!--/container-->
  </div><!--/section-->
  
  