<div class="page-donazioni px-3 px-md-0">
    <div class="section section-inset-shadow section--wpointers py-5">
    <div class="container container--mid py-5 py-md-0 mb-2 mb-md-5">
      <div class="row pt-2 pt-md-5">
        <div class="col-12 col-md-8 mb-4 mb-md-0">
        <h2 class="d-inline-block m-0">Campagne</h2>
        <div class="dropdown d-inline-block text-white ml-1 ml-md-4">
            <div class="dropdown">
            <img src="/assets/img/icon-tags.svg">
            <a href="#" class="text-white dropdown-toggle" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">tutte le categorie
                <svg class="icon-expand icon icon-sm icon-white"><use xlink:href="/assets/svg/sprite.svg#it-expand"></use></svg>
                </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="link-list-wrapper">
                <ul class="link-list">
                    <li><a class="list-item" href="#"><span>Azione 1</span></a></li>
                    <li><a class="list-item" href="#"><span>Azione 2</span></a></li>
                    <li><a class="list-item" href="#"><span>Azione 3</span></a></li>
                </ul>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="donazioni-search-wrapper">
                <div class="form-group">
                    <div class="input-group">
                    <input type="text" class="form-control" id="donazioni-search-string">
                    <label for="donazioni-search-string">cerca</label>
                    <div class="input-group-append">
                    <div class="input-group-text">
                    <svg class="icon icon-sm icon-white"><use xlink:href="/assets/svg/sprite.svg#it-search"></use></svg>
                    </div>
                    </div><!--input-group-append-->
                    </div><!--/input-group-->
                </div><!--/form-group-->

            </div><!--/donazioni-search-wrapper-->
        </div>
      </div><!--/row-->
      <div class="row">
        {% for ente in site.entidonazione limit:2 %}
        <div class="col-12 col-md-6 my-2 my-md-3">
        {% include donazione-card.html %}
        </div>
        {% endfor %}
        {% for ente in site.entidonazione offset:2 %}
        <div class="col-12 col-md-4 my-2 my-md-3">
        {% include donazione-card.html %}
        </div>
        {% endfor %}
      </div><!--row-->
    </div><!--/container-->
    </div><!--/section-->
</div>