{% assign enti = site.data.enti-servizi.items | sort: "st" %}

<div id="entiSearch" class="bg-white">
    <div class="container container--mid">
        <div class="form-group px-3 px-md-0">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><svg class="icon icon-primary"><use xlink:href="/assets/svg/sprite.svg#it-search"></use></svg></div>
              </div>
              <input type="text" class="form-control" id="entiSearchInput" name="entiSearchInput" >
              <label for="entiSearchInput">Cerca un Ente nazionale o locale</label>
            </div>
          </div>
    </div>
</div>
<div id="entiList" class="collapse-div px-3 px-md-0" role="tablist">
    <div class="container container--mid">
        <div class="mb-3 mb-md-5">
        <div class="small text-primary">Filtra per Ente:</div>
        <ul class="list-inline entiList__filter my-2 entiList__scopefilter">
            <li class="list-inline-item"><a href="#" title="Tutti" class="active" data-scope-selector="">Tutti</a></li>
            <li class="list-inline-item"><a href="#" title="Nazionali" data-scope-selector="NATIONAL">Nazionali</a></li>
            <li class="list-inline-item"><a href="#" title="Locali" data-scope-selector="LOCAL">Locali</a></li>
        </ul>
      </div>
        {% for ente in enti %}
          {% assign ente_url = ente.o | ente_detail_name %}
          {% assign scope = ente.s[0].sc %}
          <a id="{{ente.fc}}" class="entiList__item {{scope}}" href="/{{ ente_url | datapage_url: 'enti' }}" title="Scheda ente {{ente.o | escape}}">
              {%if ente.prefix %}{{ente.prefix}} {%endif%}<span class="entiList__title">{{ente.fn}}</span>
          </a>

        {% endfor %}
    </div>
</div>
