{% assign current_lang = page.lang | default: site.lang | default: 'it' %} 
{% assign faq = site.data.faq[current_lang] %}
<div class="page-faq">

    <div class="container container--mid ">

      <div id="faq" class="pb-5">
    <div class="row p-3 justify-content-md-center">
      <div class="col-12">

        <div id="accordionDivFAQ" class="collapse-faq collapse-div" role="tablist">
          {% for f in faq %}
          <a name="n{{forloop.index}}"></a>
          <div class="collapse-header" id="heading{{forloop.index}}">
            <button data-toggle="collapse" data-nfaq="n{{forloop.index}}" data-target="#accordion{{forloop.index}}" aria-expanded="{% if forloop.first %}true{% endif %}{% if forloop.first!=true %}false{% endif %}" aria-controls="accordion{{forloop.index}}">
              {{f.title}}
            </button>
          </div>
          <div id="accordion{{forloop.index}}" class="collapse {% if forloop.first %}show{% endif %}" role="tabpanel" aria-labelledby="heading{{forloop.index}}" data-parent="#accordionDivFAQ">
            <div class="collapse-body">
              {{f.body | markdownify }}
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
    
  </div><!--/container-->

</div><!--/page-faq-->