<footer class="footer text-muted padding-umd">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-4 ">
          <div class="d-flex">
          <div class="px-2 team-logo--icon">
            <a href="{{t.slim_owner_url}}" target="_blank" rel="noopener">
            <img src="{{ '/assets/img/logo-pagopa.svg' | prepend: site.imagesurl }}" alt="{{t.slim_owner}}"/>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 ">
        <div class="footer__badges px-2 my-2 px-md-0 my-md-0">
          <p>Scarica l'app:</p>
          <ul class="col list-inline m-0 p-0">
            <li class="list-inline-item">
              <a href="{{site.download_url.ios}}" title="Scarica da App Store"
                 onclick="ga('send', 'event', 'link', 'click', 'Download App: iOS', 1)">
              <img src="{{site.imagesurl}}/assets/img/badge-appstore.svg" alt="App Store">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{{site.download_url.android}}" title="Scarica da Play Store"
                 onclick="ga('send', 'event', 'link', 'click', 'Download App: Android', 1)">
              <img src="{{site.imagesurl}}/assets/img/badge-playstore.svg" alt="Play Store">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 ">
        <div class="text-right social px-2 my-2 px-md-0 my-md-0">
          <span>{{t.seguici}}</span>
          {% include social-icons.html %}
        </div>
      </div>
    </div><!--/row-->
    <div class="row py-4 colophon">
      <ul class="col list-inline small">
        <li class="list-inline-item">
          {% include internal-link.html target='privacy-policy' class='small-prints' string='Privacy Policy' %}
        </li>
        <li class="list-inline-item">
            {% include internal-link.html target='note-legali' class='small-prints' string=t.note_legali %}
        </li>
        <li class="list-inline-item">
            {% include internal-link.html target='security' class='small-prints' string=t.sicurezza %}
        </li>
         <li class="list-inline-item">
            {% include internal-link.html target='accessibilita' class='small-prints' string=t.accessibilita %}
        </li>
      </ul>
      <p class="small text-white px-1">{{t.footer_disclaimer}}</p>
    </div>

  </div>
</footer>
