<footer class="footer text-muted padding-umd">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-8 col-lg-6">
          <div class="d-flex">
          <div class="px-2 team-logo--icon">
            <a href="{{t.slim_owner_url}}" target="_blank" rel="noopener">
            <img src="{{ '/assets/img/logo-pagopa.svg' | relative_url }}" alt="{{t.slim_owner}}"/>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-6">
        <div class="text-right social">
          <span>{{t.seguici}}</span>
          {% include social-icons.html %}
        </div>
      </div>
    </div><!--/row-->
    <div class="row py-4 colophon">
      <ul class="col list-inline small">
        <li class="list-inline-item">
          {% include internal-link.html target='privacy-policy' class='small-prints' string='Privacy Policy' %}
        </li>
        <li class="list-inline-item">
            {% include internal-link.html target='note-legali' class='small-prints' string=t.note_legali %}
        </li>
        <li class="list-inline-item">
            {% include internal-link.html target='security' class='small-prints' string=t.sicurezza %}
        </li>
      </ul>
      <p class="small text-white">{{t.footer_disclaimer}}</p>
    </div>

  </div>
</footer>
