{% assign mediumposts = site.data.mediumposts %}
<div class="giornalisti">
  <div class="section section-muted section-resources section--wpointers">
    <div class="container container--mid">
      <div class="row">
        <div class="col-md-8 col-lg-9 pt-5 px-3 px-md-0">
          <h2 class="text-white">Risorse per i media</h2>
        </div>
        <div class="col-md-4 col-lg-3 pt-md-5 px-3 px-md-0">
          {%comment%}
          <a
            href="#"
            class="btn btn-sm btn-white text-primary text-uppercase mt-4 float-right"
            >Scarica il presskit</a
          >
          {%endcomment%}
        </div>
      </div>
      <div class="row">
        <div class="col py-5 px-3 px-md-0">
          <div class="grid-gallery">
            <div class="image-item">
              <a
                href="{{site.imagesurl}}/assets/img/giornalisti/hires/mockup-ambientato-portafoglio@2x.png"
                target="_blank"
                class="text-decoration-none"
              >
                <img
                  src="{{site.imagesurl}}/assets/img/giornalisti/mockup-ambientato-portafoglio.png"
                  class="img-fluid"
                />
                <div class="d-flex flex-row px-2 pt-4">
                  <div class="text-white">
                    <p class="text-uppercase small mb-1 d-flex align-items-end">
                      <svg class="icon icon-sm icon-white">
                        <use
                          xlink:href="/assets/svg/sprite.svg#it-download"
                        ></use>
                      </svg>
                      <span class="ml-1">PNG ad alta risoluzione</span>
                    </p>
                    <h5>Documenti su IO</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="image-item">
              <a
                href="{{site.imagesurl}}/assets/img/giornalisti/hires/mockup-ambientato-messaggi@2x.png"
                target="_blank"
                class="text-decoration-none"
              >
                <img
                  src="{{site.imagesurl}}/assets/img/giornalisti/mockup-ambientato-messaggi.png"
                  class="img-fluid"
                />
                <div class="d-flex flex-row px-2 pt-4">
                  <div class="text-white">
                    <p class="text-uppercase small mb-1 d-flex align-items-end">
                      <svg class="icon icon-sm icon-white">
                        <use
                          xlink:href="/assets/svg/sprite.svg#it-download"
                        ></use>
                      </svg>
                      <span class="ml-1">PNG ad alta risoluzione</span>
                    </p>
                    <h5>Messaggi</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="image-item">
              <a
                href="{{site.imagesurl}}/assets/img/giornalisti/hires/mockup-ambientato-pagamenti@2x.png"
                target="_blank"
                class="text-decoration-none"
              >
                <img
                  src="{{site.imagesurl}}/assets/img/giornalisti/mockup-ambientato-pagamenti.png"
                  class="img-fluid"
                />
                <div class="d-flex flex-row px-2 pt-4">
                  <div class="text-white">
                    <p class="text-uppercase small mb-1 d-flex align-items-end">
                      <svg class="icon icon-sm icon-white">
                        <use
                          xlink:href="/assets/svg/sprite.svg#it-download"
                        ></use>
                      </svg>
                      <span class="ml-1">PNG ad alta risoluzione</span>
                    </p>
                    <h5>Pagamenti</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="image-item">
              <a
                href="{{site.imagesurl}}/assets/img/giornalisti/hires/mockup-ambientato-send@2x.png"
                target="_blank"
                class="text-decoration-none"
              >
                <img
                  src="{{site.imagesurl}}/assets/img/giornalisti/mockup-ambientato-send.png"
                  class="img-fluid"
                />
                <div class="d-flex flex-row px-2 pt-4">
                  <div class="text-white">
                    <p class="text-uppercase small mb-1 d-flex align-items-end">
                      <svg class="icon icon-sm icon-white">
                        <use
                          xlink:href="/assets/svg/sprite.svg#it-download"
                        ></use>
                      </svg>
                      <span class="ml-1">PNG ad alta risoluzione</span>
                    </p>
                    <h5>SEND</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="image-item">
              <a
                href="{{site.imagesurl}}/assets/img/giornalisti/hires/mockup-ambientato-servizi@2x.png"
                target="_blank"
                class="text-decoration-none"
              >
                <img
                  src="{{site.imagesurl}}/assets/img/giornalisti/mockup-ambientato-servizi.png"
                  class="img-fluid"
                />
                <div class="d-flex flex-row px-2 pt-4">
                  <div class="text-white">
                    <p class="text-uppercase small mb-1 d-flex align-items-end">
                      <svg class="icon icon-sm icon-white">
                        <use
                          xlink:href="/assets/svg/sprite.svg#it-download"
                        ></use>
                      </svg>
                      <span class="ml-1">PNG ad alta risoluzione</span>
                    </p>
                    <h5>Servizi</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="image-item">
              <a
                href="{{site.imagesurl}}/assets/img/giornalisti/hires/mockup-ambientato-login@2x.png"
                target="_blank"
                class="text-decoration-none"
              >
                <img
                  src="{{site.imagesurl}}/assets/img/giornalisti/mockup-ambientato-login.png"
                  class="img-fluid"
                />
                <div class="d-flex flex-row px-2 pt-4">
                  <div class="text-white">
                    <p class="text-uppercase small mb-1 d-flex align-items-end">
                      <svg class="icon icon-sm icon-white">
                        <use
                          xlink:href="/assets/svg/sprite.svg#it-download"
                        ></use>
                      </svg>
                      <span class="ml-1">PNG ad alta risoluzione</span>
                    </p>
                    <h5>App IO</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="image-item">
              <a
                href="{{site.imagesurl}}/assets/video/giornalisti/Compressed_AttivazioneWallet_FlussiWallet_1920x1080.mp4"
                target="_blank"
                class="text-decoration-none"
              >
                <img
                  src="{{site.imagesurl}}/assets/img/giornalisti/MockupVideo_AttivazioneWallet.png"
                  class="img-fluid"
                />
                <div class="d-flex flex-row px-2 pt-4">
                  <div class="text-white">
                    <p class="text-uppercase small mb-1 d-flex align-items-end">
                      <svg class="icon icon-sm icon-white">
                        <use
                          xlink:href="/assets/svg/sprite.svg#it-download"
                        ></use>
                      </svg>
                      <span class="ml-1">Video Full HD</span>
                    </p>
                    <h5>Attivazione Wallet</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="image-item">
              <a
                href="{{site.imagesurl}}/assets/video/giornalisti/Compressed_AttivazioneWallet_OttenimentoPatente_FlussiWallet_1920x1080.mp4"
                target="_blank"
                class="text-decoration-none"
              >
                <img
                  src="{{site.imagesurl}}/assets/img/giornalisti/MockupVideo_AttivazioneWallet_OttenimentoPatente.png"
                  class="img-fluid"
                />
                <div class="d-flex flex-row px-2 pt-4">
                  <div class="text-white">
                    <p class="text-uppercase small mb-1 d-flex align-items-end">
                      <svg class="icon icon-sm icon-white">
                        <use
                          xlink:href="/assets/svg/sprite.svg#it-download"
                        ></use>
                      </svg>
                      <span class="ml-1">Video Full HD</span>
                    </p>
                    <h5>Ottenimento Patente</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="image-item">
              <a
                href="{{site.imagesurl}}/assets/video/giornalisti/Compressed_OttenimentoPatente_FlussiWallet_1920x1080.mp4"
                target="_blank"
                class="text-decoration-none"
              >
                <img
                  src="{{site.imagesurl}}/assets/img/giornalisti/MockupVideo_OttenimentoPatente.png"
                  class="img-fluid"
                />
                <div class="d-flex flex-row px-2 pt-4">
                  <div class="text-white">
                    <p class="text-uppercase small mb-1 d-flex align-items-end">
                      <svg class="icon icon-sm icon-white">
                        <use
                          xlink:href="/assets/svg/sprite.svg#it-download"
                        ></use>
                      </svg>
                      <span class="ml-1">Video Full HD</span>
                    </p>
                    <h5>Patente</h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/section-->

  <div class="section section-muted section--wpointers">
    <div class="container container--mid pb-5">
      <div class="row">
        <div class="col pt-5 px-3 px-md-0">
          <h2 class="text-primary">Comunicati stampa</h2>
        </div>
      </div>

      <div class="media-press">
        {% assign comunicati = site.posts | where_exp: "item", "tem.archived !=
        true" %} {% for post in comunicati | sort:'date' %} {% if forloop.index
        == 1 %}
        <div class="row mb-3 mb-md-5">
          <div class="media mx-2 mx-md-0 mt-5 col-12 col-md-8">
            <div class="media-body">
              <svg class="icon icon-lg icon-primary doc">
                <use xlink:href="/assets/svg/sprite.svg#it-file"></use>
              </svg>
              <h6
                class="text-uppercase font-weight-normal mt-2 text-uppercase friendlydate"
              >
                {{post.friendlydate}}
              </h6>
              <a href="{{post.url}}" target="_blank" class="title-link">
                <h2 class="my-2 my-md-3">
                  {{post.friendlytitle | default: post.title}}
                </h2>
                {{post.description}}
              </a>
              {% if post.download_link %}
              <a
                href="{{post.download_link}}"
                download
                class="d-flex flex-row mt-3 mt-md-5"
              >
                <h6 class="text-primary text-uppercase mr-2 downloadcta">
                  scarica
                </h6>
                <svg class="icon icon-sm icon-primary">
                  <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                </svg>
              </a>
              {% endif %}
            </div>
          </div>
          <!--media-->
        </div>
        {%else%} {% if forloop.index == 2 %}
        <hr class="my-5 mx-4 mx-md-0" />
        {%raw%}
        <div class="row my-3 my-md-5">
          {%endraw%} {%endif%}
          <div
            class="media my-3 mx-2 mx-md-0 col {% if forloop.index > 4 %}d-none {%endif%}"
          >
            <div class="media-body">
              <svg class="icon icon-lg icon-primary doc">
                <use xlink:href="/assets/svg/sprite.svg#it-file"></use>
              </svg>
              <h6
                class="text-uppercase font-weight-normal mt-2 text-uppercase friendlydate"
              >
                {{post.friendlydate}}
              </h6>
              <a href="{{post.url}}" target="_blank" class="title-link">
                <h2 class="my-2 my-md-3 secondary">
                  {{post.friendlytitle | default: post.title}}
                </h2>
              </a>
              {% if post.download_link %}
              <a
                href="{{post.download_link}}"
                download
                class="d-flex flex-row mt-3 mt-md-5"
              >
                <h6 class="text-primary text-uppercase mr-2 downloadcta">
                  scarica
                </h6>
                <svg class="icon icon-sm icon-primary">
                  <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                </svg>
              </a>
              {% endif %}
            </div>
          </div>
          <!--media-->
          {% if forloop.last %} {%raw%}
        </div>
        {%endraw%} {%endif%} {% endif %} {%endfor%} {% if comunicati.size > 4 %}
        <div class="row pt-3 pb-5 text-center">
          <div class="col px-3 mt-5 ml-md-5">
            <button
              type="button"
              data-click="show-more"
              class="btn btn-primary text-white text-uppercase px-5"
            >
              Vedi tutti
            </button>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!--/section-->

  <div class="section section-muted section-medium section--wpointers">
    <div class="container container--mid pb-5">
      <div class="row">
        <div class="col pt-5 px-3 px-md-0">
          <h2 class="text-primary">Pubblicati sul blog</h2>
        </div>
      </div>
      <div class="row">
        <div class="col pt-5 px-3 px-md-0">
          <div class="grid-gallery">
            {% for item in mediumposts limit:3%}
            <div class="image-item">
              <img
                src="{{item.img}}"
                class="img-fluid"
                alt="Immagine del post Medium {{forloop.index}}"
              />
              <a
                href="{{item.link}}"
                target="_blank"
                class="text-secondary"
                title="Leggi l'articolo {{item.title | xml_escape}}"
              >
                <div class="pt-4">
                  <h5>{{item.title}}</h5>
                  {% if item.subtitle %}
                  <p class="pt-3">{{item.subtitle}}</p>
                  {%endif%}
                </div>
              </a>
            </div>
            {%endfor%}
          </div>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col px-3 mt-0 text-center">
          <a
            onclick="ga('send', 'event', 'link', 'click', 'Leggi blog', 1)"
            href="https://medium.com/io-lapp-dei-servizi-pubblici"
            target="_blank"
            class="btn btn-sm btn-primary text-white text-uppercase px-5"
            >Leggi tutti i post</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="section section-muted section-contatti section--wpointers">
    <div class="container container--mid pb-5">
      <div class="row">
        <div class="col text-center mt-5 pt-5">
          <img
            class="img-fluid"
            src="{{site.imagesurl}}/assets/img/icon-document-white.svg"
            alt="Inizia a fare dei test, porta i servizi su IO"
          />
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 px-3 px-md-0 text-center text-white"
        >
          <h2 class="pb-4">Contatti</h2>
          <p class="px-md-5">
            Per maggiori informazioni scrivi a<br />
            <a
              onclick="ga('send', 'event', 'link', 'click', 'Chiedi info giornalisti', 1)"
              href="mailto:ufficiostampa@pagopa.it"
              class="text-decoration-none backoffice"
              title="Scrivici"
              target="_blank"
              >ufficiostampa@pagopa.it</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--/section-->
</div>
