<div class="giornalisti">
  <div class="section section-muted section-inset-shadow section--wpointers">
    <div class="container pb-5">
      <div class="row">
        <div class="col-md-8 col-lg-6 pt-5 px-3 px-md-0">
          <h2 class="text-primary pb-4">
            Cosa rende IO un progetto unico nella Pubblica Amministrazione
          </h2>
          <p>
            IO è “un’anomalia positiva” nel settore pubblico. Esprime una nuova
            visione dei servizi pubblici, completamente centrata sui bisogni
            dell’utente. E introduce
            <a
              href="https://medium.com/team-per-la-trasformazione-digitale/progetto-io-app-store-test-feedback-cittadini-servizi-pagare-scadenze-comunicare-pubblica-amministrazione-a7225030d65d"
              target="_blank"
              >un modo diverso di fare innovazione
              <i>per e con i cittadini</i></a
            >, seguendo dinamiche di sviluppo tipiche di una startup.
          </p>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-5 order-md-2 pl-3 pt-3 py-md-5 px-md-5 my-md-5 text-md-center"
        >
          <img
            class="img-fluid"
            src="/assets/img/user_centricity.svg"
            alt="User-centricity"
          />
        </div>
        <div class="col-md-7 order-md-1 pt-md-5 px-3 px-md-0">
          <h2 class="text-primary pb-4">
            User-centricity
          </h2>
          <p>
            Mettere le persone al centro del processo di innovazione della
            Pubblica Amministrazione, coinvolgendo i cittadini nello sviluppo
            delle piattaforme digitali di cui saranno i fruitori. Questa è
            l’idea alla base di IO: nato dall’analisi delle esigenze del
            cittadino nei principali momenti di interazione con gli Enti
            pubblici, il progetto si evolve con il contributo costante degli
            utenti e prevede momenti di <i>co-design</i> con i cittadini nelle
            diverse fasi di sviluppo. Ancor prima della tecnologia, sono i
            bisogni, l’esperienza e le richieste delle persone a dettare le
            priorità nella <a href="/roadmap/">roadmap</a> dell’app IO.
          </p>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-5 order-md-1 pl-3 pt-3 py-md-5 px-md-5 my-md-5 text-md-center"
        >
          <img
            class="img-fluid"
            src="/assets/img/opensource.svg"
            alt="Opensource"
          />
        </div>
        <div class="col-md-7 order-md-2 pt-md-5 px-3 px-md-0">
          <h2 class="text-primary pb-4">
            Opensource
          </h2>
          <p>
            IO è un progetto concepito come patrimonio collettivo: anche per
            questo, ha un’anima interamente <i>open source</i> basata su
            processi di sviluppo aperti e collaborativi. Tutto il codice delle
            componenti, tutta la documentazione, le discussioni e gli strumenti
            di sviluppo sono pubblici e
            <a href="/sviluppatori/">facilmente reperibili</a>, così come
            l’interfaccia è progettata seguendo le linee guida e usando i kit
            proposti da
            <a href="https://designers.italia.it/" target="_blank"
              >Designers.italia.it</a
            >. Chiunque lo desideri e ne abbia le competenze, può dare il
            proprio contributo, integrando queste risorse o proponendo
            miglioramenti.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-muted section-resources section--wpointers">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-9 pt-5 px-3 px-md-0">
          <h2 class="text-white">
            Risorse per i media
          </h2>
        </div>
        <div class="col-md-4 col-lg-3 pt-md-5 px-3 px-md-0">
          <!-- <a
            href="#"
            class="btn btn-white text-primary text-uppercase mt-4 float-right"
            >Scarica il presskit</a
          > -->
        </div>
      </div>
      <div class="row">
        <div class="col py-5 px-3 px-md-0">
          <div class="grid-gallery">
            <div class="image-item">
              <img
                src="/assets/img/giornalisti/media_aci.jpg"
                class="img-fluid"
              />
              <a href="#">
                <div class="d-flex flex-row px-2 pt-4">
                  <svg class="icon icon-lg icon-white">
                    <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                  </svg>
                  <div class="text-white pl-3">
                    <h5>Mockup ambientato</h5>
                    <p>jpeg ad alta risoluzione</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="image-item">
              <img
                src="/assets/img/giornalisti/media_onboarding.jpg"
                class="img-fluid"
              />
              <a href="#">
                <div class="d-flex flex-row px-2 pt-4">
                  <svg class="icon icon-lg icon-white">
                    <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                  </svg>
                  <div class="text-white pl-3">
                    <h5>Processo di onboarding enti</h5>
                    <p>jpeg ad alta risoluzione</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="image-item">
              <img
                src="/assets/img/giornalisti/media_cambio_paradigma.jpg"
                class="img-fluid"
              />
              <a href="#">
                <div class="d-flex flex-row px-2 pt-4">
                  <svg class="icon icon-lg icon-white">
                    <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                  </svg>
                  <div class="text-white pl-3">
                    <h5>Cambio di paradigma</h5>
                    <p>jpeg ad alta risoluzione</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="image-item">
              <img
                src="/assets/img/giornalisti/media_io_website.jpg"
                class="img-fluid"
              />
              <a href="#">
                <div class="d-flex flex-row px-2 pt-4">
                  <svg class="icon icon-lg icon-white">
                    <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                  </svg>
                  <div class="text-white pl-3">
                    <h5>io.italia.it website</h5>
                    <p>jpeg ad alta risoluzione</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="image-item">
              <img
                src="/assets/img/giornalisti/media_schema_architetturale.jpg"
                class="img-fluid"
              />
              <a href="#">
                <div class="d-flex flex-row px-2 pt-4">
                  <svg class="icon icon-lg icon-white">
                    <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                  </svg>
                  <div class="text-white pl-3">
                    <h5>Schema architetturale</h5>
                    <p>jpeg ad alta risoluzione</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="image-item">
              <img
                src="/assets/img/giornalisti/media_messaggi.jpg"
                class="img-fluid"
              />
              <a href="#">
                <div class="d-flex flex-row px-2 pt-4">
                  <svg class="icon icon-lg icon-white">
                    <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                  </svg>
                  <div class="text-white pl-3">
                    <h5>Screencast dei pagamenti</h5>
                    <p>jpeg ad alta risoluzione</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-muted section-medium section--wpointers">
    <div class="container pb-5">
      <div class="row">
        <div class="col pt-5 px-3 px-md-0">
          <h2 class="text-primary">
            Post su Medium
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col pt-5 px-3 px-md-0">
          <div class="grid-gallery">
            <div class="image-item">
              <img
                src="/assets/img/giornalisti/medium_1.jpg"
                class="img-fluid"
              />
              <a
                href="https://medium.com/team-per-la-trasformazione-digitale/progetto-io-app-store-test-feedback-cittadini-servizi-pagare-scadenze-comunicare-pubblica-amministrazione-a7225030d65d?source=collection_category---2------1-----------------------"
                target="_blank"
                class="text-secondary"
              >
                <div class="pt-4">
                  <h5>L'app per i cittadini progettata con i cittadini</h5>
                  <p class="pt-3">
                    Oltre 1.000 persone stanno già utilizzando IO, l’app dei
                    servizi pubblici. Ecco cosa stiamo imparando e come sta
                    evolvendo il progetto grazie ai loro feedback in fase di
                    test.
                  </p>
                </div>
              </a>
            </div>
            <div class="image-item">
              <img
                src="/assets/img/giornalisti/medium_2.jpg"
                class="img-fluid"
              />
              <a
                href="https://medium.com/team-per-la-trasformazione-digitale/progetto-io-app-store-versione-beta-demo-cittadino-servizi-pubblica-amministrazione-1e5805666997?source=collection_category---2------2-----------------------"
                target="_blank"
                class="text-secondary"
              >
                <div class="pt-4">
                  <h5>
                    Progetto IO, i 5 passi verso l’app dei servizi pubblici
                  </h5>
                  <p class="pt-3">
                    Siamo partiti da un’idea che esprimeva la nostra visione del
                    rapporto tra il cittadino e la Pubblica Amministrazione. Vi
                    raccontiamo il percorso che da quella idea ci porterà alla
                    pubblicazione negli store di IO, l’applicazione dei servizi
                    pubblici
                  </p>
                </div>
              </a>
            </div>
            <div class="image-item">
              <img
                src="/assets/img/giornalisti/medium_3.jpg"
                class="img-fluid"
              />
              <a
                href="https://medium.com/team-per-la-trasformazione-digitale/progetto-io-app-cittadino-servizi-pubblica-amministrazione-22e8bbfec3ed?source=collection_category---2------3-----------------------"
                target="_blank"
                class="text-secondary"
              >
                <div class="pt-4">
                  <h5>
                    Una storia dal 2022, e una strada per renderla possibile:
                    Anna e il progetto IO
                  </h5>
                  <p class="pt-3">
                    Nasce IO, la fase sperimentale del progetto per lo sviluppo
                    di un’applicazione che permetterà tra qualche anno ai
                    cittadini di gestire direttamente dal proprio smartphone i
                    rapporti con la Pubblica Amministrazione e l’accesso ai
                    servizi pubblici.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col px-3 mt-0 text-center">
          <a
            href="https://medium.com/team-per-la-trasformazione-digitale/progetto-io-app-servizi-pubblici/home"
            target="_blank"
            class="btn btn-primary text-white text-uppercase col-12 col-md-4"
            >Leggi tutti i post</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="section section-muted section--wpointers">
    <div class="container pb-5">
      <div class="row">
        <div class="col pt-5 px-3 px-md-0">
          <h2 class="text-primary">
            Comunicati stampa
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 lineright media-press">
          <div class="media mt-5">
            <svg class="icon icon-lg icon-primary">
              <use xlink:href="/assets/svg/sprite.svg#it-file"></use>
            </svg>
            <div class="media-body ml-3">
              <h6 class="text-uppercase font-weight-normal">
                2 dicembre 2019
              </h6>
              <a
                href="/2019/12/02/Comunicato-stampa-Valsamoggia-IO.html"
                target="_blank"
                class="title-link"
              >
                <h4>
                  IO: arriva a Valsamoggia l’app per i cittadini progettata con
                  i cittadini
                </h4>
              </a>
              <a
                href="/assets/download/it/io-comunicato-stampa-Valsamoggia-2019.rtf"
                target="_blank"
                class="d-flex flex-row mt-3"
              >
                <h6 class="text-primary text-uppercase mr-2">scarica</h6>
                <svg class="icon icon-sm icon-primary">
                  <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="media mt-5">
            <svg class="icon icon-lg icon-primary">
              <use xlink:href="/assets/svg/sprite.svg#it-file"></use>
            </svg>
            <div class="media-body ml-3">
              <h6 class="text-uppercase font-weight-normal">
                15 ottobre 2019
              </h6>
              <a
                href="/2019/10/15/Comunicato-stampa-Palermo-IO.html"
                target="_blank"
                class="title-link"
              >
                <h4>
                  Palermo invita i cittadini a testare IO, l’app dei servizi
                  pubblici
                </h4>
              </a>
              <a
                href="/assets/download/it/io-comunicato-stampa-Palermo-2019.rtf"
                target="_blank"
                class="d-flex flex-row mt-3"
              >
                <h6 class="text-primary text-uppercase mr-2">scarica</h6>
                <svg class="icon icon-sm icon-primary">
                  <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="media mt-5">
            <svg class="icon icon-lg icon-primary">
              <use xlink:href="/assets/svg/sprite.svg#it-file"></use>
            </svg>
            <div class="media-body ml-3">
              <h6 class="text-uppercase font-weight-normal">
                24 giugno 2019
              </h6>
              <a
                href="/2019/06/24/Comunicato-stampa-Ripalta-Cremasca-IO.html"
                target="_blank"
                class="title-link"
              >
                <h4>
                  Ripalta Cremasca inizia la sperimentazione di IO, l’app dei
                  servizi pubblici
                </h4>
              </a>
              <a
                href="/assets/download/it/io-comunicato-stampa-Ripalta-Cremasca-2019.rtf"
                target="_blank"
                class="d-flex flex-row mt-3"
              >
                <h6 class="text-primary text-uppercase mr-2">scarica</h6>
                <svg class="icon icon-sm icon-primary">
                  <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="media mt-5">
            <svg class="icon icon-lg icon-primary">
              <use xlink:href="/assets/svg/sprite.svg#it-file"></use>
            </svg>
            <div class="media-body ml-3">
              <h6 class="text-uppercase font-weight-normal">
                28 maggio 2019
              </h6>
              <a
                href="https://io.italia.it/2019/05/28/Comunicato-stampa-Torino.html"
                target="_blank"
                class="title-link"
              >
                <h4>IO si apre al contributo di Torino</h4>
              </a>
              <a
                href="https://io.italia.it/assets/download/it/io-comunicato-stampa-torino.rtf"
                target="_blank"
                class="d-flex flex-row mt-3"
              >
                <h6 class="text-primary text-uppercase mr-2">scarica</h6>
                <svg class="icon icon-sm icon-primary">
                  <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="media mt-5">
            <svg class="icon icon-lg icon-primary">
              <use xlink:href="/assets/svg/sprite.svg#it-file"></use>
            </svg>
            <div class="media-body ml-3">
              <h6 class="text-uppercase font-weight-normal">15 marzo 2019</h6>
              <a
                href="https://io.italia.it/2019/03/15/Comunicato-stampa-Milano-Digital-Week.html"
                target="_blank"
                class="title-link"
              >
                <h4>IO, l’app dei servizi pubblici, alla prova dei milanesi</h4>
              </a>
              <a
                href="https://io.italia.it/assets/download/it/io-comunicato-stampa-milano-digital-week.rtf"
                target="_blank"
                class="d-flex flex-row mt-3"
              >
                <h6 class="text-primary text-uppercase mr-2">scarica</h6>
                <svg class="icon icon-sm icon-primary">
                  <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="media mt-5">
            <svg class="icon icon-lg icon-primary">
              <use xlink:href="/assets/svg/sprite.svg#it-file"></use>
            </svg>
            <div class="media-body ml-3">
              <h6 class="text-uppercase font-weight-normal">21 gennaio 2019</h6>
              <a
                href="https://io.italia.it/2019/01/21/Comunicato-stampa-Gennaio-2019.html"
                target="_blank"
                class="title-link"
              >
                <h4>
                  IO, l’app dei servizi pubblici, negli store entro fine anno
                </h4>
              </a>
              <a
                href="https://io.italia.it/assets/download/it/io-comunicato-stampa-gennaio-2019.rtf"
                target="_blank"
                class="d-flex flex-row mt-3"
              >
                <h6 class="text-primary text-uppercase mr-2">scarica</h6>
                <svg class="icon icon-sm icon-primary">
                  <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="media mt-5">
            <svg class="icon icon-lg icon-primary">
              <use xlink:href="/assets/svg/sprite.svg#it-file"></use>
            </svg>
            <div class="media-body ml-3">
              <h6 class="text-uppercase font-weight-normal">22 maggio 2018</h6>
              <a
                href="https://io.italia.it/2018/05/22/Comunicato-stampa-ForumPA-2018.html"
                target="_blank"
                class="title-link"
              >
                <h4>
                  Nasce IO, il progetto per sviluppare l’app dei servizi
                  pubblici
                </h4>
              </a>
              <a
                href="https://io.italia.it/assets/download/it/io-comunicato-stampa-forum-pa-2018.rtf"
                target="_blank"
                class="d-flex flex-row mt-3"
              >
                <h6 class="text-primary text-uppercase mr-2">scarica</h6>
                <svg class="icon icon-sm icon-primary">
                  <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                </svg>
              </a>
            </div>
          </div>

          <div class="row pt-3 pb-5">
            <div class="col px-3 mt-5 ml-md-5">
              <button
                type="button"
                data-click="show-more"
                class="btn btn-primary text-white text-uppercase col-12 col-md-5"
              >
                Vedi tutti
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4 pl-5">
          <h5 class="text-primary text-uppercase mb-3">Contatti</h5>
          <a href="mailto:media@io.italia.it">media@io.italia.it</a>
        </div>
      </div>
    </div>
  </div>
</div>
