<div class="giornalisti">
  <div class="section section-muted section-inset-shadow section--wpointers">
    <div class="container container--mid pb-5">
      <div class="row">
        <div class="col-md-8 col-lg-6 pt-5 px-3 px-md-0">
          <h2 class="text-primary pb-4">
            Cosa rende IO un'app unica nel suo genere
          </h2>
          <p>
            IO è “un’anomalia positiva” nel settore pubblico. Esprime una nuova
            visione dei servizi pubblici, completamente centrata sui bisogni
            dell’utente. E introduce
            <a
              href="https://medium.com/team-per-la-trasformazione-digitale/progetto-io-app-store-test-feedback-cittadini-servizi-pagare-scadenze-comunicare-pubblica-amministrazione-a7225030d65d"
              target="_blank"
              >un modo diverso di fare innovazione
              <i>per e con i cittadini</i></a
            >, seguendo dinamiche di sviluppo tipiche di una startup.
          </p>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-5 order-md-2 pl-3 pt-3 py-md-5 px-md-5 my-md-5 text-md-center"
        >
          <img
            class="img-fluid"
            src="/assets/img/user_centricity.svg"
            alt="User-centricity"
          />
        </div>
        <div class="col-md-7 order-md-1 pt-md-5 px-3 px-md-0">
          <h2 class="text-primary pb-4">
            User-centricity
          </h2>
          <p>
            Mettere le persone al centro del processo di innovazione della
            Pubblica Amministrazione, coinvolgendo i cittadini nello sviluppo
            delle piattaforme digitali di cui saranno i fruitori. Questa è
            l’idea alla base di IO: nato dall’analisi delle esigenze del
            cittadino nei principali momenti di interazione con gli Enti
            pubblici, il progetto si evolve con il contributo costante degli
            utenti e prevede momenti di <i>co-design</i> con i cittadini nelle
            diverse fasi di sviluppo. Ancor prima della tecnologia, sono i
            bisogni, l’esperienza e le richieste delle persone a dettare le
            priorità nella roadmap dell’app IO.
          </p>
          <a href="/roadmap/" class="btn btn-outline-primary btn-sm text-uppercase mt-3 " >Vedi la roadmap</a>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-5 order-md-1 pl-3 pt-3 py-md-5 px-md-5 my-md-5 text-md-center"
        >
          <img
            class="img-fluid"
            src="/assets/img/opensource.svg"
            alt="Open source"
          />
        </div>
        <div class="col-md-7 order-md-2 pt-md-5 px-3 px-md-0">
          <h2 class="text-primary pb-4">
            Open source
          </h2>
          <p>
            IO è un progetto concepito come patrimonio collettivo: anche per
            questo, ha un’anima interamente <i>open source</i> basata su
            processi di sviluppo aperti e collaborativi. Tutto il codice delle
            componenti, tutta la <a href="https://developer.io.italia.it/openapi.html" title="documentazione" target="_blank">documentazione</a>, 
            le <a href="https://forum.italia.it/c/progetto-io" title="Forum Italia" target="_blank">discussioni</a> e gli <a href="https://github.com/pagopa/io-app" title="Strumenti" target="_blank">strumenti</a>
            di sviluppo sono pubblici e facilmente reperibili, così come
            l’interfaccia è progettata seguendo le linee guida e usando i kit
            proposti da
            <a href="https://designers.italia.it/" target="_blank"
              >Designers.italia.it</a
            >. Chiunque lo desideri e ne abbia le competenze, può dare il
            proprio contributo, integrando queste risorse o proponendo
            miglioramenti.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-muted section-resources section--wpointers">
    <div class="container container--mid">
      <div class="row">
        <div class="col-md-8 col-lg-9 pt-5 px-3 px-md-0">
          <h2 class="text-white">
            Risorse per i media
          </h2>
        </div>
        <div class="col-md-4 col-lg-3 pt-md-5 px-3 px-md-0">
          {%comment%} <a
            href="#"
            class="btn btn-sm btn-white text-primary text-uppercase mt-4 float-right"
            >Scarica il presskit</a
          > {%endcomment%}
        </div>
      </div>
      <div class="row">
        <div class="col py-5 px-3 px-md-0">
          <div class="grid-gallery">
            <div class="image-item">
              <a href="/assets/img/hires/mockup-ambientati.zip" target="_blank" class="text-decoration-none">
                <img
                src="/assets/img/giornalisti/media_aci.jpg"
                class="img-fluid"
                />
                <div class="d-flex flex-row px-2 pt-4">
                  <div class="text-white">
                    <p class="text-uppercase small mb-1 d-flex align-items-end ">
                    <svg class="icon icon-sm icon-white">
                    <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                    </svg>
                    <span class="ml-1">jpeg ad alta risoluzione</span></p>
                    <h5>Mockup ambientati</h5>
                    <p class="image-item-text">Una serie di immagini fotografiche da utilizzare per raccontare il progetto.</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="image-item">
              <a href="/assets/img/hires/mockup_bonus_vacanze_thumb.jpg" target="_blank" class="text-decoration-none" download>
                <img
                src="/assets/img/hires/mockup_bonus_vacanze_thumb.jpg"
                class="img-fluid"
                />
                <div class="d-flex flex-row px-2 pt-4">
                  <div class="text-white">
                    <p class="text-uppercase small mb-1 d-flex align-items-end ">
                    <svg class="icon icon-sm icon-white">
                    <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                    </svg>
                    <span class="ml-1">jpeg ad alta risoluzione</span></p>
                    <h5>Esempio Bonus Vacanze</h5>
                    <p class="image-item-text">Un'immagine rappresentativa di come apparirà il Bonus Vacanze attivato su IO, con schermata di riepilogo di tutti i dati necessari per fruire dell'agevolazione</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="image-item">
              
              <a href="/assets/img/hires/onboarding_hires.jpg" target="_blank" class="text-decoration-none">
                <img
                src="/assets/img/giornalisti/media_onboarding.jpg"
                class="img-fluid"
                />
                <div class="d-flex flex-row px-2 pt-4">
                  <div class="text-white">
                     <p class="text-uppercase small mb-1 d-flex align-items-end ">
                    <svg class="icon icon-sm icon-white">
                    <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                    </svg>
                    <span class="ml-1">jpeg ad alta risoluzione</span></p>
                    <h5>Processo di onboarding Enti</h5>
                    <p class="image-item-text">Rappresentazione schematica dei passi che ogni ente deve compiere per integrare i propri servizi su IO.</p>
                    
                  </div>
                </div>
              </a>
            </div>
            <div class="image-item">
              
              <a href="/assets/img/hires/cambio_di_paradigma_hires.jpg" target="_blank" class="text-decoration-none">
                <img
                src="/assets/img/giornalisti/media_cambio_paradigma.jpg"
                class="img-fluid"
                />
                <div class="d-flex flex-row px-2 pt-4">
                  <div class="text-white">
                    <p class="text-uppercase small mb-1 d-flex align-items-end ">
                    <svg class="icon icon-sm icon-white">
                    <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                    </svg>
                    <span class="ml-1">jpeg ad alta risoluzione</span></p>
                    <h5>Cambio di paradigma</h5>
                    <p class="image-item-text">Rappresentazione visiva di come IO cambia il tradizionale modello di erogazione dei servizi pubblici, mettendo il cittadino al centro.</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="image-item">
              
              <a href="/assets/img/hires/io_website_hires.jpg" target="_blank" class="text-decoration-none">
                <img
                src="/assets/img/giornalisti/media_io_website.jpg"
                class="img-fluid"
                />
                <div class="d-flex flex-row px-2 pt-4">
                  <div class="text-white">
                    <p class="text-uppercase small mb-1 d-flex align-items-end ">
                    <svg class="icon icon-sm icon-white">
                    <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                    </svg>
                    <span class="ml-1">jpeg ad alta risoluzione</span></p>
                    <h5>Progetto IO</h5>
                    <p class="image-item-text">Immagine evocativa da utilizzare per raccontare la visione del progetto. </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="image-item">
              
              <a href="/assets/img/hires/schema_architetturale_hires.png" target="_blank" class="text-decoration-none">
                <img
                src="/assets/img/giornalisti/media_schema_architetturale.jpg"
                class="img-fluid"
                />
                <div class="d-flex flex-row px-2 pt-4">
                  <div class="text-white ">
                    <p class="text-uppercase small mb-1 d-flex align-items-end ">
                    <svg class="icon icon-sm icon-white">
                    <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                    </svg>
                    <span class="ml-1">jpeg ad alta risoluzione</span></p>
                    <h5>Mappa di sistema</h5>
                    <p class="image-item-text">Schema che mostra come funziona l’erogazione del servizio al cittadino, utilizzando le API di IO.</p>
                  </div>
                </div>
              </a>
            </div><!--/image-item-->
            <div class="image-item">
              
              <a
                href="/assets/download/it/io_brand_manual.zip"
                target="_blank" class="text-decoration-none"
              >
                <img
                src="/assets/img/giornalisti/media_brandbook.jpg"
                class="img-fluid"
                />
                <div class="d-flex flex-row px-2 pt-4">
                  <div class="text-white">
                     <p class="text-uppercase small mb-1 d-flex align-items-end ">
                    <svg class="icon icon-sm icon-white">
                    <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                    </svg>
                    <span class="ml-1">svg, png, pdf</span></p>
                    <h5>Logo e brand manual</h5>
                    <p class="image-item-text">Vettoriali del logo di IO e linee guida per il suo utilizzo.</p>
                  </div>
                </div>
              </a>
            </div><!--/image-item-->
            <div class="image-item">
              
              <a
                href="/assets/download/it/fact-sheet.rtf"
                target="_blank" class="text-decoration-none"
              >
                <img
                src="/assets/img/giornalisti/media_factsheet.jpg"
                class="img-fluid"
                />
                <div class="d-flex flex-row px-2 pt-4">
                  <div class="text-white">
                     <p class="text-uppercase small mb-1 d-flex align-items-end ">
                    <svg class="icon icon-sm icon-white">
                    <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                    </svg>
                    <span class="ml-1">rtf</span></p>
                    <h5>Fact sheet</h5>
                    <p class="image-item-text">Qui trovi le informazioni di background su IO, utili per una panoramica completa dell'app dalla genesi allo stato attuale.</p>
                  </div>
                </div>
              </a>
            </div><!--/image-item-->
          </div>
        </div>
      </div>
    </div>
  </div><!--/section-->

{% comment %}
  <div class="section section-muted section--wpointers">
    <div class="container pb-5">
      <div class="row">
        <div class="col pt-5 px-3 px-md-0">
          <h2 class="text-primary">
            Comunicati stampa
          </h2>
        </div>
      </div>
      
        <div class="media-press">
          {%- assign comunicati = site.posts | where: "lang","it" -%}
          {% for post in comunicati | sort:'date' %}
            {% if forloop.index == 1 %}
            <div class="row mb-3 mb-md-5">
            <div class="media mx-2 mx-md-0 mt-5 col-12 col-md-8">
              <div class="media-body">
                <svg class="icon icon-lg icon-primary doc">
                  <use xlink:href="/assets/svg/sprite.svg#it-file"></use>
                </svg>
                <h6 class="text-uppercase font-weight-normal mt-2 text-uppercase friendlydate">
                  {{post.friendlydate}}
                </h6>
                <a
                  href="{{post.url}}"
                  target="_blank"
                  class="title-link"
                >
                  <h2 class="my-2 my-md-3 ">{{post.friendlytitle | default: post.title}}</h2>
                  {{post.description}}        
                </a>
                {% if post.download_link %}
                <a href="{{post.download_link}}" target="_blank" class="d-flex flex-row mt-3 mt-md-5">
                  <h6 class="text-primary text-uppercase mr-2 downloadcta">scarica</h6>
                  <svg class="icon icon-sm icon-primary">
                    <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                  </svg>
                </a>
                {% endif %}
              </div>
            </div><!--media-->
            </div>
            {%else%}
              {% if forloop.index == 2 %}
              <hr class="my-5 mx-4 mx-md-0">
              {%raw%}<div class="row my-3 my-md-5">{%endraw%}
              {%endif%}
            <div class="media my-3 mx-2 mx-md-0 col-md-4 {% if forloop.index > 4 %}d-none {%endif%}">
              <div class="media-body">
                <svg class="icon icon-lg icon-primary doc">
                  <use xlink:href="/assets/svg/sprite.svg#it-file"></use>
                </svg>
                <h6 class="text-uppercase font-weight-normal mt-2 text-uppercase friendlydate">
                  {{post.friendlydate}}
                </h6>
                <a
                  href="{{post.url}}"
                  target="_blank"
                  class="title-link"
                >
                  <h2 class="my-2 my-md-3 secondary">{{post.friendlytitle | default: post.title}}</h2>      
                </a>
                {% if post.download_link %}
                <a href="{{post.download_link}}" target="_blank" class="d-flex flex-row mt-3 mt-md-5">
                  <h6 class="text-primary text-uppercase mr-2 downloadcta">scarica</h6>
                  <svg class="icon icon-sm icon-primary">
                    <use xlink:href="/assets/svg/sprite.svg#it-download"></use>
                  </svg>
                </a>
                {% endif %}
              </div>
            </div><!--media-->
              {% if forloop.last %}
              {%raw%}</div>{%endraw%}
              {%endif%}
            {% endif %}

          {%endfor%}
          

          <div class="row pt-3 pb-5 text-center">
            <div class="col px-3 mt-5 ml-md-5">
              <button
                type="button"
                data-click="show-more"
                class="btn btn-primary text-white text-uppercase px-5"
              >
                Vedi tutti
              </button>
            </div>
          </div>
        </div>
      
    </div>
  </div><!--/section-->
  {% endcomment %}


  <div class="section section-muted section-medium section--wpointers">
    <div class="container container--mid pb-5">
      <div class="row">
        <div class="col pt-5 px-3 px-md-0">
          <h2 class="text-primary">
            Pubblicati sul blog
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col pt-5 px-3 px-md-0">
          <div class="grid-gallery">
            <div class="image-item">
              <img
                src="/assets/img/giornalisti/medium_5.jpg"
                class="img-fluid"
              />
              <a
                href="https://medium.com/io-lapp-dei-servizi-pubblici/io-iphone-android-servizi-pubblica-amministrazione-open-beta-5eac651bc894"
                target="_blank"
                class="text-secondary"
              >
                <div class="pt-4">
                  <h5>
                    Diario di bordo #1: l’app IO prende il largo
                  </h5>
                  <p class="pt-3">
                    Tra le righe di questo blog, racconteremo le prossime tappe di un’avventura partita da un’idea ambiziosa (e forse folle) oggi divenuta realtà
                  </p>
                </div>
              </a>
            </div>
            <div class="image-item">
              <img
                src="/assets/img/giornalisti/medium_1.jpg"
                class="img-fluid"
              />
              <a
                href="https://medium.com/team-per-la-trasformazione-digitale/progetto-io-guida-per-gli-enti-pubblici-integrazione-servizi-pubblica-amministrazione-smartphone-cittadini-f290306a611a"
                target="_blank"
                class="text-secondary"
              >
                <div class="pt-4">
                  <h5>
                    Come essere parte del progetto IO: una guida per gli enti
                    pubblici
                  </h5>
                  <p class="pt-3">
                    IO, l’app dei servizi pubblici, si prepara ad arrivare negli
                    store online. Ora tocca alle Pubbliche Amministrazioni
                    integrarsi a IO e portare sempre più servizi sugli
                    smartphone dei cittadini.
                  </p>
                </div>
              </a>
            </div>
            <div class="image-item">
              <img
                src="/assets/img/giornalisti/medium_2.jpg"
                class="img-fluid"
              />
              <a
                href="https://medium.com/team-per-la-trasformazione-digitale/progetto-io-app-store-test-feedback-cittadini-servizi-pagare-scadenze-comunicare-pubblica-amministrazione-a7225030d65d?source=collection_category---2------1-----------------------"
                target="_blank"
                class="text-secondary"
              >
                <div class="pt-4">
                  <h5>L'app per i cittadini progettata con i cittadini</h5>
                  <p class="pt-3">
                    Oltre 1.000 persone stanno già utilizzando IO, l’app dei
                    servizi pubblici. Ecco cosa stiamo imparando e come sta
                    evolvendo il progetto grazie ai loro feedback in fase di
                    test.
                  </p>
                </div>
              </a>
            </div>
            
          </div>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col px-3 mt-0 text-center">
          <a onclick="ga('send', 'event', 'link', 'click', 'Leggi blog', 1)"
            href="https://medium.com/io-lapp-dei-servizi-pubblici"
            target="_blank"
            class="btn btn-sm btn-primary text-white text-uppercase px-5"
            >Leggi tutti i post</a
          >
        </div>
      </div>
    </div>
  </div>
  
  <div class="section section-muted section-contatti section--wpointers">
    <div class="container container--mid pb-5">
      <div class="row">
        <div class="col text-center mt-5 pt-5">
          <img class="img-fluid" src="/assets/img/icon-document-white.svg" alt="Inizia a fare dei test, porta i servizi su IO">
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 px-3 px-md-0 text-center text-white">
          <h2 class="pb-4">
            Contatti
          </h2>
          <p class="px-md-5">
            Per maggiori informazioni scrivi a<br>
            <a onclick="ga('send', 'event', 'link', 'click', 'Chiedi info giornalisti', 1)" href="mailto:media@io.italia.it" class="text-decoration-none backoffice" title="Scrivici" target="_blank">media@io.italia.it</a> 
          </p>
        </div>
      </div>
     
      
    </div>
  </div><!--/section-->

</div>
