<!-- Global site tag (gtag.js) - Google Analytics -->
<script>
    // Disabilita tracciamento se il cookie cookies_consent non esiste
    if (document.cookie.indexOf('cookies_consent=true') === -1) {
        window['ga-disable-{{ site.ga_property }}'] = true;
    }
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
</script>