{% assign current_lang = page.lang | default: site.lang | default: 'it' %}
{% assign t = site.data.t[current_lang] %}
<div class="page-io-web">
  <div class="section section-muted section-inset-shadow section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="col-md-6 order-md-2 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img class="img-fluid rounded shadow screenshot"
               src="{{site.imagesurl}}/assets/img/io-web/ciao-mario.svg"
               alt="Hello Mario screenshot"/>
        </div>
        <div class="col-md-5 offset-md-1 order-md-1 pl-3 pt-3 py-md-5 px-md-5 ">
          <h4 class="text-primary pb-4 pt-lg-4">
            Non hai più il tuo dispositivo?
          </h4>
          <p>
            In caso di smarrimento o furto del dispositivo su cui è installata l’app IO, puoi terminare la sessione attiva e impedire l’accesso ai tuoi dati uscendo dall’app tramite il portale web di IO.
          </p>
          <p>
            Ricorda che se accedi al tuo profilo IO da un dispositivo diverso, quello precedente verrà automaticamente disconnesso, richiedendo un nuovo accesso con SPID o CIE.
          </p>
          <div class="py-2">
            <a target="_blank"
              href="#" title="Esci da IO"
              class="btn btn-white btn-sm text-uppercase"
              onclick="#">Esci da IO</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-muted section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5 pb-md-0">
      <div class="row">
        <div class="offset-md-2 col-md-3 pl-3 pt-3 py-md-5 px-md-5 text-center align-items-center d-md-flex">
          <img
              class="img-fluid rounded screenshot"
              src="{{site.imagesurl}}/assets/img/io-web/accesso-bloccato.svg"
              alt="Access blocked screenshot"
            />
        </div>
        <div class="col-md-6 pl-3 pt-3 py-md-5 px-md-5 ">
          <h4 class="text-primary pb-4 pt-lg-4">
            Sospetti che la tua identità digitale sia compromessa?
          </h4>
          <p>
            Se sospetti che qualcuno possa utilizzare la tua identità digitale per accedere a IO puoi bloccare temporaneamente l’accesso all’app con tutte le tue identità SPID e contattare il tuo Identity Provider per metterla al sicuro. Anche dopo il blocco, sarà consentito entrare sull’app IO con CIE in quanto garantisce un livello di sicurezza maggiore.
          </p>
          <p>
            Per aiutarti a individuare eventuali compromissioni della tua identità, IO ti invia un’email ogni volta che viene effettuato un nuovo accesso all’app con SPID o CIE.
          </p>
          <div class="py-2">
            <a target="_blank"
              href="#" title="Esci da IO"
              class="btn btn-white btn-sm text-uppercase"
              onclick="#">Blocca accesso a IO</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
