{% assign languages = site.data.languages %}
{% assign pages_ref = site.pages | where: "ref", page.ref %}

<div class="dropdown lang_switch mr-2 mr-md-1">
    <span class="text-uppercase text-white small" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{languages[current_lang].code}}<svg class="icon icon-sm icon-white"><use xlink:href="/assets/svg/sprite.svg#it-expand"></use></svg>
    </span>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for l in languages %}
            {% assign target_page = pages_ref | where:"lang", l[0] | first %}
            {% assign disclaimer = l[1].disclaimer %}
            <a class="dropdown-item small text-uppercase lang-{{l[1].code}} {% if target_page.lang==current_lang%}active{%endif%}" href="{{target_page.url}}">
                {% if disclaimer %}
                <img src="{{site.imagesurl}}/assets/img/droid.svg" class="droid" alt="AI translation">
                {% endif %}
                {{l[1].full}}
            </a>
            {% if disclaimer %}
            <span class="d-block disclaimer">
                {{disclaimer}}
            </span>
            {% endif %}
        {% endfor %}
    </div>
  </div>
