<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalShare">
  <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content p-2 p-md-4">
        <div class="modal-header">
                <h3 class="mr-2">Condividi il tuo aiuto!</h3>
                <button class="close p-0 m-0" type="button" data-dismiss="modal" aria-label="Close" >
                  <svg class="icon icon-xl">
                     <use xlink:href="/assets/svg/sprite.svg#it-close"></use>
                  </svg>
               </button>
        </div>
        <div class="modal-body pt-0">
            <p class="pr-0 pr-md-3">I tuoi amici possono fare la differenza: condividi con loro la campagna e chiedi anchè il loro aiuto!</p>
            <div class="my-4 px-md-3">
            <div class="row align-items-center">
              <div class="col text-center">
                <a href="https://www.facebook.com/dialog/share?app_id={{site.facebook_appid}}&display=popup&href={{site.url | append: page.url | url_encode}}"
                   aria-label="Facebook" class="text-decoration-none modalShareButton" target="_blank">
                    <svg class="icon icon-lg icon-primary">
                      <use xlink:href="/assets/svg/sprite.svg#it-facebook"></use>
                    </svg>
                    <span class="d-block text-center small mt-2">Facebook</span>
                </a>
              </div>
              <div class="col text-center">
                <a href="https://twitter.com/intent/tweet?lang=it&text={{page.title_social | default: page.title | url_encode}}&url={{site.url | append: page.url | url_encode}}" 
                   aria-label="Twitter" class="text-decoration-none modalShareButton" target="_blank">
                    <svg class="icon icon-lg icon-primary">
                      <use xlink:href="/assets/svg/sprite.svg#it-twitter"></use>
                    </svg>
                    <span class="d-block text-center small mt-2">Twitter</span>
                </a>
              </div>
              <div class="col text-center">
                <a href="https://wa.me/?text={{page.title_social | default: page.title | url_encode}}%20-%20{{site.url | append: page.url | url_encode}}" 
                   aria-label="WhatsApp" class="text-decoration-none modalShareButton" target="_blank">
                    <svg class="icon icon-lg icon-primary">
                      <use xlink:href="/assets/svg/sprite.svg#it-whatsapp"></use>
                    </svg>
                    <span class="d-block text-center small mt-2">WhatsApp</span>
                </a>
              </div>
            </div>
            </div><!-- my-4 px-3-->
            <div class="my-5">
              <div class="form-group">
              <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><svg class="icon icon-sm icon-primary"><use xlink:href="/assets/svg/sprite.svg#it-link"></use></svg></div>
                  </div>
                  <label for="input-group-3" class="pb-2 pb-md-0">Copia il link della pagina</label>
                  <input type="text" class="form-control mt-2" id="seletext" name="seletext" value="{{site.url}}{{page.url}}">
                  <div class="input-group-append">
                    <button onclick="copyInClipboard('seletext', 'seletextMessage')" class="btn btn-primary" type="button" id="seletextCopyBtn">Copia</button>
                  </div>
                  
                </div>
                <div class="mt-5 text-center d-none" id="seletextMessage">
                    <svg class="icon icon-success"><use xlink:href="/assets/svg/sprite.svg#it-check-circle"></use></svg>
                    <span class="text-success">Link copiato</span>
                  </div>
            </div>
            </div>
        </div>

      </div>
  </div>
</div>
