<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalShare">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <h3>Aiuta condividendo</h3>
            <p>Le campagne condivise sui social media raccolgono 5 volte più fondi.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm" data-dismiss="modal" type="button">Ok</button>
        </div>
      </div>
  </div>
</div>
