<nav class="navbar navbar-light navigation navbar-expand-md py-0">
  <div class="navbar-collapse offcanvas-collapse">
    <ul class="navbar-nav mr-auto" style="width:100%;">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-2 order-md-2 text-center p-3 py-md-2">
            <a class="col col-md-2" href="{{ site.baseurl }}/"><img src="{{ '/assets/img/io-logo-temp-blue@3x.png' | relative_url }}" alt="io" class="io__icon"/></a>
          </div>
          <div class="col-12 col-md-5 order-md-1">
            <div class="row">
              <a class="col-12 col-md-6 text--light-blue font-weight-bold text-left text-md-center p-3 py-md-2" href="{{ site.baseurl }}/cittadini">Cittadini</a>
              <a class="col-12 col-md-6 text--light-blue font-weight-bold text-left text-md-center p-3 py-md-2" href="{{ site.baseurl }}/pubbliche-amministrazioni">Pubbliche Amministrazioni</a>
            </div>
          </div>
          <div class="col-12 col-md-5 order-md-3">
            <div class="row">
              <a class="col-12 col-md-6 text--light-blue font-weight-bold text-left text-md-center p-3 py-md-2" href="{{ site.baseurl }}/sviluppatori">Sviluppatori</a>
              <a class="col-12 col-md-6 text--light-blue font-weight-bold text-left text-md-center p-3 py-md-2" href="{{ site.baseurl }}/giornalisti">Giornalisti</a>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</nav>