<nav class="navbar navbar-dark fixed-top navigation__slim">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger small mr-auto p-2" href="{{t.slim_owner_url}}" target="_blank" rel="noopener">{{t.slim_owner}}</a>
    <div class="text-right social">
          <!--
          <a href="https://github.com/italia/" class="small-prints px-1">
            <svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-github"></use></svg>GitHub
          </a>-->
          <a href="https://twitter.com/pagopa" class="small-prints px-1">
            <svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-twitter"></use></svg>Twitter
          </a>
          <a href="https://www.linkedin.com/company/pagopa/" class="small-prints px-1">
            <svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-linkedin"></use></svg>LinkedIn
          </a>
    </div>
    {% include lang_switch.html %}
    <div class="navbar-nav flex-row d-flex d-md-none">
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas" aria-label="Menu">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>