<nav class="navbar navbar-dark fixed-top navigation__slim d-md-none shadow">
  <div class="container">
    <a class="d-flex align-items-center navbar-logo text-decoration-none js-scroll-trigger " title="Home" href="/">
      <img src="{{ '/assets/img/io-it-logo-blue.svg' | relative_url }}" alt="io" class="io__icon"/>
      <span class="badge-beta">BETA</span>
    </a>
    <div class="text-right social d-none d-md-block">
         {% include social-icons.html %}
    </div>
    <div class="navbar-nav flex-row d-flex d-md-none pt-1">
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas" aria-label="Menu">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>