<nav class="navbar navbar-dark fixed-top navigation__slim">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger small mr-auto p-2" href="{{t.slim_owner_url}}" target="_blank" rel="noopener">{{t.slim_owner}}</a>
    {% include lang_switch.html %}
    <div class="navbar-nav flex-row d-flex d-md-none">
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas" aria-label="Menu">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>