<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-6">
      <a href="/giornalisti/">
        <svg class="icon icon-sm icon-primary align-top"><use xlink:href="/assets/svg/sprite.svg#it-chevron-left"></use></svg>
        <span>Indietro</span>
      </a>
    </div>
    <div class="col-12 col-md-6 text-md-right">
      <a href="{{ page.download_link }}">
        <svg class="icon icon-sm icon-primary align-top"><use xlink:href="/assets/svg/sprite.svg#it-download"></use></svg>
        <span>Scarica il comunicato</span>
      </a>
    </div>
  </div>
</div>
