<div class="pub-amm">
  <div class="section section-muted section-inset-shadow section--wpointers">
    <div class="container pb-5">
      <div class="row">
        <div
          class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 pt-5 px-3 px-md-0 text-center"
        >
          <h2 class="text-primary pb-4">
            I vantaggi per la PA
          </h2>
          <p class="text-primary">
            Tutte le funzioni necessarie alle Pubbliche Amministrazioni, grazie
            all'integrazione con <a href="https://innovazione.gov.it/it/progetti/anpr/" target="_blank" >ANPR</a>, <a href="https://www.pagopa.gov.it/" target="_blank" >pagoPA</a>, <a href="https://innovazione.gov.it/it/progetti/spid/" target="_blank" >SPID</a> e <a href="https://innovazione.gov.it/it/progetti/cie/" target="_blank" >CIE</a>.
          </p>
        </div>
      </div>
      <div class="row py-5 advantage-cards">
        <div class="col-12">
          <div class="d-md-flex flex-wrap justify-content-md-between">
            <div class="item d-md-flex mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center px-2">
                    <svg class="icon icon-lg mt-2">
                      <use
                        xlink:href="/assets/svg/pub-amm.svg#visibilita"
                      ></use>
                    </svg>
                    <h5 class="card-title text-primary mt-4">
                      Valorizzare e accrescere<br class="d-none d-md-inline"> la visibilità dei propri servizi
                    </h5>
                    <p class="card-small-text px-2 px-md-4">Tutti i servizi locali e nazionali rilevanti per il cittadino in un unico punto con un linguaggio semplice e diretto</p>
                  </div>
                </div>
            </div>
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center px-5">
                    <svg class="icon icon-lg mt-2">
                      <use
                        xlink:href="/assets/svg/pub-amm.svg#vantaggi_esperienza"
                      ></use>
                    </svg>
                    <h5 class="card-title text-primary mt-4">
                      Offrire un'esperienza di qualità al cittadino
                    </h5>
                    <p class="card-small-text px-2">Aggiornamenti costanti e promemoria che facilitano i cittadini nella gestione degli adempimenti verso un Ente pubblico</p>
                  </div>
                </div>
            </div>
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center">
                    <svg class="icon icon-lg mt-2">
                      <use
                        xlink:href="/assets/svg/pub-amm.svg#risparmiare"
                      ></use>
                    </svg>
                    <h5 class="card-title text-primary mt-4">
                      Ridurre i costi di sviluppo e <br class="d-none d-md-inline">comunicazione
                    </h5>
                    <p class="card-small-text px-2">Risparmio sulle spese di implementazione tecnologica e costi inferiori per l’invio di comunicazioni ai cittadini </p>
                  </div>
                </div>
            </div>
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center ">
                    <svg class="icon icon-lg mt-2">
                      <use
                        xlink:href="/assets/svg/pub-amm.svg#vantaggi_msg"
                      ></use>
                    </svg>
                    <h5 class="card-title text-primary mt-4">
                      Gestire notifiche, messaggi e pagamenti
                    </h5>
                    <p class="card-small-text px-2">Possibilità di pagare direttamente da messaggio o avviso cartaceo, riducendo i tempi e i costi d’incasso per l’Ente
</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-muted section-services section--wpointers">
    <div class="container pb-5">
      <div class="row">
        <div
          class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 pt-5 px-3 px-md-0 text-center text-white"
        >
          <h2 class="pb-4">
            Come portare i servizi su IO
          </h2>
          <p>
            Una <strong>breve guida per tutti gli enti</strong> che desiderano
            prepararsi a utilizzare IO come canale di erogazione dei propri
            servizi.
          </p>
        </div>
      </div>
      <div class="row py-5 px-3 px-md-0 services-text">
        <div class="col-12">
          <div
            class="d-md-flex flex-wrap justify-content-md-between row-buttons"
          >
          <div
          class="item d-flex flex-column align-items-start mt-5 md-5 mt-lg-0"
        >
          <svg class="mt-2 icon icon-srv-01">
            <use xlink:href="/assets/svg/pub-amm.svg#srv_01"></use>
          </svg>
          <h5 class="text-white mt-4">Adesione al progetto</h5>
          <p class="text-white mt-4">
            Il legale rappresentante dell’ente sottoscrive l'accordo di adesione identificando un Delegato per la gestione dei servizi su app IO

          </p>
          <a
            href="https://docs.pagopa.it/io-guida-tecnica/setup-iniziale"
            class="btn btn-outline-white btn-icon text-left mt-auto w-100 justify-content-start"
          >
            <svg class="icon mr-2 cta">
              <use
                xlink:href="/assets/svg/pub-amm.svg#srv_back_office"
              ></use>
            </svg>
            <span class="text-uppercase">Accordo <br>di adesione </span>
          </a>
        </div>
            <div class="item d-flex flex-column align-items-start mt-5 mt-md-0">
              <svg class="mt-2 icon icon-srv-02">
                <use xlink:href="/assets/svg/pub-amm.svg#srv_02"></use>
              </svg>
              <h5 class="text-white mt-4">Integrazione tecnologica</h5>
              <p class="text-white mt-4">
                Il Delegato, in autonomia o con il supporto di un partner tecnologico, si iscrive al back-office per creare il primo servizio e generare le chiavi API necessarie per l'integrazione
              </p>
              <a
                href="https://docs.pagopa.it/io-guida-tecnica/funzionalita/pubblicare-un-servizio/creare-un-servizio"
                class="btn btn-outline-white btn-icon text-left mt-auto w-100 justify-content-start"
              >
                <svg class="icon mr-2 cta">
                  <use
                    xlink:href="/assets/svg/pub-amm.svg#srv_back_office"
                  ></use>
                </svg>
                <span class="text-uppercase">Guida tecnica</span>
              </a>
            </div>
            <div class="item d-flex flex-column align-items-start mt-5 mt-lg-0">
              <svg class="mt-2 icon icon-srv-03">
                <use xlink:href="/assets/svg/pub-amm.svg#srv_03"></use>
              </svg>
              <h5 class="text-white mt-4">Pubblicazione dei servizi</h5>
              <p class="text-white mt-4">
                Il Delegato compila le schede servizio nel back-office inserendo i dati necessari, e procede con l'attivazione dei servizi in produzione
              </p>
              <a
                href="/manuale-servizi/"
                class="btn btn-outline-white btn-icon text-left mt-auto w-100 justify-content-start"
              >
                <svg class="icon mr-2 cta">
                  <use
                    xlink:href="/assets/svg/pub-amm.svg#srv_back_office"
                  ></use>
                </svg>
                <span class="text-uppercase">manuale dei servizi</span>
              </a>
            </div>
            
            <div class="item d-flex flex-column align-items-start mt-5 mt-lg-0">
              <svg class="mt-2 icon icon-srv-04">
                <use xlink:href="/assets/svg/pub-amm.svg#srv_04"></use>
              </svg>
              <h5 class="text-white mt-4">Comunicazione ai cittadini</h5>
              <p class="text-white mt-4">
                L'Ente organizza delle attività di comunicazione per informare i cittadini che alcuni servizi sono disponibili anche tramite app IO
              </p>
              <a href="/kit-comunicazione-enti/" target="_blank"
                 title="Kit di comunicazione"
                class="position-relative btn btn-outline-white btn-icon text-left mt-auto w-100 justify-content-start"
              >
                <svg class="icon mr-2 cta">
                  <use xlink:href="/assets/svg/pub-amm.svg#srv_kit_comm"></use>
                </svg>
                <span class="text-uppercase">kit di<br>comunicazione
                </span>
                
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-12 py-2 py-md-5 text-center">
          <a href="{{page.intro_primary_link}}" onclick="ga('send', 'event', 'link', 'click', 'Guida Enti', 1)" target="_blank" class="btn btn-sm btn-white text-primary text-uppercase ">{{page.intro_primary_text}}</a>
          </div>
      </div>
    </div>
  </div>
  <div class="section section--wpointers">
    <div class="container pt-5 pt-md-0 pb-5">
      <div class="row">
        <div
          class="col-md-6 order-md-2 offset-md-1 pl-3 pt-3 py-md-5 px-md-5 my-md-5"
        >
          <img
            class="img-fluid"
            src="{{site.imagesurl}}/assets/img/codice_fiscale.svg"
            alt="Codice Fiscale"
          />
        </div>
        <div class="col-md-5 order-md-1 pt-md-5 px-3 px-md-0">
          <h2 class="text-primary pb-4">
            È sufficiente conoscere il codice fiscale di un utente per usare le
            funzioni di IO
          </h2>
          <p>
           <strong>Qualunque ente pubblico che conosca il codice fiscale di un cittadino può utilizzare le API di IO per contattarlo</strong>, inviargli documenti o avvisi, o conoscere le preferenze dell'utente in termini di servizi attivi e canali di contatto.</p>
<p>La certezza di inviare comunicazioni, avvisi e pagamenti esattamente al cittadino destinatario di quel servizio è garantita dal processo di autenticazione basato su SPID o, in alternativa, CIE. Se il cittadino non dovesse ancora aver attivato l'app IO sul proprio dispositivo, la comunicazione non sarà inoltrata e l'ente potrà raggiungerlo tramite i canali tradizionali.
          </p>

        </div>
      </div>
      <div class="row">
        <div
          class="col-md-6 order-md-1 pl-3 pt-3 py-md-5 px-md-5 my-md-5 text-md-center"
        >
          <img
            class="img-fluid"
            src="{{site.imagesurl}}/assets/img/privacy_sicurezza.svg"
            alt="Privacy e sicurezza"
          />
        </div>
        <div class="col-md-5 order-md-2 pt-md-5 px-3 px-md-0">
          <h2 class="text-primary pb-4">
            Privacy e sicurezza
          </h2>
          <p>
            IO rispetta le prescrizioni della normativa vigente, incluse le recenti indicazioni del nuovo regolamento GDPR, in ossequio al principio “privacy by design”.
          </p>
          <p>
            Documenti e messaggi sono conservati in un database dispiegato su datacenter europei che utilizza l’“encryption at rest”. Il contenuto è presente nei sistemi del provider solo per il tempo che serve a garantirne l’invio. I dati relativi a transazioni e metodi di pagamento sono trattati da un fornitore certificato PCI.
          </p>
          <p>
            In qualsiasi momento, il cittadino potrà scegliere di effettuare un download di tutti i dati che lo riguardano o di cancellare la sua iscrizione dal servizio rimuovendo i dati salvati. In questo senso, IO offre agli Enti l’opportunità di migliorare l’esperienza del cittadino anche sotto il profilo di accessibilità delle informazioni relative alla propria privacy.
          </p>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-6 order-md-2 offset-md-1 pl-3 pt-3 py-md-5 px-md-5 my-md-5"
        >
          <img
            class="img-fluid"
            src="{{site.imagesurl}}/assets/img/opensource.svg"
            alt="Opensource"
          />
        </div>
        <div class="col-md-5 order-md-1 pt-md-5 px-3 px-md-0">
          <h2 class="text-primary pb-4">
            Un progetto open source
          </h2>
          <p>
            IO è un progetto open source, basato su processi di sviluppo aperti e partecipati. Questo permette di rovesciare il paradigma della “sicurezza tramite segretezza”: i codici dell’applicazione e delle piattaforme di back-end sono infatti a disposizione di tutti, quindi aperti allo scrutinio di tutta la comunità IT e di coloro che scelgono di dare una mano segnalando malfunzionamenti ed eventuali bug.
</p><p>
Il codice è sviluppato mettendo in pratica le best practice OWASP e vengono utilizzati tool che permettono di monitorare l’integrità delle dipendenze. Ma garantire la sicurezza è un processo continuativo: l’aiuto della community è un fattore importante per il successo delle pratiche di “responsible disclosure”.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-muted section-carousel section--wpointers" data-slideid="1">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <div class="row px-3 px-md-0">
            <div class="col-12 col-lg-8">
              <div class="row">
                <div class="col pt-5">
                  <img class="img-fluid" src="{{site.imagesurl}}/assets/img/citazione.svg" />
                </div>
              </div>
              <ul class="list-unstyled card-slider">
              <li data-slideid="1">
                  <p class="font-italic text-white mt-4">
                    IO permette di “fare sistema”, cioè di creare valore oltre che per il singolo anche per la collettività, creando quei presupposti culturali necessari perché il concetto di cittadinanza digitale possa espandersi con rapidità e in maniera diffusa
                  </p>
                  <h6 class="text-white text-uppercase mt-4">
                    <a title="ACI" href="/ente/aci.html" class="text-white text-decoration-underline">ACI</a>
                  </h6>
                </li>
                <li data-slideid="2">
                  <p class="font-italic text-white mt-4">
                    La spinta propulsiva verso la digitalizzazione dei servizi di interesse per i cittadini non può non tenere in considerazione IO
                  </p>
                  <h6 class="text-white text-uppercase mt-4">
                    <a title="Comune di Milano" href="/ente/comune-di-milano.html" class="text-white text-decoration-underline">comune di milano</a>
                  </h6>
                </li>
                <li data-slideid="3">
                  <p class="font-italic text-white mt-4">
                    Aderire all’iniziativa ci è sembrato un passo naturale da
                    compiere: anche se il portale Torinofacile ha già al suo
                    interno un servizio che consente di ricevere notifiche
                    personalizzate, fornire ai nostri utenti un ulteriore canale
                    di fruizione dei servizi può arricchire e semplificare
                    sempre più il rapporto cittadino/Comune.
                  </p>
                  <h6 class="text-white text-uppercase mt-4">
                    <a title="Comune di Torino" href="/ente/comune-di-torino.html" class="text-white text-decoration-underline">comune di torino</a>
                  </h6>
                </li>
                <li data-slideid="4">
                  <p class="font-italic text-white mt-4">
                    Il progetto IO è “disruptive” sotto tanti aspetti: per come è pensato (open-source, collaborazione con gli utenti nella fase di sviluppo), per le opportunità di collaborazione che nascono in fase di sviluppo (ad esempio, nel dialogo con le software house coinvolte per l’erogazione dei servizi locali) e per l’integrazione completa alle piattaforme abilitanti (SPID e pagoPA in primis)
                    
                  </p>
                  <h6 class="text-white text-uppercase mt-4">
                    <a title="Comune di Ripalta Cremasca"  href="/ente/comune-di-ripalta-cremasca.html" class="text-white text-decoration-underline">Comune di Ripalta Cremasca</a>
                  </h6>
                </li>
                
              </ul>
              <div class="row">
                <div class="col card-slider-buttons">
                  <button type="button" data-slide="prev" class="btn btn-xs">
                    <svg class="icon icon-white">
                      <use
                        xlink:href="/assets/svg/sprite.svg#it-arrow-left"
                      ></use>
                    </svg>
                  </button>
                  <button type="button" data-slide="next" class="btn btn-xs">
                    <svg class="icon icon-white">
                      <use
                        xlink:href="/assets/svg/sprite.svg#it-arrow-right"
                      ></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-muted section--wpointers section--legge">
    <div class="container pb-5 px-3 px-md-0">
      <div class="row">
        <div
          class="col-lg-4 pt-3 pt-md-5 mt-md-5 pb-md-3 mb-md-3 pb-lg-5 mb-lg-3"
        >
          <h2 class="text-primary pb-4">
            Cosa dice la Legge
          </h2>
          <p class="text-primary">
            Le indicazioni del Codice dell'Amministrazione Digitale
          </p>
        </div>
        <div class="col-md-6 col-lg-3 offset-lg-1 pt-lg-5 pr-md-3">
          <div class="card card-teaser rounded shadow mt-lg-5 mb-md-3">
            <div class="card-body">
              <h4 class="card-title text-primary">
                Il "Punto di Accesso telematico ai servizi della PA"
              </h4>
              <p class="card-text mt-1">
                <a href="https://docs.italia.it/italia/piano-triennale-ict/codice-amministrazione-digitale-docs/it/v2017-12-13/_rst/capo5_sezione3_art64-bis.html" target="_blank" class="text-decoration-underline">L'articolo 64-bis</a> istituisce il "punto di accesso telematico
                attivato presso la Presidenza del Consiglio dei Ministri", come
                il canale attraverso cui tutti i soggetti pubblici devono
                rendere fruibili i propri servizi.
              </p>
            </div>
          </div>
          <div class="card card-teaser rounded shadow mt-3">
            <div class="card-body">
              <h4 class="card-title text-primary">
                I doveri delle Pubbliche Amministrazioni
              </h4>
              <p class="card-text mt-1">
                Per rendere effettivo questo diritto tutte le pubbliche
                amministrazioni devono progettare i propri servizi digitali in
                modo da garantire l'integrazione e l'interoperabilità con il
                back-end di IO, riorganizzando e aggiornando i propri servizi a
                partire dalle reali esigenze degli utenti.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 pt-3 pt-lg-4 px-0 pl-md-3">
          <div class="card card-teaser rounded shadow mt-lg-4 mb-md-3">
            <div class="card-body">
              <h4 class="card-title text-primary">
                Il "Diritto a servizi on-line semplici e integrati"
              </h4>
              <p class="card-text mt-1">
                <a href="https://docs.italia.it/italia/piano-triennale-ict/codice-amministrazione-digitale-docs/it/v2018-09-28/_rst/capo1_sezione2_art7.html" target="_blank" class="text-decoration-underline">L'articolo 7</a> aggiunge che tutti i cittadini hanno il diritto di
                fruire dei servizi erogati dai soggetti pubblici in forma
                digitale e in modo integrato, anche tramite il punto di accesso
                telematico e attraverso dispositivi mobili.
              </p>
            </div>
          </div>
          <div class="card card-teaser rounded shadow mt-3">
            <div class="card-body">
              <h4 class="card-title text-primary">
                Da quando saranno integrati i servizi?
              </h4>
              <p class="card-text mt-1">
                Il <a href="https://docs.italia.it/italia/piano-triennale-ict/codice-amministrazione-digitale-docs/it/v2018-09-28/index.html" target="_blank" class="text-decoration-underline">correttivo al CAD</a> afferma che tutti i cittadini devono poter
                usufruire di questo diritto a partire dalla data di attivazione
                del "punto di accesso telematico", quindi da quando IO uscirà
                dalla fase beta.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-muted section-services section--wpointers">
    <div class="container pb-5">
      <div class="row">
        <div class="col text-center mt-5 pt-5">
          <img
            class="img-fluid"
            src="{{site.imagesurl}}/assets/img/porta_servizi_io.svg"
            alt="Porta i tuoi servizi su IO"
          />
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 px-3 px-md-0 text-center text-white"
        >
          <h2 class="pb-4">
            Porta i tuoi servizi su IO
          </h2>
          <p class="px-md-5">
            Vuoi offrire i tuoi servizi tramite IO? Iscriviti al portale di
            back-office per iniziare a creare il profilo digitale dell'ente
            all'interno dell'app e autorizzare la creazione di servizi.
          </p>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col px-3 mt-4 text-center">
          <a onclick="ga('send', 'event', 'link', 'click', 'Guida Enti', 1)"
            href="{{page.intro_primary_link}}"
            target="_blank"
            class="btn btn-sm btn-white text-primary text-uppercase col-12 col-md-5 col-lg-3"
            >{{page.intro_primary_text}}</a>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col text-center">
          <a href="{{page.intro_secondary_link}}" class="text-white text-hover-green"
             onclick="ga('send', 'event', 'link', 'click', 'Chiedi info enti', 1)">
            <svg class="icon icon-white mr-1">
              <use xlink:href="/assets/svg/sprite.svg#it-mail"></use>
            </svg>
            <span>Contatta il team di IO</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
