<div class="roadmap-timeline" style="margin-bottom: -48px;">
  <div class="section section-muted section-inset-shadow section--wpointers">
    <div class="container">
      <div class="row">
        <div class="col py-5">
          <div class="d-flex justify-content-start align-items-center">
            <div class="pr-3">Filtra per fasi:</div>
            <div class="filter-tool">
              <button type="button" data-click="" class="btn btn-primary text-uppercase">
                Tutte le fasi
              </button>
              <button
                type="button"
                data-click="people"
                class="btn btn-outline-primary text-uppercase btn-icon"
              >
                <svg class="icon">
                  <use xlink:href="/assets/svg/roadmap.svg#people_b"></use>
                </svg>
                <span>Co-design</span>
              </button>
              <button
                type="button"
                data-click="phone"
                class="btn btn-outline-primary text-uppercase btn-icon"
              >
                <svg class="icon">
                  <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
                </svg>
                <span>Prodotto</span>
              </button>
              <button
                type="button"
                data-click="logo"
                class="btn btn-outline-primary text-uppercase btn-icon"
              >
                <svg class="icon">
                  <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
                </svg>
                <span>Servizi</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center py-5">
        <div class="col-12">
          <div class="point-list-wrapper">
            {% include roadmap/2018_2nd.html %}
            {% include roadmap/2018_3rd.html %}
            {% include roadmap/2018_4th.html %}
            {% include roadmap/2019_1st.html %}
            {% include roadmap/2019_2nd.html %}
            {% include roadmap/2019_3rd.html %}
            {% include roadmap/2019_4th.html %}
            {% include roadmap/2020_1st.html %}
            {% include roadmap/2020_2nd.html %}
            {% include roadmap/2020_3rd.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
