<div class="roadmap-timeline" style="margin-bottom: -48px;">
  <div class="section section-muted section-inset-shadow section--wpointers">
    <div class="container">
      <div class="row">
        <div class="col py-5">
          <div class="d-flex justify-content-start align-items-center">
            <div class="pr-3">Filtra per fasi:</div>
            <div class="filter-tool">
              <button type="button" class="btn btn-primary text-uppercase">
                Tutte le fasi
              </button>
              <button
                type="button"
                data-click="people"
                class="btn btn-outline-primary text-uppercase btn-icon"
              >
                <svg class="icon">
                  <use xlink:href="/assets/svg/roadmap.svg#people_b"></use>
                </svg>
                <span>Co-design</span>
              </button>
              <button
                type="button"
                data-click="phone"
                class="btn btn-outline-primary text-uppercase btn-icon"
              >
                <svg class="icon">
                  <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
                </svg>
                <span>Prodotto</span>
              </button>
              <button
                type="button"
                data-click="logo"
                class="btn btn-outline-primary text-uppercase btn-icon"
              >
                <svg class="icon">
                  <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
                </svg>
                <span>Servizi</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center py-5">
        <div class="col-12">
          <div class="point-list-wrapper">
            <!-- SX - SECONDO TRIMESTRE 2018 -->
            <div class="point-list">
              <div class="point-list-aside point-list-primary">
                <div class="roadtip arrow arrow-right text-monospace">
                  Secondo trimestre 2018
                </div>
              </div>
              <div class="point-list-content"></div>
            </div>
            <!-- SX - LIGHT - SECONDO TRIMESTRE 2018 -->
            <div class="point-list" data-filter="light">
              <div class="point-list-aside with-line point-list-primary">
                <div class="roadicon">
                  <svg class="icon">
                    <use xlink:href="/assets/svg/roadmap.svg#light_w"></use>
                  </svg>
                </div>
                <h4 class="text-right pt-4">
                  Nasce l'idea di IO
                </h4>
                <p class="text-right">
                  Diego Piacentini racconta sul blog del Team per la
                  Trasformazione Digitale la <a href="#">storia di Anna</a>: il
                  team inizia a esplorare questa visione e come trasformarla in
                  un servizio a disposizione di tutti i cittadini.
                </p>
              </div>
              <div class="point-list-content"></div>
            </div>
            <!-- DX - TERZO TRIMESTRE 2018 -->
            <div class="point-list">
              <div class="point-list-aside point-list-primary"></div>
              <div class="point-list-content">
                <div>
                  <div class="roadtip arrow arrow-left text-monospace">
                    Terzo trimestre 2018
                  </div>
                </div>
              </div>
            </div>
            <!-- DX - PEOPLE - SECONDO TRIMESTRE 2018 -->
            <div class="point-list" data-filter="people">
              <div
                class="point-list-aside with-line with-line-right point-list-primary"
              ></div>
              <div class="point-list-content">
                <div>
                  <div class="roadicon white shadow-sm">
                    <svg class="icon">
                      <use xlink:href="/assets/svg/roadmap.svg#people_b"></use>
                    </svg>
                  </div>
                  <h4 class="pt-4">
                    Concept validation su prototipo
                  </h4>
                  <p class="text-left">
                    Il primo mockup viene mostrato a un gruppo di circa quaranta
                    cittadini. I partecipanti alla validazione interagiscono con
                    l’app compiendo dei task (loggarsi, leggere una notifica,
                    effettuare un pagamento) e commentando a voce alta ogni
                    azione, ogni dubbio, ogni difficoltà incontrata durante
                    l’interazione. La validazione del concept in fase di
                    sviluppo dell’app, ne conferma l'efficacia e delinea una
                    serie di indicazioni per l’ottimizzazione del design.
                  </p>
                </div>
              </div>
            </div>
            <!-- SX - QUARTO TRIMESTRE 2018 -->
            <div class="point-list">
              <div class="point-list-aside point-list-primary">
                <div class="roadtip arrow arrow-right text-monospace">
                  Quarto trimestre 2018
                </div>
              </div>
              <div class="point-list-content"></div>
            </div>
            <!-- SX - PEOPLE - QUARTO TRIMESTRE 2018 -->
            <div class="point-list" data-filter="people">
              <div class="point-list-aside with-line point-list-primary">
                <div class="roadicon white shadow-sm">
                  <svg class="icon">
                    <use xlink:href="/assets/svg/roadmap.svg#people_b"></use>
                  </svg>
                </div>
                <h4 class="text-right pt-4">
                  Prima demo funzionante dell'app
                </h4>
                <p class="text-right">
                  Un centinaio di membri delle istituzioni e di collaboratori
                  del Team per la Trasformazione Digitale sono invitati a
                  testare l'applicazione reale sui propri dispositivi. Ricevono
                  sull’app oltre venti messaggi di diverse tipologie e testano i
                  flussi di pagamento con carta di credito, sia da messaggio sia
                  partendo da QR code sull’avviso cartaceo.
                </p>
              </div>
              <div class="point-list-content"></div>
            </div>
            <!-- DX - PRIMO TRIMESTRE 2019 -->
            <div class="point-list">
              <div class="point-list-aside point-list-primary"></div>
              <div class="point-list-content">
                <div>
                  <div class="roadtip arrow arrow-left text-monospace">
                    Primo trimestre 2019
                  </div>
                </div>
              </div>
            </div>
            <!-- SX - SECONDO TRIMESTRE 2019 -->
            <div class="point-list">
              <div class="point-list-aside point-list-primary">
                <div class="roadtip arrow arrow-right text-monospace">
                  Secondo trimestre 2019
                </div>
              </div>
              <div class="point-list-content"></div>
            </div>
            <!-- SX - PEOPLE - SECONDO TRIMESTRE 2019 -->
            <div class="point-list" data-filter="people">
              <div class="point-list-aside with-line point-list-primary">
                <div class="roadicon white shadow-sm">
                  <svg class="icon">
                    <use xlink:href="/assets/svg/roadmap.svg#people_b"></use>
                  </svg>
                </div>
                <h4 class="text-right pt-4">
                  Test su invito di una prima versione beta<br />(closed-beta)
                </h4>
                <p class="text-right">
                  Alcuni enti territoriali e centrali invitano oltre un migliaio
                  di cittadini a testare l’app in contesti reali. Messaggi e
                  pagamenti relativi a un servizio saranno realmente inviati dai
                  sistemi degli enti coinvolti e, quindi, saranno validi a tutti
                  gli effetti. Il team di sviluppo di IO interagisce con i beta
                  tester, iniziando a risolvere i bug segnalati dagli utenti e a
                  raccogliere feedback su come rendere l’app sempre più a misura
                  di cittadino.
                </p>
              </div>
              <div class="point-list-content"></div>
            </div>
            <!-- DX - TERZO TRIMESTRE 2019 -->
            <div class="point-list">
              <div class="point-list-aside point-list-primary"></div>
              <div class="point-list-content">
                <div>
                  <div class="roadtip arrow arrow-left text-monospace">
                    Terzo trimestre 2019
                  </div>
                </div>
              </div>
            </div>
            <!-- SX - QUARTO TRIMESTRE 2019 -->
            <div class="point-list">
              <div class="point-list-aside point-list-primary">
                <div class="roadtip arrow arrow-right text-monospace">
                  Quarto trimestre 2019
                </div>
              </div>
              <div class="point-list-content"></div>
            </div>
            <!-- SX - PEOPLE - SECONDO TRIMESTRE 2019 -->
            <div class="point-list" data-filter="people">
              <div class="point-list-aside with-line point-list-primary">
                <h6 class="text-uppercase mt-4">Oggi</h6>
              </div>
              <div class="point-list-content"></div>
            </div>
            <!-- DX - PRIMO TRIMESTRE 2020 -->
            <div class="point-list">
              <div class="point-list-aside point-list-primary"></div>
              <div class="point-list-content">
                <div>
                  <div class="roadtip arrow arrow-left text-monospace">
                    Primo trimestre 2020
                  </div>
                </div>
              </div>
            </div>
            <!-- DX - LIGHT - PRIMO TRIMESTRE 2020 -->
            <div class="point-list" data-filter="light">
              <div
                class="point-list-aside with-line with-line-right point-list-primary"
              ></div>
              <div class="point-list-content">
                <div>
                  <div class="roadicon shadow-sm">
                    <svg class="icon">
                      <use xlink:href="/assets/svg/roadmap.svg#light_w"></use>
                    </svg>
                  </div>
                  <h4 class="pt-4">
                    Pubblicazione della versione beta negli store
                  </h4>
                  <p class="text-left">
                    Chiunque potrà scaricare IO dagli store di Android e iOS. Il
                    lancio dell'applicazione avverrà però su base locale, nei
                    territori in cui gli enti abbiano effettivamente integrato
                    un numero sufficiente di servizi.
                  </p>
                </div>
              </div>
            </div>
            <!-- SX - SECONDO TRIMESTRE 2020 -->
            <div class="point-list">
              <div class="point-list-aside point-list-primary">
                <div class="roadtip arrow arrow-right text-monospace">
                  Secondo trimestre 2020
                </div>
              </div>
              <div class="point-list-content"></div>
            </div>
            <!-- SX - PEOPLE - SECONDO TRIMESTRE 2020 -->
            <div class="point-list" data-filter="people">
              <div class="point-list-aside with-line point-list-primary">
                <div class="roadicon white shadow-sm">
                  <svg class="icon">
                    <use xlink:href="/assets/svg/roadmap.svg#people_b"></use>
                  </svg>
                </div>
                <h4 class="text-right pt-4">
                  Validazione nuove funzionalità
                </h4>
                <p class="text-right">
                  Alcuni utenti in varie città d’Italia sono chiamati a dare il
                  proprio feedback sul design delle nuove funzionalità, in modo
                  da ottimizzare la progettazione prima di avviare l’attività di
                  sviluppo. Questa validazione coinvolgerà funzionalità come:
                  gestione delle deleghe, interazione con la sezione
                  “Documenti”, attivazione di “status update”, e altri
                  interventi sull’interfaccia grafica dell’applicazione.
                </p>
              </div>
              <div class="point-list-content"></div>
            </div>
            <!-- DX - SECONDO TRIMESTRE 2020 -->
            <div class="point-list">
              <div class="point-list-aside point-list-primary"></div>
              <div class="point-list-content">
                <div>
                  <div class="roadtip arrow arrow-left text-monospace">
                    Secondo trimestre 2020
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
