<div class="roadmap-timeline" style="margin-bottom: -48px;">
  <div class="section section-muted section-inset-shadow section--wpointers">
    <div class="container  ">
      <div class="row justify-content-center">
        <div class="col col-xl-11 py-5 px-3 px-md-0">
          <div class="filter-tool">
            <div class="pr-3">Filtra per fasi:</div>
            <div class="filter-buttons">
              <button
                type="button"
                data-click=""
                class="btn btn-primary text-uppercase py-2 btn-all"
              >
                Tutte le fasi
              </button>
              <button
                type="button"
                data-click="people"
                class="btn btn-outline-primary text-uppercase btn-icon py-2"
              >
                <svg class="icon">
                  <use xlink:href="/assets/svg/roadmap.svg#people_b"></use>
                </svg>
                <span>Co-design</span>
              </button>
              <button
                type="button"
                data-click="phone"
                class="btn btn-outline-primary text-uppercase btn-icon py-2" 
              >
                <svg class="icon">
                  <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
                </svg>
                <span>Prodotto</span>
              </button>
              <button
                type="button"
                data-click="logo"
                class="btn btn-outline-primary text-uppercase btn-icon py-2"
              >
                <svg class="icon">
                  <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
                </svg>
                <span>Servizi</span>
              </button>
              <a href="#nextsteps" data-attribute="forward"
                class="btn btn-sm text-uppercase btn-next-steps"
              >
                <span>Prossimi passi</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center py-5 px-3 px-md-0">
        <div class="col-12">
          <div class="point-list-wrapper">
            {% include roadmap/2018_2nd.html %}
            {% include roadmap/2018_3rd.html %}
            {% include roadmap/2018_4th.html %}
            {% include roadmap/2019_1st.html %}
            {% include roadmap/2019_2nd.html %}
            {% include roadmap/2019_3rd.html %}
            {% include roadmap/2019_4th.html %}
            {% include roadmap/2020_1st.html %}
            {% include roadmap/2020_2nd.html %}
            {% include roadmap/2020_3rd.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
