{% assign buildTime = site.time | date: '%Y%m%d%H%M' %}

<script src="{{ '/assets/js/fonts.js' }}"></script>

{% comment %} jQuery 3.3.1 - Copyright © JS Foundation and other contributors,
https://js.foundation/ - MIT license @link https://github.com/jquery/jquery/
{% endcomment %}
<script src="{{ '/assets/js/vendor/jquery.min.js' }}"></script>

{% comment %} PopperJS 1.14.3 - Copyright © 2016 Federico Zivolo and
contributors - MIT license @link https://github.com/FezVrasta/popper.js
{% endcomment %}
<script src="{{ '/assets/js/vendor/popper.min.js' }}"></script>

<script src="{{ '/assets/js/vendor/bootstrap-italia.min.js?' | append: buildTime | relative_url }}"></script>

{%if page.layout == 'home' %}
<script src="{{ '/assets/js/home.js' }}"></script>
{% comment %} Parallax 3.1.0 - Copyright © 2014
Matthew Wagerfield - @wagerfield - MIT license @link
https://github.com/wagerfield/parallax {% endcomment %}
<script async src="{{ '/assets/js/vendor/parallax.min.js' }}"></script>

<script src="{{ '/assets/js/vendor/owl.carousel.min.js' }}"></script>

{% comment %} Anime 2.2.0 - Copyright © 2019 Julian Garnier - MIT license @link
https://github.com/juliangarnier/anime/ {% endcomment %}
<script async src="{{ '/assets/js/vendor/anime.min.js' }}"></script>

{% comment %} ScrollMagic 2.0.5 - Copyright © 2015 Jan Paepke - MIT license and
the GPL @link https://github.com/janpaepke/ScrollMagic {% endcomment %}
<script async src="{{ '/assets/js/vendor/ScrollMagic.min.js' }}"></script>

{% comment %} This script helps with ScrollMagic 2.0.5 debug - Copyright © 2015
Jan Paepke - MIT license and the GPL @link
http://scrollmagic.io/docs/debug.addIndicators.html#Scene.addIndicators
<script
  async
  src="{{ '/assets/js/vendor/debug.addIndicators.min.js' }}"
></script>
{% endcomment %}
{% else %}
{% comment %} BaguetteBox 1.10.0 - Copyright © 2018
feimosi - MIT license @link https://github.com/feimosi/baguetteBox.js {%
endcomment %}
<script src="{{ '/assets/js/vendor/baguetteBox.min.js' }}"></script>

{% comment %} Stickybits 3.6.5 - Copyright (c) 2016 Dollar Shave Club, Inc. -
MIT license https://github.com/dollarshaveclub/stickybits {% endcomment %}
<script src="{{ '/assets/js/vendor/stickybits.min.js' }}"></script>



{% endif %}

{%if page.ref == 'roadmap' %}
<script src="{{ '/assets/js/roadmap/filter.js?' | append: buildTime | relative_url }}"></script>
{% endif %}

{%if page.ref contains 'faq' %}
<script src="{{ '/assets/js/faq/faq.js' }}"></script>
{% endif %}

{%if page.ref == 'giornalisti' %}
<script src="{{ '/assets/js/giornalisti.js' }}"></script>
{% endif %}

{%if page.ref == 'pubbliche-amministrazioni' %}
<script src="{{ '/assets/js/pub-amm.js' }}"></script>
{% endif %}

{% if page.ref == 'index' or page.ref=='bonus-vacanze' %}
  <script src="{{ site.baseUrl }}/assets/js/dashboard.js"></script>
{% endif %}

{% if page.ref == 'dashboard' %}
  <script src="{{ site.baseUrl }}/assets/js/dashboard/app/app.js" defer></script>
  <script src="{{ site.baseUrl }}/assets/js/dashboard/app/vendor.js" defer></script>
{% endif %}

{% if page.ref == 'cashback-metodi' %}
<script src="{{ '/assets/js/cashback-metodi.js?' | append: buildTime | relative_url }}"></script>
{% endif %}


<script
  async
  src="{{ '/assets/js/main.js?' | append: buildTime | relative_url }}"
></script>

{% if page.extra_scripts != nil %}
  {% for s in page.extra_scripts %}
    <script src="{{ s | append: '?' | append: buildTime | relative_url }}"></script>
  {% endfor %}
{% endif %}
