<a href="https://www.facebook.com/IOitaliait/" target="_blank" class="small-prints  ">
    <svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-facebook"></use></svg>Facebook
</a>
<a href="https://www.instagram.com/ioitaliait/" target="_blank" class="small-prints  ">
    <svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-instagram"></use></svg>Instagram
</a>
<a href="https://twitter.com/ioitaliait" target="_blank" class="small-prints  ">
    <svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-twitter"></use></svg>Twitter
</a>
<a href="https://www.youtube.com/channel/UCqCCrDHNwxKvTamvjpunyyg" class="small-prints  " target="_blank">
    <svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-youtube"></use></svg>Youtube
</a>
<a href="https://www.linkedin.com/showcase/io-l'app-dei-servizi-pubblici/" target="_blank" class="small-prints  ">
    <svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-linkedin"></use></svg>LinkedIn
</a>
<a href="https://medium.com/io-lapp-dei-servizi-pubblici" class="small-prints" target="_blank" >
    <svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-medium"></use></svg>Medium
</a>