
<a href="https://twitter.com/pagopa" target="_blank" class="small-prints  ">
<svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-twitter"></use></svg>Twitter
</a>
{% comment %}
<a href="https://www.instagram.com/ioitaliait/" target="_blank" class="small-prints  ">
<svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-instagram"></use></svg>Instagram
</a>

<a href="https://www.facebook.com/IOitaliait/" target="_blank" class="small-prints  ">
<svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-facebook"></use></svg>Facebook
</a>
{% endcomment %}
<a href="https://www.linkedin.com/company/pagopa/" target="_blank" class="small-prints  ">
<svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-linkedin"></use></svg>LinkedIn
</a>
{% comment %}
<a href="https://www.youtube.com/channel/UCqCCrDHNwxKvTamvjpunyyg" class="small-prints  " target="_blank">
<svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-youtube"></use></svg>Youtube
</a>

<a href="https://medium.com/io-lapp-dei-servizi-pubblici" class="small-prints" target="_blank" >
<svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-medium"></use></svg>Medium
</a>
{% endcomment %}

