
<a href="https://twitter.com/pagopa" class="small-prints  ">
<svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-twitter"></use></svg>Twitter
</a>
<a href="#" class="small-prints  ">
<svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-instagram"></use></svg>Instagram
</a>

<a href="#" class="small-prints  ">
<svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-facebook"></use></svg>Facebook
</a>
<a href="https://www.linkedin.com/company/pagopa/" class="small-prints  ">
<svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-linkedin"></use></svg>LinkedIn
</a>

<a href="#" class="small-prints  ">
<svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-youtube"></use></svg>Youtube
</a>
<a href="#" class="small-prints  ">
<svg class="icon"><use xlink:href="/assets/svg/sprite.svg#it-medium"></use></svg>Medium
</a>
