{% comment %} Preloading audio files {% endcomment %}
<audio id="sound-01" src="{{ '/assets/mp3/io-sound-01.mp3' | relative_url }}" preload></audio>
<audio id="sound-02" src="{{ '/assets/mp3/io-sound-02.mp3' | relative_url }}" preload></audio>
<audio id="sound-03" src="{{ '/assets/mp3/io-sound-03.mp3' | relative_url }}" preload></audio>
<audio id="sound-04" src="{{ '/assets/mp3/io-sound-04.mp3' | relative_url }}" preload></audio>
<audio id="sound-05" src="{{ '/assets/mp3/io-sound-05.mp3' | relative_url }}" preload></audio>
<audio id="sound-06" src="{{ '/assets/mp3/io-sound-06.mp3' | relative_url }}" preload></audio>
<audio id="sound-07" src="{{ '/assets/mp3/io-sound-07.mp3' | relative_url }}" preload></audio>