<div class="page-sviluppatori">
    <div class="section section-muted section-inset-shadow section--wpointers">
    <div class="container pb-5">
      <div class="row">
        <div
          class="col-md-8 pt-5 px-3 px-md-0 ">
          <h2 class="text-primary pb-4">
            Come integrarsi e contribuire al progetto
          </h2>
          <p>
          Lo sviluppo open e collaborativo, oltre ad essere uno dei punti chiave del <strong><a href="https://developers.italia.it" target="_blank">nuovo modo di fare software</a></strong> nella Pubblica Amministrazione italiana, si adatta perfettamente a IO, che mira ad agevolare la relazione tra i cittadini e la Pubblica Amministrazione (PA) attraverso la creazione di una piattaforma di componenti riutilizzabili in grado di rendere i servizi digitali più efficaci.
            </p><p>I <strong><a href="https://github.com/teamdigitale/io/blob/master/CONTRIBUTING.it.md#repository-github" target="_blank">componenti sono pubblici</a></strong> e qualunque fornitore di servizi può integrali o proporre miglioramenti. Ogni modulo potrà quindi essere riutilizzato dalle amministrazioni che erogano servizi digitali: questo permette di garantire coerenza nell'esperienza utente e di risparmiare sulla spesa richiesta da un’implementazione tout-court di tali tecnologie trasversali.
            L’interfaccia è progettata seguendo il metodo proposto dalle <strong><a href="https://designers.italia.it" target="_blank">linee guida per il design dei servizi pubblici</a></strong> e utilizzano i <strong><a href="https://designers.italia.it" target="_blank">kit di Designers Italia</a></strong>, così da mettere alla prova e testare sul campo gli strumenti di prototipazione e gli altri kit che le altre Pubbliche Amministrazione potranno a loro volta utilizzare.

          </p>
        </div>
      </div>

    </div><!--/.container-->
  </div><!--/ .section--> 
  <div class="section section-muted section-reference section--wpointers">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 pt-5 px-3 px-md-0 text-center">
                <h2 class="text-white ">
                    Reference implementation
                </h2>
                <p class="text-white py-3 px-md-5">Un riferimento per l'implementazione di tutte le piattaforme previste dal Piano Triennale.</p>
            </div>
        </div><!--/.row-->
        <div class="row py-2 advantage-cards mt-md-2">
        <div class="col-12">
          <div class="d-md-flex flex-wrap justify-content-md-between">
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center px-4">
                    
                    <h5 class="card-title text-primary mt-4">
                      SPID
                    </h5>
                    <p class="text-primary px-lg-2">Il Sistema Pubblico di Identità Digitale</p>
                  </div>
                </div>
            </div>
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center px-4">
                    <h5 class="card-title text-primary mt-4">
                      PagoPA
                    </h5>
                    <p class="text-primary px-lg-2">Il Sistema dei pagamenti a tutte le Pubbliche Amministrazioni</p>
                  </div>
                </div>
            </div>
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center px-4">
                    <h5 class="card-title text-primary mt-4">
                      CIE
                    </h5>
                    <p class="text-primary px-lg-2">La Carta di Identità Elettronica</p>
                  </div>
                </div>
            </div>
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center px-4">
                    <h5 class="card-title text-muted mt-4">
                      ANPR
                    </h5>
                    <p class="px-lg-2 text-muted">L'Anagrafe Nazionale della Popolazione Residente</p>
                  </div>
                </div>
            </div>
          </div>
         </div>
      </div>
    </div><!--/.container -->

  </div><!--/.section-->
  <div class="section section-workflow section--wpointers my-md-4">
    
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-3">
                 <h2 class="text-primary ">
                    Il workflow collaborativo di IO
                </h2>
                <p class="lead text-primary py-md-4">La scelta di utilizzare un modello Agile e opensource</p>
                <p>Analisi e progettazione si svolgono tramite l’ausilio di strumenti ormai consolidati nel mondo del privato, ma che fino ad ora hanno trovato poco spazio in quello della Pubblica Amministrazione, quali sprint settimanali, stand-up meeting, strumenti di collaborazione che permettono la comunicazione tra i membri del team “diffuso”.
                </p>
                <p>I tool che supportano la progettazione e lo sviluppo dell’applicazione sono:</p>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="row">
                    <div class="col-md-6 p-md-4">
                        <div class="card card-teaser rounded shadow mb-2 mb-md-4">
                            <div class="card-body">
                            <svg class="icon icon-lg mb-2">
                            <use
                                xlink:href="/assets/svg/sviluppatori.svg#github"
                            ></use>
                            </svg>
                            <h5 class="card-title ">
                                Repository Github
                            </h5>
                            <p class="card-text mt-md-3">
                                Tutto il codice sorgente dell’applicazione e la relativa documentazione, così come la maggior parte del codice che è necessario alla infrastruttura su cui poggia l’applicazione, sono disponibili su GitHub, la più grande piattaforma di condivisione di codice esistente.
                            </p>
                            </div>
                        </div><!--/card-->
                        <div class="card card-teaser rounded shadow">
                            <div class="card-body">
                            <svg class="icon icon-lg mb-2">
                            <use
                                xlink:href="/assets/svg/sviluppatori.svg#drive"
                            ></use>
                            </svg>
                            <h5 class="card-title ">
                                Google Drive
                            </h5>
                            <p class="card-text mt-md-3">
                            Una buona documentazione è alla base di qualunque progetto aperto: lo strumento di scrittura collaborativa offerto gratuitamente da Google consente di lavorare a più mani sullo stesso documento, aggiornandolo con facilità per tenere traccia delle evoluzioni del progetto e consentendo facilmente di includere nuovi collaboratori.
                            </p>
                            </div>
                        </div><!--/card-->
                    </div>
                    <div class="col-md-6  p-md-4">
                        <div class="card card-teaser rounded shadow mb-2 mb-md-4">
                            <div class="card-body">
                            <svg class="icon icon-lg mb-2">
                            <use
                                xlink:href="/assets/svg/sviluppatori.svg#pivotal"
                            ></use>
                            </svg>
                            <h5 class="card-title ">
                                Pivotal Tracker
                            </h5>
                            <p class="card-text mt-md-3">Per pianificare le attività e tracciarne il progresso il team di IO usa Pivotal Tracker, definendo le feature della applicazione e del backend utilizzando il metodo delle user stories raggruppate in epics.</p>
                            </div>
                        </div><!--/card-->
                        <div class="card card-teaser rounded shadow">
                            <div class="card-body">
                            <svg class="icon icon-lg mb-2">
                            <use
                                xlink:href="/assets/svg/sviluppatori.svg#slack"
                            ></use>
                            </svg>
                            <h5 class="card-title ">
                                Canale slack
                            </h5>
                            <p class="card-text mt-md-3">
                            Slack è ad oggi lo strumento più efficiente e versatile per lavorare a distanza. Ogni conversazione che riguarda il progetto di cittadinanza digitale avviene in canali slack pubblici: questo implica che chiunque voglia partecipare alla conversazione o capire come si è arrivati a determinate scelte progettuali può in ogni momento entrare, leggere le conversazioni e partecipare a quelle future.</p>
                            </div>
                        </div><!--/card-->
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div><!--/.section -->
  <div class="section section-muted section-test section--wpointers">
    <div class="container pb-5">
      <div class="row">
        <div class="col text-center mt-5 pt-5">
          <img
            class="img-fluid"
            src="/assets/img/porta_servizi_io.svg"
            alt="Inizia a fare dei test, porta i servizi su IO"
          />
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 px-3 px-md-0 text-center text-white"
        >
          <h2 class="pb-4">
            Inizia a fare dei test, porta i servizi su IO
          </h2>
          <p class="px-md-5">
            Leggi la documentazione per l'integrazione tramite API<br class="d-none d-md-inline"> e iscriviti a <a href="https://io.italia.it/backoffice" class="text-decoration-none backoffice" title="Io Italia Backoffice" target="_blank">io.italia.it/backoffice</a> per iniziare a generare le API<br class="d-none d-md-inline"> per i tuoi servizi e sperimentare.
          </p>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col px-3 mt-4 text-center">
          <a
            href="{{page.intro_primary_link}}"
            target="_blank"
            class="btn btn-white text-primary text-uppercase col-12 col-md-5 col-lg-3"
            >{{page.intro_primary_text}}</a>
            {% if page.intro_ter_link %}
            <br>
            <a
            href="{{page.intro_ter_link}}"
            target="_blank"
            class="btn  text-white border border-white text-uppercase col-12 col-md-5 col-lg-3 mt-3"
            >{{page.intro_ter_text}}</a>
            {% endif %}
        </div>
      </div>
      <div class="row pb-5">
        <div class="col text-center">
          <a href="mailto:{{page.intro_secondary_link}}" class="mr-4 text-white d-inline-block">
            <svg class="icon icon-white mr-1">
              <use xlink:href="/assets/svg/sprite.svg#it-mail"></use>
            </svg>
            <span>Richiedi informazioni</span>
          </a>
        </div>
      </div>
    </div>
  </div><!--/.section -->



</div><!--/.page-sviluppatori-->