<div class="overlay-video">
    
    <div class="videoWrapperExt">
        <div class="videoWrapper">
			<div class="videoWrapper__close">
            <svg class="icon icon icon-white">
                <use xlink:href="/assets/svg/sprite.svg#it-close-big"></use>
            </svg>
            </div>
            <iframe id="player" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>