<div id="__nuxt">
  <!---->
  <div id="__layout">
    <div class="text-muted">
      <section class="my-5 pt-5" data-v-06cbaaab>
        <div class="container" data-v-06cbaaab>
          <section data-v-87a33ce4 data-v-06cbaaab>
            <div class="row no-gutters" data-v-87a33ce4>
              <div class="col" data-v-87a33ce4>
                <h2 class="primary-color mb-2 mb-md-4" data-v-87a33ce4>I numeri del Cashback</h2>
                <div class="mb-3" data-v-87a33ce4>Dall'inizio del programma ad oggi</div>
              </div>
              <div data-v-87a33ce4><img src="https://static-web.io.italia.it/assets/img/cashback/logo-cashback-hp.svg"
                  alt="Logo Cashback" class="heading-logo img-fluid" data-v-87a33ce4></div>
            </div>
            <div class="row" data-v-87a33ce4>
              <div class="col-lg-4" data-v-87a33ce4>
                <div class="card-wrapper card-space" data-v-87a33ce4>
                  <div class="card card-bg no-after bg-primary text-white">
                    <div class="card-body"><img src="https://static-web.io.italia.it/assets/img/icon-people.svg"
                        alt="Nuovi Bonus Cashback attivati" class="mt-3 mt-md-0" data-v-87a33ce4>
                      <h2 class="mt-2 mb-0 font-weight-semibold" data-v-87a33ce4><span data-v-87a33ce4>#</span></h2>
                      <div data-v-87a33ce4>Cittadini aderenti al cashback</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" data-v-87a33ce4>
                <div class="card-wrapper card-space" data-v-87a33ce4>
                  <div class="card card-bg no-after">
                    <div class="card-body"><img src="https://static-web.io.italia.it/assets/img/icon-transaction.svg"
                        alt="Bonus cashback attivati" class="mt-3 mt-md-0" data-v-87a33ce4>
                      <h2 class="mt-2 mb-0 font-weight-semibold" data-v-87a33ce4><span data-v-87a33ce4>#</span></h2>
                      <div data-v-87a33ce4>Totale transazioni elaborate</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" data-v-87a33ce4>
                <div class="card-wrapper card-space" data-v-87a33ce4>
                  <div class="card card-bg no-after">
                    <div class="card-body"><img src="https://static-web.io.italia.it/assets/img/icon-cards.svg"
                        alt="Bonus Vacanze generati" class="mt-3 mt-md-0" data-v-87a33ce4>
                      <h2 class="mt-2 mb-0 font-weight-semibold" data-v-87a33ce4><span data-v-87a33ce4>#</span></h2>
                      <div data-v-87a33ce4>Strumenti di pagamento attivati</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="affix-top pt-3 bg-white" data-v-06cbaaab>
          <nav class="container" data-v-35a3d89f data-v-06cbaaab>
            <ul class="nav nav-tabs mb-3" data-v-35a3d89f>
              <li class="nav-item" data-v-35a3d89f><a role="tab" href="javascript:void(0)" class="nav-link"
                  data-v-35a3d89f>Extra Cashback di Natale</a></li>
              <li class="nav-item" data-v-35a3d89f><a role="tab" href="javascript:void(0)" class="nav-link active"
                  data-v-35a3d89f>1° Semestre 2021</a></li>
            </ul>
          </nav>
        </div>
        <div class="container" data-v-06cbaaab>
          <div class="row" data-v-06cbaaab>
            <div class="col-lg-6" data-v-06cbaaab>
              <div class="card-wrapper card-space" data-v-06cbaaab>
                <div class="card card-bg no-after">
                  <div class="card-body">
                    <div class="d-flex h-100 flex-column justify-content-end align-items-start" data-v-06cbaaab><img
                        src="https://static-web.io.italia.it/assets/img/icon-transaction.svg"
                        alt="Bonus Vacanze generati" class="mt-md-0" data-v-06cbaaab>
                      <h2 class="mt-2 mb-0 font-weight-semibold" data-v-06cbaaab><span data-v-06cbaaab>#</span></h2>
                      <div data-v-06cbaaab>Numero di transazioni elaborate</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6" data-v-06cbaaab>
              <div class="card-wrapper card-space" data-v-06cbaaab>
                <div class="card card-bg no-after bg-primary text-white">
                  <div class="card-body">
                    <div class="row h-100 align-items-end" data-v-06cbaaab>
                      <div class="col-7" data-v-06cbaaab><img
                          src="https://static-web.io.italia.it/assets/img/icon-bonusutilizzati.svg" width="55"
                          alt="Bonus cashback attivati" class="img-fluid my-3 my-md-0" data-v-06cbaaab>
                        <h2 class="mt-2 mb-0 font-weight-semibold" data-v-06cbaaab><span data-v-06cbaaab>#</span></h2>
                        <div data-v-06cbaaab>
                          Utenti con transazioni valide
                          <span tabindex="0" data-toggle="tooltip" data-placement="right"
                            data-original-title="Totale dei partecipanti che ha effettuato almeno una transazione durante il periodo"
                            data-v-06cbaaab><svg class="icon icon-xs icon-white" data-v-06cbaaab>
                              <use href="/assets/js/dashboard/app/img/sprite.55c17b0.svg#it-info-circle"
                                data-v-06cbaaab></use>
                            </svg></span>
                        </div>
                      </div>
                      <div class="col-5 h-100" data-v-06cbaaab>
                        <div id="user-trx-threshold" class="w-100 h-100" data-v-06cbaaab></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-wrapper card-space" data-v-06cbaaab>
            <div class="card card-bg no-after">
              <div class="card-body">
                <h4 data-v-06cbaaab>Utenti aderenti e strumenti registrati</h4>
                <p data-v-06cbaaab>
                  Andamento giornaliero degli utenti che hanno aderito al cashback e
                  degli strumenti registrati
                </p>
                <div id="onboard" class="w-100" data-v-43a3acdc data-v-06cbaaab></div>
              </div>
            </div>
          </div>
          <div class="card-wrapper card-space" data-v-06cbaaab>
            <div class="card card-bg no-after">
              <div class="card-body">
                <h4 data-v-06cbaaab>
                  Transazioni al giorno
                  <span tabindex="0" data-toggle="tooltip" data-placement="right"
                    data-original-title="La rendicontazione dei flussi può richiedere alcuni giorni lavorativi"
                    data-v-06cbaaab><svg class="icon icon-xs icon-muted" data-v-06cbaaab>
                      <use href="/assets/js/dashboard/app/img/sprite.55c17b0.svg#it-info-circle" data-v-06cbaaab></use>
                    </svg></span>
                </h4>
                <p data-v-06cbaaab>Andamento delle transazioni gestite per il cashback</p>
                <div id="trx-series" class="w-100" data-v-6d041b80 data-v-06cbaaab></div>
              </div>
            </div>
          </div>
          <div class="card-wrapper card-space" data-v-06cbaaab>
            <div class="card card-bg no-after">
              <div class="card-body">
                <h4 data-v-06cbaaab>Transazioni per importo</h4>
                <p data-v-06cbaaab>Distribuzione delle transazioni per importo delle stesse</p>
                <div id="trx-amount" class="w-100" data-v-376f2ac8 data-v-06cbaaab></div>
              </div>
            </div>
          </div>
          <div class="card-wrapper card-space" data-v-06cbaaab>
            <div class="card card-bg no-after">
              <div class="card-body">
                <h4 data-v-06cbaaab>Utenti per numero di transazioni</h4>
                <p data-v-06cbaaab>Distribuzione degli utenti per numero di transazioni</p>
                <div id="user-trx" class="w-100" data-v-080368a7 data-v-06cbaaab></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<script defer src="/assets/js/dashboard/app/static/timestamp/cashback/dashboard/state.js"></script>
