<div id="__next">
  <div class="text-muted">
    <section class="my-5 pt-5">
      <div class="container">
        <section>
          <div class="row no-gutters">
            <div class="col">
              <h2 class="primary-color mb-2 mb-md-4">I numeri del Cashback</h2>
              <div class="mb-3">Dall&#x27;inizio del programma ad oggi</div>
            </div>
            <div style="max-width: 7rem; height: auto; width: auto">
              <img
                alt="Logo Cashback"
                loading="lazy"
                width="150"
                height="150"
                decoding="async"
                data-nimg="1"
                class="heading-logo img-fluid"
                style="color: transparent"
                src="/assets/img/cashback/logo-cashback-hp.svg"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="card-wrapper card-space">
                <div class="card card-bg no-after bg-primary text-white">
                  <div class="card-body">
                    <img
                      alt="Nuovi Bonus Cashback attivati"
                      loading="lazy"
                      width="50"
                      height="50"
                      decoding="async"
                      data-nimg="1"
                      class="mt-3 mt-md-0"
                      style="color: transparent"
                      src="/assets/img/icon-people.svg"
                    />
                    <h2 class="mt-2 mb-0 font-weight-semibold">
                      <span>#</span>
                    </h2>
                    <div>Cittadini aderenti al cashback</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card-wrapper card-space">
                <div class="card card-bg no-after undefined">
                  <div class="card-body">
                    <img
                      alt="Bonus cashback attivati"
                      loading="lazy"
                      width="50"
                      height="50"
                      decoding="async"
                      data-nimg="1"
                      class="mt-3 mt-md-0"
                      style="color: transparent"
                      src="/assets/img/icon-transaction.svg"
                    />
                    <h2 class="mt-2 mb-0 font-weight-semibold">
                      <span>#</span>
                    </h2>
                    <div>Totale transazioni elaborate</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card-wrapper card-space">
                <div class="card card-bg no-after undefined">
                  <div class="card-body">
                    <img
                      alt="Bonus Vacanze generati"
                      loading="lazy"
                      width="50"
                      height="50"
                      decoding="async"
                      data-nimg="1"
                      class="mt-3 mt-md-0"
                      style="color: transparent"
                      src="/assets/img/icon-cards.svg"
                    />
                    <h2 class="mt-2 mb-0 font-weight-semibold">
                      <span>#</span>
                    </h2>
                    <div>Strumenti di pagamento attivati</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div style="z-index: 1" class="affix-top pt-3 bg-white">
        <nav>
          <ul role="tablist" class="nav nav-tabs mb-3 container">
            <li role="tab" class="nav-item">
              <a href="#" style="border-width: 3px" class="nav-link active"
                >Extra Cashback di Natale</a
              >
            </li>
            <li role="tab" class="nav-item">
              <a href="#" style="border-width: 3px" class="nav-link"
                >1° Semestre 2021</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="card-wrapper card-space">
              <div class="card card-bg no-after undefined">
                <div class="card-body">
                  <div
                    class="d-flex h-100 flex-column justify-content-end align-items-start"
                  >
                    <img
                      alt="Bonus Vacanze generati"
                      loading="lazy"
                      width="50"
                      height="50"
                      decoding="async"
                      data-nimg="1"
                      class="mt-md-0"
                      style="color: transparent"
                      src="/assets/img/icon-transaction.svg"
                    />
                    <h2 class="mt-2 mb-0 font-weight-semibold">
                      <span>#</span>
                    </h2>
                    <div>Numero di transazioni elaborate</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card-wrapper card-space">
              <div class="card card-bg no-after bg-primary text-white">
                <div class="card-body">
                  <div class="row h-100 align-items-end">
                    <div class="col-7">
                      <img
                        alt="Bonus cashback attivati"
                        loading="lazy"
                        width="55"
                        height="55"
                        decoding="async"
                        data-nimg="1"
                        class="img-fluid my-3 my-md-0"
                        style="color: transparent; height: auto; width: auto"
                        src="/assets/img/icon-bonusutilizzati.svg"
                      />
                      <h2 class="mt-2 mb-0 font-weight-semibold">
                        <span>#</span>
                      </h2>
                      <div>
                        Utenti con transazioni valide<span
                          data-bs-toggle="tooltip"
                          data-placement="top"
                          title="Totale dei partecipanti che ha effettuato almeno una transazione durante il periodo"
                          class="ml-md-1"
                          ><svg class="icon icon-sm icon-white align-top">
                            <use
                              xlink:href="/assets/svg/sprite.svg#it-info-circle"
                            ></use></svg
                        ></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-wrapper card-space">
          <div class="card card-bg no-after undefined">
            <div class="card-body">
              <h4>Utenti aderenti e strumenti registrati</h4>
              <p>
                Andamento giornaliero degli utenti che hanno aderito al cashback
                e degli strumenti registrati
              </p>
              <div
                class="w-100 undefined"
                id="onboard"
                style="height: 24rem"
              ></div>
            </div>
          </div>
        </div>
        <div class="card-wrapper card-space">
          <div class="card card-bg no-after undefined">
            <div class="card-body">
              <h4>
                Transazioni al giorno<span
                  data-bs-toggle="tooltip"
                  data-placement="top"
                  title="La rendicontazione dei flussi può richiedere alcuni giorni lavorativi"
                  ><svg class="icon icon-sm ml-1">
                    <use
                      xlink:href="/assets/svg/sprite.svg#it-info-circle"
                    ></use></svg
                ></span>
              </h4>
              <p>Andamento delle transazioni gestite per il cashback</p>
              <div style="height: 22rem">
                <div class="w-100 h-100" id="trx-series"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-wrapper card-space">
          <div class="card card-bg no-after undefined">
            <div class="card-body">
              <h4>Transazioni per importo</h4>
              <p>Distribuzione delle transazioni per importo delle stesse</p>
              <div
                class="w-100 undefined"
                id="trx-amount"
                style="height: 24rem"
              ></div>
            </div>
          </div>
        </div>
        <div class="card-wrapper card-space">
          <div class="card card-bg no-after undefined">
            <div class="card-body">
              <h4>Utenti per numero di transazioni</h4>
              <p>Distribuzione degli utenti per numero di transazioni</p>
              <div style="height: 24rem">
                <div class="w-100 h-100" id="user-trx"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<script id="__NEXT_DATA__" type="application/json" crossorigin="">
  {
    "props": { "pageProps": {} },
    "page": "/cashback",
    "query": {},
    "buildId": "fixed-build-id",
    "assetPrefix": "/assets/js/dashboard",
    "nextExport": true,
    "autoExport": true,
    "isFallback": false,
    "scriptLoader": []
  }
</script>
<script
  src="/assets/js/dashboard/_next/static/chunks/pages/cashback.js"
  defer=""
  crossorigin=""
></script>
