<div class="bg-primary pt-5">
    <div class="py-5 container container--mid">
        <div id="aggiornamento" class="text-right small text-white d-none d-md-block">
        Ultimo aggiornamento: <span id="today"></span>
        </div>
    </div>
    <section class="container container--mid mb-5 mt-0 mt-md-3 d-flex " id="introduzione">
        <div class="row px-3 px-md-0 w-100">
            <div class="col-lg-7 text-primary order-2 order-md-1">
                <h1 class="text-white">{{page.title}}</h1>
                <p class="my-4 text-white" >{{page.description}}</p>
                <div class="d-flex flex-column mb-3">
                    
                </div>
            </div>
        </div>
    </section>
</div>