.pagename--bonus-vacanze {
    // hack
    .page-wrapper {
        margin-bottom: -48px;
    }

    .internal-page__content {
        margin-top: 0;
    }
    .font-size-normal {
        font-size: 1rem;
    }
    .btn-download {
        min-width: 45%;
        @media screen and (min-width: $grid-breakpoints-md) {
            min-width: auto;
        }
    }
    .play-button {
        
        &:before {
            content: url('/assets/img/icon-playvideo.svg');
            margin-right: 4px;
            vertical-align: middle;
            line-height: 1;
        }
        &:hover {
            &:before {
                content: url('/assets/img/icon-playvideo--white.svg');
            }
        }
    }

    #introduzione {
        min-height: 80vh;
        position: relative;
        z-index: 8;
        @media screen and (min-width: $grid-breakpoints-md) {
            min-height: unset;
        }

        .col-intro-img {
            @media screen and (min-width: $grid-breakpoints-md) and (max-width: $grid-breakpoints-lg) {
                display: none !important;
            }
        }

        img {
            width: 150px;
            margin: 1.5rem 0;
            @media screen and (min-width: $grid-breakpoints-md) {
                width: auto;
                margin: 0;
            }
        }

        h1 + * {
            margin-top: 0.5rem !important;
            margin-bottom: 0.5rem !important;
            @media screen and (min-width: $grid-breakpoints-md) {
                margin-top: 1.5rem !important;
                margin-bottom: 1.5rem !important;
            }
        }

        &:before {
            position: absolute;
            content: ' ';
            z-index: -1;
            background-color: $color--italia;
            top: 75vh;
            bottom: 0;
            right: 0;
            left: 0;
            @media screen and (min-width: $grid-breakpoints-md) {
                display: none;
            }
        }
    }


    #intro-slider {      
        &:after {
          content: ' ';
          width: 100%;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: 7;
          position: absolute;
          background: linear-gradient(0deg, rgba(0,102,204,1) 10%, rgba(0,102,204,0.4) 75%);
          @media screen and (min-width: $grid-breakpoints-md) {
            background: linear-gradient(90deg, rgba(0,102,204,1) 25%, rgba(0,102,204,0.2) 75%);
          }
        }
        background-color: $color--italia;
        position: absolute;
        min-height: 80vh;
        width: 100vw;
        overflow-x: hidden;

        @media screen and (min-width: $grid-breakpoints-md) {
            min-height: unset;
            left: unset;
            width: 100%;
            overflow-x: unset;

        }
        
        .carousel-indicators {
            display: none;
            @media screen and (min-width: $grid-breakpoints-md) {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }
        
            li {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            margin: 0 10px;
          }
        }
        .carousel-item {
            height: 80vh;
            overflow-x: hidden;
            img {
                height: 90vh;
                width: auto;
                position: relative;
                right: 1500px;
                @media screen and (min-width: $grid-breakpoints-md) {
                    height: auto;
                    right: auto;
                }
            }
            @media screen and (min-width: $grid-breakpoints-md) {
                height: unset;
                
            }
        }
    }

    .scopri-bonus {
        background-color: #17324D;
    }

    .dubbi-domande {
        background-color: #2D489D;
        border-bottom: 1px solid rgba(255,255,255,0.6);
    }
    
}