.page-cittadini {
  // hack
  margin-bottom: -48px;

  .screenshot {
    max-width: 240px;
    max-height: 460px;
    &.rounded {
      border-radius: 22px !important;
    }
    @media screen and (min-width: $grid-breakpoints-md) and (max-width: $grid-breakpoints-lg) {
      max-width: 100%;
    }
    @media screen and (min-width: $grid-breakpoints-lg) {
      max-width: unset;
    }
  }

  .ico-commenti {
    width: 62px;
    height: 49px;
  }
  .section-qr {
    position: relative;
    background: rgba(0, 102, 204, 0.8);

    &::before {
      content: "";
      background: url($imagesurl + "/assets/img/cittadini/screenshot-qr.jpg")
        center bottom no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }
  .advantage-cards {
    .icon {
      height: 50px;
      width: 50px;
    }
    .card .card-body p {
      font-size: 0.8rem !important;
    }
    .card .card-body .badge {
      background-color: #adb7c0;
      text-transform: uppercase;
      color: #fff;
      font-size: 0.6rem;
    }

    @media (min-width: $grid-breakpoints-md) {
      .item {
        width: 45%;
      }
    }

    @media (min-width: $grid-breakpoints-lg) {
      .item {
        width: 23%;
      }
      .card .card-body h5.card-title {
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 600;
      }
    }

    a {
      text-decoration: none;
    }
  }
  .section-download {
    background: radial-gradient(100% 100% at 50% 0%, #00266b 0%, #0073d1 100%);

    a.btn.btn-white {
      width: 100%;
    }

    .services-text {
      .icon {
        height: 150px;

        &.icon-srv-01 {
          width: 157px;
        }
        &.icon-srv-02 {
          width: 152px;
        }
        &.icon-srv-03 {
          width: 110px;
        }
        &.icon-srv-04 {
          width: 87px;
        }
      }

      p {
        font-size: 1rem;
      }

      .btn {
        svg.icon {
          width: 50px;
          height: 50px;
        }
      }
      svg.icon.cta {
        height: 70px;
        max-width: 32px;
      }

      .row-buttons {
        @media (min-width: 768px) {
          .item {
            width: 45%;
            min-height: 450px;
          }
        }

        @media (min-width: 992px) {
          .item {
            width: 23%;
            min-height: 490px;
          }
        }

        span {
          font-size: 14px;
        }
      }
    }
  }
}
