.line {
  position: absolute;
  height: 1px;
  line-height: 1px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}
.line--ticket {
  width: 48px;
  top: 35px;
  transform: rotate(16deg);
  left: 225px;
}
.line--prescrizioni {
  width: 70px;
  top: 59px;
  transform: rotate(-44deg);
  left: 136px;
}
.line--esenzioni {
  width: 56px;
  top: 88px;
  transform: rotate(95deg);
  left: 256px;
}
.line--referti {
  width: 120px;
  top: 116px;
  transform: rotate(-166deg);
  left: 148px;
}
.line--anagrafe {
  width: 140px;
  top: 38px;
  transform: rotate(156deg);
  left: 20px;
}
.line--mensa {
  width: 58px;
  top: 43px;
  transform: rotate(59deg);
  left: 168px;
}
.line--multe {
  width: 80px;
  top: 98px;
  transform: rotate(165deg);
  left: 126px;
}
.line--tari {
  width: 72px;
  top: 97px;
  transform: rotate(20deg);
  left: 27px;
}
.line--avvisi {
  width: 133px;
  top: 18px;
  transform: rotate(171deg);
  left: 23px;
}
.line--visure {
  width: 85px;
  top: 55px;
  transform: rotate(122deg);
  left: 98px;
}
.line--rimborsi {
  width: 92px;
  top: 70px;
  transform: rotate(35deg);
  left: 14px;
}
.line--bollo {
  width: 35px;
  top: 18px;
  transform: rotate(148deg);
  left: 15px;
}