.ball {
  width: $ball-size;
  height: $ball-size;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  margin-top: -$ball-size/2;
  margin-left: -$ball-size/2;
  box-shadow: 0 0 16px rgba(255, 255, 255, .8);
  &:before,
  &:after {
    content:"";
    width: 48px;
    height: 48px;
    background:transparent;
    border-radius: 50%;
    border: 1px solid #00FFF8;
    position:absolute;
    top:50%;
    left:50%;
    margin:-24px;
    transform:scale(.1);
    transition: none;
  }
  &:after {
    border: 2px solid #FFF;
    transform: scale(.2);
  }
  &.ball--burst {
    &:before {
      transition:all 1s ease;
      transform:scale(2);
      opacity: 0;
    }
    &:after {
      transition: all 2s ease;
      transform:scale(2);
      opacity: 0;
    }
  }
}
.ball--small {
  width: $ball-size--small;
  height: $ball-size--small;
  margin-top: -$ball-size--small/2;
  margin-left: -$ball-size--small/2;
}
.ball--ticket {
  top: 26px;
  left: 208px;
}
.ball--prescrizioni {
  top: 97px;
  left: 129px;
}
.ball--esenzioni {
  top: 46px;
  left: 288px;
}
.ball--referti {
  top: 133px;
  left: 279px;
}
.ball--anagrafe {
  top: 78px;
  left: 1px;
}
.ball--mensa {
  top: 3px;
  left: 171px;
}
.ball--multe {
  top: 84px;
  left: 221px;
}
.ball--tari {
  top: 113px;
  left: 111px;
}
.ball--avvisi {
  top: 32px;
  left: 2px;
}
.ball--rimborsi {
  top: 4px;
  left: 172px;
}
.ball--visure {
  top: 105px;
  left: 112px;
}
.ball--bollo {
  top: 37px;
  left: 0;
}
.ball--certificati {
  top: 0px;
  left: 60px;
}