.text {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  position: absolute;
}
.text--small {
  font-size: 12px;
}
.text--ticket {
  top: 0px;
  left: 160px;
}
.text--prescrizioni {
  top: 60px;
  left: 70px;
}
.text--esenzioni {
  top: 36px;
  left: 304px;
}
.text--referti {
  top: 125px;
  left: 292px;
}
.text--anagrafe {
  top: 30px;
  left: -72px;
}
.text--mensa {
  left: 195px;
  top: -20px;
}
.text--multe {
  top: 42px;
  left: 215px;
}
.text--tari {
  top: 120px;
  left: 80px;
}
.text--avvisi {
  top: 45px;
  left: -13px;
}
.text--rimborsi {
  top: -10px;
  left: 190px;
}
.text--f24 {
  top: 112px;
  left: 120px;
}
.text--bollo {
  left: -75px;
  top: 20px;
}
.text--certificati {
  left: 43px;
  top: -33px;
  width: 200px;
}