.ball {
  width: $ball-size;
  height: $ball-size;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  margin-top: -$ball-size/2;
  margin-left: -$ball-size/2;
  box-shadow: 0 0 16px rgba(255, 255, 255, .8);
  &:before,
  &:after {
    content:"";
    width: 48px;
    height: 48px;
    background:transparent;
    border-radius: 50%;
    border: 1px solid #00FFF8;
    position:absolute;
    top:50%;
    left:50%;
    margin:-24px;
    transform:scale(.1);
    transition: none;
  }
  &:after {
    border: 2px solid #FFF;
    transform: scale(.2);
  }
  &.ball--burst {
    &:before {
      transition:all 1s ease;
      transform:scale(2);
      opacity: 0;
    }
    &:after {
      transition: all 2s ease;
      transform:scale(2);
      opacity: 0;
    }
  }
}
.ball--small {
  width: $ball-size--small;
  height: $ball-size--small;
  margin-top: -$ball-size--small/2;
  margin-left: -$ball-size--small/2;
}
.ball--ticket {
  top: 20px;
  left: 214px;
}
.ball--prescrizioni {
  top: 100px;
  left: 130px;
}
.ball--esenzioni {
  top: 42px;
  left: 282px;
}
.ball--referti {
  top: 127px;
  left: 274px;
}
.ball--anagrafe {
  top: 77px;
  left: 8px;
}
.ball--mensa {
  top: 0px;
  left: 173px;
}
.ball--tari {
  top: 115px;
  left: 114px;
}
.ball--multe {
  top: 75px;
  left: 225px;
}
.ball--avvisi {
  top: 31px;
  left: 0;
}
.ball--rimborsi {
  top: 10px;
  left: 176px;
}
.ball--f24 {
  top: 113px;
  left: 109px;
}
.ball--bollo {
  top: 23px;
  left: 0;
}
.ball--certificati {
  top: -4px;
  left: 63px;
}