// INFO: Fix Bootstrap override

.pagename--dashboard,
.pagename--dashboard-cashback {
  .affix-top {
    top: 3.5rem;
    z-index: 1;
  }
  #__nuxt {
    .container {
      max-width: 960px !important;
    }
  }
}
