.internal-page.donazione-detail {
    
    @media screen and (max-width: $grid-breakpoints-md) {
        margin-top: 50px;
    
    }
    .slide-in {
        -webkit-animation: slide-in 0.5s forwards;
        animation: slide-in 0.5s forwards;
    }
    .slide-out {
        -webkit-animation: slide-out 0.5s forwards;
        animation: slide-out 0.5s forwards;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    
    @keyframes slide-in {
        100% { transform: translateY(0%); }
    }
    @-webkit-keyframes slide-in {
        100% { -webkit-transform: translateY(0%); }
    }
    @keyframes slide-out {
        0% { transform: translateY(0); }
        100% { transform: translateY(40vh); }
    }
    @-webkit-keyframes slide-out {
        0% { -webkit-transform: translateY(0); }
        100% { -webkit-transform: translateY(40vh); }
    }
    
}
.flex-break {
    flex-basis: 100%;
    height: 0;
}
.flex-break-column {
    flex-basis: 100%;
    width: 0;
  }
.page-donazioni {
    // hack
    margin-bottom: -48px;
    background: rgb(0,115,209);
    background: radial-gradient(circle, rgba(0,115,209,1) 0%, rgba(0,38,107,1) 80%);

    h2,h3,h4 {
        color: #fff;
    }
    #donazioni-search-string {
        background-color: transparent;
        border-bottom-color: #fff;
        color: #fff;
        & + label {
            color: #fff;
            font-weight: normal;
        }
    }
    .donazioni-search-wrapper {
        .input-group-text {
            background-color: transparent;
            border-bottom-color: #fff;
        }
    }
    .donazione-card {
        background-color: #fff;
        border-radius: 8px;
        a {
            text-decoration: none;
        }
        &__img img {
            width: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        &__ente , &__struttura {
            color: $color--gray-text;
            line-height: 1.2;
        }
        &__title {
            color: $color--italia;
            font-size: 1.5rem;
            margin-top: 1.5rem;
            text-decoration: none;
        }
        &__ente {
            text-transform: uppercase;
            font-size: 0.8rem;
        }
        &__struttura {
            font-size: 1rem;
        }
        &__logo {
            height: 40px;
            width: auto;
        }
        &__tags {
            li {
                font-size: 0.85rem;
                color: $color--italia;
                display: inline-block;
                &:after {
                    content: ', ';
                }
            }
            ul li:last-child {
                &::after {
                    content: ' ';
                }
            }
        }

    }
}
body.pagename--donazioni {
    #introduzione {
        img {
            width: 35%;
            margin-left: auto;
            position: relative;
            bottom: -30px;
            @media screen and (min-width: $grid-breakpoints-md) {
                width: auto;
                margin-left: unset;
                bottom: unset;
            }
        }
    }
}

body.layout--donazione {
    
    position:relative;
    @media screen and (min-width: $grid-breakpoints-md) {
        background: rgb(0,115,209);
        background: radial-gradient(circle, rgba(0,115,209,1) 0%, rgba(0,38,107,1) 80%);
        &:after {
            background-color: #fff;
            position: absolute;
            top: -12rem;
            width: 100%;
            height: 28rem;
            content: ' ';
            z-index: -1;

        }
    }

    .donazione-detail {

        &__wrapper {
            @media screen and (min-width: $grid-breakpoints-md) {
                -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
                box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
            }
        }
        
        &__label {
            a {
                text-decoration: none;
                font-size: 1.25rem;
                font-weight: 400;
                border-bottom: 1px solid #CCD7E1;
            }
        }
        &__title {
            color: $color--italia;

        }
        &__ente , &__struttura {
            color: $color--gray-text;
            line-height: 1.2;
            font-size: 1rem;
        }
        &__ente {
            text-transform: uppercase;
            
        }
        &__logo {
            height: 60px;
            width: auto;
        }
        &__mainimg img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            width: 100%;
        }
        &__magnet {
            opacity: 0.5;
        }
        &__filetto {
            width: 80%;
            border-top: 1px solid #CCD7E1;
            height: 1px;
            margin: 25px auto;
            @media screen and (min-width: $grid-breakpoints-md) {
                width: 20%;
                margin: unset;
            }
            
        }
        &__tags {
            font-size: 0.9rem;
            img.icon {
                width: 20px;
                height: auto;
            }
            li {
                display: inline-block;
                color: $color--italia;
                &:after {
                    content: ', ';
                }
            }
            ul li:last-child {
                &::after {
                    content: ' ';
                }
            }
        }
        &__supporter {
            font-size: 0.9rem; 
            img.icon {
                width: 24px;
                height: auto;
            }
        }
        &__paymentform {
            background-color: #F5F7F9;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        &__colwrapper {
            background-color: #fff;
            position: fixed;
            z-index: 1;
            bottom: 0;
            width: 100%;
            left: 0;
            border-radius: 0;
            -webkit-box-shadow: 0 .7rem 2rem rgba(0,0,0,.5);
            box-shadow: 0 .7rem 2rem rgba(0,0,0,.5);
            -webkit-transform: translateY(25vh);
            transform: translateY(25vh);

            @media screen and (min-width: $grid-breakpoints-lg) {
                border-radius: 8px;
                position: relative;
                z-index: 1;
                bottom: unset;
                width: auto;
                left: unset;
                -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
                box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
                -webkit-transform: translateY(0) !important;
                transform: translateY(0) !important;
                animation: none !important;
            }            

        }
        &__dona {
            text-transform: uppercase;
            font-size: 1.3rem;
            color: $color--italia;
            text-align: center;
            margin-top: 1.4rem;
        }
        &__con {
            text-align: center;
            font-size: 0.9rem;
        }

        &__btn {
            background-color: $color--italia;
            padding: 15px;
            color: #fff;
            font-weight: 700;
            border-radius: 6px;
            text-align: center;
            font-size: 1rem;
            text-decoration: none;
            min-width: 30%;
            &.active {
                background-color: #fff;
                color: $color--italia;
                box-shadow: 0px 0px 1px 2px $color--italia;
            }
        }
        &__sceglitu {
            color: $color--italia;
            font-weight: 600;
            padding: 7px 15px;
            border-radius: 6px;
            text-align: center;
            font-size: 0.85rem;
            border: 1.5px solid $color--italia;
        }
        &__frtext {
            font-size: 0.85rem;
            text-align: center;
        }
        &__share {
            
            a {
                color: $color--italia;
                font-weight: 600;
                text-decoration: none;
                display: block;
                text-align: center;
                padding: 12px;
                border: 1.5px solid $color--italia;
                border-radius: 6px;
                font-size: 0.9rem;
                line-height: 1.2;
            }
        }
        &__dxdata {
            &__img {
                min-height: 60px;
            }
            &__first {
                color: $color--italia;
                font-weight: 600;
                font-size: 1.2rem;
                text-align: center;
            }
            &__second {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.9rem;
                text-align: center;
            }
            &__filetto {
                border-top: 1px solid #CCD7E1;
                height: 1px;
                width: 80%;
                margin: 2px auto;
            }
            &__from {
                font-size: 0.9rem;
                color: #CCD7E1;
                text-align: center;
            }
        }

        

    }
    #paymentform.loading {
        position: relative;
        .paymentform__inner {
            opacity: 0.4;
        }
        .paymentform__spinner {
            display: block;
            position: absolute;
            z-index: 100;
            width: 3rem;
            height: 3rem;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
        }
    }
    
    .paymentform {

        &__spinner {
            display: none;
        }

        &__row3 {
            .col {
                @media screen and (max-width: $grid-breakpoints-md) {
                flex-basis: 100%;
                flex-grow: 0;
                }
            }
        }
        
        &__inner {
            input {
                border: 1.5px solid #CCD7E1;
                border-radius: 6px;
                color: #262D32;
                font-size: 1.5rem;
                height: 3.5rem;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                
                &:focus {
                    border-color: $color--italia;
                }
            }
            #choice {
                width: 50%;
                @media screen and (min-width: $grid-breakpoints-md) {
                    width: 100%;
                }
                
            }
            #nonmostrare + label {
                line-height: 1.2;
                @media screen and (min-width: $grid-breakpoints-md) {
                    line-height: 1.8;
                }
            }
            .error {
                color: #CF5656;
                display: none;
            }
            .inputerror {
                border-color: $color--italia;
            }
        }
        &__head {
            font-size: 1.25rem;
            text-transform: uppercase;
            font-weight: 600;
            color: $color--italia;
        }
        &__buttons {
            @media screen and (min-width: $grid-breakpoints-md) {
                width: 60%;
            }
        }
        &__privacypol {
            line-height: 1.5;
            font-size: 1.1rem;
        }
        &__submit {
            text-transform: uppercase;
            display: block;
            border-radius: 6px;
            width: 100%;
            &:disabled {
                background-color: rgba($color--italia, 0.5);
            }
        }
    }
    .modal {
        &-content {
            border-radius: 1rem;
        }

        &-dialog {
            max-width: 550px;
        }
        &-header {
            position: relative;
            h3 {
                color: $color--italia;
            }
            button {
                position: absolute;
                right: -0.5rem;
                top: .8rem;
            }
            .icon {
                fill: #CCD7E1;
            }
        }
    }
}
