.page-donazioni {
    // hack
    margin-bottom: -48px;
    background: rgb(0,115,209);
    background: radial-gradient(circle, rgba(0,115,209,1) 0%, rgba(0,38,107,1) 80%);

    h2,h3,h4 {
        color: #fff;
    }
    #donazioni-search-string {
        background-color: transparent;
        border-bottom-color: #fff;
        color: #fff;
        & + label {
            color: #fff;
            font-weight: normal;
        }
    }
    .donazioni-search-wrapper {
        .input-group-text {
            background-color: transparent;
            border-bottom-color: #fff;
        }
    }
    .donazione-card {
        background-color: #fff;
        border-radius: 8px;
        a {
            text-decoration: none;
        }
        &__img img {
            width: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        &__ente , &__struttura {
            color: $color--gray-text;
            line-height: 1.2;
        }
        &__title {
            color: $color--italia;
            font-size: 1.5rem;
            margin-top: 1.5rem;
            text-decoration: none;
        }
        &__ente {
            text-transform: uppercase;
            font-size: 0.8rem;
        }
        &__struttura {
            font-size: 1rem;
        }
        &__logo {
            height: 40px;
            width: auto;
        }
        &__tags {
            li {
                font-size: 0.85rem;
                color: $color--italia;
                display: inline-block;
                &:after {
                    content: ', ';
                }
            }
            ul li:last-child {
                &::after {
                    content: ' ';
                }
            }
        }

    }
}

body.layout--donazione {

    background: rgb(0,115,209);
    background: radial-gradient(circle, rgba(0,115,209,1) 0%, rgba(0,38,107,1) 80%);
    position:relative;
        &:after {
            background-color: #fff;
            position: absolute;
            top: -12rem;
            width: 100%;
            height: 32rem;
            content: ' ';
            z-index: -1;

        }

    .donazione-detail {
        
        &__label {
            a {
                text-decoration: none;
                font-size: 1.25rem;
                font-weight: 400;
                border-bottom: 1px solid #CCD7E1;
            }
        }
        &__title {
            color: $color--italia;

        }
        &__ente , &__struttura {
            color: $color--gray-text;
            line-height: 1.2;
            font-size: 1rem;
        }
        &__ente {
            text-transform: uppercase;
            
        }
        &__logo {
            height: 60px;
            width: auto;
        }
        &__mainimg img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        &__magnet {
            opacity: 0.5;
        }
        &__filetto {
            width: 25%;
            border-top: 1px solid #CCD7E1;
            height: 1px;
        }
        &__tags {
            font-size: 0.9rem;
            img.icon {
                width: 20px;
                height: auto;
            }
            li {
                display: inline-block;
                color: $color--italia;
                &:after {
                    content: ', ';
                }
            }
            ul li:last-child {
                &::after {
                    content: ' ';
                }
            }
        }
        &__supporter {
            font-size: 0.9rem; 
            img.icon {
                width: 24px;
                height: auto;
            }
        }
        &__paymentform {
            background-color: #F5F7F9;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        &__colwrapper {
            border-radius: 8px;
            background-color: #fff;
        }
        &__dona {
            text-transform: uppercase;
            font-size: 1.3rem;
            color: $color--italia;
            text-align: center;
            margin-top: 1.4rem;
        }
        &__con {
            text-align: center;
            font-size: 0.9rem;
        }

        &__btn {
            background-color: $color--italia;
            padding: 15px;
            color: #fff;
            font-weight: 600;
            border-radius: 6px;
            text-align: center;
            font-size: 1rem;
        }
        &__sceglitu {
            color: $color--italia;
            font-weight: 600;
            padding: 7px 15px;
            border-radius: 6px;
            text-align: center;
            font-size: 0.85rem;
            border: 1.5px solid $color--italia;
        }

    }
}