.page-entipartecipanti {
    .collapse-header {
        
        button {
            font-size: 1.4rem;
            color: $color--italia !important;
            border-top: 1px solid rgba($color--italia, 0.4);
            &:before {
                margin-top: .5rem;
                color: $color--italia;
                content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHRpdGxlPml0LWNvbGxhcHNlPC90aXRsZT48ZyBpZD0iTGl2ZWxsb18xMyIgZGF0YS1uYW1lPSJMaXZlbGxvIDEzIj48cGF0aCBmaWxsPSIjMDZjIiBkPSJNMTIsMTAuMjUsMTYuNzcsMTVhLjc1Ljc1LDAsMCwwLDEuMDYsMCwuNzQuNzQsMCwwLDAsMC0xLjA2TDEzLjA2LDkuMTlhMS41MSwxLjUxLDAsMCwwLTIuMTIsMEw2LjE3LDE0YS43NC43NCwwLDAsMCwwLDEuMDYuNzUuNzUsMCwwLDAsMS4wNiwwWiIvPjwvZz48L3N2Zz4=);
            }
            
            &[disabled] {
                cursor: auto;

                .badge {
                    position: relative;
                    bottom: 0.1rem;
                    background-color: #e9e6f2;
                    color: $color--gray-text;
                }

                &:before {
                    display: none;
                }
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

}