.footer {
  background-color: #00264D;
  color: $color--white;
  padding: 3em 0;

  @media screen and (min-width: $grid-breakpoints-sm) {
    text-align: left;
  }

  &__badges {
    font-size: 1rem;
    color: #fff;  
  }

  .social {
    font-size: 1rem;
    color: #fff;
    & > span {
      margin-right: 10px;
      position: relative;
      top: 4px;
    }
    .small-prints {
      font-size: 0;
    }
    .icon {
      fill: #fff;
      font-size: initial;
      margin-right: 0.4em;
      width: 24px;
      height: 24px;
    }
    @media screen and (max-width: $grid-breakpoints-md) {
      text-align: left !important;
      margin-top: 1em;
    }
  }
  .team-logo {
    &--icon {
      width: 72px;

    }
    &--text {
      font-size: 16px;
      line-height: 18px;
      max-width: 160px;
      text-transform: uppercase;
    }
  }
  .small-prints {
    color: $color--italia-green;
    font-weight: 600;
  }
  .colophon {
    border-top: 1px solid rgba(255,255,255,0.1);
    margin-top: 2em;
    .list-inline-item:not(:last-child){
      margin-right: 1.5em;
    }
    @media screen and (min-width: $grid-breakpoints-md) {
      margin-top: 5em;
    }
  }
}
