.universe {
  margin-top: 50px;
  min-height: calc(100vh - 50px);
  @media screen and (min-width: $grid-breakpoints-lg) {
    margin-top: 0;
    min-height: 100vh;
  }
  padding-top: 0;
  padding-bottom: 0;
}

.galaxy__layer {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.galaxy__layer--one {
  background-image: url(img/stars-level1.png);
}

.galaxy__layer--two {
  background-image: url(img/stars-level2.png);
}

.galaxy__layer--three {
  background-image: url(img/stars-level3.png);
}