
body.layout--home {

  .tooltip-inner {
    background-color: #fff  !important;
    color: $color--italia;
    font-weight: 600;
    font-size: 0.8rem;
  }
  .tooltip .arrow {
    display: none;
  }
}

.italy-dotted-wrapper {
  overflow-x: scroll;

  @media screen and (min-width: $grid-breakpoints-md) {
    overflow-x: auto;
  }
}

.nazionali-list {
  position: absolute;
  z-index: 8;
  right: 0;
  top: 90px;
  width: 37%;
  -webkit-user-select: none;
  user-select: none;

  &__header {
    font-weight: 600;
    font-size: 1rem;
  }
  &__ul {
  }
  li {
    font-weight: 600;
    position: relative;
    color: $color--italia;
    &:before {
      content: '-';
      position: absolute;
      left: -10px;
    }
    &.pending {
      color: $color--gray-text;
      opacity: .85;
    }
  }
}

#italy-dotted-map {
  z-index: 0;
  width: 600px;
  max-width: 100%;
  display: inline-block;
  position: relative;
  
  
 
  .italy-dotted-item {
    position: absolute;
    z-index: 1;
  }
  
  .italy-dotted-title {
    font-weight: 600;
    color: $color--italia;
  }
  .italy-dotted-dot {

      -webkit-animation: heartbeat 2.5s ease-in-out infinite both;
              animation: heartbeat 2.5s ease-in-out infinite both;
    &:hover {
      -webkit-animation-play-state:paused;
      animation-play-state:paused;
      -webkit-filter: blur(5px);
      filter: blur(5px);
    }
    &.delay-1 {
      animation-delay: 1s;
      animation-duration: 3.5s;
    }
    &.delay-2 {
      animation-delay: 2s;
      animation-duration: 4s;
    }
    &.delay-3 {
      animation-delay: 3s;
      animation-duration: 5s;
    }
    & img {
      width: 55px;
    }
    &.small {
      img {
        width: 20px;
        &:hover {
          transform: scale(1.25);
        }
      }
    }
  }
}
.italy-dotted-pending {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #21DEDF;
  &.small {
    width: 7px;
    height: 7px;
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  40% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  40% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}