.page-io-web {

  @media screen and (min-width: $grid-breakpoints-sm) {
    margin-top: -100px;
  }

  margin-bottom: -48px;

  .btn.btn-white-light {
    color: #0066CC;
    background-color: transparent;
    border-radius: 6px;
    border: 1.5px solid #06C;
  }

  .btn.btn-white {
    color: #0066CC;
  }

  .section.dubbi-domande {
    background: #2D489D;
    min-height: 360px;
  }

}