.pagename--io-web {
  #introduzione {
    min-height: auto !important;
  }
}

.page-io-web {

  margin-bottom: -48px;

  .btn.btn-white-light {
    color: #0066CC;
    background-color: transparent;
    border-radius: 6px;
    border: 1.5px solid #06C;
  }

  .btn.btn-white {
    color: #0066CC;
  }

  .section.dubbi-domande {
    background: #2D489D;
    min-height: 360px;
  }

  .screenshot {
    max-height: 500px;
  }

  .screenshot1 {
    @media screen and (min-width: $grid-breakpoints-lg) {
      content: url("/assets/img/io-web/uscire-da-io.png");
    }
    @media screen and (max-width: $grid-breakpoints-lg) {
      content: url("/assets/img/io-web/uscire-da-io-mobile.png");
    }
  }

  .screenshot2 {
    content: url("/assets/img/io-web/accesso-bloccato.png");
  }

  .screenshot3 {
    @media screen and (min-width: $grid-breakpoints-lg) {
      content: url("/assets/img/io-web/codice-sblocco.png");
    }
    @media screen and (max-width: $grid-breakpoints-lg) {
      content: url("/assets/img/io-web/codice-sblocco-mobile.png");
    }
  }

}