@import "variables";
@import "reset";
@import "animation";
@import "constellation";
@import "section";
@import "galaxy";
@import "volume";
@import "italia";
@import "device";
@import "copy";
@import "footer";
@import "cookiebar";
@import "preload";
@import "navigation";
@import "full-screen";
@import "loading";
@import "offcanvas";
@import "card";
@import "partecipa";
@import "partecipa";
@import "home";

// ROADMAP
@import "roadmap";
// GIORNALISTI
@import "giornalisti";
// PUBBLICHE AMMINISTRAZIONI
@import "pub-amm";
// SVILUPPATORI
@import "sviluppatori";
// cittadini
@import "cittadini";
// FAQ
@import "faq";
// ENTI PARTECIPANTI
@import "entipartecipanti";
// BONUS VACANZE
@import "bonusvacanze";

body {
  background-color: #fff;

  &.layout--home {
    font-size: 14px;
    background-color: #F2F7FC;
  }
}
.text-inherit {
  color: inherit;
}
.text-italia-green {
  color: $color--italia-green;
}

.section {
  padding: 0; // overrides Bootstrap Italia colliding selector
  .table {
    color: #5c6f82;
  }
}


.text-primary {
  color: $color--italia !important;
}

.bg-white {
  background-color: $color--white;
}

.text--light-blue {
  color: $color--light-blue;
}

.overflow-x--hidden {
  overflow-x: hidden;
}

.small {
  font-size: 14px;
}

.post {
  max-width: 40em;
}

.mw-40 {
  max-width: 40rem;
}

.mw-50 {
  max-width: 50rem;
}

.mw-60 {
  max-width: 60rem;
}

.mw-inner-60 {
  p,
  ul {
    max-width: 60rem;
  }
}

.navbar-toggler-icon {
  background-color: #fff;
}

.internal-page {
  color: #5c6f82;
  margin-top: 6rem;

  &.w-slides {
    margin-top: 60px;
  }

  .bannersup {
    background-color: #00C5CA;
    font-size: 1rem;
    color: #fff;
  }

  .introduzione_wrapper {
    background-color: $color--italia;
  }

  @media (min-width: 768px) {
    margin-top: 10rem;
  }

  @media (min-width: 992px) {
    margin-top: 12rem;
  }

  h2 {
    margin-top: 2rem;
  }

  &__content {
    margin-top: 3rem;
  }

  &__bodytable {
    padding-right: 2em;
  }

  aside {
    padding: 0 2em;
    border-left: 1px solid #e6e9f2;

    @media screen and (max-width: $grid-breakpoints-md) {
      border-top: 1px solid #e6e9f2;
      border-left: none;
      padding: 2em 1em;
    }
  }
  .facilita-pa {
    margin-top: 2rem;
    color: #5c6f82;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.2;

    img {
      width: 51px;
    }
  }

  .privacy {
    &__wrapper {
      padding-top: 1rem;
      padding-bottom: 3rem;
      background-color: #5c6f82;

      h2 {
        font-weight: 700;
        font-size: 3rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
        color: #fff;
      }

      img {
        @media screen and (max-width: $grid-breakpoints-md) {
          top: 0;
        }
      }
    }

    &__subtitle {
      font-size: 1.8rem;
      color: #fff;
      margin-bottom: 2rem;
    }

    &__paragraph {
      color: #fff;
      font-size: 1rem;
    }
  }

  .attorno-utente {
    &__wrapper {
      margin-top: 3rem;
      margin-bottom: 3rem;
      padding-top: 8rem;
      padding-bottom: 8rem;
      background-image: url(img/confetti.svg);
      background-repeat: no-repeat;
      background-position-x: center;

      h2 {
        font-weight: 700;
        font-size: 3rem;
        margin-top: 3rem;
      }
    }

    &__subtitle {
      font-size: 1.8rem;
      color: $color--light-blue;
      margin-bottom: 2rem;
    }

    &__paragraph {
      margin: 0.7rem auto;
      padding: 0 0.5rem;
    }
  }
  .onboarding {
    &__wrapper {
      background: radial-gradient(
        100% 100% at 50% 0%,
        #0073d1 0%,
        #00266b 100%
      );
    }

    &__title {
      font-size: 2rem;
      padding-top: 64px;
    }

    &__subtitle {
      font-size: 1.2rem;
    }

    &__paragraph {
      font-size: 1.2rem;
      line-height: 1.5;
      margin: 0 auto;
    }

    &__id {
      color: #00fff8;
    }
  }

  .onboard {
    &__wrapper {
      background-color: #00264d;
      background-image: url("img/purple-bg.jpg");
      background-repeat: no-repeat;
      background-position-x: center;
      margin-top: 3rem;
      margin-bottom: 0;
      padding-top: 3rem;
      padding-bottom: 3rem;

      h2 {
        font-weight: 700;
        font-size: 3rem;
        margin-top: 3rem;
        color: #fff;
      }
    }

    &__subtitle {
      font-size: 1.8rem;
      color: #fff;
      margin-bottom: 2rem;
    }

    &__paragraph {
      font-size: 1.2rem;
      line-height: 1.5;
      color: #fff;
      margin: 0 auto;
    }
  }

  .legge {
    &__wrapper {
      margin-top: 3rem;
      margin-bottom: 3rem;
      padding-top: 3rem;
      padding-bottom: 3rem;

      h2 {
        font-weight: 700;
        font-size: 3rem;
        margin-top: 3rem;
      }

      article {
        h1 {
          font-size: 1.3rem;
          line-height: 1.4;
          color: #5c6f82;
          font-weight: 600;
          letter-spacing: -1px;
        }
      }
    }

    &__subtitle {
      font-size: 1.8rem;
      color: $color--light-blue;
      margin-bottom: 2rem;
    }

    &__paragraph {
    }
  }

  .sicurezza {
    &__alien {
      position: absolute;
      top: -6rem;
      left: 50%;
      transform: translateX(-50%);
    }

    &__aliens {
      margin-top: 5rem;
      @media screen and (max-width: $grid-breakpoints-md) {
        display: none;
      }
    }

    &__wrapper {
      position: relative;
      margin-top: 3rem;
      margin-bottom: 3rem;
      padding-top: 8rem;
      padding-bottom: 8rem;
      background: linear-gradient(
        206.57deg,
        #336184 0%,
        #264b6a 47.16%,
        #17324d 100%
      );

      h2 {
        font-weight: 700;
        font-size: 3rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
        color: #0bd9d3;
      }
    }

    &__subtitle {
      font-size: 1.8rem;
      color: #0bd9d3;
      margin-bottom: 2rem;
    }

    &__paragraph {
      margin: 0.7rem auto;
      padding: 0 0.5rem;
      color: #fff;
    }
  }

  .pa-schema__wrapper {
    margin-top: 10rem;
    background-color: #fafbfd;

    h2 {
      margin-top: 2em;
    }
  }

  .pa-schema__inner {
    margin: 0 auto;
    @media screen and (max-width: $grid-breakpoints-md) {
      overflow-x: auto;
      max-width: none;
    }
  }

  .pa-schema {
    max-width: 100%;
    @media screen and (max-width: $grid-breakpoints-md) {
      max-width: 1200px;
    }
  }
}

.giornalisti__slides {
  &-container {
    position: relative;
    @media screen and (max-width: 1270px) {
      margin-left: auto;
    }
  }

  &-item {
    position: relative;
    max-width: 33%;
    padding: 1rem;
    outline: none;

    img {
      max-width: 100%;
      border: 1px solid $color--light-blue;
    }

    &:hover:after {
      position: absolute;
      z-index: 10;
      content: url("img/icon-zoom.svg");
      line-height: 0;
      bottom: 1rem;
      left: 1rem;
      background: $color--light-blue;
    }

    @media screen and (max-width: $grid-breakpoints-md) {
      max-width: 50%;
    }
  }
}

button.baguetteBox-button {
  &:focus {
    outline: none;
  }

  & svg {
    transform: scale(0.5);
  }
}

.max-width-full {
  max-width: 100%;
}

.anchor-spacer:before {
  content: "";
  display: block;
  padding-top: 98px; /* header height + empty space */
  margin-top: -50px; /* header height to degrees padding’s space */
  @media screen and (min-width: $grid-breakpoints-md) {
    padding-top: 148px; /* header height + empty space */
    margin-top: -100px; /* header height to degrees padding’s space */
  }
}

.youtube-responsive-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
  iframe,
  object,
  embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}



#introduzione {
  @media screen and (min-width: $grid-breakpoints-md) {
    min-height: 432px;
  }
  @media screen and (min-width: $grid-breakpoints-lg) {
    min-height: 377px;
  }
  .internal-w-slides & {
    position: relative;

    @media screen and (min-width: $grid-breakpoints-md) {
      min-height: 549px;
    }
  }

  &.noheight {
    min-height: unset;
  }
  .small {
    font-size: 1rem;
  }
  .introduzione-pre-title {
    background-color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    color: $color--italia;
    padding: 2px 8px;
    font-size: 0.8rem;
    border-radius: 3px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    margin-right: auto;
  }
}

.card.rounded {
  border-radius: 8px !important;
}
.card p.card-small-text {
  font-size: 0.9rem !important;
}

.container--mid {
  @media screen and (min-width: $grid-breakpoints-lg) {
    max-width: 960px;
  }
}

.btn {
  letter-spacing: 1px;
}
.btn.bg-white, .btn.btn-white {
  &:hover:not(:disabled) {
    background-color: #034c98 !important;
    color: #fff !important;
  }
}
.btn.btn-primary {
  &:hover:not(:disabled) {
    background-color: #034c98 !important;
    color: #fff !important;
  }
}
.btn.border-white {
  &:hover:not(:disabled) {
    background-color: #fff !important;
    color: $color--italia !important;
  }
}
.btn.btn-outline-primary {
  &:hover:not(:disabled) {
    background-color: $color--italia !important;
    color: #fff !important;
  }
}

a.text-hover-green {
  &:hover {
    color: #21DEDF !important;
  }
}


// video player overlay
.wvideo {
  .playvideo {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    .playvideoicon {
        width: 100px;
        height: 100px;
        position: absolute;
        display: block;
        z-index: 1;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
    }
  }
}

.overlay-video {
  display: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -ms-transition: opacity 600ms ease-in;
  transition: opacity 600ms ease-in;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 999999;
}

.o1 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -ms-transition: opacity 600ms ease-out;
  transition: opacity 600ms ease-out;
  -ms-transition: opacity .7s;
  transition: opacity .7s;
}

.videoWrapperExt {
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 982px;
  padding: 0 20px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoWrapper__close {
  position: absolute;
  top: -50px;
  right: 0px;
  cursor: pointer;
  z-index: 9999;
  @media (max-width: 767px) and (orientation: landscape) {
    display: none;
  }
}

.badge-servizio {
  font-size: 0.9rem;
  letter-spacing: 2px;
  background-color: #21DEDF;
  
}