@import "variables";
@import "reset";
@import "animation";
@import "constellation";
@import "section";
@import "galaxy";
@import "volume";
@import "italia";
@import "device";
@import "carillon";
@import "copy";
@import "footer";
@import "cookiebar";
@import "preload";
@import "navigation";
@import "full-screen";
@import "loading";
@import "offcanvas";
@import "card";
@import "partecipa";

// ROADMAP
@import "roadmap";

body {
  background-color: $color--light-grey;

  &.layout--home {
    font-size: 14px;
  }
}

.section {
  padding: 0; // overrides Bootstrap Italia colliding selector
  .table {
    color: #5c6f82;
  }
}

.text-primary {
  color: $color--italia !important;
}

.bg-white {
  background-color: $color--white;
}

.text--light-blue {
  color: $color--light-blue;
}

.overflow-x--hidden {
  overflow-x: hidden;
}

.small {
  font-size: 14px;
}

.post {
  max-width: 40em;
}

.mw-40 {
  max-width: 40rem;
}

.mw-50 {
  max-width: 50rem;
}

.mw-60 {
  max-width: 60rem;
}

.mw-inner-60 {
  p,
  ul {
    max-width: 60rem;
  }
}

.navbar-toggler-icon {
  background-color: $color--italia;
}

.internal-page {
  color: #5c6f82;
  margin-top: 12rem;

  h2 {
    margin-top: 2rem;
  }

  &__content {
    margin-top: 3rem;
  }

  &__bodytable {
    padding-right: 2em;
  }

  aside {
    padding: 0 2em;
    border-left: 1px solid #e6e9f2;

    @media screen and (max-width: $grid-breakpoints-md) {
      border-top: 1px solid #e6e9f2;
      border-left: none;
      padding: 2em 1em;
    }
  }
  .facilita-pa {
    margin-top: 2rem;
    color: #5c6f82;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.2;

    img {
      width: 51px;
    }
  }

  .privacy {
    &__wrapper {
      padding-top: 1rem;
      padding-bottom: 3rem;
      background-color: #5c6f82;

      h2 {
        font-weight: 700;
        font-size: 3rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
        color: #fff;
      }

      img {
        @media screen and (max-width: $grid-breakpoints-md) {
          top: 0;
        }
      }
    }

    &__subtitle {
      font-size: 1.8rem;
      color: #fff;
      margin-bottom: 2rem;
    }

    &__paragraph {
      color: #fff;
      font-size: 1rem;
    }
  }

  .attorno-utente {
    &__wrapper {
      margin-top: 3rem;
      margin-bottom: 3rem;
      padding-top: 8rem;
      padding-bottom: 8rem;
      background-image: url(img/confetti.svg);
      background-repeat: no-repeat;
      background-position-x: center;

      h2 {
        font-weight: 700;
        font-size: 3rem;
        margin-top: 3rem;
      }
    }

    &__subtitle {
      font-size: 1.8rem;
      color: $color--light-blue;
      margin-bottom: 2rem;
    }

    &__paragraph {
      margin: 0.7rem auto;
      padding: 0 0.5rem;
    }
  }
  .onboarding {
    &__wrapper {
      background: radial-gradient(
        100% 100% at 50% 0%,
        #0073d1 0%,
        #00266b 100%
      );
    }

    &__title {
      font-size: 2rem;
      padding-top: 64px;
    }

    &__subtitle {
      font-size: 1.2rem;
    }

    &__paragraph {
      font-size: 1.2rem;
      line-height: 1.5;
      margin: 0 auto;
    }

    &__id {
      color: #00fff8;
    }
  }

  .onboard {
    &__wrapper {
      background-color: #00264d;
      background-image: url("img/purple-bg.jpg");
      background-repeat: no-repeat;
      background-position-x: center;
      margin-top: 3rem;
      margin-bottom: 0;
      padding-top: 3rem;
      padding-bottom: 3rem;

      h2 {
        font-weight: 700;
        font-size: 3rem;
        margin-top: 3rem;
        color: #fff;
      }
    }

    &__subtitle {
      font-size: 1.8rem;
      color: #fff;
      margin-bottom: 2rem;
    }

    &__paragraph {
      font-size: 1.2rem;
      line-height: 1.5;
      color: #fff;
      margin: 0 auto;
    }
  }

  .legge {
    &__wrapper {
      margin-top: 3rem;
      margin-bottom: 3rem;
      padding-top: 3rem;
      padding-bottom: 3rem;

      h2 {
        font-weight: 700;
        font-size: 3rem;
        margin-top: 3rem;
      }

      article {
        h1 {
          font-size: 1.3rem;
          line-height: 1.4;
          color: #5c6f82;
          font-weight: 600;
          letter-spacing: -1px;
        }
      }
    }

    &__subtitle {
      font-size: 1.8rem;
      color: $color--light-blue;
      margin-bottom: 2rem;
    }

    &__paragraph {
    }
  }

  .sicurezza {
    &__alien {
      position: absolute;
      top: -6rem;
      left: 50%;
      transform: translateX(-50%);
    }

    &__aliens {
      margin-top: 5rem;
      @media screen and (max-width: $grid-breakpoints-md) {
        display: none;
      }
    }

    &__wrapper {
      position: relative;
      margin-top: 3rem;
      margin-bottom: 3rem;
      padding-top: 8rem;
      padding-bottom: 8rem;
      background: linear-gradient(
        206.57deg,
        #336184 0%,
        #264b6a 47.16%,
        #17324d 100%
      );

      h2 {
        font-weight: 700;
        font-size: 3rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
        color: #0bd9d3;
      }
    }

    &__subtitle {
      font-size: 1.8rem;
      color: #0bd9d3;
      margin-bottom: 2rem;
    }

    &__paragraph {
      margin: 0.7rem auto;
      padding: 0 0.5rem;
      color: #fff;
    }
  }

  .pa-schema__wrapper {
    margin-top: 10rem;
    background-color: #fafbfd;

    h2 {
      margin-top: 2em;
    }
  }

  .pa-schema__inner {
    margin: 0 auto;
    @media screen and (max-width: $grid-breakpoints-md) {
      overflow-x: auto;
      max-width: none;
    }
  }

  .pa-schema {
    max-width: 100%;
    @media screen and (max-width: $grid-breakpoints-md) {
      max-width: 1200px;
    }
  }
}

.giornalisti__slides {
  &-container {
    position: relative;
    @media screen and (max-width: 1270px) {
      margin-left: auto;
    }
  }

  &-item {
    position: relative;
    max-width: 33%;
    padding: 1rem;
    outline: none;

    img {
      max-width: 100%;
      border: 1px solid $color--light-blue;
    }

    &:hover:after {
      position: absolute;
      z-index: 10;
      content: url("img/icon-zoom.svg");
      line-height: 0;
      bottom: 1rem;
      left: 1rem;
      background: $color--light-blue;
    }

    @media screen and (max-width: $grid-breakpoints-md) {
      max-width: 50%;
    }
  }
}

button.baguetteBox-button {
  &:focus {
    outline: none;
  }

  & svg {
    transform: scale(0.5);
  }
}

.max-width-full {
  max-width: 100%;
}

.anchor-spacer:before {
  content: "";
  display: block;
  padding-top: 98px; /* header height + empty space */
  margin-top: -50px; /* header height to degrees padding’s space */
  @media screen and (min-width: $grid-breakpoints-md) {
    padding-top: 148px; /* header height + empty space */
    margin-top: -100px; /* header height to degrees padding’s space */
  }
}

.youtube-responsive-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
  iframe,
  object,
  embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
