@import url('https://fonts.googleapis.com/css?family=Lora:400,400i');

@import 'variables';
@import 'reset';
@import 'animation';
@import 'constellation';
@import 'section';
@import 'galaxy';
@import 'volume';
@import 'italia';
@import 'device';
@import 'carillon';
@import 'copy';
@import 'footer';
@import 'cookiebar';
@import 'preload';
@import 'navigation';

body {
  background-color: $color--light-grey;
  &.layout--home {
    font-size: 14px;
  }
}
.bg-white {
  background-color: $color--white;
}
.text--light-blue {
  color: $color--light-blue;
}
.overflow-x--hidden {
	overflow-x: hidden;
}
.small {
  font-size: 14px;
}
.post {
  max-width: 40em;
}
.mw-40 {
	max-width: 40rem;
}
.mw-50 {
	max-width: 50rem;
}
.mw-60 {
	max-width: 60rem;
}
.internal-page {
	color: #5C6F82;
	margin-top: 12rem;

	section {
		margin-top: 4rem;
		margin-bottom: 4rem;
	}

	h1 {
		font-size: 3rem;
		color: $color--italia;
	}
	h2 {
		color: $color--italia;
		font-weight: 300;
		font-size: 1.8rem;
		margin-top: 1rem;
		letter-spacing: 0;
	}
	&__content {
		margin-top: 3rem;
		font-size: 1rem;
	}
	&__bodytable {
		padding-right: 2em;
	}
	aside {
		padding: 0 2em ;
		border-left: 1px solid #E6E9F2;

		@media screen and (max-width: $grid-breakpoints-md) {
			border-top: 1px solid #E6E9F2;
			border-left: none;
			padding: 2em 1em;
		}
	}
	.facilita-pa {
		margin-top: 2rem;
		color: #5C6F82;
		font-weight: 600;
		font-size: 1.1rem;
		line-height: 1.2;

		img {
			width: 51px;
		}
	}
	.privacy {
		&__wrapper {
		padding-top: 1rem;
		padding-bottom: 3rem;
			background-color: #5C6F82;
			h2 {
				font-weight: 700;
				font-size: 3rem;
				margin-top: 3rem;
				margin-bottom: 5rem;
				color: #fff;
			}
			img {
				position: relative;
				top: -1rem;
				@media screen and (max-width: $grid-breakpoints-md) {
					top: 0;
				}
			}
		}

		&__subtitle {
			font-size: 1.8rem;
			color: #fff;
			margin-bottom: 2rem;
		}
		&__paragraph {
			color: #fff;
		}
	}
	.attorno-utente {
		&__wrapper {
		margin-top: 3rem;
		margin-bottom: 3rem;
		padding-top: 8rem;
		padding-bottom: 8rem;
		background-image: url(img/confetti.svg);
		background-repeat: no-repeat;
		background-position-x: center;
			h2 {
			font-weight: 700;
			font-size: 3rem;
			margin-top: 3rem;
			}

		}
		&__subtitle {
			font-size: 1.8rem;
			color: $color--light-blue;
			margin-bottom: 2rem;
			}
		&__paragraph {
			margin: 0.7rem auto;
			padding: 0 0.5rem;
		}

	}
	.onboard {


		&__wrapper {
		background-color: #00264D;
		background-image: url("img/purple-bg.jpg");
		background-repeat: no-repeat;
		background-position-x: center;
		margin-top: 3rem;
		margin-bottom: 0;
		padding-top: 3rem;
		padding-bottom: 3rem;
			h2 {
			font-weight: 700;
			font-size: 3rem;
			margin-top: 3rem;
			color: #fff;
			}

		}
		&__subtitle {
			font-size: 1.8rem;
			color: #fff;
			margin-bottom: 2rem;
			}
		&__paragraph {
			font-size: 1.2rem;
			line-height: 1.5;
			color: #fff;
			margin: 0 auto;
		}

	}
	.legge {
		&__wrapper {
		margin-top: 3rem;
		margin-bottom: 3rem;
		padding-top: 3rem;
		padding-bottom: 3rem;

			h2 {
			font-weight: 700;
			font-size: 3rem;
			margin-top: 3rem;
			}
			article {
				h1 {
					font-size: 1.3rem;
					line-height: 1.4;
					color: #5C6F82;
					font-weight: 600;
					letter-spacing: -1px;
				}
			}
		}

		&__subtitle {
			font-size: 1.8rem;
			color: $color--light-blue;
			margin-bottom: 2rem;
			}
		&__paragraph {

		}

	}
	.sicurezza {


		&__alien {
			position: absolute;
			top: -6rem;
			left: 50%;
			transform: translateX(-50%);
		}
		&__aliens {
			margin-top: 5rem;
			@media screen and (max-width: $grid-breakpoints-md) {
				display: none;
			}
		}

		&__wrapper {
		position: relative;
		margin-top: 3rem;
		margin-bottom: 3rem;
		padding-top: 8rem;
		padding-bottom: 8rem;
		background: linear-gradient(206.57deg, #336184 0%, #264B6A 47.16%, #17324D 100%);
			h2 {
			font-weight: 700;
			font-size: 3rem;
			margin-top: 2rem;
			margin-bottom: 3rem;
			color: #0BD9D3;
			}

		}
		&__subtitle {
			font-size: 1.8rem;
			color: #0BD9D3;
			margin-bottom: 2rem;
			}
		&__paragraph {
			margin: 0.7rem auto;
			padding: 0 0.5rem;
			color: #fff;
		}

	}
	.pa-schema__wrapper {
		margin-top: 10rem;
		background-color: #FAFBFD;

		h2 {
			margin-top: 2em;
		}
	}
	.pa-schema__inner {
		margin: 0 auto;
		@media screen and (max-width: $grid-breakpoints-md) {
			overflow-x: auto;
			max-width: auto;
		}
	}
	.pa-schema {
		max-width: 100%;
		@media screen and (max-width: $grid-breakpoints-md) {
			max-width: 1200px;
		}
	}

}

.giornalisti__slides {
	&-container {
		position: relative;
		@media screen and (max-width: 1270px) {
			margin-left: auto;
		}
	}
	&-item {
		position: relative;
		max-width: 33%;
		padding: 1rem;
        outline: none;
		img {
			max-width: 100%;
			border: 1px solid $color--light-blue;
		}
		&:hover:after {
			position: absolute;
			z-index: 10;
			content: url('img/icon-zoom.svg');
            line-height: 0;
			bottom: 1rem;
			left: 1rem;
			background: $color--light-blue;
		}
		@media screen and (max-width: $grid-breakpoints-md) {
			max-width: 50%;
		}
	}
}

button.baguetteBox-button {
  &:focus {
    outline: none;
  }
  & svg {
    transform: scale(.5);
  }
}
