@import url('https://fonts.googleapis.com/css?family=Lora:400,400i');

@import 'variables';
@import 'reset';
@import 'animation';
@import 'constellation';
@import 'section';
@import 'galaxy';
@import 'italia';
@import 'device';
@import 'carillon';
@import 'copy';
@import 'footer';
@import 'navigation';

body {
  background-color: $color--light-grey;
  font-size: 14px;
}
.bg-white {
  background-color: $color--white;
}
.text--light-blue {
  color: $color--light-blue;
}
.overflow-x--hidden {
	overflow-x: hidden;
}
