
.navigation__slim {
  position: fixed;
  height: 50px;
  display: block;
  width: 100%;
  z-index: 100;
  @media screen and (min-width: $grid-breakpoints-md) {
    z-index: 4;
  }
  color: #FFF;
  top: 0;
  background: rgba(0, 102, 204, 1);
  transition: background .2s ease-out;
  @media screen and (min-width: $grid-breakpoints-lg) {
      background: rgba(0, 102, 204, 0);
  }
  body:not(.layout--home) &,
  body.is-scrolled & {
    background: rgba(0, 102, 204, 1) !important;
  }
}

.navigation {
  transition: all .5s ease-out;
  background: white;
  z-index: 100;
  @media screen and (min-width: $grid-breakpoints-md) {
    z-index: 3;
    &:before, &:after {
      content: '';
      background: transparent url(img/bubble-top.svg) center bottom no-repeat;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 8px;
    }
    &:before {
      background: transparent url(img/bubble-top.svg) center bottom no-repeat;
      bottom: -8px;
    }
    &:after{
      background: transparent url(img/bubble-bottom.svg) center bottom no-repeat;
      top: -8px;
    }
  }
  a {
    color: $color--light-blue;
    font-size: 16px;
    font-weight: 600;
    &.active:after {
      content: "";
      position: absolute;
      bottom: 2px;
      width: 100%;
      height: 2px;
      left: 0;
      right: 0;
      background: $color--light-blue;
    }
  }
  body:not(.layout--home) &,
  body.is-scrolled & {
    position: fixed;
    @media screen and (min-width: $grid-breakpoints-md) {
      top: 50px;
    }
    right: 0;
    left: 0;
    z-index: 3;
  }
}
.offcanvas-collapse {
  background-color: #FFF;
  top: 50px;
  &.open {
    left: auto;
  }
}
.io__icon {
  width: 36px;
}

.lang_switch {
  .dropdown-menu {
    left: auto;
    right: 0;
    min-width: 6rem;
  }
}
