
.navigation__slim {
  position: fixed;
  height: 50px;
  display: block;
  width: 100%;
  z-index: 100;
  padding: 8px 16px !important;
  @media screen and (min-width: $grid-breakpoints-md) {
    z-index: 4;
  }
  color: #FFF;
  top: 0;
  background: rgba(0, 102, 204, 1);
  transition: background .2s ease-out;
  @media screen and (min-width: $grid-breakpoints-lg) {
      background: rgba(0, 102, 204, 0);
  }
  body:not(.layout--home) &,
  body.is-scrolled & {
    background: rgba(0, 102, 204, 1) !important;
  }
}

.navigation {
  transition: all .5s ease-out;
  background: white;
  z-index: 100;
  @media screen and (min-width: $grid-breakpoints-md) {
    z-index: 3;
    &:before, &:after {
      content: '';
      background: transparent url(img/bubble-top.svg) center bottom no-repeat;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 8px;
    }
    &:before {
      background: transparent url(img/bubble-top.svg) center bottom no-repeat;
      bottom: -8px;
    }
    &:after{
      background: transparent url(img/bubble-bottom.svg) center bottom no-repeat;
      top: -8px;
    }
  }
  a {
    color: $color--light-blue;
    font-size: 16px;
    font-weight: 600;
    &.active:after {
      content: "";
      position: absolute;
      bottom: 2px;
      width: 100%;
      height: 2px;
      left: 0;
      right: 0;
      background: $color--light-blue;
    }
  }
  body:not(.layout--home) &,
  body.is-scrolled & {
    position: fixed;
    @media screen and (min-width: $grid-breakpoints-md) {
      top: 50px;
    }
    right: 0;
    left: 0;
    z-index: 3;
  }
}
.io__icon {
  width: 40px;
  padding: 0 4px;
  vertical-align: baseline;
}

.lang_switch {
  .dropdown-menu {
    left: auto;
    right: -1rem;
    width: 8rem;
    top: 2rem;
    background: #FFF;
    border-radius: 4px;
    &:before {
      display: none;
    }
  }
  .droid {
    margin-right: 0.5rem;
    background-color: #5C6F82;
    border-radius: 50%;
    padding: 2px;

  }
  .active .droid {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }
  .disclaimer {
    font-size: 0.8rem;
    color: #5C6F82;
    padding: 6px 24px;
  }
}
