.navbar-dark .navbar-toggler-icon {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDIwIDE4Ij4gIDxnIGZpbGw9IiNEOEQ4RDgiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlPSIjMDZDIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIgMSkiPiAgICA8bGluZSB4MT0iLjE4NCIgeDI9IjE2LjE4NCIgeTE9Ii45OTgiIHkyPSIuOTk4Ii8+ICAgIDxsaW5lIHgxPSIuMTg0IiB4Mj0iMTYuMTg0IiB5MT0iNy45OTgiIHkyPSI3Ljk5OCIvPiAgICA8bGluZSB4MT0iLjE4NCIgeDI9IjE2LjE4NCIgeTE9IjE0Ljk5OCIgeTI9IjE0Ljk5OCIvPiAgPC9nPjwvc3ZnPg==);
  background-size: 25px;
}
.navbar-dark .navbar-toggler {
  &:hover,
  &:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none;
  }
}
.navigation__slim {
  position: fixed;
  height: 50px;
  display: block;
  width: 100%;
  z-index: 100;
  padding: 8px 16px !important;
  @media screen and (min-width: $grid-breakpoints-md) {
    z-index: 4;
  }
  color: $color--italia;
  top: 0;
  background: #fff;
  transition: background 0.2s ease-out;
  @media screen and (min-width: $grid-breakpoints-lg) {
    background: rgba(0, 102, 204, 0);
  }

  .social {
    font-size: 0;
    color: #fff;
    margin-right: 0.5rem;

    & > span {
      margin-right: 1em;
    }
    .small-prints {
      font-size: 0;
    }
    a {
      padding: 0 4px;
    }
    .icon {
      fill: rgba(0, 102, 204, 1);
      background-color: #fff;
      padding: 0.1em 0.2em;
      border-radius: 100%;
      font-size: initial;
      width: 24px;
      height: 24px;
      &--inverted {
        fill: #fff;
        background-color: transparent;
        width: 28px;
        height: 28px;
      }
      @media screen and (min-width: $grid-breakpoints-md) {
        margin-right: 0.2em;
      }
    }
    @media screen and (min-width: $grid-breakpoints-md) {
      text-align: left !important;
      margin-top: 1em;
      margin-right: 10px;
    }
  }
}
.navbar-logo {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  @media screen and (min-width: $grid-breakpoints-md) {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }
}

.badge-beta {
  background-color: $color--light-blue;
  font-weight: 300;
  color: #fff;
  font-size: 9px !important;
  padding: 2px 6px;
  border-radius: 4px;
  margin-top: 6px;

  .navbar-nav & {
    @media screen and (min-width: $grid-breakpoints-md) and (max-width: $grid-breakpoints-lg) {
      position: absolute;
      background-color: $color--dark-grey;
      bottom: 4px;
      right: -4px;
      z-index: -1;
    }
  }
}
.nav-container {
  justify-content: space-around;
}
.navigation {
  transition: all 0.5s ease-out;
  background: white;
  z-index: 100;
  @media screen and (min-width: $grid-breakpoints-md) {
    z-index: 3;
  }
  &__subitemsmenu {
    display: none;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ddd;
    @media screen and (min-width: $grid-breakpoints-md) {
      padding: 1.5rem 1.5rem 1rem 1.5rem;
      position: absolute;
      top: 100%;
      left: -0.5rem;
      background-color: #fff;
      border-bottom-left-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem;
      width: 300px;
      box-shadow: 0 20px 30px 5px rgba(0,0,0,.05);
      -webkit-box-shadow: 0 20px 30px 5px rgba(0,0,0,.05);
      -moz-box-shadow: 1px -5px 6px -1px rgba(235, 235, 235, 0.75);
      border-bottom: none;
    }
    &__category {
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      color: #17324d;
      @media screen and (min-width: $grid-breakpoints-md) {
        text-align: left;
        margin-bottom: 1rem;
      }
    }
    .on + & {
      display: block;
    }
    &--cat {
      @media screen and (min-width: $grid-breakpoints-md) {
        width: 500px;
      }
      .on + & {
        @media screen and (min-width: $grid-breakpoints-md) {
          display: -webkit-box !important;
          display: -ms-flexbox !important;
          display: flex !important;
        }
      }
    }
    a {
      font-size: 1rem !important;
      text-decoration: none;
      font-weight: 300 !important;
      display: block;
      text-align: center;
      padding: 0.3rem 0;
      @media screen and (min-width: $grid-breakpoints-md) {
        text-align: left;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  a {
    color: $color--italia;
    font-size: 21px;
    font-weight: 600;
    @media screen and (min-width: $grid-breakpoints-md) {
      font-size: 16px;
    }
    &.active:after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 4px;
      left: 0;
      right: 0;
      background: #21dedf;
    }
  }
  & {
    position: fixed;
    @media screen and (min-width: $grid-breakpoints-md) {
      top: 0;
    }
    right: 0;
    left: 0;
    z-index: 10;
  }
}
.io__icon {
  width: 42px;
  padding: 0 4px;
  vertical-align: baseline;
  @media screen and (min-width: $grid-breakpoints-sm) {
    width: 50px;
  }
}

.lang_switch {
  .dropdown-menu {
    left: auto;
    right: -1rem;
    width: 8rem;
    top: 2rem;
    background: #fff;
    border-radius: 4px;
    &:before {
      display: none;
    }
  }
  .droid {
    margin-right: 0.5rem;
    background-color: #5c6f82;
    border-radius: 50%;
    padding: 2px;
  }
  .active .droid {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }
  .disclaimer {
    font-size: 0.8rem;
    color: #5c6f82;
    padding: 6px 24px;
  }
}

.social--nav {
  a {
    color: $color--italia;
    font-size: 0;
    fill: $color--italia;
  }
  svg {
    height: 22px;
  }
}
