.pagename--note-legali {
    #introduzione {
      min-height: auto !important;
    }

    a {
        scroll-margin-top: 55px;
    }

    .otnotice-menu-selected-container {
        margin-top: 50px;
    }

    .otnotice-menu-selected {
        font-weight: 700;
        font-size: 2.222rem;
    }

    .otnotice-section-content h2#isPasted {
        display: none;
    }
}