@media (max-width: $grid-breakpoints-lg) {
  .offcanvas-collapse {
    background-color: #FFF;
    top: 50px;
    position: fixed;
    bottom: 0;
    left: 1em;
    width: 100%;
    overflow-y: auto;
    transition: transform .3s ease-in-out;
    transform: translateX(100%);
    &.open {
      left: auto;
      transform: translateX(-1rem)
    }
  }
}
