.pagename--privacy-policy {
    #introduzione {
      min-height: auto !important;
    }

    a {
        scroll-margin-top: 55px;
    }

    .otnotice-menu-selected {
        visibility: hidden;
    }

}
