.roadmap_home {
  background-image: url(img/roadmap_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  // background: rgb(39, 111, 183);
  // background: radial-gradient(
  //     circle,
  //     rgba(39, 111, 183, 1) 0%,
  //     rgba(35, 49, 96, 1) 100%
  //   );

  .section__10_inner {
    padding: 2em 0;

    @media screen and (min-width: $grid-breakpoints-xl) {
      padding: 3em 0;
    }
  }

  .roadmap_bg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;

    background-image: url(img/roadmap.png);
    background-position-x: center;
    background-position-y: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;

    @media screen and (min-width: $grid-breakpoints-sm) {
      background-position-y: 80px;
      height: 450px;
    }

    @media screen and (min-width: $grid-breakpoints-md) {
      height: 550px;
    }

    @media screen and (min-width: $grid-breakpoints-lg) {
      background-position-y: 60px;
      height: 680px;
    }

    @media screen and (min-width: $grid-breakpoints-xl) {
      height: 800px;
    }
  }

  .img_roadmap {
    width: 100%;
    height: auto;
  }
}

.roadmap {
}
