.section {
  background-color: transparent;
  pointer-events: none;
  &.active,
  &.section__7 {
    pointer-events: auto;
  }
}

.section-wrapper {
  display: table;
  margin: 0 auto;
  @media screen and (min-width: $grid-breakpoints-lg) {
    width: 100vw;
    height: calc(100vh - 50px);
  }
}

.section-wrapper__inner {
  display: table-cell;
  @media screen and (min-width: $grid-breakpoints-lg) {
    vertical-align: middle;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: auto;
    left: 50%;
    top: 50%;
    margin-left: -50vw;
    margin-top: -$device-height/2 + $mt-100/2;
  }
}

.section-text {
  transition: all .5s ease-in-out;
  p {
    transition: opacity .5s ease-in-out;
  }
  p:nth-child(1) {
    transition-delay: 0s;
  }
  p:nth-child(2) {
    transition-delay: .25s;
  }
  p:nth-child(3) {
    transition-delay: .5s;
  }
  p:nth-child(4) {
    transition-delay: .75s;
  }
  p:nth-child(5) {
    transition-delay: 1s;
  }
  @media screen and (min-width: $grid-breakpoints-lg) {
    opacity: 0;
    p {
      opacity: 0;
    }
    .active & {
      transform: translateX(0);
      opacity: 1;
      p {
        opacity: 1;
      }
    }
  }
}

.section-text--left {
  color: $color--light-blue;
  font-size: 16px;
  line-height: 24px;
  @media screen and (min-width: $grid-breakpoints-lg) {
    transform: translateX(0);
    font-size: 20px;
  }
  h2 {
    margin: 60px 0;
    @media screen and (min-width: $grid-breakpoints-lg) {
      margin: 0;
    }
    font-weight: 400;
  }
}

.section-text--right {
  color: #5C6F82;
  font-size: 16px;
  line-height: 24px;
  @media screen and (min-width: $grid-breakpoints-lg) {
    transform: translateX(100%);
    font-size: 20px;
  }
}

.section-text__inner {
  padding: 0 16px;
  @media screen and (min-width: $grid-breakpoints-lg) {
    padding: 0 40px;
  }
  @media screen and (min-width: $grid-breakpoints-xl) {
    padding: 0 80px;
  }
}

// Exceptions
.section__1 {
  background-image: url(img/sky-bg.jpg), radial-gradient(circle, rgba(12, 80, 169, 1), #173966 100%);
  background-size: cover;
  .section-title {
    position: absolute;
    top: calc(-50vh + 100px); // opposto di .carillon__inner + 25px
    width: 100%;
    text-align: center;
    color: $color--white;
    pointer-events: auto;
    @media screen and (min-width: $grid-breakpoints-lg) {
      margin-top: 50px;
    }
    h1 {
      font-weight: 400;
      font-size: 24px;
    }
    .io-logo--top {
      width: 32px;
      margin-top: -4px;
    }
  }
}
.section__1 {
  @media screen and (min-width: $grid-breakpoints-lg) {
    margin-bottom: 20vw;
  }
}
.section__7 {
  @media screen and (min-width: $grid-breakpoints-lg) {
    margin-top: 20vw;
  }
}
body.is-scrolled .section__2 .section-wrapper {
  @media screen and (min-width: $grid-breakpoints-lg) {
    margin-top: 39px;
  }
}