.section {
  background-color: transparent;
  pointer-events: none;
  &.active,
  &.section__7 {
    pointer-events: auto;
  }
  &.section--wpointers {
    pointer-events: auto !important;
  }
}

.section-wrapper {
  display: table;
  margin: 0 auto;
  @media screen and (min-width: $grid-breakpoints-lg) {
    width: 100vw;
    height: calc(100vh - 50px);
  }
}

.section-wrapper__inner {
  display: table-cell;
  @media screen and (min-width: $grid-breakpoints-lg) {
    vertical-align: middle;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: auto;
    left: 50%;
    top: 50%;
    margin-left: -50vw;
    margin-top: -$device-height/2 + $mt-100/2;
  }
}

.section-text {
  transition: all .5s ease-in-out;
  p {
    transition: opacity .5s ease-in-out;
  }
  p:nth-child(1) {
    transition-delay: 0s;
  }
  p:nth-child(2) {
    transition-delay: .25s;
  }
  p:nth-child(3) {
    transition-delay: .5s;
  }
  p:nth-child(4) {
    transition-delay: .75s;
  }
  p:nth-child(5) {
    transition-delay: 1s;
  }
  @media screen and (min-width: $grid-breakpoints-lg) {
    opacity: 0;
    p {
      opacity: 0;
    }
    .active & {
      transform: translateX(0);
      opacity: 1;
      p {
        opacity: 1;
      }
    }
  }
}

.section-text--left {
  color: $color--light-blue;
  font-size: 16px;
  line-height: 24px;
  @media screen and (min-width: $grid-breakpoints-lg) {
    transform: translateX(0);
    font-size: 20px;
  }
  h2 {
    margin: 60px 0;
    @media screen and (min-width: $grid-breakpoints-lg) {
      margin: 0;
    }
    font-weight: 400;
  }
}

.section-text--right {
  color: #5C6F82;
  font-size: 16px;
  line-height: 24px;
  @media screen and (min-width: $grid-breakpoints-lg) {
    transform: translateX(100%);
    font-size: 20px;
  }
}

.section-text__inner {
  padding: 0 16px;
  @media screen and (min-width: $grid-breakpoints-lg) {
    padding: 0 40px;
  }
  @media screen and (min-width: $grid-breakpoints-xl) {
    padding: 0 80px;
  }
}

.section__7 {
  font-size: 1.1em;
  line-height: 1.5;
  color: #5C6F82;

  &_inner {
    padding-bottom: 4em;
    padding-top: 4em;
  }

  h1 {
    font-weight: 400;
    margin-bottom: 1em;
    b {
      font-weight: 600;
    }
  }
  .table-wrapper {
    @media screen and (max-width: $grid-breakpoints-md){
      overflow-x: scroll;
    }

  }
  h5 {
      margin-top: 1em;
    }
  .table {
    font-size: 1.0em;
    line-height: 1.4;
    margin-top: 1em;
    margin-bottom: 1em;
    td {
      border-right: 1px solid #d6dce3;
    }
    tr > td:first-child, tr > th:first-child {
      border-right: 2px solid #d6dce3;
      font-weight: 600;
      text-transform: uppercase; 
      width: 15%;

    }
    th {
      border-bottom: 2px solid #d6dce3;
    }

    tr > td:last-child, tr > th:last-child {
      border-right: none;
    }
    tbody > tr:last-child td {
      border-bottom: none !important;
    }
    
    ul {
      margin-left: 0;
      padding-left: 0;
      list-style: none;
      li {
        margin-bottom: 0.5em;
      }
    }
  }
}

.section__8 {
  
  color: #fff;
  font-size: 1.5em;
  line-height: 1.4;

  &_inner {
    background-color: #000;
    padding-bottom: 2em;
    padding-top: 2em;
  }
  .io__icon {
    vertical-align: bottom;
  }
  .newsletter-form {
    padding-bottom: 1em;
    padding-top: 1em;

    .input-group {
      box-shadow: 2px 2px 24px 0px rgba(0,0,0,0.4);
    }
    .input-icon {
      border-top-left-radius: 5px !important;
      border-bottom-left-radius: 5px !important;
      padding-left: 1.5em;
    }
    .input-email {
      font-weight: 400;
    }
    .input-email::placeholder {
      color: #ddd;
    }
    .input-submit {
      border-top-right-radius: 5px !important;
      border-bottom-right-radius: 5px !important;
      color: #fff;
      padding-left: 1.5em;
      padding-right: 1.5em;
    }
    .input-email, .input-icon, .input-submit {
      border-bottom: none;
    }
  }

}
.section__9 {
  color: #fff;
  padding-bottom: 3em;
  padding-top: 3em;
}
#accordionDivFAQ {
  .collapse-header button {
    color: #fff;
    font-size: 1.5em;
    padding-left: 0;
  }
  .collapse-header[data-toggle=collapse] {
    border-top: 1px solid rgba(255,255,255,0.16);
  }
  .collapse-header [data-toggle=collapse]:after {
    position: relative;
    margin-right: -12px;
  }
  & > .collapse-header:first-child [data-toggle='collapse'] {
    border-top: none;
    margin-top: 1em;
  }
  .collapse-header [data-toggle=collapse][aria-expanded=true]:before {
    display: none !important;
  }
  .collapse-header [data-toggle=collapse]:hover {
    background-color: transparent;
  }
  .collapse-body  {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 1.2em 0;
    padding: 0;
    a {
      color: #fff;
      font-size: inherit;
      text-decoration: underline;
    }
  }
}

// Exceptions
.section__1 {
  background-image: url(img/sky-bg.jpg), radial-gradient(circle, rgba(12, 80, 169, 1), #173966 100%);
  background-size: cover;
  .section-title {
    position: absolute;
    top: calc(-50vh + 100px); // opposto di .carillon__inner + 25px
    width: 100%;
    text-align: center;
    color: $color--white;
    pointer-events: auto;
    @media screen and (min-width: $grid-breakpoints-lg) {
      margin-top: 50px;
    }
    h1 {
      font-weight: 400;
      font-size: 24px;
    }
    .io-logo--top {
      width: 32px;
      margin-top: -4px;
    }
  }
}
.section__1 {
  @media screen and (min-width: $grid-breakpoints-lg) {
    margin-bottom: 20vw;
  }
}
.section__7 {
  @media screen and (min-width: $grid-breakpoints-lg) {
    margin-top: 20vw;
  }
}
body.is-scrolled .section__2 .section-wrapper {
  @media screen and (min-width: $grid-breakpoints-lg) {
    margin-top: 39px;
  }
}