.page-sviluppatori {
    .section-reference {
        position: relative;
        z-index: 1;
        background: radial-gradient(100% 100% at 50% 0%, #00266b 0%, #0073d1 100%);
        @media (min-width: 992px) {
            &:after {
                    display: block;
                    width: 100%;
                    height: 30%;
                    content: ' ';
                    background-color: #fafbfd;
                    z-index: -1;
                    position: absolute;
                    bottom: 0;
                }
        }
        .advantage-cards {
            

            @media (min-width: 768px) {
                .item {
                    width: 45%;
                }
                
                }

                @media (min-width: 992px) {
                .item {
                    width: 23%;
                }
                .card .card-body h5.card-title {
                    font-size: 1.2rem;
                    line-height: 1.5rem;
                    font-weight: 600;
                }
                }

                a {
                text-decoration: none;
                }
            
        }
        
    }
    .section-workflow {
            h5.card-title {
                font-size: 1.2rem;
                text-decoration: underline;
                color: #5C6F82;
            }
            .card-text {
                font-size: 0.9rem !important;
                line-height: 1.5rem;
            }
        }
}