$device-width: 227px;
$device-height: 491px;
$device-border-radius: 22px;
$device-box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.25);

$ball-size: 20px;
$ball-size--small: 10px;

$color--white: #fff;
$color--black: #000;
$color--italia: #06c;
$color--italia-green: #00fff8;
$color--light-blue: #0073e6;
$color--dark-blue: #00264d;
$color--light-grey: #fafbfd;
$color--dark-grey: #455b71;
$color--gray-text: #5c6f82;
$color--pagopa: #21DEDF;

$mt-100: 100px;

$grid-breakpoints-xs: 0;
$grid-breakpoints-sm: 576px;
$grid-breakpoints-md: 768px;
$grid-breakpoints-lg: 992px;
$grid-breakpoints-xl: 1200px;
