$device-width: 244px;
$device-height: 491px;

$ball-size: 14px;
$ball-size--small: 10px;

$color--white: #FFF;
$color--black: #000;
$color--italia: #06C;
$color--italia-green: #00FFF8;
$color--light-blue: #0073E6;
$color--dark-blue: #00264D;
$color--light-grey: #FAFBFD;
$color--dark-grey: #455B71;

$mt-100: 100px;

$grid-breakpoints-xs: 0;
$grid-breakpoints-sm: 576px;
$grid-breakpoints-md: 768px;
$grid-breakpoints-lg: 992px;
$grid-breakpoints-xl: 1200px;