.volume {
  opacity: .8;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  pointer-events: auto;
  transition: opacity .2s ease-in;
  &:hover {
    opacity: 1
  }
}
.volume--on {
  display: block;
  .volume__mute & {
    display: none;
  }
}
.volume--off {
  display: none;
  .volume__mute & {
    display: block;
  }
}