/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */
/* What follows is the result of much research on cross-browser styling. Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal, Kroc Camen, and the H5BP dev community and team. */
/* ========================================================================== Base styles: opinionated defaults ========================================================================== */
html { color: #222; font-size: 1em; line-height: 1.4; }

/* Remove text-shadow in selection highlight: https://twitter.com/miketaylr/status/12228805301 Vendor-prefixed and regular ::selection selectors cannot be combined: https://stackoverflow.com/a/16982510/7133471 Customize the background color to match your design. */
::-moz-selection { background: #b3d4fc; text-shadow: none; }

::selection { background: #b3d4fc; text-shadow: none; }

/* A better looking default horizontal rule */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers: https://github.com/h5bp/html5-boilerplate/issues/440 */
audio, canvas, iframe, img, svg, video { vertical-align: middle; }

/* Remove default fieldset styles. */
fieldset { border: 0; margin: 0; padding: 0; }

/* Allow only vertical resizing of textareas. */
textarea { resize: vertical; }

/* ========================================================================== Browser Upgrade Prompt ========================================================================== */
.browserupgrade { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/* ========================================================================== Author's custom styles ========================================================================== */
/* ========================================================================== Helper classes ========================================================================== */
/* Hide visually and from screen readers */
.hidden { display: none !important; }

/* Hide only visually, but have it available for screen readers: https://snook.ca/archives/html_and_css/hiding-content-for-accessibility 1. For long content, line feeds are not interpreted as spaces and small width causes content to wrap 1 word per line: https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); -webkit-clip-path: inset(50%); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; white-space: nowrap; /* 1 */ }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: https://www.drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; -webkit-clip-path: none; clip-path: none; height: auto; margin: 0; overflow: visible; position: static; width: auto; white-space: inherit; }

/* Hide visually and from screen readers, but maintain layout */
.invisible { visibility: hidden; }

/* Clearfix: contain floats For modern browsers 1. The space content is one way to avoid an Opera bug when the `contenteditable` attribute is included anywhere else in the document. Otherwise it causes space to appear at the top and bottom of elements that receive the `clearfix` class. 2. The use of `table` rather than `block` is only necessary if using `:before` to contain the top-margins of child elements. */
.clearfix:before, .clearfix:after { content: " "; /* 1 */ display: table; /* 2 */ }

.clearfix:after { clear: both; }

/* ========================================================================== EXAMPLE Media Queries for Responsive Design. These examples override the primary ('mobile first') styles. Modify as content requires. ========================================================================== */
@media only screen and (min-width: 35em) { /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) { /* Style adjustments for high resolution devices */ }

/* ========================================================================== Print styles. Inlined to avoid the additional HTTP request: http://www.phpied.com/delay-loading-your-print-css/ ========================================================================== */
@media print { *, *:before, *:after { background: transparent !important; color: #000 !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */ box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  /* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol */
  a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }
  pre { white-space: pre-wrap !important; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  /* Printing Tables: http://css-discuss.incutio.com/wiki/Printing_Tables */
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }

.copy { position: fixed; width: 100vw; height: calc(100vh - 150px); z-index: -4; top: 100px; left: 50%; margin-left: -50vw; background-size: cover; overflow: hidden; transition: all .5s ease-out; }

.copy__content { transition: all .5s ease-out; position: absolute; width: 303px; opacity: 0; }

.copy__content.copy__content--in { opacity: 1; }

.copy__logo { width: 120px; height: 100px; background-image: url(img/io-logo-temp@3x.png); background-size: cover; margin: 72px auto 36px; }

.copy__list { list-style-type: none; padding: 0 72px; text-align: left; }

.copy__list li { color: #06C; font-weight: 600; line-height: 24px; padding: 4px 0; }

.copy__icon { width: 24px; padding-right: 8px; }

.col__copy { width: 303px !important; }

div, section, p, h1, h2, h3, h4, h5, ul, li { box-sizing: border-box; }

a { color: #06c; }

.m-0 { margin: 0; }

.mb-0 { margin-bottom: 0 !important; }

.mb-1 { margin-bottom: 7px !important; }

body { font-family: 'Titillium Web', sans-serif; font-weight: 400; font-size: 16px; color: #5c6f82; }

.container { width: 100%; padding: 15px; }

h1, h2 { color: #455b71; font-size: 2rem; line-height: 1.6; margin: 15px 0; }

h2 { font-size: 1.5rem; }

h3, h4, h5 { color: #455b71; font-weight: 400; font-size: 1.25rem; line-height: 1.5; margin: 7.5px 0; }

h4 { font-size: 1.1rem; }

h5 { font-size: 0.85rem; font-style: italic; margin: 0; }

p { line-height: 1.5; margin: 15px 0; }

ul { padding: 0 8px 0 24px; }

.d-block { display: block !important; }

hr { max-width: 50%; border: none; border-top: 1px solid #ddd; height: 1px; margin: 30px auto; line-height: 0; font-size: 0; }

.d-startup-hide { /* temporaly disabled & > *:not(.d-startup) { display: none; }*/ }

.read-more { font-weight: 700; color: #06c; padding: 6px 0; border-bottom: 1px solid #06c; display: inline-block; cursor: pointer; }

.d-more-1.active, .d-more-2.active { display: block; }

.list-unstyled { padding-left: 0; list-style: none; margin-top: 0; }

.list-unstyled li { display: list-item; text-align: -webkit-match-parent; }

/*# sourceMappingURL=self.css.map */