<!-- DX - TERZO TRIMESTRE 2018 -->
<div class="point-list" data-time="201807">
  <div class="point-list-aside point-list-primary"></div>
  <div class="point-list-content">
    <div>
      <div class="roadtip arrow arrow-left text-monospace">
        Luglio 2018
      </div>
    </div>
  </div>
</div>
<!-- DX - PEOPLE - TERZO TRIMESTRE 2018 -->
<div class="point-list" data-filter="people" data-time="201807">
  <div
    class="point-list-aside with-line with-line-right point-list-primary"
  ></div>
  <div class="point-list-content">
    <div>
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#people_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Concept validation su prototipo
      </h4>
      <p class="text-left">
        Il primo mockup viene mostrato a un gruppo di circa quaranta cittadini.
        I partecipanti alla validazione interagiscono con l’app compiendo dei
        task (loggarsi, leggere una notifica, effettuare un pagamento) e
        commentando a voce alta ogni azione, ogni dubbio, ogni difficoltà
        incontrata durante l’interazione. La validazione del concept in fase di
        sviluppo dell’app, ne conferma l'efficacia e delinea una serie di
        indicazioni per l’ottimizzazione del design.
      </p>
    </div>
  </div>
</div>
<!-- DX - PHONE - TERZO TRIMESTRE 2018 -->
<div class="point-list" data-filter="phone" data-time="201807">
  <div
    class="point-list-aside with-line with-line-right point-list-primary"
  ></div>
  <div class="point-list-content">
    <div>
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Integrazione del login con SPID
      </h4>
      <p class="text-left">
        IO viene registrata come <i>Service Provider</i> presso Agid: in questo
        modo il cittadino può autenticarsi utilizzando SPID. L’implementazione
        del login con SPID rispetta i riferimenti tecnici ufficiali e il codice
        (lato app e infrastruttura) viene rilasciato fin da subito in modalità
        <i>open source</i>.
      </p>
    </div>
  </div>
</div>
<!-- DX - PHONE - TERZO TRIMESTRE 2018 -->
<div class="point-list" data-filter="phone" data-time="201807">
  <div
    class="point-list-aside with-line with-line-right point-list-primary"
  ></div>
  <div class="point-list-content">
    <div>
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Integrazione del pagamento con pagoPA
      </h4>
      <p class="text-left">
        Il team di sviluppo di IO collabora con il team di pagoPA per integrare
        i pagamenti nell’app in maniera semplice e immediata. Il primo metodo di
        pagamento a essere supportato è la carta di credito (su numerosi
        circuiti), con l’obiettivo di abilitare altri metodi in futuro.
      </p>
    </div>
  </div>
</div>
