<!-- SX - SECONDO TRIMESTRE 2018 -->
<div class="point-list">
  <div class="point-list-aside point-list-primary">
    <div class="roadtip arrow arrow-right text-monospace">
      Aprile 2018
    </div>
  </div>
  <div class="point-list-content"></div>
</div>
<!-- SX - LIGHT - SECONDO TRIMESTRE 2018 -->
<div class="point-list">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#light_w"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Nasce l'idea di IO
    </h4>
    <p class="text-right">
      Diego Piacentini racconta sul blog del Team per la Trasformazione Digitale
      la <a href="#">storia di Anna</a>: il team inizia a esplorare questa
      visione e come trasformarla in un servizio a disposizione di tutti i
      cittadini.
    </p>
  </div>
  <div class="point-list-content"></div>
</div>
<!-- SX - PHONE - SECONDO TRIMESTRE 2018 -->
<div class="point-list" data-filter="phone">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Iniziano i primi sprint di design e sviluppo
    </h4>
    <p class="text-right">
      Il Team per la Trasformazione Digitale stabilisce un gruppo di lavoro e
      una roadmap per dare il via allo sviluppo di un primo prototipo dell’app
      IO.
    </p>
  </div>
  <div class="point-list-content"></div>
</div>
