<!-- SX - SECONDO TRIMESTRE 2018 -->
<div class="point-list point-list-sx" data-time="201804">
  <div class="point-list-aside point-list-primary">
    <div class="roadtip arrow arrow-right text-monospace d-none d-md-block">
      Aprile 2018
    </div>
  </div>
  <div class="point-list-content">
    <div>
      <div class="roadtip arrow arrow-left text-monospace d-md-none">
        Aprile 2018
      </div>
    </div>
  </div>
</div>
<!-- SX - LIGHT - SECONDO TRIMESTRE 2018 -->
<div class="point-list point-list-sx" data-time="201804" data-filter="light">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#light_w"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Presentiamo la visione di IO
    </h4>
    <p class="text-right">
      Diego Piacentini racconta sul blog del Team per la Trasformazione Digitale
      la
      <a
        href="https://medium.com/team-per-la-trasformazione-digitale/progetto-io-app-cittadino-servizi-pubblica-amministrazione-22e8bbfec3ed"
        >storia di Anna</a
      >: il team inizia a esplorare questa visione e come trasformarla in un
      servizio a disposizione di tutti i cittadini.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#light_w"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Presentiamo la visione di IO
      </h4>
      <p class="text-left">
        Diego Piacentini racconta sul blog del Team per la Trasformazione
        Digitale la
        <a
          href="https://medium.com/team-per-la-trasformazione-digitale/progetto-io-app-cittadino-servizi-pubblica-amministrazione-22e8bbfec3ed"
          >storia di Anna</a
        >: il team inizia a esplorare questa visione e come trasformarla in un
        servizio a disposizione di tutti i cittadini.
      </p>
    </div>
  </div>
</div>
<!-- SX - PHONE - SECONDO TRIMESTRE 2018 -->
<div class="point-list point-list-sx" data-time="201804" data-filter="phone">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Iniziano i primi sprint di design e sviluppo
    </h4>
    <p class="text-right">
      Il Team per la Trasformazione Digitale stabilisce un gruppo di lavoro e
      una roadmap per dare il via allo sviluppo di un primo prototipo dell’app.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Iniziano i primi sprint di design e sviluppo
      </h4>
      <p class="text-left">
        Il Team per la Trasformazione Digitale stabilisce un gruppo di lavoro e
        una roadmap per dare il via allo sviluppo di un primo prototipo
        dell’app.
      </p>
    </div>
  </div>
</div>
