<!-- SX - QUARTO TRIMESTRE 2018 -->
<div class="point-list point-list-sx" data-time="201810">
  <div class="point-list-aside point-list-primary">
    <div class="roadtip arrow arrow-right text-monospace d-none d-md-block">
      Ottobre 2018
    </div>
  </div>
  <div class="point-list-content">
    <div>
      <div class="roadtip arrow arrow-left text-monospace d-md-none">
        Ottobre 2018
      </div>
    </div>
  </div>
</div>
<!-- SX - PEOPLE - QUARTO TRIMESTRE 2018 -->
<div class="point-list point-list-sx" data-filter="people" data-time="201810">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#people_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Prima demo funzionante dell'app
    </h4>
    <p class="text-right">
      Un centinaio di membri delle istituzioni e di collaboratori del Team per
      la Trasformazione Digitale sono invitati a testare l'applicazione reale
      sui propri dispositivi. Ricevono sull’app oltre venti messaggi di diverse
      tipologie e testano i flussi di pagamento con carta di credito, sia da
      messaggio sia partendo da QR code sull’avviso cartaceo.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#people_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Prima demo funzionante dell'app
      </h4>
      <p class="text-left">
        Un centinaio di membri delle istituzioni e di collaboratori del Team per
        la Trasformazione Digitale sono invitati a testare l'applicazione reale
        sui propri dispositivi. Ricevono sull’app oltre venti messaggi di
        diverse tipologie e testano i flussi di pagamento con carta di credito,
        sia da messaggio sia partendo da QR code sull’avviso cartaceo.
      </p>
    </div>
  </div>
</div>
