<!-- SX - SECONDO TRIMESTRE 2019 -->
<div class="point-list point-list-sx" data-time="201904">
  <div class="point-list-aside point-list-primary">
    <div class="roadtip arrow arrow-right text-monospace d-none d-md-block">
      Aprile 2019
    </div>
  </div>
  <div class="point-list-content">
    <div>
      <div class="roadtip arrow arrow-left text-monospace d-md-none">
        Aprile 2019
      </div>
    </div>
  </div>
</div>
<!-- SX - PEOPLE - SECONDO TRIMESTRE 2019 -->
<div class="point-list point-list-sx" data-filter="people" data-time="201904">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#people_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Test su invito di una prima versione beta<br />(closed-beta)
    </h4>
    <p class="text-right">
      Alcuni enti territoriali e centrali invitano oltre un migliaio di
      cittadini a testare l’app in contesti reali. Messaggi e pagamenti relativi
      a un servizio saranno realmente inviati dai sistemi degli enti coinvolti
      e, quindi, saranno validi a tutti gli effetti. Il team di sviluppo di IO
      interagisce con i beta tester, iniziando a risolvere i bug segnalati dagli
      utenti e a raccogliere feedback su come rendere l’app sempre più a misura
      di cittadino.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#people_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Test su invito di una prima versione beta<br />(closed-beta)
      </h4>
      <p class="text-left">
        Alcuni enti territoriali e centrali invitano oltre un migliaio di
        cittadini a testare l’app in contesti reali. Messaggi e pagamenti
        relativi a un servizio saranno realmente inviati dai sistemi degli enti
        coinvolti e, quindi, saranno validi a tutti gli effetti. Il team di
        sviluppo di IO interagisce con i beta tester, iniziando a risolvere i
        bug segnalati dagli utenti e a raccogliere feedback su come rendere
        l’app sempre più a misura di cittadino.
      </p>
    </div>
  </div>
</div>
<!-- SX - LOGO - SECONDO TRIMESTRE 2019 -->
<div class="point-list point-list-sx" data-filter="logo" data-time="201904">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Il Comune di Milano integra i primi servizi
    </h4>
    <p class="text-right">
      I cittadini che partecipano alla sperimentazione ricevono una serie di
      servizi derivati dal <i>Fascicolo del cittadino</i>, tra cui il promemoria
      per la <strong>scadenza della carta di identità</strong> e notifiche di
      <strong>passaggio in AREA B</strong>.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Il Comune di Milano integra i primi servizi
      </h4>
      <p class="text-left">
        I cittadini che partecipano alla sperimentazione ricevono una serie di
        servizi derivati dal <i>Fascicolo del cittadino</i>, tra cui il
        promemoria per la <strong>scadenza della carta di identità</strong> e
        notifiche di <strong>passaggio in AREA B</strong>.
      </p>
    </div>
  </div>
</div>
<!-- SX - LOGO - SECONDO TRIMESTRE 2019 -->
<div class="point-list point-list-sx" data-filter="logo" data-time="201904">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Il Comune di Torino aderisce alla closed-beta
    </h4>
    <p class="text-right">
      Il portale TorinoFacile si integra a IO e i cittadini selezionati come
      beta tester ricevono promemoria delle
      <strong>scadenze di pagamento e avvisi</strong> relativi all’ammissione
      dei propri figli ai <strong>nidi d’infanzia</strong>.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Il Comune di Torino aderisce alla closed-beta
      </h4>
      <p class="text-left">
        Il portale TorinoFacile si integra a IO e i cittadini selezionati come
        beta tester ricevono promemoria delle
        <strong>scadenze di pagamento e avvisi</strong> relativi all’ammissione
        dei propri figli ai <strong>nidi d’infanzia</strong>.
      </p>
    </div>
  </div>
</div>
<!-- SX - PHONE - SECONDO TRIMESTRE 2019 -->
<div class="point-list point-list-sx" data-filter="phone" data-time="201904">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Nuovo sistema di organizzazione delle scadenze
    </h4>
    <p class="text-right">
      L’inbox dei messaggi viene organizzata per Ricevuti, Scadenze, Archivio,
      così da avere sul proprio smartphone l’elenco di scadenze e appuntamenti
      con qualunque ente pubblico, organizzati cronologicamente.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Nuovo sistema di organizzazione delle scadenze
      </h4>
      <p class="text-left">
        L’inbox dei messaggi viene organizzata per Ricevuti, Scadenze, Archivio,
        così da avere sul proprio smartphone l’elenco di scadenze e appuntamenti
        con qualunque ente pubblico, organizzati cronologicamente.
      </p>
    </div>
  </div>
</div>
