<!-- DX - PRIMO TRIMESTRE 2019 -->
<div class="point-list">
  <div class="point-list-aside point-list-primary"></div>
  <div class="point-list-content">
    <div>
      <div class="roadtip arrow arrow-left text-monospace">
        Gennaio 2019
      </div>
    </div>
  </div>
</div>
<!-- DX - PHONE - PRIMO TRIMESTRE 2019 -->
<div class="point-list" data-filter="phone">
  <div
    class="point-list-aside with-line with-line-right point-list-primary"
  ></div>
  <div class="point-list-content">
    <div>
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Revisione dei flussi di navigazione
      </h4>
      <p class="text-left">
        I feedback raccolti durante la demo vengono utilizzati per rivedere e
        ottimizzare i percorsi di navigazione da una pagina all’altra.
      </p>
    </div>
  </div>
</div>
<!-- DX - PHONE - PRIMO TRIMESTRE 2019 -->
<div class="point-list" data-filter="phone">
  <div
    class="point-list-aside with-line with-line-right point-list-primary"
  ></div>
  <div class="point-list-content">
    <div>
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Identificazione biometrica
      </h4>
      <p class="text-left">
        IO consentirà, come alternativa al PIN, di utilizzare l’identificazione
        biometrica disponibile nel proprio dispositivo: impronta digitale oppure
        riconoscimento facciale (solo iOS). Richiede comunque la scelta di un
        PIN come fallback.
      </p>
    </div>
  </div>
</div>
<!-- DX - PHONE - PRIMO TRIMESTRE 2019 -->
<div class="point-list" data-filter="phone">
  <div
    class="point-list-aside with-line with-line-right point-list-primary"
  ></div>
  <div class="point-list-content">
    <div>
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Prima versione del back-office
      </h4>
      <p class="text-left">
        Il <i>back-office</i> permette di registrare un account sviluppatore e
        generare le API keys necessarie per poter inviare ai cittadini
        comunicazioni e avvisi di pagamento relativi a un determinato servizio.
      </p>
    </div>
  </div>
</div>
