<!-- DX - TERZO TRIMESTRE 2019 -->
<div class="point-list" data-time="201907">
  <div class="point-list-aside point-list-primary"></div>
  <div class="point-list-content">
    <div>
      <div class="roadtip arrow arrow-left text-monospace">
        Luglio 2019
      </div>
    </div>
  </div>
</div>
<!-- DX - LOGO - TERZO TRIMESTRE 2019 -->
<div class="point-list" data-filter="logo" data-time="201907">
  <div
    class="point-list-aside with-line with-line-right point-list-primary"
  ></div>
  <div class="point-list-content">
    <div>
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Il Comune di Ripalta Cremasca inizia la sperimentazione
      </h4>
      <p class="text-left">
        Per la prima volta i cittadini testano il pagamento della TARI dall’app
        IO.
      </p>
    </div>
  </div>
</div>
<!-- DX - LOGO - TERZO TRIMESTRE 2019 -->
<div class="point-list" data-filter="logo" data-time="201907">
  <div
    class="point-list-aside with-line with-line-right point-list-primary"
  ></div>
  <div class="point-list-content">
    <div>
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        ACI sale a bordo del progetto
      </h4>
      <p class="text-left">
        Su IO arrivano i certificati di proprietà dei vicoli e la possibilità di
        pagare il bollo auto.
      </p>
    </div>
  </div>
</div>
<!-- DX - PHONE - TERZO TRIMESTRE 2019 -->
<div class="point-list" data-filter="phone" data-time="201907">
  <div
    class="point-list-aside with-line with-line-right point-list-primary"
  ></div>
  <div class="point-list-content">
    <div>
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Dematerializzazione del Codice Fiscale, visibile nel profilo utente
      </h4>
      <p class="text-left">
        Alla sezione profilo dell'app viene aggiunto il Codice Fiscale come
        riproduzione di quello reale, completo delle informazioni del cittadino
        e del relativo codice a barre: è il primo passo verso la
        dematerializzazione del documento e la possibilità di utilizzarlo anche
        in versione digitale.
      </p>
    </div>
  </div>
</div>
<!-- DX - PHONE - TERZO TRIMESTRE 2019 -->
<div class="point-list" data-filter="phone" data-time="201907">
  <div
    class="point-list-aside with-line with-line-right point-list-primary"
  ></div>
  <div class="point-list-content">
    <div>
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Nuova sezione servizi progettata in base ai feedback degli utenti
      </h4>
      <p class="text-left">
        Grazie ai feedback raccolti nelle fasi iniziali di sperimentazione
        closed-beta, la sezione servizi viene ripensata in modo da permettere al
        cittadino di visualizzarli in base all’area geografica di interesse. La
        tab <i>“locali”</i> raccoglie i servizi legati alla propria zona di
        residenza o domicilio, o alla sede di lavoro erogati dalle
        Amministrazioni comunali, provinciali e regionali. La tab
        <i>“nazionali”</i>, invece, include i servizi erogati dagli Enti
        centrali su tutto il territorio italiano. Infine, la tab
        <i>“tutti”</i> offre l’indice completo dei servizi che sono disponibili
        all’interno dell’app IO, indipendentemente dall’area geografica.
      </p>
    </div>
  </div>
</div>
