<!-- SX - QUARTO TRIMESTRE 2019 -->
<div class="point-list point-list-sx" data-time="201910">
  <div class="point-list-aside point-list-primary">
    <div class="roadtip arrow arrow-right text-monospace d-none d-md-block">
      Ottobre 2019
    </div>
  </div>
  <div class="point-list-content">
    <div>
      <div class="roadtip arrow arrow-left text-monospace d-md-none">
        Ottobre 2019
      </div>
    </div>
  </div>
</div>
<!-- SX - LOGO - QUARTO TRIMESTRE 2019 -->
<div class="point-list point-list-sx" data-filter="logo" data-time="201910">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Il Comune di Palermo avvia la sperimentazione
    </h4>
    <p class="text-right">
      I cittadini coinvolti ricevono, tra gli altri messaggi, promemoria di
      <strong
        >pagamento delle contravvenzioni per violazione del codice della
        strada</strong
      >
      e avvisi alla <strong>scadenza del pass per l’area ZTL</strong>.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Il Comune di Palermo avvia la sperimentazione
      </h4>
      <p class="text-left">
        I cittadini coinvolti ricevono, tra gli altri messaggi, promemoria di
        <strong
          >pagamento delle contravvenzioni per violazione del codice della
          strada</strong
        >
        e avvisi alla <strong>scadenza del pass per l’area ZTL</strong>.
      </p>
    </div>
  </div>
</div>
<!-- SX - PHONE - QUARTO TRIMESTRE 2019 -->
<div class="point-list point-list-sx" data-filter="logo" data-time="201910">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Il Comune di Valsamoggia porta sull'app i servizi scolastici
    </h4>
    <p class="text-right">
      I cittadini potranno gestire i <strong>pagamenti</strong> per i servizi
      scolastici relativi al <strong>trasporto</strong> e alla
      <strong>mensa</strong>.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Il Comune di Valsamoggia porta sull'app i servizi scolastici
      </h4>
      <p class="text-left">
        I cittadini potranno gestire i pagamenti per i servizi scolastici
        relativi al <strong>trasporto</strong> e alla <strong>mensa</strong>.
      </p>
    </div>
  </div>
</div>
<!-- SX - PHONE - QUARTO TRIMESTRE 2019 -->
<div class="point-list point-list-sx" data-filter="phone" data-time="201912">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Rilascio delle policy di sicurezza e privacy
    </h4>
    <p class="text-right">
      L’integrazione del meccanismo di versionamento dei Termini di Servizio (in
      inglese, ToS: Term of Services) permetterà di sottoporre all’attenzione
      del cittadino un documento ToS aggiornato, ogni volta che viene aggiunta
      (o rimossa) una funzionalità all’interno dell’applicazione che fa uso dei
      suoi dati. La lettura e accettazione dei ToS sarà richiesta all'apertura
      dell'app, oppure tramite banner in caso l’app sia aperta al momento
      dell’aggiornamento.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Rilascio delle policy di sicurezza e privacy
      </h4>
      <p class="text-left">
        L’integrazione del meccanismo di versionamento dei Termini di Servizio
        (in inglese, ToS: Term of Services) permetterà di sottoporre
        all’attenzione del cittadino un documento ToS aggiornato, ogni volta che
        viene aggiunta (o rimossa) una funzionalità all’interno
        dell’applicazione che fa uso dei suoi dati. La lettura e accettazione
        dei ToS sarà richiesta all'apertura dell'app, oppure tramite banner in
        caso l’app sia aperta al momento dell’aggiornamento.
      </p>
    </div>
  </div>
</div>
<!-- SX - PHONE - QUARTO TRIMESTRE 2019 -->
<div class="point-list point-list-sx" data-filter="phone" data-time="201912">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Integrazione del login con CIE
    </h4>
    <p class="text-right">
      Stiamo lavorando con l’Istituto Poligrafico Zecca di Stato (IPZS)
      all'integrazione del loro SDK (<i>software development kit</i>) per
      consentire ai cittadini di autenticarsi anche tramite CIE. Inizialmente
      l’autenticazione con CIE verrà rilasciata solo per Android, e a seguire
      anche per iOS.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Integrazione del login con CIE
      </h4>
      <p class="text-left">
        Stiamo lavorando con l’Istituto Poligrafico Zecca di Stato (IPZS)
        all'integrazione del loro SDK (<i>software development kit</i>) per
        consentire ai cittadini di autenticarsi anche tramite CIE. Inizialmente
        l’autenticazione con CIE verrà rilasciata solo per Android, e a seguire
        anche per iOS.
      </p>
    </div>
  </div>
</div>
<!-- SX - PHONE - QUARTO TRIMESTRE 2019 -->
<div class="point-list point-list-sx" data-filter="phone" data-time="201912">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Collegamento fra avvisi di pagamento e transazioni
    </h4>
    <p class="text-right">
      Nel caso di messaggi contenenti avvisi di pagamento di importi già saldati
      tramite IO, il messaggio presenterà al posto del pulsante "paga" un segno
      di spunta e il link diretto alla ricevuta della specifica transazione.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Collegamento fra avvisi di pagamento e transazioni
      </h4>
      <p class="text-left">
        Nel caso di messaggi contenenti avvisi di pagamento di importi già
        saldati tramite IO, il messaggio presenterà al posto del pulsante "paga"
        un segno di spunta e il link diretto alla ricevuta della specifica
        transazione.
      </p>
    </div>
  </div>
</div>
<!-- SX - PEOPLE - QUARTO TRIMESTRE 2019 -->
<div class="point-list point-list-sx" data-filter="people" data-time="201912">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#people_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Test di usabilità
    </h4>
    <p class="text-right">
      Le nuove funzionalità integrate (modifica al flusso di pagamento, login
      con CIE, nuova sezione servizi) vengono testate e finalizzate grazie al
      coinvolgimento di un campione di utenti (test qualitativo, con campione
      ridotto).
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#people_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Test di usabilità
      </h4>
      <p class="text-left">
        Le nuove funzionalità integrate (modifica al flusso di pagamento, login
        con CIE, nuova sezione servizi) vengono testate e finalizzate grazie al
        coinvolgimento di un campione di utenti (test qualitativo, con campione
        ridotto).
      </p>
    </div>
  </div>
</div>
