<a name="042020"></a>
<!-- SX - SECONDO TRIMESTRE 2020 -->
<div class="point-list point-list-sx" data-time="202010">
  <div class="point-list-aside point-list-primary">
    <div class="roadtip arrow arrow-right text-monospace d-none d-md-block">
      Ottobre 2020
    </div>
  </div>
  <div class="point-list-content">
    <div>
      <div class="roadtip arrow arrow-left text-monospace d-md-none">
        Ottobre 2020
      </div>
    </div>
  </div>
</div><!--point-list-->

<div class="point-list" data-filter="phone" data-time="202009">
  <div class="point-list-aside with-line with-line-right point-list-primary"></div>
  <div class="point-list-content">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="pt-4">
       Entra con CIE su iOS
    </h4>
    <p class="text-left">
    In via sperimentale, sarà possibile accedere ad IO con la Carta d'Identità Elettronica anche su dispositivi iOS che supportano la funzionalità NFC.</p>
  </div>
</div><!--/point-list-->

<!-- SX - LOGO - QUARTO TRIMESTRE 2020 -->



<div class="point-list point-list-sx" data-time="202010">
  <div class="point-list-aside point-list-primary">
    <div class="roadtip arrow arrow-right text-monospace d-none d-md-block">
      Dicembre 2020
    </div>
  </div>
  <div class="point-list-content">
    <div>
      <div class="roadtip arrow arrow-left text-monospace d-md-none">
        Dicembre 2020
      </div>
    </div>
  </div>
</div><!--point-list-->


<div class="point-list" data-filter="phone" data-time="202009">
  <div class="point-list-aside with-line with-line-right point-list-primary"></div>
  <div class="point-list-content">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="pt-4">
      Cashback in arrivo su IO
    </h4>
    <p class="text-left">
      Con l’app IO, dalla sezione Portafoglio, sarà possibile aderire al programma “Cashback” promosso dal Governo tra le iniziative del Piano Italia Cashless. Progressivamente, sarà possibile aggiungere alla sezione Portafoglio nuovi metodi di pagamento ai fini della partecipazione all’iniziativa (tra cui, ad esempio, PagoBANCOMAT, Satispay, BancomatPay, ecc.)
    </p>
  </div>
</div><!--/point-list-->