<a name="072020"></a>
<!-- DX - TERZO TRIMESTRE 2020 -->
<div class="point-list" data-time="202007">
  <div class="point-list-aside point-list-primary"></div>
  <div class="point-list-content">
    <div>
      <div class="roadtip arrow arrow-left text-monospace">
        Luglio 2020
      </div>
    </div>
  </div>
</div>

<div class="point-list" data-filter="people" data-time="202007">
  <div class="point-list-aside with-line with-line-right point-list-primary"></div>
  <div class="point-list-content">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
      </svg>
    </div>
    <h4 class="pt-4">
       IO è l’app per richiedere il Bonus Vacanze
    </h4>
    <p class="text-left">
     Il Ministero per i Beni e le Attività Culturali e per il Turismo (MIBACT) e Agenzia delle Entrate, 
     scelgono IO quale modalità digitale esclusiva per offrire ai cittadini che ne hanno diritto la possibilità di richiedere e usare l’agevolazione <a href="https://www.agenziaentrate.gov.it/portale/web/guest/bonus-vacanze1" target="_blank">“Bonus Vacanze”</a> direttamente tramite l’app. 
    </p>
  </div>
</div><!--/point-list-->

<div class="point-list" data-filter="phone" data-time="202007">
  <div class="point-list-aside with-line with-line-right point-list-primary"></div>
  <div class="point-list-content">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="pt-4">
       Nuova versione dell’app per una migliore accessibilità
    </h4>
    <p class="text-left">
     IO diventa compatibile con i tablet (iOS e Android) e inlcude una prima serie di migliorìe volte a rendere l’app più accessibile e inclusiva. Queste implementazioni serviranno a rendere più leggibile l’interfaccia dell’app per i cittadini con disabilità visive, attraverso gli strumenti di ausilio dedicati alla lettura del contenuto dello schermo <i>(screen reader)</i>, messi a disposizione dai sistemi operativi. </p>
  </div>
</div><!--/point-list-->

<div class="point-list" data-filter="phone" data-time="202009">
  <div class="point-list-aside with-line with-line-right point-list-primary"></div>
  <div class="point-list-content">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="pt-4">
       Altri metodi di pagamento
    </h4>
    <p class="text-left">
    Sarà possibile pagare anche attraverso Bancomat Pay, PayPal, Satispay.</p>
  </div>
</div><!--/point-list-->

<div class="point-list" data-filter="phone" data-time="202009">
  <div class="point-list-aside with-line with-line-right point-list-primary"></div>
  <div class="point-list-content">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="pt-4">
       IO in tedesco
    </h4>
    <p class="text-left">L’app IO permetterà al cittadino di utilizzare l’applicazione in italiano, inglese o tedesco, in modo da supportare l’esperienza nelle principali lingue diffuse sul territorio.</p>
  </div>
</div><!--/point-list-->



