<!-- DX - TERZO TRIMESTRE 2020 -->
<div class="point-list" data-time="202007">
  <div class="point-list-aside point-list-primary"></div>
  <div class="point-list-content">
    <div>
      <div class="roadtip arrow arrow-left text-monospace">
        Luglio 2020
      </div>
    </div>
  </div>
</div>
<!-- DX - PHONE - TERZO TRIMESTRE 2020 -->
<div class="point-list" data-filter="phone" data-time="202007">
  <div
    class="point-list-aside with-line with-line-right point-list-primary"
  ></div>
  <div class="point-list-content">
    <div>
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Sviluppo della sezione “Documenti”
      </h4>
      <p class="text-left">
        La sezione Documenti arriva su IO: il cittadino potrà conservare in
        questa nuova area i propri documenti (certificati, ricevute, documenti
        d’identità, ecc.).
      </p>
    </div>
  </div>
</div>
<!-- DX - PHONE - TERZO TRIMESTRE 2020 -->
<div class="point-list" data-filter="phone" data-time="202007">
  <div
    class="point-list-aside with-line with-line-right point-list-primary"
  ></div>
  <div class="point-list-content">
    <div>
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Gestione delle deleghe
      </h4>
      <p class="text-left">
        Integreremo la possibilità di delegare una persona incaricata, per la
        gestione delle proprie comunicazioni con la Pubblica Amministrazione e
        documenti tramite IO (ad esempio, un genitore può avere la delega per la
        gestione delle comunicazioni rivolte ai figli, o ai genitori anziani).
      </p>
    </div>
  </div>
</div>
