<!-- DX - PRIMO TRIMESTRE 2020 -->
<div class="point-list" data-time="202001">
  <div class="point-list-aside point-list-primary"></div>
  <div class="point-list-content">
    <div>
      <div class="roadtip arrow arrow-left text-monospace">
        Gennaio 2020
      </div>
    </div>
  </div>
</div>
<!-- DX - LOGO - PRIMO TRIMESTRE 2020 -->
<div class="point-list" data-filter="phone" data-time="202001">
  <div class="point-list-aside with-line with-line-right point-list-primary"></div>
  <div class="point-list-content">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="pt-4">
      Rilascio delle policy di sicurezza e privacy
    </h4>
    <p class="text-left">
      L’integrazione del meccanismo di versionamento dei Termini di Servizio (in
      inglese, ToS: Term of Services) permetterà di sottoporre all’attenzione
      del cittadino un documento ToS aggiornato, ogni volta che viene aggiunta
      (o rimossa) una funzionalità all’interno dell’applicazione che fa uso dei
      suoi dati. La lettura e accettazione dei ToS sarà richiesta all'apertura
      dell'app, oppure tramite banner in caso l’app sia aperta al momento
      dell’aggiornamento.
    </p>
  </div>
</div>

<!-- DX - LOGO - PRIMO TRIMESTRE 2020 -->
<div class="point-list" data-filter="logo" data-time="202003">
  <div
    class="point-list-aside with-line with-line-right point-list-primary"
  ></div>
  <div class="point-list-content">
    <div>
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Agenzia delle Entrate e INPS salgono a bordo
      </h4>
      <p class="text-left">
        Alcuni <strong>servizi di “Fisconline”</strong> (riepiloghi relativi alla dichiarazione precompilata  e promemoria per fare richiesta della definizione agevolata) e 
        le <strong>notifiche di MyINPS</strong> saranno disponibili anche su IO. 
      </p>
    </div>
  </div>
</div>
