<!-- DX - PRIMO TRIMESTRE 2020 -->
<div class="point-list" data-time="202001">
  <div class="point-list-aside point-list-primary"></div>
  <div class="point-list-content">
    <div>
      <div class="roadtip arrow arrow-left text-monospace">
        Gennaio 2020
      </div>
    </div>
  </div>
</div>
<!-- DX - LIGHT - PRIMO TRIMESTRE 2020 -->
<div class="point-list" data-time="202001">
  <div
    class="point-list-aside with-line with-line-right point-list-primary"
  ></div>
  <div class="point-list-content">
    <div>
      <div class="roadicon shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#light_w"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Pubblicazione della versione beta negli store
      </h4>
      <p class="text-left">
        Chiunque potrà scaricare IO dagli store di Android e iOS. Il lancio
        dell'applicazione avverrà su base locale, nei territori in cui gli enti
        abbiano effettivamente integrato un numero sufficiente di servizi.
      </p>
    </div>
  </div>
</div>
<!-- DX - LOGO - PRIMO TRIMESTRE 2020 -->
<div class="point-list" data-filter="logo" data-time="202001">
  <div
    class="point-list-aside with-line with-line-right point-list-primary"
  ></div>
  <div class="point-list-content">
    <div>
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Agenzia delle Entrate e Agenzia delle Entrate-Riscossione salgono a
        bordo
      </h4>
      <p class="text-left">
        I servizi di “Fisconline” saranno disponibili anche su IO. I cittadini
        riceveranno riepiloghi relativi alla dichiarazione precompilata e
        promemoria per fare richiesta della definizione agevolata.
      </p>
    </div>
  </div>
</div>
<!-- DX - PHONE - PRIMO TRIMESTRE 2020 -->
<div class="point-list" data-filter="phone" data-time="202001">
  <div
    class="point-list-aside with-line with-line-right point-list-primary"
  ></div>
  <div class="point-list-content">
    <div>
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Rilascio del back-office completo
      </h4>
      <p class="text-left">
        Il nuovo back-office permette una gestione ottimale dell’onboarding di
        enti e servizi su IO, dando la possibilità allo sviluppatore dei
        predisporre i servizi e agli enti di gestire l’approvazione dei servizi
        proposti e la messa in produzione. Oltre all’ingresso per sviluppatori e
        gestori dell’ente lato tecnico, il nuovo back-office avrà una sezione
        dedicata al rappresentante legale designato dall’ente in questione, che
        firmerà i documenti necessari per aderire al progetto e gestire gli
        accordi di sicurezza e privacy.
      </p>
    </div>
  </div>
</div>
