<!-- SX - SECONDO TRIMESTRE 2020 -->
<div class="point-list point-list-sx" data-time="202004">
  <div class="point-list-aside point-list-primary">
    <div class="roadtip arrow arrow-right text-monospace d-none d-md-block">
      Aprile 2020
    </div>
  </div>
  <div class="point-list-content">
    <div>
      <div class="roadtip arrow arrow-left text-monospace d-md-none">
        Aprile 2020
      </div>
    </div>
  </div>
</div><!--point-list-->
<!-- SX - LOGO - SECONDO TRIMESTRE 2020 -->
<div class="point-list point-list-sx" data-filter="light" data-time="202004">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#light_g"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      La prima open beta di IO arriva negli store
    </h4>
    <p class="text-right">
      Chiunque potrà scaricare IO dagli store di Android e iOS. Il lancio dell'applicazione avverrà su base locale, nei territori in cui gli enti abbiano effettivamente integrato un numero sufficiente di servizi.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#light_g"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        La prima open beta di IO arriva negli store
      </h4>
      <p class="text-left">
       Chiunque potrà scaricare IO dagli store di Android e iOS. Il lancio dell'applicazione avverrà su base locale, nei territori in cui gli enti abbiano effettivamente integrato un numero sufficiente di servizi.
      </p>
    </div>
  </div>
</div><!--/point-list-->

<div class="point-list point-list-sx" data-filter="logo" data-time="202004">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Roma Capitale integra i primi servizi per le Attività Produttive e l’Edilizia
    </h4>
    <p class="text-right">
      Arrivano su IO i servizi erogati dallo Sportello Unico per le Attività Produttive (SUAP) 
      e dallo Sportello Unico per l'Edilizia Telematico (SUET) a disposizione dei cittadini della Capitale.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Roma Capitale integra i primi servizi per le Attività Produttive e l’Edilizia
      </h4>
      <p class="text-left">
        Arrivano su IO i servizi erogati dallo Sportello Unico per le Attività Produttive (SUAP) 
        e dallo Sportello Unico per l'Edilizia Telematico (SUET) a disposizione dei cittadini della Capitale.
      </p>
    </div>
  </div>
</div>

<div class="point-list point-list-sx" data-filter="logo" data-time="202004">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Il Comune di Trento arriva su IO
    </h4>
    <p class="text-right">
      I cittadini di Trento avranno la possibilità di effettuare pagamenti e
        di gestire i servizi scolastici direttamente sull’app IO.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Il Comune di Trento arriva su IO
      </h4>
      <p class="text-left">
        I cittadini di Trento avranno la possibilità di effettuare pagamenti e
        di gestire i servizi scolastici direttamente sull’app IO.
      </p>
    </div>
  </div>
</div>

<div class="point-list point-list-sx" data-filter="logo" data-time="202004">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Agenzia delle Entrate e INPS salgono a bordo
    </h4>
    <p class="text-right">
      Alcuni <strong>servizi di “Fisconline”</strong> (riepiloghi relativi alla dichiarazione precompilata  e promemoria per fare richiesta della definizione agevolata) e 
        le <strong>notifiche di MyINPS</strong> saranno disponibili anche su IO. 
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#logo_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Agenzia delle Entrate e INPS salgono a bordo
      </h4>
      <p class="text-left">
        Alcuni <strong>servizi di “Fisconline”</strong> (riepiloghi relativi alla dichiarazione precompilata  e promemoria per fare richiesta della definizione agevolata) e 
        le <strong>notifiche di MyINPS</strong> saranno disponibili anche su IO. 
      </p>
    </div>
  </div>
</div>

<div class="point-list point-list-sx" data-filter="phone" data-time="202006">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Altri metodi di pagamento
    </h4>
    <p class="text-right">
      Sarà possibile pagare anche attraverso Bancomat Pay, PayPal, Satispay.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Altri metodi di pagamento
      </h4>
      <p class="text-left">
       I servizi di IO saranno resi disponibili anche come webapp, permettendo ai cittadini di accedere dal proprio laptop, utilizzando il browser.
      </p>
    </div>
  </div>
</div><!--/point-list-->
<div class="point-list point-list-sx" data-filter="phone" data-time="202006">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      IO versione web
    </h4>
    <p class="text-right">
      Sarà possibile pagare anche attraverso Bancomat Pay, PayPal, Satispay.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        IO versione web
      </h4>
      <p class="text-left">
       I servizi di IO saranno resi disponibili anche come webapp, permettendo ai cittadini di accedere dal proprio laptop, utilizzando il browser.
      </p>
    </div>
  </div>
</div><!--/point-list-->
<div class="point-list point-list-sx" data-filter="people" data-time="202006">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#people_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Validazione nuove funzionalità
    </h4>
    <p class="text-right">
      Alcuni utenti in varie città d’Italia sono chiamati a dare il proprio feedback sul design delle nuove funzionalità, in modo da ottimizzare la progettazione prima di avviare l’attività di sviluppo. Questa validazione coinvolgerà funzionalità come: gestione delle deleghe, interazione con la sezione “Documenti”, attivazione di “status update”, e altri interventi sull’interfaccia grafica dell’applicazione.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#people_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Validazione nuove funzionalità
      </h4>
      <p class="text-left">
       Alcuni utenti in varie città d’Italia sono chiamati a dare il proprio feedback sul design delle nuove funzionalità, in modo da ottimizzare la progettazione prima di avviare l’attività di sviluppo. Questa validazione coinvolgerà funzionalità come: gestione delle deleghe, interazione con la sezione “Documenti”, attivazione di “status update”, e altri interventi sull’interfaccia grafica dell’applicazione.</p>
    </div>
  </div>
</div><!--/point-list-->


