<!-- DX - PRIMO TRIMESTRE 2021 -->
<div class="point-list" data-time="202101">
  <div class="point-list-aside point-list-primary"></div>
  <div class="point-list-content">
    <div>
      <div class="roadtip arrow arrow-left text-monospace">
        2021
      </div>
    </div>
  </div>
</div>
<div class="point-list point-list-sx" data-filter="phone" data-time="202104">
  <div class="point-list-aside with-line point-list-primary">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="text-right pt-4">
      Rilascio del nuovo back-office completo
    </h4>
    <p class="text-right">
       Il nuovo back-office permette una gestione ottimale dell’<i>onboarding</i> di enti e servizi su IO, dando la possibilità allo sviluppatore dei predisporre i servizi e agli enti di gestire l’approvazione dei servizi proposti e la messa in produzione. 
      Oltre all’ingresso per sviluppatori e gestori dell’ente lato tecnico, il nuovo back-office avrà una sezione dedicata al rappresentante legale designato dall’ente in questione, che firmerà i documenti necessari per aderire al progetto e gestire gli accordi di sicurezza e privacy.
    </p>
  </div>
  <div class="point-list-content">
    <div class="d-md-none">
      <div class="roadicon white shadow-sm">
        <svg class="icon">
          <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
        </svg>
      </div>
      <h4 class="pt-4">
        Rilascio del nuovo back-office completo
      </h4>
      <p class="text-left">
        Il nuovo back-office permette una gestione ottimale dell’<i>onboarding</i> di enti e servizi su IO, dando la possibilità allo sviluppatore dei predisporre i servizi e agli enti di gestire l’approvazione dei servizi proposti e la messa in produzione. 
      Oltre all’ingresso per sviluppatori e gestori dell’ente lato tecnico, il nuovo back-office avrà una sezione dedicata al rappresentante legale designato dall’ente in questione, che firmerà i documenti necessari per aderire al progetto e gestire gli accordi di sicurezza e privacy.
      </p>
    </div>
  </div>
</div><!--/point-list-->

<div class="point-list" data-filter="phone" data-time="202107">
  <div class="point-list-aside with-line with-line-right point-list-primary"></div>
  <div class="point-list-content">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="pt-4">
      Sviluppo della sezione “Documenti”
    </h4>
    <p class="text-left">
      La sezione Documenti arriva su IO: il cittadino potrà conservare in questa nuova area i propri documenti (certificati, ricevute, documenti
      d’identità, ecc.).
    </p>
  </div>
</div>

<div class="point-list" data-filter="phone" data-time="202110">
  <div class="point-list-aside with-line with-line-right point-list-primary"></div>
  <div class="point-list-content">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="pt-4">
      IO versione web
    </h4>
    <p class="text-left">
      I servizi di IO saranno resi disponibili anche come webapp, permettendo ai cittadini di accedere dal proprio laptop, utilizzando il browser.
    
    </p>
  </div>
</div>