<!-- DX - PRIMO TRIMESTRE 2021 -->
<div class="point-list" data-time="202101">
  <div class="point-list-aside point-list-primary"></div>
  <div class="point-list-content">
    <div>
      <div class="roadtip arrow arrow-left text-monospace">
        Gennaio 2021
      </div>
    </div>
  </div>
</div>
<!-- DX - LOGO - PRIMO TRIMESTRE 2021 -->
<div class="point-list" data-filter="phone" data-time="202101">
  <div class="point-list-aside with-line with-line-right point-list-primary"></div>
  <div class="point-list-content">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="pt-4">
      IO versione web
    </h4>
    <p class="text-left">
      I servizi di IO saranno resi disponibili anche come webapp, permettendo ai cittadini di accedere dal proprio laptop, utilizzando il browser.
    
    </p>
  </div>
</div>
<!-- DX - LOGO - PRIMO TRIMESTRE 2020 -->
<div class="point-list" data-filter="phone" data-time="202101">
  <div class="point-list-aside with-line with-line-right point-list-primary"></div>
  <div class="point-list-content">
    <div class="roadicon white shadow-sm">
      <svg class="icon">
        <use xlink:href="/assets/svg/roadmap.svg#phone_b"></use>
      </svg>
    </div>
    <h4 class="pt-4">
      Sviluppo della sezione “Documenti”
    </h4>
    <p class="text-left">
      La sezione Documenti arriva su IO: il cittadino potrà conservare in questa nuova area i propri documenti (certificati, ricevute, documenti
      d’identità, ecc.).
    </p>
  </div>
</div>

