---
layout: default
---
{% assign current_lang = page.lang | default: site.lang | default: 'it' %}
{% assign t = site.data.t[current_lang] %}

{%- include preload.html -%}

{%- include navigation-slim.html -%}

{%- include home/section-1.html -%}

{%- include home/section-14.html -%}

{%- include home/section-cashback.html -%}
{%- include home/section-bonus.html -%}

{%- include home/device.html -%}

{%- include navigation.html -%}

{%- include home/italia.html -%}

{%- include home/section-2.html -%}
{%- include home/section-3.html -%}
{%- include home/section-4.html -%}

{%- include home/section-7.html -%}

{%- include home/section-11.html -%}

{%- include home/section-12.html -%}

{%- include home/section-13.html -%}

{%- include home/section-9.html -%}

{%- include home/section-8.html -%}

{%- include footer.html -%}
{%- include cookiebar.html -%}
