---
layout: default
---
{% assign current_lang = page.lang | default: site.lang | default: 'it' %}
{% assign t = site.data.t[current_lang] %}

{%- include navigation-slim.html -%}
{%- include navigation.html -%}

<div class="internal-page">

  {% comment %}
  <div class="container mw-60">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb px-0">
        <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
      </ol>
    </nav>
  </div>
  {% endcomment %}

  <article class="{{ page.layout }}">
    <div class="container mw-60">
      <h1 class="text-primary">{{page.title}}</h1>
      <h2>{{page.subtitle}}</h2>
    </div>
    <div class="internal-page__content">
      {%if page.full_width %}
        {{content}}
      {% else %}
      <section class="container mw-60">
        <div class="mw-50 mx-0">
          {{content}}
        </div>
      </section>
      {% endif %}

    </div>
  </article>

</div>

{%- include footer.html -%}
{%- include cookiebar.html -%}
