---
layout: default
---

{%- include navigation-slim.html -%}
{%- include navigation.html -%}

<div class="container mt-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    </ol>
  </nav>
</div>

<article class="post container">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
<div style="margin: 2em 0;"></div>

{%- include footer.html -%}

{%- include cookiebar.html -%}

{%- include scripts.html -%}
