<!DOCTYPE html>
{% assign current_lang = page.lang | default: site.lang | default: 'it' %}
<html lang="{{ current_lang }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="robots" content=" noindex, nofollow">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    <meta http-equiv="refresh" content="0;url={{page.redirect.to}}">
    <title>
        {%- if page.title -%}
        {{ page.title | smartify }} – {{ site.title[current_lang] | smartify }}
        {%- else -%}
        {{ site.title[current_lang] | smartify }}
        {%- endif -%}
    </title>
  </head>

  <body></body>

</html>
