<!DOCTYPE html>
{% assign current_lang = page.lang | default: site.lang | default: 'it' %}
{% assign t = site.data.t[current_lang] %}
{% assign buildTime =  site.time | date: '%Y%m%d%H%M' %}
<html lang="{{ current_lang }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="{{ page.description | default: site.description[current_lang] | smartify }}">
    <meta name="robots" content=" noindex, nofollow">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; child-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; object-src 'none'; base-uri 'self'; connect-src 'self'; font-src 'self'; frame-src 'self'; img-src 'self' https://assets.cdn.io.italia.it; manifest-src 'self'; media-src 'self'; worker-src 'none';" >
    <title>
        {%- if page.title -%}
        {{ page.title | smartify }} – {{ site.title[current_lang] | smartify }}
        {%- else -%}
        {{ site.title[current_lang] | smartify }}
        {%- endif -%}
    </title>
    <link rel="stylesheet"  href="{{ '/assets/selfhostedfonts.css' | relative_url }}">
    {% if page.assets.css %}
      <link rel="stylesheet" href="{{ page.assets.css | append: '?' | append: buildTime | relative_url }}">
    {%endif%}

    
  </head>

  <body class="layout--{{page.layout}} pagename--{{page.ref}} {{page.body_class}}">
    <div class="container d-startup-hide">

    {{ content }}

    </div>

    {% if page.assets.js %}
      {% for script in page.assets.js %}
        <script src="{{ script | append: '?' | append: buildTime | relative_url }}"></script>
      {%endfor%}
    {%endif%}

  </body>

</html>
