<div class="entiservizi__service">
    <div class="entiservizi__desc">
        {{page.serviceMetadata.description | markdownify}}
    </div>
    <div class="entiservizi__terms">
        {% if page.serviceMetadata.privacyUrl %}
        <a href="{{page.serviceMetadata.privacyUrl}}" title="Infomativa sulla privacy" target="_blank">Infomativa sulla privacy</a>
        {%endif%}
        {% if page.serviceMetadata.tosUrl %}
        <a href="{{page.serviceMetadata.tosUrl}}" title="Termini d'uso" target="_blank">Termini e condizioni d'uso</a>
        {%endif%}
    </div>
    <div class="entiservizi__contacts">
        {% if page.serviceMetadata.email and page.serviceMetadata.email!="-" %}
        <div class="entiservizi__contacts__item item--email">
            <div class="entiservizi__contacts__label">Email</div>
            <div class="entiservizi__contacts__value">
            <a href="mailto:{{page.serviceMetadata.email | strip}}" title="Email" target="_blank">{{page.serviceMetadata.email | strip}}</a>
            </div>
        </div>
        {%endif%}
        {% if page.serviceMetadata.phone and page.serviceMetadata.phone!="-" %}
        <div class="entiservizi__contacts__item item--phone">
            <div class="entiservizi__contacts__label">Telefono</div>
            <div class="entiservizi__contacts__value">
            <a href="tel:{{page.serviceMetadata.phone | strip}}" title="Telefono" target="_blank">{{page.serviceMetadata.phone | strip}}</a>
            </div>
        </div>
        {%endif%}
        {% if page.serviceMetadata.webUrl and page.serviceMetadata.webUrl!="-" %}
        <div class="entiservizi__contacts__item item--web">
            <div class="entiservizi__contacts__label">Web</div>
            <div class="entiservizi__contacts__value">
            <a href="{{page.serviceMetadata.webUrl | strip}}" title="Web" target="_blank">{{page.serviceMetadata.webUrl | strip}}</a>
            </div>
        </div>
        {%endif%}
    </div>
</div>