<section id="_header" class="section section-header section--wpointers">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 col-md-4 offset-md-1 h-100">
        <div
          class="d-flex flex-column justify-content-center align-items-start h-100"
        >
          <span class="d-flex flex-row align-items-end">
            <img
              class="img-logo"
              src="/assets/ico/logo_IO.svg"
              alt="IO Italia"
              width="64"
              height="52"
            />
            <span class="badge ml-2 text-white font-weight-normal">BETA</span>
          </span>
          <h2 class="my-3">l'app dei servizi pubblici</h2>
          <p>
            Un unico punto di accesso per interagire in modo semplice e sicuro
            con i servizi pubblici locali e nazionali, direttamente dal tuo
            smartphone.
          </p>
          <div class="row">
            <div class="col-7 px-0 mt-3">
              <a
                href="#"
                role="button"
                class="btn btn-white text-primary text-uppercase w-100"
                >Scarica l'app</a
              >
              <a
                href="#"
                role="button"
                class="btn btn-outline-white btn-icon text-uppercase mt-3 w-100 justify-content-around"
              >
                <svg class="icon icon-white">
                  <use
                    xlink:href="/assets/svg/sprite.svg#it-arrow-right-circle"
                  ></use>
                </svg>
                <span>Guarda il video</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
