<div class="constellation__inner constellation__inner--entrate">
  <h3 class="title title--entrate">{{t.constellation-entrate.agenzia}}</h3>
  <div class="ball ball--avvisi ball--8"></div>
  <div class="text text--avvisi">{{t.constellation-entrate.avvisi}}</div>
  <div class="line line--avvisi"></div>

  <div class="ball ball--f24 ball--9 ball--small"></div>
  <div class="text text--f24 text--small">{{t.constellation-entrate.f24}}</div>
  <div class="line line--f24"></div>

  <div class="ball ball--rimborsi ball--10 ball--small"></div>
  <div class="text text--rimborsi text--small ">{{t.constellation-entrate.rimborsi}}</div>
  <div class="line line--rimborsi"></div>
</div>