<div class="constellation__inner constellation__inner--regione">
  <h3 class="title title--regione">{{t.constellation-regione.regione}}</h3>
  <div class="ball ball--small ball--ticket"></div>
  <div class="text text--small text--ticket">{{t.constellation-regione.ticket}}</div>
  <div class="line line--ticket"></div>

  <div class="ball ball--prescrizioni ball--1"></div>
  <div class="text text--prescrizioni">{{t.constellation-regione.prescrizioni}}</div>
  <div class="line line--prescrizioni"></div>

  <div class="ball ball--small ball--esenzioni"></div>
  <div class="text text--small text--esenzioni">{{t.constellation-regione.esenzioni}}</div>
  <div class="line line--esenzioni"></div>

  <div class="ball ball--small ball--referti ball--2"></div>
  <div class="text text--small text--referti">{{t.constellation-regione.referti}}</div>
  <div class="line line--referti"></div>
</div>