<div class="constellation__inner constellation__inner--comune">
  <h3 class="title title--comune">{{t.constellation-comune.comune}}</h3>
  <div class="ball ball--anagrafe ball--5"></div>
  <div class="text text--anagrafe">{{t.constellation-comune.certificati}}</div>
  <div class="line line--anagrafe"></div>

  <div class="ball ball--small ball--mensa ball--6"></div>
  <div class="text text--small text--mensa">{{t.constellation-comune.mensa}}</div>
  <div class="line line--mensa"></div>

  <div class="ball ball--small ball--multe ball--7"></div>
  <div class="text text--small text--multe">{{t.constellation-comune.multe}}</div>
  <div class="line line--multe"></div>

  <div class="ball ball--small ball--tari ball--8"></div>
  <div class="text text--small text--tari">{{t.constellation-comune.tari}}</div>
  <div class="line line--tari"></div>
</div>