<div class="device">
  <div class="device__content device__content--1 device__content--in">
    <div class="device__logo"></div>
    <ul class="device__list">
      <li><img src="{{ '/assets/img/icon-messages.svg' | relative_url }}" alt="messaggi" class="device__icon"/><a href="#messaggi">{{t.device.messaggi}}</a></li>
      <li><img src="{{ '/assets/img/icon-wallet.svg' | relative_url }}" alt="pagamenti" class="device__icon"/><a href="#pagamenti">{{t.device.pagamenti}}</a></li>
      <li><img src="{{ '/assets/img/icon-document.svg' | relative_url }}" alt="documenti" class="device__icon"/><a href="#documenti">{{t.device.documenti}}</a></li>
      <li><img src="{{ '/assets/img/icon-settings.svg' | relative_url }}" alt="preferenze" class="device__icon"/><a href="#preferenze">{{t.device.preferenze}}</a></li>
      <li><img src="{{ '/assets/img/icon-user.svg' | relative_url }}" alt="profilo" class="device__icon"/><a href="#profilo">{{t.device.profilo}}</a></li>
    </ul>
  </div>
  <div class="device__content device__content--2">
    <img src="{{ t.home-section-2.mockup | relative_url }}" class="w-100" alt="{{t.device.schermata}} {{t.device.messaggi}}"/>
  </div>
  <div class="device__content device__content--3">
    <img src="{{ t.home-section-3.mockup | relative_url }}" class="w-100" alt="{{t.device.schermata}} {{t.device.pagamenti}}"/>
  </div>
  <div class="device__content device__content--4">
    <img src="{{ t.home-section-4.mockup | relative_url }}" class="w-100" alt="{{t.device.schermata}} {{t.device.documenti}}"/>
  </div>
  <div class="device__content device__content--5">
    <img src="{{ t.home-section-5.mockup | relative_url }}" class="w-100" alt="{{t.device.schermata}} {{t.device.preferenze}}"/>
  </div>
  <div class="device__content device__content--6">
    <img src="{{ t.home-section-6.mockup | relative_url }}" class="w-100" alt="{{t.device.schermata}} {{t.device.profilo}}"/>
  </div>
</div>