<div class="device">
  <div class="device__content device__content--1 device__content--in">
    <div class="device__logo"></div>
    <ul class="device__list">
      <li><img src="{{ '/assets/img/icon-messages@3x.png' | relative_url }}" alt="messaggi" class="device__icon"/><a href="#messaggi">Messaggi</a></li>
      <li><img src="{{ '/assets/img/icon-wallet@3x.png' | relative_url }}" alt="pagamenti" class="device__icon"/><a href="#pagamenti">Pagamenti</a></li>
      <li><img src="{{ '/assets/img/icon-document@3x.png' | relative_url }}" alt="documenti" class="device__icon"/><a href="#documenti">Documenti</a></li>
      <li><img src="{{ '/assets/img/icon-settings@3x.png' | relative_url }}" alt="preferenze" class="device__icon"/><a href="#preferenze">Preferenze</a></li>
      <li><img src="{{ '/assets/img/icon-user@3x.png' | relative_url }}" alt="profilo" class="device__icon"/><a href="#profilo">Profilo</a></li>
    </ul>
  </div>
  <div class="device__content device__content--2">
    <img src="{{ '/assets/img/screen2.png' | relative_url }}" style="width: 100%"/>
  </div>
  <div class="device__content device__content--3">
    <img src="{{ '/assets/img/screen3.png' | relative_url }}" style="width: 100%"/>
  </div>
  <div class="device__content device__content--4">
    <img src="{{ '/assets/img/screen4.png' | relative_url }}" style="width: 100%"/>
  </div>
  <div class="device__content device__content--5">
    <img src="{{ '/assets/img/screen5.png' | relative_url }}" style="width: 100%"/>
  </div>
  <div class="device__content device__content--6">
    <img src="{{ '/assets/img/screen6.png' | relative_url }}" style="width: 100%"/>
  </div>
</div>