<div class="device">
  <div class="device__content device__content--1">
    
  </div>
  <div class="device__content device__content--2 device__content--in">
    <img src="{{ t.home-section-2.mockup | prepend: site.imagesurl }}" class="w-100" alt="{{t.device.schermata}} {{t.device.messaggi}}"/>
  </div>
  <div class="device__content device__content--3">
    <img src="{{ t.home-section-3.mockup | prepend: site.imagesurl }}" class="w-100" alt="{{t.device.schermata}} {{t.device.pagamenti}}"/>
  </div>
  <div class="device__content device__content--4">
    <img src="{{ t.home-section-4.mockup | prepend: site.imagesurl }}" class="w-100" alt="{{t.device.schermata}} {{t.device.documenti}}"/>
  </div>
</div>