<section id="section_4" class="section section__4 overflow-x--hidden">
  <div id="documenti" class="section-wrapper">
    <div class="section-wrapper__inner">
      <div class="container">
        <div class="row">
          <div class="col my-4 section-text section-text--4 section-text--left">
            <div class="section-text__inner">
              <h2>Tutti i <b>documenti</b> che cerchi, sempre a disposizione nella tua tasca.</h2>
            </div>
          </div>
          <div class="col__device">
            <div class="col__device__mobile">
              <img src="{{ '/assets/img/screen4.png' | relative_url }}" style="width: 100%"/>
            </div>
          </div>
          <div class="col my-4 section-text section-text--4 section-text--right">
            <div class="section-text__inner">
              <p><b>Documenti, ricevute, certificati</b> inviati direttamente <b>nel tuo smartphone</b>.</p>
              <p><b>Condividi</b> immediatemente <b>il documento</b> con le persona o l’ufficio che preferisci.</p>
              <p><b>Richiedi certificati</b> ed altri documenti,  direttamente <b>dall’app</b>.</p>
              <p><b>Anteprima e ricerca avanzata</b>, per non perdere tempo a cercare il documento.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
