<section id="section_7" class="section section__7 section--wpointers padding-umd">
  <div id="servizi" class="bg-white section__7_inner">
    <div class="container py-3">
      <div class="row justify-content-md-center">
        <div class="col col-md-8">
          <h1 class="text-primary text-center">{{t.home-section-7.title}}</h1>
          <div class="row">
            <div class="col-md-6">
              {{t.home-section-7.par1}}
            </div>
            <div class="col-md-6">
              {{t.home-section-7.par2}}
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <h5 class="text-center">{{t.home-section-7.map_title}}</h5>
      </div>
      <div class="row justify-content-center">
        <p>{{t.home-section-7.map_desc}}</p>
        <div class="col col-md-10 table-wrapper">
          <table class="table">
            <tbody>
              <tr>
                <th></th>
                {% for item in t.home-section-7.map_th %}
                <th class="text-uppercase">{{item}}</th>
                {% endfor %}
              </tr>
              {% for row in t.home-section-7.map_tr%}
              <tr>
                {% for item in  row%}
                  <td>
                    {% if item.first %}
                      <ul>
                      {% for subitem in item %}
                        <li>{{subitem}}</li>
                      {% endfor %}
                      </ul>
                    {% else %}
                      {{item}}
                    {% endif %}
                  </td>
                {% endfor %}
              </tr>
              {%endfor%}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>