<section id="section_1" class="section section__1">

  <div class="universe text-center text-white d-flex py-0">

    <div class="galaxy">
      <div class="galaxy__layer galaxy__layer--one" data-depth="0.2"></div>
      <div class="galaxy__layer galaxy__layer--two" data-depth="0.3"></div>
      <div class="galaxy__layer galaxy__layer--three" data-depth="0.6"></div>
    </div>

    <div class="container carillon">
      <div class="carillon__inner">
        <div class="section-title">
          <div class="row justify-content-md-center">
            <div class="col col-md-6">
              <h1><img src="{{ '/assets/img/io-logo.svg' | relative_url }}" class="io-logo--top" alt="io"/>, l'app dei servizi pubblici</h1>
              <span >Nell’estate 2018 inizieranno i primi test con i cittadini
                <br/>di alcuni territori e con alcuni enti centrali e locali.
                <a class="text-white" href="#section_8"><u>Tieniti aggiornato</u></a>!</span>
            </div>
          </div>
        </div>
        <div class="constellations d-none d-lg-block">
          <div class="constellation">
            {% include home/constellation-regione.html %}
          </div>
          <div class="constellation">
            {% include home/constellation-comune.html %}
          </div>
          <div class="constellation">
            {% include home/constellation-entrate.html %}
          </div>
          <div class="constellation">
            {% include home/constellation-aci.html %}
          </div>
        </div>
        <div class="carillon__staff row no-gutters">
          <div class="col">
            <div class="carillon__line carillon__line--left"></div>
            <div class="carillon__line carillon__line--left"></div>
            <div class="carillon__line carillon__line--left"></div>
            <div class="carillon__line carillon__line--left"></div>
            <div class="carillon__line carillon__line--left"></div>
            {% for carillon_path in site.data.carillon.carillon_paths %}
            {% if carillon_path.is_left == true %}
            <div class="carillon__path d-none d-lg-block"
                 data-index="{{ forloop.index }}"
                 data-name="{{ carillon_path.name }}"
                 data-delay="{{ carillon_path.delay }}"
                 data-duration="{{ carillon_path.duration }}"
                 data-sound="{{ carillon_path.sound }}"
                 style="{{ carillon_path.position }}">
              <div class="carillon__note"></div>
              {% comment %} Preloading audio files {% endcomment %}
              <audio class="carillon__sound-{{forloop.index}}" src="{{ '/assets/mp3/io-sound-0' | append: carillon_path.sound | append: '.mp3' relative_url }}" preload></audio>
              <svg width="{{ carillon_path.w }}" height="{{ carillon_path.h }}" viewBox="0 0 {{ carillon_path.w }} {{ carillon_path.h }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path stroke="rgba(255, 255, 255, .25)" fill="none" d="{{ carillon_path.path }}"></path>
              </svg>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <div class="col__device">
            <div class="carillon__line carillon__line--white"></div>
            <div class="carillon__line carillon__line--white"></div>
            <div class="carillon__line carillon__line--white"></div>
            <div class="carillon__line carillon__line--white"></div>
            <div class="carillon__line carillon__line--white"></div>
          </div>
          <div class="col">
            <div class="carillon__line carillon__line--right"></div>
            <div class="carillon__line carillon__line--right"></div>
            <div class="carillon__line carillon__line--right"></div>
            <div class="carillon__line carillon__line--right"></div>
            <div class="carillon__line carillon__line--right"></div>
            {% for carillon_path in site.data.carillon.carillon_paths %}
            {% if carillon_path.is_left != true %}
            <div class="carillon__path d-none d-lg-block"
                 data-index="{{ forloop.index }}"
                 data-name="{{ carillon_path.name }}"
                 data-delay="{{ carillon_path.delay }}"
                 data-duration="{{ carillon_path.duration }}"
                 data-sound="{{ carillon_path.sound }}"
                 style="{{ carillon_path.position }}; text-align: left">
              <div class="carillon__note"></div>
              {% comment %} Preloading audio files {% endcomment %}
              <audio class="carillon__sound-{{forloop.index}}" src="{{ '/assets/mp3/io-sound-0' | append: carillon_path.sound | append: '.mp3' relative_url }}" preload></audio>
              <svg width="{{ carillon_path.w }}" height="{{ carillon_path.h }}" viewBox="0 0 {{ carillon_path.w }} {{ carillon_path.h }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path stroke="rgba(255, 255, 255, .25)" fill="none" d="{{ carillon_path.path }}"></path>
              </svg>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="volume d-none d-lg-block">
      <img class="volume--on" src="{{ '/assets/img/volume-round-on.svg' | relative_url }}" alt="volume on" />
      <img class="volume--off" src="{{ '/assets/img/volume-round-off.svg' | relative_url }}" alt="volume off" />
    </div>

  </div>
</section>