<section id="section_2" class="section section__2">
  <div class="italia">
    <div class="italia__dot"></div>
    <div class="italia__shape"></div>
  </div>
  <div id="messaggi" class="section-wrapper">
    <div class="section-wrapper__inner">
      <div class="container my-auto">
        <div class="row">
          <div class="col section-text section-text--2 section-text--left">
            <div class="section-text__inner">
              <h2>Tutti i <b>messaggi</b> dalla pubblica amministrazione, nel tuo telefono.</h2>
            </div>
          </div>
          <div class="col__device">
            <div class="col__device__mobile">
              <img src="{{ '/assets/img/screen2.png' | relative_url }}" style="width: 100%"/>
            </div>
          </div>
          <div class="col section-text section-text--2 section-text--right">
            <div class="section-text__inner">
              <p>Ricevi <b>messaggi</b>, avvisi, comunicazioni, <b>da qualunque ente pubblico</b>, tutto dentro un’unica app.</p>
              <p>Puoi ricevere i aggiornamenti via mail,  dentro la app, o grazie alle <b>notifiche push</b> del telefono. E sei tu a deciderlo, per ogni servizio.</p>
              <p>Resta sempre aggiornato sulle scadenze e <b>aggiungi un promemoria</b> direttamente sul calendario personale.</p>
              <p><b>Completa il pagamento</b> di servizi o tributi direttamente dal messaggio, senza lasciare l’app.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>