<section id="section_5" class="section section__5">
  <div id="preferenze" class="section-wrapper">
    <div class="section-wrapper__inner">
      <div class="container">
        <div class="row">
          <div class="col section-text section-text--5 section-text--left">
            <div class="section-text__inner">
              <h2>Tutte le tue <b>preferenze</b>, impostate un unica volta.</h2>
            </div>
          </div>
          <div class="col__device">
            <div class="col__device__mobile">
              <img src="{{ '/assets/img/screen5.png' | relative_url }}" style="width: 100%"/>
            </div>
          </div>
          <div class="col section-text section-text--5 section-text--right">
            <div class="section-text__inner">
              <p>I servizi pubblici chiederanno a io che lingua parli o qual’è la tua email, non dovrai più impostarli in ogni sito.</p>
              <p>Sceglierai da quali servizi ricevere i messaggi e attraverso quale modalità.</p>
              <p>Potrai eleggere direttamente dall’app il tuo domicilio digitale, per ricevere le raccomandate a volere legale presso un indirizzo pec.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
