<section id="section_13" class="bg-white position-relative section section__13 section--wpointers py-5">
  <div  class="section__13_inner container container--mid">
    <div class="text-center py-md-3 ">
      <h2 class="text-primary">Tutti servizi in un unico punto</h2>
      <p class="lead text-center text-primary">Un’unica interfaccia tra cittadino e Pubblica Amministrazione</p>
    </div>
    <div class="my-5">
        <div class="text-center px-4 px-md-4">
        <img src="/assets/img/home-sistema-api.png" class=" img-fluid">
        </div>
    </div>
    
    
  </div><!--/section__11_inner-->
</section>