{% assign roadmap = site.data.roadmap[current_lang] %}

<section id="section_10" class="section section__10 bg-white">
  <div id="roadmap" class="container section__10_inner">
    <div class="row py-3 justify-content-md-center">
      <div class="col col-md-8">
        <h1 class="h1">Roadmap</h1>

        {% for quarter in roadmap %}
        <dt class="activity-title">{{ quarter[0] }}</dt>
        <dd class="u-margin-left-l">
          <ul class="activity-list">
            {% for activity in quarter[1] %}
            <li class="activity{% unless activity.status == 'todo' %} activity--done{% endunless %}">
              <h3 class="h3">{{ activity.title }}</h3>
              <div class="u-md-flex u-lg-flex">
                <p class="u-margin-right-l">{{ activity.subtitle }}</p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </dd>
        {% endfor %}


      </div>
    </div>
  </div>
</section>
