<section id="section_6" class="section section__6">
  <div id="profilo" class="section-wrapper">
    <div class="section-wrapper__inner">
      <div class="container">
        <div class="row">
          <div class="col section-text section-text--6 section-text--left">
            <div class="section-text__inner">
              <h2><b>Identità</b> digitale e <b>privacy</b> sempre sotto il tuo controllo.</h2>
            </div>
          </div>
          <div class="col__device">
            <div class="col__device__mobile">
              <img src="{{ '/assets/img/screen6.png' | relative_url }}" style="width: 100%"/>
            </div>
          </div>
          <div class="col section-text section-text--6 section-text--right">
            <div class="section-text__inner">
              <p>Entra con SPID per la massima sicurezza.</p>
              <p>Imposta un PIN o usa la tua impronta digitale per sbloccare l’app dopo il primo accesso.</p>
              <p>Mantieni il controllo dei tuoi dati personali nel pieno rispetto della normativa GDPR.</p>
              <p>Puoi cancellare il tuo account ed i tuoi dati in ogni momento.</p>
              <p>Revoca da remoto i permessi di accesso nel caso il telefono venga rubato o smarrito.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
