<section id="section_12" class="position-relative bg-primary section section__12 section--wpointers py-0">
  <div  class="section__12_inner container px-2">
    <div class="row">
        <div class="col-12 col-md-6 py-2 py-md-4 px-4 d-flex align-items-center order-2 order-md-1">
        <div class="d-block mt-5 mt-md-0 ">
        <h2 class="text-white">Un progetto che cresce giorno dopo giorno</h2>
        <p class="lead text-white mt-2 mt-md-4">IO è l'esito di un progetto ambizioso avviato nel 2018 e in continua evoluzione. Scopri le tappe fondamentali del percorso intrapreso ad oggi e i principali traguardi futuri </p>
        </div>
        </div>
        <div class="col-12 col-md-6 section__12_bgimage order-1 order-md-2">
        </div>
    </div>
    
  </div><!--/section__12_inner-->
</section>