<section id="section_covid-pass" class="position-relative section section__covid-pass section--wpointers ">
    <div class="section__covid-pass_bg py-5">
    <div  class="section__covid-pass_inner container">
      <div class="row py-md-3 px-3 px-md-0">
        <div class="col-12 col-md-7  pr-0 pr-md-5 order-md-2">
        <div class="badge badge-secondary text-uppercase p-2 mb-4 badge-servizio">In arrivo</div>
        <h2 class=""><a href="/certificato-verde-green-pass-covid/" title="Certificazione verde COVID-19" class="text-decoration-none text-white">La Certificazione Verde COVID-19 su IO</a></h2>
        <p class="lead  my-2 my-md-4 text-white">
            Se hai effettuato il vaccino, un tampone o se sei un paziente guarito dal COVID-19, riceverai tramite messaggio la tua Certificazione Verde Digitale COVID-19 per poter circolare in sicurezza in Italia e in Europa.</p>
         <a href="/certificato-verde-green-pass-covid/" class="btn btn-sm btn-white text-primary text-uppercase  mt-2 px-5" title="Scopri di più">Scopri di più</a>
         </div><!--/col-->
         <div class="col-12 col-md-5 order-md-1 d-flex align-items-center flex-column position-relative">
            <a href="/certificato-verde-green-pass-covid/" title="Certificazione verde COVID-19" class="section__covid-pass-img">
                <img class="img-fluid screenshot" alt="Screenshot Certificato verde"
                srcset="
                  {{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/schermata-app-certificato-verde-2x.png 2x,
                  {{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/schermata-app-certificato-verde.png 1x
                  "
                  src="{{site.imagesurl}}/assets/img/certificato-verde-green-pass-covid/schermata-app-certificato-verde.png">
        </a>
         </div>
      </div>
    </div>
    </div>
  </section>