<section id="section_11" class="position-relative section section__11 section--wpointers py-3 py-md-5 ">
  <div  class="section__11_inner container">
    <div class="text-center py-md-3 ">
      <h2 class="text-white">Il cittadino al centro</h2>
      <p class="lead text-center text-white">Un nuova relazione con i servizi pubblici</p>
    </div>
    <div class="my-5">
        <div class="text-center px-4 px-md-4">
        <img src="/assets/img/cambio-paradigma.svg" class=" img-fluid">
        </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <p class="text-center p-1 p-sm-4 section__11_ptext">Ogni ente deve dotarsi delle proprie piattaforme digitali per richiedere diversi adempimenti; il cittadino di volta in volta deve autenticarsi e imparare ad utilizzare ciascuna piattaforma.
</p>
      </div>
      <div class="col-12 col-sm-6">
        <p class="text-center p-1 p-sm-4 section__11_ptext">Ogni ente offre al cittadino i propri servizi in modo semplice e personalizzato, attraverso un'unica piattaforma, comune a tutte le amministrazioni.</p>
      </div>
      
    </div>
    
  </div><!--/section__11_inner-->
</section>