<section id="section_4" class="section section__4 overflow-x--hidden">
  <div id="documenti" class="section-wrapper">
    <div class="section-wrapper__inner">
      <div class="container">
        <div class="row">
          <div class="col my-4 section-text section-text--4 section-text--left">
            <div class="section-text__inner">
              {{t.home-section-4.title}}
            </div>
          </div>
          <div class="col__device">
            <div class="col__device__mobile">
              <img src="{{ '/assets/img/screen4.png' | relative_url }}" class="w-100" alt="{{t.device.schermata}} {{t.device.documenti}}"/>
            </div>
          </div>
          <div class="col my-4 section-text section-text--4 section-text--right">
            <div class="section-text__inner">
              {{t.home-section-4.desc}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
