<section id="section_6" class="section section__6 overflow-x--hidden">
  <div id="profilo" class="section-wrapper">
    <div class="section-wrapper__inner">
      <div class="container">
        <div class="row">
          <div class="col my-4 section-text section-text--6 section-text--left">
            <div class="section-text__inner">
              <h2><b>Identità</b> digitale e <b>privacy</b> sempre sotto il tuo controllo.</h2>
            </div>
          </div>
          <div class="col__device">
            <div class="col__device__mobile">
              <img src="{{ '/assets/img/screen6.png' | relative_url }}" class="w-100" alt="Schermata Profilo"/>
            </div>
          </div>
          <div class="col my-4 section-text section-text--6 section-text--right">
            <div class="section-text__inner">
              <p><b>Entra con SPID</b> per la massima sicurezza.</p>
              <p>Imposta un <b>PIN</b> o usa la tua <b>impronta digitale</b> per sbloccare l’app dopo il primo accesso.</p>
              <p>Mantieni il <b>controllo dei tuoi dati personali</b> nel pieno rispetto della <b>normativa GDPR</b>.</p>
              <p>Puoi <b>cancellare il tuo account</b> ed i tuoi dati in ogni momento.</p>
              <p><b>Revoca</b> da remoto i permessi di accesso nel caso il <b>telefono</b> venga <sb>rubato o smarrito</sb>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
