<section id="section_8" class="section section__8 section--wpointers padding-umd">
  <div id="newsletter" class="section__8_inner">
    <div class="container py-3">
      <div class="row justify-content-md-center">
        <div class="col col-md-6">
          <div>
          	<p class="text-center">
              <img src="{{ '/assets/img/io-logo.svg' | relative_url }}" alt="io" class="io__icon"/> {{t.home-section-8.title}}
            </p>
          	<p class="text-center">
                {{t.home-section-8.desc}}
          	</p>
          	<form method="GET" action="https://a0x0b4.emailsp.com/frontend/subscribe.aspx" class="newsletter-form">
              <div class="form-group my-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><svg class="icon icon-sm icon-primary"><use xlink:href="/assets/svg/sprite.svg#it-mail"></use></svg></div>
                  </div>
                  <input type="email" name="email" class="form-control bg-white input-email" placeholder="{{t.home-section-8.placeholder}}">
                  <input type="hidden" name="list" value="6">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary input-submit">{{t.home-section-8.button}}</button>
                  </div>
                </div>
              </div>
            </form>

            <p class="text-center">
              <small>
              {{ t.home-section-8.privacy-policy-disclaimer }}
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
