<section id="section_3" class="section section__3 overflow-x--hidden">
  <div id="pagamenti" class="section-wrapper">
    <div class="section-wrapper__inner">
      <div class="container">
        <div class="row">
          <div class="col my-4 section-text section-text--3 section-text--left">
            <div class="section-text__inner">
              {{t.home-section-3.title}}
            </div>
          </div>
          <div class="col__device">
            <div class="col__device__mobile">
              <img src="{{ t.home-section-3.mockup | relative_url }}" class="w-100" alt="{{t.device.schermata}} {{t.device.pagamenti}}"/>
            </div>
          </div>
          <div class="col my-4 section-text section-text--3 section-text--right">
            <div class="section-text__inner">
              {{t.home-section-3.desc}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
