<section id="section_3" class="section section__3">
  <div id="pagamenti" class="section-wrapper">
    <div class="section-wrapper__inner">
      <div class="container">
        <div class="row">
          <div class="col my-4 section-text section-text--3 section-text--left">
            <div class="section-text__inner">
              <h2>Tutti i <b>pagamenti</b> verso lo stato, attraverso uno strumento semplice, sicuro e digitale.</h2>
            </div>
          </div>
          <div class="col__device">
            <div class="col__device__mobile">
              <img src="{{ '/assets/img/screen3.png' | relative_url }}" style="width: 100%"/>
            </div>
          </div>
          <div class="col my-4 section-text section-text--3 section-text--right">
            <div class="section-text__inner">
              <p>Paga <b>tutti gli enti</b> della pubblica amministrazione attraverso lo stesso strumento.</p>
              <p><b>Associa le tue carte</b> di credito ed i tuoi conti correnti, oppure <b>Paypal</b> o <b>Satispay</b>, e usali tutte le volte che vuoi.</p>
              <p>Paga gli avvisi cartacei direttamente dall’app usando il QR code.</p>
              <p>Porta sempre con te lo <b>storico delle tue operazioni</b> e le relative quietanze di pagamento.</p>
              <p><b>Evita interessi e sanzioni</b>: sarai sempre sicuro di pagare solo quanto effettivamente dovuto.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
