<section id="section_bonus" class="position-relative section section__bonus section--wpointers py-5">
  <div  class="section__bonus_inner container">
    <div class="row py-md-3 px-3 px-md-0">
      <div class="col-12 col-md-6  pr-0 pr-md-5">
      <div class="badge badge-secondary text-uppercase p-2 mb-4 badge-servizio">servizio attivo</div>
      <h2 class="text-white"><a href="/bonus-vacanze/" title="Bonus Vacanze" class="text-white text-decoration-none">Il tuo Bonus Vacanze con IO</a></h2>
      <p class="lead  text-white my-2 my-md-4">A partire <b>dal 1°luglio e fino al 31 dicembre 2020</b> con l’app IO potrai richiedere e spendere il Bonus Vacanze.
       In questa pagina, trovi tutte le informazioni per attivare su IO il tuo Bonus Vacanze.</p>
       <a href="/bonus-vacanze/" class="btn btn-sm btn-white text-uppercase text-primary mt-2" title="Scopri di più">Scopri di più</a>
       <a href="/dashboard" class="btn btn-sm btn-white text-uppercase text-primary mt-2 ml-lg-3" title="Dashboard">Vai alla Dashboard</a>
       </div><!--/col-->
       <div class="col-12 col-sm-6 col-md-5 offset-md-1  ">
          <div class="row mt-4 mt-md-0">
            <div class="col-12 col-md-12">
              <img src="/assets/img/bonus-vacanze/logo-bonus-vacanze.svg" class="img-fluid my-3 my-md-0" width="55" alt="Bonus Vacanze generati">
              <div id="bonusTotal" class="counter "></div>
              <div class="counterdesc">Bonus Vacanze generati
                <span tabindex="0" data-toggle="tooltip" data-container="#section_bonus" data-placement="right" 
                      title="Numero di codici sconto generati attraverso l’app IO " class="ml-2">
                  <svg class="icon icon-sm icon-white align-top">
                    <use xlink:href="/assets/svg/sprite.svg#it-info-circle">
                    </use>
                  </svg>
                </span>
              </div>
            </div>
            <div class="d-block d-sm-none d-md-block p-1 p-md-3"></div>
            <div class="col-12 col-sm-6 col-md-12">
              <img src="/assets/img/icon-money.svg" class="img-fluid my-3 my-md-0" width="55" alt="Controvalore economico">
              <div id="numbonusredeem" class="counter ">???</div>
              <div class="counterdesc">Controvalore economico
                <span tabindex="0" data-toggle="tooltip" data-container="#section_bonus" data-placement="right" 
                      title="Importo massimo spendibile" class="ml-2">
                  <svg class="icon icon-sm icon-white align-top">
                    <use xlink:href="/assets/svg/sprite.svg#it-info-circle">
                    </use>
                  </svg>
                </span>
              </div>
            </div>
          </div>
       </div>
    </div>
    
    
  </div><!--/section__bonus_inner-->
</section>