<section id="section_2" class="section section__2 overflow-x--hidden">
  <div id="messaggi" class="section-wrapper">
    <div class="section-wrapper__inner">
      <div class="container my-auto">
        <div class="row">
          <div class="col my-4 section-text section-text--2 section-text--left">
            <div class="section-text__inner">
              {{t.home-section-2.title}}
            </div>
          </div>
          <div class="col__device">
            <div class="col__device__mobile">
              <img src="{{ t.home-section-2.mockup | relative_url }}" class="w-100" alt="{{t.device.schermata}} {{t.device.messaggi}}"/>
            </div>
          </div>
          <div class="col my-4 section-text section-text--2 section-text--right">
            <div class="section-text__inner">
              {{t.home-section-2.desc}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>