<section id="section_4" class="section section__4">
  <div id="documenti" class="section-wrapper">
    <div class="section-wrapper__inner">
      <div class="container">
        <div class="row">
          <div class="col section-text section-text--4 section-text--left">
            <div class="section-text__inner">
              <h2>Tutti i <strong>documenti</strong> che cerchi, sempre a disposizione nella tua tasca.</h2>
            </div>
          </div>
          <div class="col__device">
            <div class="col__device__mobile">
              <img src="{{ '/assets/img/screen4.png' | relative_url }}" style="width: 100%"/>
            </div>
          </div>
          <div class="col section-text section-text--4 section-text--right">
            <div class="section-text__inner">
              <p>Documenti, ricevute, certificati inviati direttamente nel tuo smartphone.</p>
              <p>Condividi immediatemente il documento con le persona o l’ufficio che preferisci.</p>
              <p>Richiedi certificati ed altri documenti,  direttamente dall’app.</p>
              <p>Anteprima e ricerca avanzata, per non perdere tempo a cercare il documento.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
