
<section id="section_14" class="position-relative section section__14 section--wpointers py-4 py-md-5 bg-primary">
  <div  class="section__14_inner container my-md-3">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-6 pl-4">
                    <img src="{{site.imagesurl}}/assets/img/municipality.svg" alt="Enti" class="my-2">
                    <div class="h2 text-white my-2">2.628</div>
                    <div class="text-desc font-weight-bold">Enti attivi su IO</div>
                </div>
                <div class="col-6 pr-4">
                    <img src="{{site.imagesurl}}/assets/img/services.svg" alt="Servizi" class="my-2">
                    <div class="h2 text-white my-2">7.878</div>
                    <div class="text-desc font-weight-bold">Servizi disponibili</div>
                </div>
            </div>
        </div><!--/col-md-6-->
        <div class="col-md-4">
            <div class="py-3 pl-3 pl-md-0 pr-4 pr-md-3">

                <div class="text-desc">Scopri la lista in costante aggiornamento di tutti gli Enti che sono saliti a bordo di IO.</div>

                <a class="btn btn-sm btn-outline-white text-uppercase text-white bg-primary px-5 mt-4" href="/enti/" title="Scopri gli Enti a bordo di IO" >
                    Scopri di più
                </a>
            </div>

        </div><!--/col-md-6-->

    </div>
  </div><!--/section__14_inner-->
</section>