<section id="section_cashback" class="position-relative section section__cashback section--wpointers ">
    <div class="section__cashback__top"></div>
    <div class="section__cashback_bg py-5">
    <div  class="section__cashback_inner container">
      <div class="row py-md-3 px-3 px-md-0">
        <div class="col-12 col-md-7  pr-0 pr-md-5">
        <div class="badge badge-secondary text-uppercase p-2 mb-4 badge-servizio">IN ARRIVO</div>
        <h2 class="">Il Cashback presto attivo su IO</h2>
        <p class="lead  my-2 my-md-4">
          Presto potrai iscriverti al programma Cashback e iniziare ad accumulare transazioni valide per ottenere un rimborso sui tuoi acquisti con carte e app di pagamento. L’Extra Cashback di Natale sarà attivo a breve.

        </p>
         <!--<a href="/cashback/" class="btn btn-sm btn-white text-uppercase text-primary mt-2 px-5" title="Scopri di più">Scopri di più</a>-->
         </div><!--/col-->
         <div class="col-12 col-md-5 d-flex align-items-center">
            <img src="/assets/img/cashback/logo-cashback-hp.svg" class="img-fluid my-3 my-md-0" width="215" alt="Cashback di Stato">
         </div>
      </div>
    </div>
    </div>
  </section>