<section id="section_7" class="section section__7 section--wpointers py-3 py-md-5 ">
  <div  class="section__7_inner container">
    <div class="text-center py-md-3 ">
      <h2 class="text-primary">IO, un progetto speciale</h2>
      <p class="lead text-center text-primary">Scopri tutte le novità e i vantaggi dell'app IO</p>
    </div>
    <div class="row py-5 advantage-cards">
        <div class="col-12">
          <div class="d-md-flex flex-wrap justify-content-md-between">
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center ">
                    <svg class="icon icon-lg mt-2">
                      <use
                        xlink:href="/assets/svg/pub-amm.svg#vantaggi_msg"
                      ></use>
                    </svg>
                    <h5 class="card-title text-primary mt-4">
                     Tutta la PA a <br class="d-none d-md-inline">portata di mano
                    </h5>
                    <p class="card-small-text px-2">IO permette di interagire facilmente con diverse Pubbliche Amministrazioni, locali o nazionali</p>
                  </div>
                </div>
            </div><!--/item-->
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center ">
                    <svg class="icon icon-lg mt-2">
                      <use
                        xlink:href="/assets/svg/pub-amm.svg#vantaggi_msg"
                      ></use>
                    </svg>
                    <h5 class="card-title text-primary mt-4">
                      Un’opportunità <br class="d-none d-md-inline">per le PA
                    </h5>
                    <p class="card-small-text px-2">IO permette a tutti gli enti locali e nazionali di interfacciarsi in modo semplice e sicuro con i cittadini.</p>
                  </div>
                </div>
            </div><!--/item-->
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center ">
                    <svg class="icon icon-lg mt-2">
                      <use
                        xlink:href="/assets/svg/pub-amm.svg#vantaggi_msg"
                      ></use>
                    </svg>
                    <h5 class="card-title text-primary mt-4">
                      Integrarsi è <br class="d-none d-md-inline">semplice
                    </h5>
                    <p class="card-small-text px-2">IO è una piattaforma di componenti riutilizzabili in grado di rendere i servizi digitali più efficaci.</p>
                  </div>
                </div>
            </div><!--/item-->
            <div class="item mt-4 mt-md-4 mt-lg-0 d-md-flex">
                <div class="card rounded no-after shadow">
                  <div class="card-body text-center ">
                    <svg class="icon icon-lg mt-2">
                      <use
                        xlink:href="/assets/svg/pub-amm.svg#vantaggi_msg"
                      ></use>
                    </svg>
                    <h5 class="card-title text-primary mt-4">
                      Un progetto da <br class="d-none d-md-inline">raccontare
                    </h5>
                    <p class="card-small-text px-2"> Informazioni, comunicati e risorse multimediali per avere contenuti aggiornati.</p>
                  </div>
                </div>
            </div><!--/item-->
          </div><!--/content-->
        </div><!--/col-12-->
      </div><!--/row-->
  </div><!--/section__7_inner-->
</section>