<section id="section_1" class="section section__1">
<div class="position-relative section__1_wrap">
    <div class="section__1_img mx-auto">
    </div>
    <div class="section__1_inner container d-flex align-items-center">
        <div class="section__1_main px-4 ">
        <div class="d-flex align-items-center mb-3 section__1__logo">
        <img src="{{ '/assets/img/io-it-logo-white.svg' | relative_url }}" alt="io" class="io__icon"/>
        <span class="d-none d-sm-inline badge-beta mx-1">BETA</span>
        <h2 class="d-sm-none ">l'app dei servizi pubblici</h2>
        </div>
        <h2 class="d-none d-sm-block">l'app dei servizi pubblici</h2>
        <p class="mt-2 mt-md-4">Un unico punto di accesso per interagire in modo semplice e sicuro con i servizi pubblici locali e nazionali, direttamente dal tuo smartphone.
        </p>
        <div class="mt-3 mt-md-5">
        {% comment %}<a id="playvideo" href="#" class="btn btn-sm bg-white text-uppercase btn-video mr-3 mt-2 mt-sm-0"" target="_blank"
           data-url="https://www.youtube.com/embed/zrKOS2LiWTU?rel=0&amp;showinfo=0&amp;autoplay=1">
        <img src="{{site.imagesurl}}/assets/img/icon-playvideo.svg" class="mr-1" id="home-playvideo">
        Guarda il video</a>
        <a href="#newsletter" class="btn btn-sm text-uppercase btn-newsletter mt-2 mt-sm-0" >Resta aggiornato</a>
        {% endcomment %}
        <a class="btn btn-sm btn-download text-uppercase px-3 px-md-5 mr-3 my-1 my-sm-0" href="{{site.download_url.ios}}" title="App Store"
           onclick="ga('send', 'event', 'link', 'click', 'Download App: iOS', 1)">
            <svg class="icon icon-os ios"><use xlink:href="/assets/svg/badgeicons.svg#icon-ios"  /></svg> App Store
            
        </a>
        <a class="btn btn-sm btn-download text-uppercase px-3 px-md-5 my-1 my-sm-0" href="{{site.download_url.android}}" title="Play Store"
           onclick="ga('send', 'event', 'link', 'click', 'Download App: Android', 1)">
            <svg class="icon icon-os android"><use xlink:href="/assets/svg/badgeicons.svg#icon-android"  /></svg> Play Store
        </a>
        </div><!--/bottoni download-->

        <div class="social d-md-flex align-items-center my-5">
        <span class="d-block d-md-inline text-white mr-md-4 my-2 my-md-0">Seguici su:</span>
        {% include social-icons.html %}
        </div><!--/social-->
        <div class="text-white my-3 home-data">
            Persone che hanno scaricato l'app:
            <div>
            <a id="downloads" href="/dashboard/" class="text-white text-decoration-none" title="VAi alla dashboard">
            </a>
            <a href="/dashboard" class="text-white ml-2">Vai alla dashboard</a>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="overlay-video">
    
    <div class="videoWrapperExt">
        <div class="videoWrapper">
			<div class="videoWrapper__close">
            <svg class="icon icon icon-white">
                <use xlink:href="/assets/svg/sprite.svg#it-close-big"></use>
            </svg>
            </div>
            <iframe id="player" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
</section>
