<section id="section_5" class="section section__5 overflow-x--hidden">
  <div id="preferenze" class="section-wrapper">
    <div class="section-wrapper__inner">
      <div class="container">
        <div class="row">
          <div class="col my-4 section-text section-text--5 section-text--left">
            <div class="section-text__inner">
              <h2>Tutte le tue <b>preferenze</b>, impostate un'unica volta.</h2>
            </div>
          </div>
          <div class="col__device">
            <div class="col__device__mobile">
              <img src="{{ '/assets/img/screen5.png' | relative_url }}" class="w-100" alt="Schermata Preferenze"/>
            </div>
          </div>
          <div class="col my-4 section-text section-text--5 section-text--right">
            <div class="section-text__inner">
              <p>Inserisci una sola volta la tua lingua e la tua email. <b>Non dovrai più impostarla</b> in ogni singolo sito della Pubblica Amministrazione</p>
              <p>Sceglierai <b>quali messaggi</b> ricevere, e <b>come</b> riceverli.</p>
              <p>Potrai eleggere direttamente dall’app il tuo <b>domicilio digitale</b>, per ricevere le raccomandate a volere legale presso un <b>indirizzo pec</b>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
