
<section id="section_9" class="position-relative section section__9 section--wpointers py-5">
  <div  class="section__9_inner container py-md-5">
    <div class="text-center py-md-3 ">
      <h2 class="text-primary">Domande o curiosità?</h2>
      <p class="lead text-center text-primary my-4">
        Abbiamo provato a dare risposta alle domande più frequenti <br class="d-none d-sm-inline">sul rilascio dell'applicazione e sui servizi o funzioni <br class="d-none d-sm-inline">che verranno progressivamente aggiunte.
      </p>
    </div>
    <div class="text-center py-md-3 ">
      <a class="btn btn-sm btn-primary text-uppercase px-5" href="/faq/" title="Leggi le FAQ">Leggi le FAQ</a>
    </div>
  </div>
</section>
