{% assign roadmap = site.data.roadmap[current_lang] %}

<section
  id="section_10"
  class="section section__10 section--wpointers internal-page"
  style="margin-top: 0;"
>
  <div class="onboarding__wrapper">
    <div class="container text-center text-white">
      <h2 class="onboarding__title" style="margin-top: 0;">Roadmap</h2>
      <p class="onboarding__subtitle mt-3 text-white">
        Un progetto in crescita giorno dopo giorno
      </p>
      <div class="row py-3 pb-xs-5 pb-sm-5">
        <div class="col-12">
          <a href="/roadmap/">
            <img
              src="/assets/img/roadmap.svg"
              style="width:100%;height:auto;"
            />
          </a>
        </div>
      </div>
      <div class="text-center pb-5 d-none d-md-block">
        <a href="/roadmap/" class="btn btn-white text-primary my-4"
          ><span class="text-uppercase">Vedi tutta la roadmap</span></a
        >
      </div>
    </div>
  </div>
</section>
