<section
  id="section_12"
  class="position-relative bg-primary section section__12 section--wpointers py-0"
>
  <div class="section__12_inner container px-2">
    <div class="row">
      <div
        class="section__12_info_container col-12 col-lg-5 d-flex align-items-center order-2 order-md-1 bg-md-primary"
      >
        <div class="d-block">
          <h2 class="text-white">Un’app in continua evoluzione</h2>
          <p class="lead text-white mt-2 mt-md-4">
            IO cresce giorno dopo giorno: nata nel 2018, dopo un periodo di
            sperimentazione è stata pubblicata negli store nel 2020.
          </p>
          <p class="lead text-white mt-2">
            Nel 2022 il progetto è stato premiato con il Compasso d’Oro ADI, il
            più autorevole riconoscimento nel settore del design.
          </p>
          <img
            src="/assets/img/compasso.svg"
            alt="Premio Compasso d'oro 2022"
            class="mt-4"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="section__12_img_container">
    <img
      src="{{site.imagesurl}}/assets/img/home-complete-view.png"
      srcset="
        {{site.imagesurl}}/assets/img/home-complete-view.png    1x,
        {{site.imagesurl}}/assets/img/home-complete-view-2x.png 2x
      "
      alt="Immagine App IO, sezione Messaggi"
      class="section__12_img"
    />
  </div>
  <!--/section__12_inner-->
</section>
