{% assign faq = site.data.faq[current_lang] %}

<section id="section_9" class="section section__9 bg-secondary section--wpointers padding-umd">
  <div id="faq" class="container py-3">
    <div class="row justify-content-md-center">
      <div class="col col-md-8">
        <h1 >FAQ</h1>

    <div id="accordionDivFAQ" class="collapse-div" role="tablist">
    {% for f in faq %}
      <div class="collapse-header" id="headingA{{forloop.index}}">
        <button data-toggle="collapse" data-target="#accordion{{forloop.index}}"
        aria-expanded="{% if forloop.first %}true{% endif %}{% if forloop.first!=true %}false{% endif %}" aria-controls="accordion{{forloop.index}}" role="tabpanel">
          <span>{{f.title}}</span>
        </button>
      </div>
      <div id="accordion{{forloop.index}}" class="collapse {% if forloop.first %}show{% endif %}" role="tabpanel" aria-labelledby="headingA{{forloop.index}}" data-parent="#accordionDivFAQ">
        <div class="collapse-body">
          {{f.body | markdownify }}
        </div>
      </div>
    {% endfor %}
    </div>

      </div>
    </div>
  </div>
</section>