<section id="section_cashback" class="position-relative section section__cashback section--wpointers ">
    <div class="section__cashback_bg py-5">
    <div  class="section__cashback_inner container">
      <div class="row py-md-3 px-3 px-md-0">
        <div class="col-12 col-md-7  pr-0 pr-md-5">
        <div class="badge badge-secondary text-uppercase p-2 mb-4 badge-servizio">IN ARRIVO</div>
        <h2 class=""><a href="/cashback/" title="Cashback di Stato" class="text-decoration-none">Partecipa al Cashback con l'app IO</a></h2>
        <p class="lead  my-2 my-md-4">
          Martedì 8 dicembre 2020 parte il programma Cashback, con l’avvio dell’<b>Extra Cashback di Natale</b>. Presto con l’app IO potrai iscriverti al programma e iniziare ad accumulare transazioni valide per ottenere un rimborso sui tuoi acquisti con carte e app di pagamento
        </p>
         <a href="/cashback/" class="btn btn-sm btn-primary text-uppercase  mt-2 px-5" title="Scopri di più">Scopri di più</a>
         </div><!--/col-->
         <div class="col-12 col-md-5 d-flex align-items-center">
            <a href="/cashback/" title="Cashback di Stato">
            <img src="/assets/img/cashback/logo-cashback-hp.svg" class="img-fluid my-3 my-md-0" width="215" alt="Cashback di Stato">
        </a>
         </div>
      </div>
    </div>
    </div>
  </section>