
<section id="section_15" class="position-relative section section__15 section--wpointers py-5">
  <div  class="section__15_inner container py-3 py-md-5">
    <div class="text-center py-3 ">
      <h2 class="text-white">Inizia a utilizzare IO, <br class="d-md-none">scarica l'app</h2>
    </div>
    <div class="text-center py-3 ">
      <a class="btn btn-sm btn-download text-uppercase px-3 px-md-5 mr-2" href="#" title="App Store">
      <img src="/assets/img/icon-appstore.svg" alt="App Store" class="mr-1"> App Store</a>
      <a class="btn btn-sm btn-download text-uppercase px-3 px-md-5 ml-2" href="#" title="Play Store">
      <img src="/assets/img/icon-playstore.svg" alt="Play Store" class="mr-1"> Play Store</a>
    </div>
  </div>
</section>
