<section id="section_cgn" class="position-relative section section__cgn section--wpointers ">
    <div class="section__cgn_bg py-5">
    <div  class="section__cgn_inner container">
      <div class="row py-md-3 px-3 px-md-0">
        <div class="col-12 col-md-7  pr-0 pr-md-5 ">
        <div class="badge badge-secondary text-uppercase p-2 mb-4 badge-servizio">Servizio attivo</div>
        <h2 class=""><a href="/carta-giovani-nazionale/" title="Carta Giovani Nazionale su IO" class="text-decoration-none text-white">Carta Giovani Nazionale su IO</a></h2>
        <p class="lead  my-2 my-md-4 text-white">
            Se hai tra 18 e 35 anni compiuti puoi richiedere su IO la Carta Giovani Nazionale, istituita dal Dipartimento per le Politiche Giovanili e il Servizio Civile Universale. La carta dà diritto a sconti e agevolazioni per l’accesso ad attività culturali, sportive e ricreative, anche con finalità formative.</p>
         <a href="/carta-giovani-nazionale/" class="btn btn-sm btn-white text-primary text-uppercase  mt-2 px-5" title="Scopri di più">Scopri di più</a>
         </div><!--/col-->
         <div class="col-12 col-md-5 d-flex align-items-center flex-column position-unset">
            <a href="/carta-giovani-nazionale/" title="Carta Giovani Nazionale" class="section__cgn-img">
                <img class="img-fluid screenshot" alt="Screenshot Carta Giovani Nazionale"
                srcset="
                  {{site.imagesurl}}/assets/img/carta-giovani-nazionale/cgn-home-2x.png 2x,
                  {{site.imagesurl}}/assets/img/carta-giovani-nazionale/cgn-home.png 1x
                  "
                  src="{{site.imagesurl}}/assets/img/carta-giovani-nazionale/cgn-home.png">
        </a>
         </div>
      </div>
    </div>
    </div>
  </section>