<section id="section_donation-ukraine" class="position-relative section section__donation-ukraine section--wpointers ">
    <div class="section__donation-ukraine_bg py-5">
    <div  class="section__donation-ukraine_inner container">
      <div class="row py-md-3 px-3 px-md-0">
        <div class="col-12 col-md-7  pr-0 pr-md-5">
        <div class="badge badge-secondary text-uppercase p-2 mb-4 badge-servizio">Dona con IO</div>
        <h2 class=""><a href="/donazioni-ucraina/" title="Donazione per la crisi umanitaria in Ucraina" class="text-decoration-none text-white">Emergenza Ucraina: sostieni le vittime civili della crisi umanitaria</a></h2>
        <p class="lead  my-2 my-md-4 text-white">
          Da oggi, con IO puoi fare una donazione alle organizzazioni umanitarie che assistono le vittime civili della crisi in Ucraina. L’importo verrà versato direttamente sul conto dell’organizzazione a cui scegli di donare.</p>
         <a href="/donazioni-ucraina/" class="btn btn-sm btn-white text-primary text-uppercase  mt-2 px-5" title="Scopri di più">Scopri di più</a>
         </div><!--/col-->
         <div class="col-12 col-md-5 order-md-1 d-flex align-items-center flex-column position-relative">
            <a href="/donazioni-ucraina/" title="Donazione per organizzazioni umanitarie" class="section__donation-ukraine-img">
                <img class="img-fluid screenshot" alt="Screenshot Schermata per la donazione"
                srcset="
                  {{site.imagesurl}}/assets/img/donazioni-ucraina/donation-screen-home-section-2x.png 2x,
                  {{site.imagesurl}}/assets/img/donazioni-ucraina/donation-screen-home-section.png 1x
                  "
                  src="{{site.imagesurl}}/assets/img/donazioni-ucraina/donation-screen-home-section.png">
        </a>
         </div>
      </div>
    </div>
    </div>
  </section>