<section class="container mw-60 position-sticky">
    <p class="font-italic">Questo documento è dedicato a molte persone diverse: sindaci dei piccoli comuni, responsabili della trasformazione digitale, account manager degli integratori/fornitori tecnologici, tecnici informatici, etc. L’obiettivo di queste pagine è portare gli enti, autonomamente, il più avanti possibile nella procedura di onboarding  verso il progetto IO prima che sia necessario contattare il team di progetto.</p>
    <h4>Operi in (o per) un ente pubblico e vuoi integrare i tuoi servizi nel progetto IO?</h4>
    <p>In questa guida ti proponiamo i passaggi che devi fare per aderire a IO. Per essere efficace e ottimizzare il tempo, dovrai completare tutto il percorso prima di ingaggiare una conversazione con il team di IO il progetto e aderire finalmente al progetto. </p>
    <div class="text-center w-100">
        <iframe class="max-width-full" width="560" height="315" src="https://www.youtube-nocookie.com/embed/zrKOS2LiWTU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="small">Alcune delle funzioni presenti nella closed beta di IO</p>
    </div>
</section>